* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     ::placeholder {
        color: rgba(85, 104, 115, 0.64);
    }
    -webkit-font-smoothing: antialiased;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {}
    p {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .tableHeader p {
        font-size: 14px;
    }
    hr {}
    input {
        &:focus {
            outline: none;
        }
    }
}