<template>
  <div class="unauthorized p20">
    <h1>You are unauthorized</h1>
  </div>
</template>

<script>
export default {
  name: "Unauthorized",
  props: {
    msg: String,
  },
};
</script>
<style></style>
