<template>
  <div>
    <a-modal
      class="request-assign-modal"
      v-model="visible"
      :title="action === 'Assign Request'"
      okText="Confirm"
      cancelText="Cancel"
      :maskClosable="false"
      :closable="false"
    >
      <a-form :form="form" @submit="handleOk">
        <a-row v-for="k in form.getFieldValue('keys')" :key="k" :required="false">
          <a-col :md="14">
            <a-form-item label="Assignee">
              <a-select
                show-search
                placeholder="Choose something"
                class="wrap-select"
                v-decorator="[
                  `names[${k}].assign_ldap`,
                  {
                    rules: [
                      {
                        required: true,
                        message: 'Please choose assignee',
                      },
                      { validator: checkExistedInArray },
                    ],
                    initialValue: defaultItem,
                  },
                ]"
                style="width: 80%; margin-right: 8px"
              >
                <a-select-option v-for="item in hrList" :key="item.username" :value="item.username">
                  {{ item.fullName }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :md="9">
            <a-form-item label="Target">
              <a-input
                v-decorator="[
                  `names[${k}].target`,
                  {
                    validateTrigger: ['change', 'blur'],
                    rules: [
                      {
                        required: true,
                        message: 'Please input target',
                      },
                      { validator: isNumber },
                      { validator: checkMaximumTarget },
                    ],
                  },
                ]"
                placeholder="Number"
                style="width: 60%; margin-right: 30px"
              />
              <a-icon
                v-if="form.getFieldValue('keys').length > 1"
                class="dynamic-delete-button"
                type="minus-circle-o"
                :disabled="form.getFieldValue('keys').length === 1"
                @click="() => remove(k)"
              />
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>

      <template slot="footer">
        <a-row class="p10">
          <a-col :md="24">
            <div class="footer-block">
              <div class="float-left">
                <a-button type="primary" @click="add"> Add Assignee </a-button>
              </div>
              <div class="float-right confirm-block">
                <a-button key="submit" @click="handleOk" type="primary"> Save </a-button>
                <a-button key="back" @click="handleCancel" class="mr5"> Cancel </a-button>
              </div>
            </div>
          </a-col>
        </a-row>
      </template>
    </a-modal>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { isNumeric } from "../commons/commons";

let id = 1;
export default {
  props: {
    action: undefined,
    maximumTarget: {
      type: Number,
      default: function () {
        return 0;
      },
    },
    defaultItem: undefined,
    visible: {
      type: Boolean,
      default: function () {
        return false;
      },
    },
    hrList: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  data() {
    return {
      title: "Assign Request",
      additionalData: undefined,
    };
  },

  computed: {
    ...mapState({
      approves: (state) => state.rtsRequest.approveList,
    }),
    formGetFieldValue() {
      return this.form.getFieldValue("keys");
    },
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: "form_in_modal" });
    this.form.getFieldDecorator("keys", { initialValue: [0], preserve: true });
  },
  methods: {
    remove(k) {
      const { form } = this;
      // can use data-binding to get
      const keys = form.getFieldValue("keys");
      // We need at least one passenger
      if (keys.length === 1) {
        return;
      }

      // can use data-binding to set
      form.setFieldsValue({
        keys: keys.filter((key) => key !== k),
      });
    },

    add() {
      const { form } = this;
      // can use data-binding to get
      const keys = form.getFieldValue("keys");
      const nextKeys = keys.concat(id++);
      // can use data-binding to set
      // important! notify form to detect changes
      form.setFieldsValue({
        keys: nextKeys,
      });
    },
    handleOk(e) {
      console.log("defaultItem: ", this.defaultItem);
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          const { keys, names } = values;
          this.$confirm({
            title: "Please Confirm",
            content: `Do you want to assign this request?`,
            okText: "Confirm",
            okType: "primary",
            onOk: () => {
              this.$emit("ok", names);
              this.form.resetFields();
            },
            cancelText: "Cancel",
          });
        }
      });
    },

    handleCancel() {
      this.form.resetFields();
      this.$emit("cancel");
    },
    isNumber(rule, value, callback) {
      if (value) {
        if (!isNumeric(value) && value !== "") {
          callback("Please input type of number!");
        }
      }
      callback();
    },
    checkMaximumTarget(rule, value, callback) {
      if (value) {
        if (Number(value) > this.maximumTarget) {
          callback(`You’ve exceeded the limit by ${this.maximumTarget} target`);
        }
        if (Number(value) < 0) {
          callback("Number must be greater than zero");
        }
      }

      callback();
    },
    checkExistedInArray(rule, value, callback) {
      let chosenList = this.form.getFieldValue("names");
      let hasExisted = false;
      let counter = 0;
      chosenList.forEach((e) => {
        if (value && e.assign_ldap === value) {
          counter++;
        }
      });
      hasExisted = counter >= 2;
      if (hasExisted) {
        callback("This assignee has chosen");
      }
      callback();
    },
  },
};
</script>

<style lang="scss">
.request-assign-moda {
  .label-submit {
    font-weight: 600;
    line-height: 16px;
  }

  .wrap-select {
    width: 100%;
    margin-top: 0.6em;
  }

  .footer-block {
    display: flex;
  }

  .float-left {
    text-align: left;
    flex: 1;
  }

  .float-right {
    flex: 1;
  }

  .ant-modal-body {
    padding-top: 10px;
    padding-bottom: 10px !important;
  }

  .dynamic-delete-button {
    font-size: 18px;
  }

  .ant-form-item-label {
    line-height: 16px;
  }
}
</style>
