<template>
  <a-dropdown :disabled="disabled">
    <a-menu v-if="actions && actions.length > 0 && allowedButtons().length > 0" slot="overlay">
      <a-menu-item v-for="item in allowedButtons()" :key="item.id" @click="onClick(item.key)">
        {{ item.name }}
      </a-menu-item>
    </a-menu>
    <slot name="toggleButton"></slot>
  </a-dropdown>
</template>

<script>
import { checkRequestPermission } from "../../service/authorService";
import { checkPermission } from "../../service/permissionService";
import { mapState } from "vuex";
import { API_USER_TITLE } from "../commons/commonConstant";

const defaultButtonDropdown = [
  {
    id: 0,
    key: "no-action",
    name: "No action found",
  },
];
export default {
  name: "RequestButtonDropdown",
  props: {
    actions: Array,
    records: Array,
    permissionType: String,
    noNeedPermission: Boolean,
    disabled: Boolean,
  },
  data() {
    return {
      buttons: [
        {
          id: 1,
          key: "detail",
          name: "View detail",
        },
        {
          id: 2,
          key: "edit",
          name: "Edit",
        },
        {
          id: 3,
          key: "submit",
          name: "Submit",
        },
        {
          id: 5,
          key: "approve",
          name: "Approve",
        },
        {
          id: 5,
          key: "approve2",
          name: "Approve2",
        },
        {
          id: 6,
          key: "reject",
          name: "Reject",
        },
        {
          id: 7,
          key: "assign",
          name: "Assign",
        },
        {
          id: 10,
          key: "assignTALead",
          name: "Assign TA Lead",
        },
        {
          id: 8,
          key: "makeCandidate",
          name: "Make candidate",
        },
        {
          id: 9,
          key: "share",
          name: "Share",
        },
        {
          id: 4,
          key: "close",
          name: "Close",
        },
        {
          id: 4,
          key: "duplicate",
          name: "Duplicate",
        },
      ],
    };
  },
  computed: {
    ...mapState({
      userRole: (state) => state.user.userRole,
    }),
  },
  methods: {
    allowedButtons() {
      let result = this.buttons.filter(
        (button) =>
          this.actions.includes(button.key) &&
          (checkPermission("request", button.key, this.records, this.userRole) || this.noNeedPermission),
      );
      if (this.userRole.title === API_USER_TITLE.HR_MNG) {
        result.push(this.buttons.find((item) => item.key === "assignTALead"));
      }
      if (this.userRole.title === API_USER_TITLE.HR_MNG || this.userRole.title === API_USER_TITLE.HR_LEAD) {
        result.push(this.buttons.find((item) => item.key === "duplicate"));
      }

      return result.length > 0 ? result : defaultButtonDropdown;
    },
    onClick(type) {
      if (type === "no-action") return null;
      // only single action need emit data
      // this.$emit("onClick", {
      //   data: this.records.map((x) => x),
      //   type: type,
      // });
      this.$emit("onClick", {
        data: this.records ?? [],
        type: type,
      });
    },
  },
};
</script>

<style scoped></style>
