<template>
  <div class="base-table">
    <a-table
        :row-selection="{
        selectedRowKeys: selectedRowKeys,
        selectedRow: selectedRow,
        onChange: onSelectChange,
      }"
        bordered
        :columns="columns"
        :data-source="data"
        :row-key="record => record.id"
        :pagination="false"
        :expandIconAsCell="false"
        :expandIconColumnIndex="3"
        @change="onChange"
    >
      <a-table
          slot="expandedRowRender"
          slot-scope="pRecord"
          class="nested-table"
          :row-key="(record) => record.id"
          :columns="innerColumns"
          :data-source="pRecord.recruiters"
          :pagination="false"
      >
        <template slot="action" slot-scope="text, childrenRecord">
          <RequestButtonDropdown
              :records="[childrenRecord]"
              no-need-permission
              @onClick="emitInnerTableAction"
          >
            <template v-slot:toggleButton>
              <a-icon class="black font-lg" type="more"/>
            </template>
          </RequestButtonDropdown>
        </template>
        <template slot="actionAssign" slot-scope="text, record" v-if="userRole.title === API_USER_TITLE['HR_LEAD'] ||
          userRole.title === API_USER_TITLE['HR_MNG'] || userRole.title === API_USER_TITLE['ADMIN'] ">
          <a-dropdown>
            <a-menu slot="overlay">
              <a-menu-item key="1" @click="updateAssignee(record, pRecord)"> Edit </a-menu-item>
            </a-menu>
            <a-button style="margin-left: 8px"> ... </a-button>
          </a-dropdown>
        </template>
        <template v-for="(tabKey, index) in Object.keys(TAB_KEYS)" :slot="TAB_KEYS[tabKey]" slot-scope="text, record">
          <a :key="pRecord.id+'-'+record.id + '-' + index" :href="'/#/rts/requests/detail/'+pRecord.id+'?tabKey='+TAB_KEYS[tabKey]">{{text}}</a>
        </template>
      </a-table>
      <template slot="expandIcon" slot-scope="props">
        <a-icon v-if="props.record.recruiters && props.record.recruiters.length > 0 && props.expanded"
                @click="props.onExpand()"
                type="down"
                class="expandIcon"
        />
        <a-icon v-if="props.record.recruiters && props.record.recruiters.length > 0 && !props.expanded"
                @click="props.onExpand()"
                type="right"
                class="expandIcon"
        />
      </template>
      <template slot="requestID" slot-scope="text">
        <a>R{{text}}</a>
      </template>

      <template v-for="item in Object.keys(this.$scopedSlots)" :slot="item" slot-scope="text, record">
        <slot :name="item" :item="record">
        </slot>
      </template>
      <template slot="numberOfApplicants" slot-scope="text, record">
        <a :key="record.id+'--c'"  :href="'/#/rts/requests/detail/'+record.id+'?tabKey='+TAB_KEYS.QUALIFY"
          style="margin-left: 48%"
        >{{text}}</a>
      </template>

      <template slot="action" slot-scope="text, record">
        <RequestButtonDropdown
            :records="[record]"
            :actions="actions"
            permissionType="single"
            @onClick="emitAction"
        >
          <template v-slot:toggleButton>
            <a-icon class="black font-lg" type="more"/>
          </template>
        </RequestButtonDropdown>
      </template>
      <template slot="footer">
        <div>
          <a-pagination
              :current="currentPage"
              :total="total_items"
              :page-size="pageSize"
              :show-total="onShowTotal"
              @change="onChangePage"
              showSizeChanger
              @showSizeChange="onShowSizeChange"
          />
        </div>
      </template>
    </a-table>
  </div>
</template>
<script>

import RequestButtonDropdown from "./RequestButtonDropdown";
import {API_USER_TITLE} from "../commons/commonConstant"
import {mapState} from "vuex";
import {TAB_KEYS} from "../../components/commons/commonConstant";

export default {
  components: {
    RequestButtonDropdown,
  },
  props: {
    data: Array,
    columns: Array,
    innerColumns: Array,
    actions: Array,
    slots: Array,
    pageSize: Number,
    currentPage: Number,
    total_items: Number,
  },
  data() {
    return {
      loading: false,
      API_USER_TITLE,
      TAB_KEYS
    };
  },
  mounted(){

  },
  watch:{
  },
  computed: {
    selectedRow: {
      get() {
        return this.$store.state.rtsApplication.selectedRow
      },
      set(newVal) {
        this.$store.commit('rtsApplication/SET_SELECTED_ROW', newVal)
      }
    },
    selectedRowKeys() {
      return this.selectedRow.map(item => item.id)
    },
    ...mapState({
      userRole: (state) => state.user.userRole,

    }),
  },
  methods: {
    onChange(pagination, filters, sorter, extra) {
      this.$emit("onChange", {pagination, filters, sorter, extra});
    },
    start() {
      this.loading = true;
      // ajax request after empty completing
      setTimeout(() => {
        this.loading = false;
      }, 1000);
    },
    emitAction(payload) {
      this.$emit("onAction", {
        data: payload.data,
        type: payload.type
      })
    },
    updateAssignee(payload, record0){
       payload['projectTarget'] = record0.number;
       this.$emit('onUpdateAssign', payload)
    },
    emitInnerTableAction(payload) {
      this.$emit("onInnerTableAction", {
        data: payload.data,
        type: payload.type
      })
    },
    onChangePage(offset, limit) {
      this.$emit("onChangePage", {offset, limit});
    },
    onShowSizeChange(offset, limit) {
      this.$emit("onChangePage", {offset, limit});
    },
    onShowTotal(total, range) {
      return `${range[0]}-${range[1]} of ${total} items`;
    },
    onSelectChange(selectedRowKeys, selectedRow) {
      this.selectedRow = selectedRow;
    }
  },
};
</script>

<style lang="scss">
.base-table {
  background: #ffffff;

  tr, td, .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }

  .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }

  .ant-table-thead > tr > th {
    background: #eaeaea;
  }

  .ant-table-bordered .ant-table-thead > tr > th,
  .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: none;
  }

  .ant-table-bordered .ant-table-header > table,
  .ant-table-bordered .ant-table-body > table,
  .ant-table-bordered .ant-table-fixed-left table,
  .ant-table-bordered .ant-table-fixed-right table {
    border: 1px solid $border-color-gray;
  }

  .ant-pagination-item-active {
    background: $pagination-color-dark-gray;
    border-color: $pagination-color-dark-gray;
  }

  .ant-pagination-item-active a {
    color: #fff;
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border: none;
  }

  .ant-table-pagination.ant-pagination {
    text-align: center;
    float: none;
  }

  .ant-table-footer {
    text-align: end;
  }

  // nested table

  .nested-table {
    .ant-spin-container {
      margin-bottom: 6px;
      margin-left: 10px;
    }

    .ant-table-thead > tr > th,.ant-table-thead > tr > th:hover {
      background: #B3D4FF;
    }
    .ant-table-body{
      background: #DEEBFF;
    }
  }

  tr.ant-table-expanded-row td > .ant-table-wrapper {
    margin-top: -10px;
  }

  .expandIcon {
    font-size: 11px;
    margin-right:5px;
  }
}
</style>
