<template>
  <div>
    <a-modal
      class="custom-modal"
      v-model="visible"
      title="Assign TA Lead"
      okText="Confirm"
      cancelText="Cancel"
      :maskClosable="false"
      :closable="false"
    >
      <a-form :form="form" @submit="handleOk">
        <a-form-item label="Assignee" :label-col="{ span: 5 }" :wrapper-col="{ span: 19 }">
          <a-select
            show-search
            placeholder="Choose something"
            class="wrap-select"
            v-decorator="[
              `name`,
              {
                rules: [
                  {
                    required: true,
                    message: 'Please choose TA Lead',
                  },
                ],
              },
            ]"
            style="width: 80%; margin-right: 8px"
          >
            <a-select-option v-for="item in taList" :key="item.username" :value="item.username">
              {{ item.fullName }}
            </a-select-option>
          </a-select>
        </a-form-item>
      </a-form>

      <template slot="footer">
        <a-row class="p10">
          <a-col :md="24">
            <div class="footer-block">
              <div class="float-right confirm-block">
                <a-button key="submit" @click="handleOk" type="primary"> Save </a-button>
                <a-button key="back" @click="handleCancel" class="mr5"> Cancel </a-button>
              </div>
            </div>
          </a-col>
        </a-row>
      </template>
    </a-modal>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { isNumeric } from "../commons/commons";
import http from "../../store/modules/helpers/httpInterceptor";

export default {
  props: {
    action: undefined,
    maximumTarget: {
      type: Number,
      default: function () {
        return 0;
      },
    },
    defaultItem: undefined,
    visible: {
      type: Boolean,
      default: function () {
        return false;
      },
    },
    taList: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  data() {
    return {
      title: "Assign Request",
      additionalData: undefined,
      form: this.$form.createForm(this, { name: "Assign TA Lead" }),
    };
  },

  computed: {
    ...mapState({
      approves: (state) => state.rtsRequest.approveList,
    }),
  },
  // beforeCreate() {
  //   this.form = this.$form.createForm(this, { name: "form_in_modal" });
  // },
  methods: {
    handleOk(e) {
      console.log("defaultItem: ", this.defaultItem);
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          const { name } = values;
          this.$confirm({
            title: "Please Confirm",
            content: `Do you want to assign this request?`,
            okText: "Confirm",
            okType: "primary",
            cancelText: "Cancel",
            onOk: () => {
              this.$emit("ok", name);
              this.form.resetFields();
            },
          });
        }
      });
    },

    handleCancel() {
      this.form.resetFields();
      this.$emit("cancel");
    },
  },
};
</script>

<style lang="scss">
.custom-modal {
  .label-submit {
    font-weight: 600;
    line-height: 16px;
  }

  .wrap-select {
    width: 100%;
    margin-top: 0.6em;
  }

  .footer-block {
    display: flex;
  }

  .float-left {
    text-align: left;
    flex: 1;
  }

  .float-right {
    flex: 1;
  }

  .ant-modal-body {
    padding-top: 10px;
    padding-bottom: 10px !important;
  }

  .dynamic-delete-button {
    font-size: 18px;
  }
}
</style>
