<template>
  <div>
    <a-modal
      class="request-popup-assign-modal"
      v-model="visible"
      :title="title"
      okText="Confirm"
      cancelText="Cancel"
      :maskClosable="false"
      :closable="false"
    >
      <a-form :form="form" @submit="handleOk">
        <a-row v-for="k in form.getFieldValue('keys')" :key="k" :required="false">
          <a-col :md="24">
            <a-form-item label="Assignee">
              <a-select
                placeholder="Choose something"
                class="wrap-select"
                v-decorator="[
                  `names[${k}].assign_ldap`,
                  {
                    rules: [
                      {
                        required: true,
                        message: 'Please choose assignee',
                      },
                      { validator: checkExistedInArray },
                    ],
                    initialValue: defaultItem,
                  },
                ]"
                style="width: 80%; margin-right: 8px"
              >
                <a-select-option v-for="item in hrList" :key="item.username" :value="item.username">
                  {{ item.fullName }}
                </a-select-option>
              </a-select>
            </a-form-item>
            <a-form-item label="Target">
              <a-input
                class="wrap-input"
                type="number"
                min="1"
                step="1"
                v-decorator="[
                  `names[${k}].target`,
                  {
                    rules: [
                      {
                        required: true,
                        message: 'Please insert recruiter target number',
                      },
                      { validator: checkValidTargetNumber },
                    ],
                    initialValue: defaultItemTarget,
                  },
                ]"
                style="width: 80%; margin-right: 8px"
              >
              </a-input>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>

      <template slot="footer">
        <a-row class="p10">
          <a-col :md="24">
            <div class="footer-block">
              <div class="float-right confirm-block">
                <a-button key="submit" @click="handleOk" type="primary"> Save </a-button>
                <a-button key="back" @click="handleCancel" class="mr5"> Cancel </a-button>
              </div>
            </div>
          </a-col>
        </a-row>
      </template>
    </a-modal>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  props: {
    projectTarget: {
      type: Number,
      default: function () {
        return 0;
      },
    },
    defaultItem: undefined,
    defaultItemTarget: undefined,
    visible: {
      type: Boolean,
      default: function () {
        return false;
      },
    },
    title: {
      type: String,
      default: function () {
        return "";
      },
    },
    hrList: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  data() {
    return {
      additionalData: undefined,
    };
  },

  computed: {
    ...mapState({
      approves: (state) => state.rtsRequest.approveList,
    }),
    formGetFieldValue() {
      return this.form.getFieldValue("keys");
    },
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: "form_in_modal" });
    this.form.getFieldDecorator("keys", { initialValue: [0], preserve: true });
  },
  methods: {
    remove(k) {
      const { form } = this;
      // can use data-binding to get
      const keys = form.getFieldValue("keys");
      // We need at least one passenger
      if (keys.length === 1) {
        return;
      }

      // can use data-binding to set
      form.setFieldsValue({
        keys: keys.filter((key) => key !== k),
      });
    },

    handleOk(e) {
      console.log("updating id: ", this.defaultItem);
      e.preventDefault();
      this.form.validateFields((err, values) => {
        console.log("updating id1: ", this.defaultItem, values.names[0]);
        if (!err) {
          const { keys, names } = values;
          this.$confirm({
            title: "Please Confirm",
            content: `Do you want to assign this request?`,
            okText: "Confirm",
            okType: "primary",
            onOk: () => {
              this.$emit("ok", names[0]);
              this.form.resetFields();
            },
            cancelText: "Cancel",
          });
        }
      });
    },

    handleCancel() {
      this.form.resetFields();
      this.$emit("cancel");
    },

    checkExistedInArray(rule, value, callback) {
      let chosenList = this.form.getFieldValue("names");
      let hasExisted = false;
      let counter = 0;
      chosenList.forEach((e) => {
        if (value && e.assign_ldap === value) {
          counter++;
        }
      });
      hasExisted = counter >= 2;
      if (hasExisted) {
        callback("This assignee has chosen");
      }
      callback();
    },
    checkValidTargetNumber(rule, value, callback) {
      if (value > this.projectTarget) {
        callback("New target number exceed the project's target!");
      } else if (value < 0) {
        callback("Target number can not be less than 0.");
      }
      callback();
    },
  },
};
</script>

<style lang="scss">
.request-popup-assign-modal {
  .label-submit {
    font-weight: 600;
    line-height: 16px;
  }

  .wrap-select {
    width: 100%;
    margin-top: 0.6em;
  }

  .footer-block {
    display: flex;
  }

  .float-left {
    text-align: left;
    flex: 1;
  }

  .float-right {
    flex: 1;
  }

  .ant-modal-body {
    padding-top: 10px;
    padding-bottom: 10px !important;
  }

  .dynamic-delete-button {
    font-size: 18px;
  }

  .ant-form-item-label {
    line-height: 16px;
  }
}
</style>
