<template>
  <a-modal
      :width="850"
      class="formRequestsModal"
      v-model="visibleModal"
      :maskClosable="false"
      :closable="false"
  >
    <div class="flex-center text-center text-bold pb10">
      <div style="text-align: right">
        <a-icon class="close-button" @click="handleCancel" type="close"/>
      </div>
      <h2 class="title-header">{{ formName }}</h2>
      <a-divider/>
    </div>
    <template>

      <a-form-model
          ref="ruleForm"
          :model="data"
          :rules="rules"
      >
        <!-- DIVIDER 1 -->

        <a-row>
          <a-form-model-item label="Title" prop="title">
            <a-input
                v-model="data.title"
                placeholder="Text"
                :maxLength="256"
            />
          </a-form-model-item>

        </a-row>

        <a-row :gutter="[16]">
          <a-col :md="12">
            <a-form-model-item label="Request Type" prop="requestType">
              <VueSelect
                  label="name"
                  v-model="data.requestType" :options="requestTypes"
                  @input="$refs.ruleForm.clearValidate('requestType')"
              />
            </a-form-model-item>
          </a-col>
          <a-col :md="12">
            <a-form-model-item label="Priority" prop="priority">
              <VueSelect
                  label="name"
                  v-model="data.priority" :options="priorities"
                  @input="$refs.ruleForm.clearValidate('priority')"
              />
            </a-form-model-item>
          </a-col>
        </a-row>

        <a-row :gutter="[16]">
          <a-col :md="12">

            <a-form-model-item label="Deadline" prop="deadline">
              <a-date-picker
                  v-model="data.deadline"
                  placeholder="Choose something"
                  :allowClear="true"
                  :showSearch="true"
                  :disabled-date="disabledDate"
                  style="width: 100%"
                  @openChange="openChangeDate"
              />
            </a-form-model-item>
          </a-col>
        </a-row>
        <!-- DIVIDER 1 -->

        <a-divider/>

        <!-- DIVIDER 2 -->
        <a-row :gutter="[16]">
          <a-col :md="12">
            <a-form-model-item label="Number" prop="number">
              <a-input
                  v-model="data.number"
                  style="width: 100%"
                  placeholder="Number"
              />
            </a-form-model-item>
          </a-col>
          <a-col :md="12">
            <a-form-model-item label="Position" prop="position">
              <VueSelect
                  label="name"
                  v-model="data.position" :options="positions"
                  @input="$refs.ruleForm.clearValidate('position')"
              />
            </a-form-model-item>
          </a-col>
        </a-row>
        <a-row :gutter="[16]">
          <a-col :md="12">
            <a-form-model-item label="Group" prop="group">
              <VueSelect
                  label="name"
                  v-model="data.group" :options="groups"
                  @input="getDepartmentByGroup()"
              />
            </a-form-model-item>
          </a-col>
          <a-col :md="12">
            <a-form-model-item label="Department" prop="department">
              <VueSelect
                  label="name"
                  v-model="data.department" :options="departments"
                  @input="$refs.ruleForm.clearValidate('department')"
              />
            </a-form-model-item>
          </a-col>
        </a-row>
        <a-row :gutter="[16]">
          <a-col :md="12">
            <a-form-model-item label="Project" prop="project">
              <VueSelect
                  label="name"
                  v-model="data.project" :options="projects"
                  @input="$refs.ruleForm.clearValidate('project')"
              />
            </a-form-model-item>
          </a-col>
        </a-row>
        <!-- DIVIDER 2 -->
        <a-divider/>
        <!-- DIVIDER 3 -->
        <a-row>
          <a-form-model-item label="Skills" prop="skills">
            <VueSelect
                multiple
                label="name"
                v-model="data.skills" :options="skills"
                @input="$refs.ruleForm.clearValidate('skills')"
            />
          </a-form-model-item>
        </a-row>

        <a-row :gutter="[16]">
          <a-col :md="12">
            <a-form-model-item label="Experience" prop="experience">
              <VueSelect
                  label="name"
                  v-model="data.experience" :options="experiences"
                  @input="$refs.ruleForm.clearValidate('experience')"
              />
            </a-form-model-item>
            <a-form-model-item label="Major" prop="major">
              <VueSelect
                  label="name"
                  v-model="data.major" :options="majors"
                  @input="$refs.ruleForm.clearValidate('major')"
              />
            </a-form-model-item>
            <a-form-model-item label="Certificate" prop="certificate">
              <a-input
                  v-model="data.certificate"
                  placeholder="Text"
              />
            </a-form-model-item>
          </a-col>

          <a-col :md="12">
            <a-form-model-item label="Description" prop="description">
              <a-textarea
                  v-model="data.description"
                  placeholder="Text"
                  class="form-textarea-requests"
                  :auto-size="{ minRows: 3, maxRows: 12 }"
                  :rows="12"
              >
              </a-textarea>
            </a-form-model-item>
          </a-col>
        </a-row>

        <a-row>
          <a-form-model-item label="Language">
            <VueSelect
                multiple
                label="name"
                v-model="data.language" :options="languages"
                @input="$refs.ruleForm.clearValidate('project')"
            />
          </a-form-model-item>
        </a-row>

        <!-- DIVIDER 3 -->
        <a-divider/>

        <a-row :gutter="[16]">
          <a-col :md="12">
            <a-form-model-item label="Salary" prop="salary">
              <a-input
                  v-model="data.salary"
                  placeholder="Text"
                  :maxLength="256"
              />
            </a-form-model-item>
          </a-col>
          <a-col :md="12">
            <a-form-model-item label="Benefit" prop="benefit">
              <a-textarea
                  v-model="data.benefit"
                  placeholder="Text"
                  :rows="3"
                  class="form-textarea-benefit"
              >
              </a-textarea>
            </a-form-model-item>
          </a-col>
        </a-row>
      </a-form-model>
    </template>
    <template slot="footer">
      <a-button key="back" @click="handleCancel" class="mr5"> Cancel</a-button>
      <a-button key="submit" type="primary" @click="handleSubmit">
        {{ isEdit ? "Save" : "Create" }}
      </a-button>
    </template>
  </a-modal>
</template>

<script>
import moment from "moment";
import {mapState} from "vuex";
import {isNumeric} from "../commons/commons";
import VueSelect from "../base/VueSelect";

export default {
  name: "RequestModal",
  props: {
    data: {
      type: Object,
      default: function () {
        return {
          title: "",
          requestType: "",
          priority: "",
          deadline: "",
          number: "",
          position: "",
          project: "",
          department: "",
          group: "",
          skills: "",
          experience: "",
          major: "",
          certificate: "",
          description: "",
          language: "",
          salary: "",
          benefit: "",
        };
      },
    },
    visibleModal: {
      type: Boolean,
      default: function () {
        return true;
      },
    },
    isEdit: Boolean,
    formName: String,
  },
  data() {
    return {
      rules: {
        title: [
          {required: true, message: 'Please input title', trigger: 'change'},
          {max: 255, message: 'You’ve exceeded the limit by 255 characters', trigger: 'change'},
        ],
        requestType: [
          {required: true, message: 'Please choose request type', trigger: 'change'},
        ],
        priority: [
          {required: true, message: 'Please choose priority', trigger: 'change'},
        ],
        deadline: [
          {required: true, message: 'Please choose date', trigger: 'change'},
        ],
        number: [
          {required: true, message: 'Please choose date', trigger: 'change'},
          {validator: this.isNumberAndLessThan1000, trigger: 'change'},
        ],
        position: [
          {required: true, message: 'Please choose position', trigger: 'change'},
        ],
        group: [
          {required: true, message: 'Please choose group', trigger: 'change'},
        ],
        department: [
          {required: true, message: 'Please choose department', trigger: 'change'},
        ],
        project: [
          {required: true, message: 'Please choose project', trigger: 'change'},
        ],
        skills: [
          {required: true, message: 'Please choose skill', trigger: 'change'},
        ],
        major: [],
        certificate: [
          {max: 255, message: 'You’ve exceeded the limit by 255 characters', trigger: 'change'},
        ],
        description: [
          {required: true, message: 'Please input description', trigger: 'change'},
          {max: 4000, message: 'You’ve exceeded the limit by 4000 characters', trigger: 'change'},
        ],
        language: [],
        salary: [
          {max: 255, message: 'You’ve exceeded the limit by 255 characters', trigger: 'change'},
        ],
        benefit: [
          {max: 4000, message: 'You’ve exceeded the limit by 4000 characters', trigger: 'change'},
        ],
      },
    };
  },
  components: {
    VueSelect
  },
  computed: {
    ...mapState({
      skills: (state) => state.rtsApplication.skillList,
      languages: (state) => state.rtsApplication.languageList,
      groups: (state) => state.rtsApplication.groupList,
      projects: (state) => state.rtsApplication.projectList,
      departments: (state) => state.rtsApplication.departmentList,

      positions: (state) => state.positions.positionList,
      majors: (state) => state.major.majorList,
      requestTypes: (state) => state.requestType.requestTypeList,
      experiences: (state) => state.experience.experienceList,
      priorities: (state) => state.priority.priorityList,
    }),
  },
  mounted() {
  },
  methods: {
    isNumberAndLessThan1000(rule, value, callback) {
      if (value) {
        if (!isNumeric(value)) {
          callback('Input must be type of number!')
        }
        if (Number(value) > 1000) {
          callback('Number must be less than 1000!')
        }
      }
      callback();
    },
    filterOption(input, option) {
      return (
          option.componentOptions.children[0].text
              .toLowerCase()
              .indexOf(input.toLowerCase()) >= 0
      );
    },
    disabledDate(current) {
      // Can not select days before today and today
      return current && current < moment().endOf("day");
    },
    handleCancel() {
      this.$confirm({
        title: "Please Confirm",
        content: this.isEdit ? `Do you want to cancel this request?` : `Do you want to cancel this request?`,
        okText: "Confirm",
        okType: 'danger',
        onOk: () => {
          this.$emit("onCancel");
          this.$refs.ruleForm.resetFields();
        },
        cancelText: "Cancel",
      });
    },
    handleSubmit(e) {
      e.preventDefault();
      let payload = {};
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          payload = this.data;
          this.$confirm({
            title: "Please Confirm",
            content: this.isEdit ? `Do you want to changes this request?` : `Do you want to save this request?`,
            okText: "Confirm",
            onOk: () => {
              this.handleConfirm(payload);
            },
            cancelText: "Cancel",
          });
        } else {
          return false;
        }
      });
    },
    handleConfirm(values) {
      this.$emit("onSubmit", values);
      this.$refs.ruleForm.resetFields('department');
    },

    openChangeDate(status) {
      const modalBody = document.querySelector(".ant-modal-body");
      modalBody.style.overflowY = status ? "hidden" : "auto";
    },
    getDepartmentByGroup() {
      this.$refs.ruleForm.clearValidate('group')
      if (!this.data.group) {
        this.$refs.ruleForm.resetFields('department');
        this.data.department = ""
      }
      const groupId = this.data.group? this.data.group.id : null;
      this.$store.dispatch('rtsApplication/getDepartmentListByGroup', [groupId])
    }
  },
};
</script>

<style lang="scss">
.formRequestsModal .ant-modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

//
.formRequestsModal .form-textarea-requests {
  margin-top: 3px;
  height: 205px !important;
  max-height: 205px !important;
}

.formRequestsModal .form-textarea-benefit {
  margin-top: 3px;
}

.formRequestsModal {
  .mb100 {
    margin-bottom: 100px;
  }

  .submit-block {
    .btn-submit {
      background: $btn-color-blue;
      color: white;
    }

    .btn-cancel {
      background: $btn-color-red;
      color: white;
    }
  }

  .close-button {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
  }

  .close-button:hover {
    cursor: pointer;
  }

  .title-header {
    margin-top: -10px;
  }
}
</style>
