<template>
  <div>
    <a-modal
        v-model="visible"
        :title="title"
        okText="Confirm"
        cancelText="Cancel"
        :maskClosable="false"
        :closable="false"
    >
      <a-form :form="form">
        <div v-if="type !== 'submit'">
          <p>{{ message }}</p>
          <div v-if="type === 'reject'">
            <label class="label-submit">Reason</label>
            <a-form-item>
              <a-textarea
                  placeholder="Text"
                  class="form-textarea-requests"
                  :auto-size="{ minRows: 3, maxRows: 12 }"
                  :rows="12"
                  :maxLength="3001"
                  v-decorator="[
                'additionalData',
                {
                  initialValue: defaultItem,
                  rules: [
                    { required: true, message: 'Please input reason!' },
                    {
                      max: 100,
                      message: 'You’ve exceeded the limit by 100 characters',
                    },
                  ],
                }]"/>
            </a-form-item>
          </div>
        </div>
        <p v-if="type === 'submit'">
          <label class="label-submit">Approver</label>
          <a-form-item>
            <a-select
                placeholder="Choose something"
                class="wrap-select"
                v-decorator="[
                'additionalData',
                {
                  initialValue: approve.user_name,
                }
                  ]"
            >
              <a-select-option
                  :key="approve.user_name"
                  :value="approve.user_name"
              >
                {{ `${approve.user_name}` }}
              </a-select-option>

            </a-select>
          </a-form-item>
        </p>
      </a-form>

      <template slot="footer">
        <a-row class="p10">
          <a-col :md="24">
            <div class="float-right confirm-block">
              <a-button key="submit" @click="handleOk" type="primary">
                {{ type === "submit" ? "Submit" : "Confirm" }}
              </a-button>
              <a-button key="back" @click="handleCancel" class="mr5">
                Cancel
              </a-button>
            </div>
          </a-col>
        </a-row>
      </template>
    </a-modal>
  </div>
</template>
<script>
import {mapState} from "vuex";

export default {
  props: {
    defaultItem : undefined,
    message: {
      type: String,
      default: function () {
        return "";
      },
    },
    visible: {
      type: Boolean,
      default: function () {
        return false;
      },
    },
    type: {
      type: String,
      default: function () {
        return null;
      },
    },
    title: {
      type: String,
      default: function () {
        return "";
      },
    },
  },
  data() {
    return {
      form: this.$form.createForm(this, {name: "form_in_modal"}),
      additionalData: undefined,
    };
  },
  computed: {
    ...mapState({
      approve: (state) => state.rtsRequest.approveList,
    }),
  },
  // watch: {
  //   visible: function () {
  //     this.additionalData = undefined;
  //   },
  // },
  methods: {
    handleOk() {
      this.form.validateFields((err, values) => {
        if (!err) {
          if (this.data && this.data.id) {
            values.id = this.data.id;
          }
          if(this.type === 'submit' || this.type === 'reject'){
            this.$confirm({
              title: "Please Confirm",
              content: `Do you want to ${this.type} this request?`,
              okText: "Confirm",
              okType: 'primary',
              onOk: () => {
                this.$emit("ok", values)
                this.form.resetFields();
              },
              cancelText: "Cancel",
            });
          }
          else {
            this.$emit("ok", values)
            this.form.resetFields();
          }
        }
      });
    },
    handleCancel() {
      this.$emit("cancel");
      this.form.resetFields();
    },
  },
};
</script>

<style lang="scss" scoped>
.label-submit {
  font-weight: 600;
  line-height: 16px;
}

.wrap-select {
  width: 100%;
  margin-top: 0.6em;
}
</style>
