<template>
  <a-modal
      :width="400"
      class="shareModal"
      v-model="visibleModal"
      :maskClosable="false"
      :closable="false"
  >
    <div class="flex-center text-center text-bold pb10">
      <div style="text-align: right">
        <a-icon class="close-button" @click="handleCancel" type="close" />
      </div>
      <h2 class="title-header">{{ formName }}</h2>
      <div class="icons-list">
        <a-btn>
          <a-icon type="home" />
        </a-btn>

      </div>
    </div>
    <template>

    </template>
  </a-modal>
</template>

<script>
export default {
  name: "RequestShareModal",
  props : {
    formName : String,
    visibleModal: {
      type: Boolean,
      default: function () {
        return true;
      },
    },
  },
  methods : {
    handleCancel() {
      this.$emit("onCancel");
    },
  }
}

</script>

<style lang="scss">
 .shareModal {
   .title-header {
     text-align: left;
   }
 }
</style>
