/* Themes
--------------------------*/
$theme-color-light-gray: #F4F5F7;
$theme-color-gray: #DFE1E6;
$theme-color-blue: #2D89FC;
/* Button
--------------------------*/
$btn-color-blue: #0052CC;
$btn-color-red: #DE350B;
$btn-color-gray: #DEE1E7;
$btn-color-orange: #FFAB00;
/* Text
--------------------------*/
$text-color-gray: #6B778C;
$text-color-dark-gray: #7A869A;
$text-color-black: #19294C;
$text-color-orange: #FF991A;
$text-color-blue: #0052CC;
/* Pagination
--------------------------*/
$pagination-color-dark-gray: #253858;
/* Border
--------------------------*/
$border-color-gray: #DFE1E6;


