/* Break-point
--------------------------*/
$sm: 576px !default;
$md: 768px !default;
$lg: 992px !default;
$xl: 1200px !default;

$breakpoints: (
        'xs': (
                max-width: $sm - 1,
        ),
        'sm': (
                min-width: $sm,
        ),
        'md': (
                min-width: $md,
        ),
        'lg': (
                min-width: $lg,
        ),
        'xl': (
                min-width: $xl,
        ),
);

// Color system

$red: #FD5F5F !default;
$green: #60e16d !default;
$yellow: #FF9F17 !default;
$green-light: #E1FCC0 !default;
$gray: #eaeaea !default;
$gray-lighter: #f7f7f7 !default;
$pink: #FEDDF2 !default;
$orange: #FEE9D9 !default;
$blue: #1D9AD6 !default;
$black: rgb(0, 0, 0) !default;
$white: #ffffff !default;
$light-blue: #E1F1FF !default;

$colors: (
        red: $red,
        green: $green,
        green-light: $green-light,
        gray: $gray,
        pink: $pink,
        orange: $orange,
        blue: $blue,
        black: $black,
        white: $white,
        yellow: $yellow,
        light-blue: $light-blue
);

@each $color-var, $color in $colors {
  //background
  .bg-#{$color-var} {
    background-color: $color;
  }
  // color text
  .#{$color-var} {
    color: $color;
  }
}

/* Grid */

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
) !default;

// Grid containers
$container-max-widths: (
        sm: 570px,
        md: 750px,
        lg: 990px,
        xl: 1170px,
) !default;

//Border color
$border-color: #E8E8E8;

// Typography
$font-lg: 20px !default;
$font-md: 16px !default; // Assumes the browser default, typically `16px`
$font-sm: 14px !default;
$font-xs: 12px !default;

//Align
$aligns: (
  T: top,
  M: middle,
  C: center,
  E: end
);
@each $align-var, $align in $aligns{
  .va#{$align-var}{
    vertical-align: $align;
  }
  .ta#{$align-var}{
    text-align: $align;
  }
}
//Spacing

$spacing: 8px;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 3;
$spacing-4: $spacing * 4;

$spacings: (
        0:0px,
        1:1px,
        3:3px,
        5: 5px,
        10: 10px,
        15: 15px,
        20: 20px,
        25: 25px,
        30: 30px,
        35: 35px,
        40: 40px,
        // another case
        16: 16px,
        45: 45px,
        55: 55px,
        65: 65px,
        75:75px,
        80:80px,
        90:90px,
        98:98px,
        100:100px,
        115:115px,
        135:135px,
        140:140px,
        145:145px,
        160:160px,
        210:210px,
        215:215px,
        220:220px,
        250:250px,
        255:255px,
        260:260px
);

@each $spacing-var, $space in $spacings {
  //margin
  .mb#{$spacing-var} {
    margin-bottom: $space;
  }
  .mt#{$spacing-var} {
    margin-top: $space;
  }
  .ml#{$spacing-var} {
    margin-left: $space;
  }
  .mr#{$spacing-var} {
    margin-right: $space;
  }
  .m#{$spacing-var} {
    margin: $space;
  }
  .mtb#{$spacing-var} {
    margin-top: $space;
    margin-bottom: $space;
  }
  .mlr#{$spacing-var} {
    margin-left: $space;
    margin-right: $space;
  }
  //padding
  .pb#{$spacing-var} {
    padding-bottom: $space;
  }
  .pt#{$spacing-var} {
    padding-top: $space;
  }
  .pl#{$spacing-var} {
    padding-left: $space;
  }
  .pr#{$spacing-var} {
    padding-right: $space;
  }
  .p#{$spacing-var} {
    padding: $space;
  }
  .ptb#{$spacing-var} {
    padding-top: $space;
    padding-bottom: $space;
  }
  .plr#{$spacing-var} {
    padding-left: $space;
    padding-right: $space;
  }
  .bdr#{$spacing-var}{
    border-radius: $space;
  }
  .bd-right#{$spacing-var}{
    border-right: $space solid #D9D9D9;
  }
  .bd-top#{$spacing-var}{
    border-top: $space solid #D9D9D9;
  }
  .bd-bottom#{$spacing-var}{
    border-bottom: $space solid #D9D9D9;
  }
  .bd#{$spacing-var}{
    border: $space solid #D9D9D9;
  }
  .bd-left#{$spacing-var}{
    border-left: $space solid #D9D9D9;
  }
  //width
  .w#{$spacing-var}{
    width: $space;
  }

}
