<template>
  <div class="header">
    <a-layout id="job-header">
      <a-layout-content class="filter-container">
        <a-row class="filter-content">
          <a-col :md="17" sm="12">
            <img src="../../../assets/images/cmclogo.png" alt="logo" class="logo" @click="backToHome"/>
          </a-col>
          <a-col :md="7" sm="12">
            <h2 class="header-title">Join us & Explore Thousands of Jobs</h2>
          </a-col>
        </a-row>
      </a-layout-content>
    </a-layout>
  </div>
</template>
<script>
import {mapState} from "vuex";

export default {
  computed: {
    ...mapState({
      currentFilter: (state) => state.rtsShareJob.currentFilter,
      isClearFilter: (state) => state.rtsShareJob.isClear,

    }),
  },
  methods: {
    backToHome() {
      if (this.$route.path !== '/rts/job-posting'){
        this.$store.commit("rtsShareJob/SET_CURRENT_FILTER",{})
        this.$store.commit("rtsShareJob/SET_CLEAR_STATE",true)
        this.$router.push('/rts/job-posting');
      }
    }
  }
}
</script>
<style lang="scss">
  #job-header{
    .filter-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background-color: #FFFFFF;
    }
    .logo{
      width: 169px;
      filter: invert(50%) sepia(92%) saturate(2362%) hue-rotate(169deg) brightness(95%) contrast(78%);
      cursor: pointer;
    }
    .header-title{
      font-weight: 400;
      font-size: 1.6rem;
      color: #323232;
      margin: 0;
    }
    @media only screen and (max-width: 600px) {
      .header-title{
        display: none;
      }
      .filter-content{
        display: flex;
        justify-content: center;
      }
    }
  }
</style>