<template>
  <a-layout id="general-info">
    <a-layout-content>
      <a-row class="request-general--main" v-if="requestDetail.id">
<!--        details,description ,benefit and activity block-->
        <a-col :md="16">
          <VueCollapse title="Details" :isActive="isActive['detail']" >
             <div slot="content">
                <DetailBlock :requestDetail="requestDetail" />
             </div>
          </VueCollapse>
          <VueCollapse title="Description" :isActive="isActive['description']">
            <div slot="content">
                <p v-html="requestDetail.description" class="description"></p>
            </div>
          </VueCollapse>
          <VueCollapse title="Requirement" :isActive="isActive['description']">
            <div slot="content">
              <p v-html="requestDetail.requirement" class="description"></p>
            </div>
          </VueCollapse>
          <VueCollapse title="Benefit" :isActive="isActive['description']">
            <div slot="content">
                <p v-html="requestDetail.benefit" class="description"></p>
            </div>
          </VueCollapse>

          <VueCollapse title="Activity" :isActive="isActive['activity']">
            <div slot="content">
              <RequestDetailGeneralS6Activity/>
            </div>
          </VueCollapse>
        </a-col>
<!--        people and process block-->
        <a-col :md="8">
          <VueCollapse title="People" :isActive="isActive['people']">
            <div slot="content">
               <RequestDetailGeneralS6People/>
            </div>
          </VueCollapse>
          <VueCollapse title="Process" :isActive="isActive['process']">
            <div slot="content">
              <RequestDetailGeneralS6Progress/>
            </div>
          </VueCollapse>
        </a-col>
      </a-row>
    </a-layout-content>
  </a-layout>
</template>

<script lang="js">
import {mapMutations, mapActions, mapState} from "vuex";
import VueCollapse from "../../../../../components/base/VueCollapse";
import {STATUS_COLOR} from "../../../../../components/commons/commonConstant";
import DetailBlock from "./DetailBlock/DetailBlock.vue";
import RequestDetailGeneralS6People from "./PeopleBlock/RequestDetailGeneralS6People.vue";
import RequestDetailGeneralS6Progress from "./ProgressBlock/RequestDetailGeneralS6Progress.vue";
import RequestDetailGeneralS6Activity from "./ActivityBlock/RequestDetailGeneralS6Activity.vue";

import RequestDetailHeader from "../../RequestDetailHeader/RequestDetailHeader";
import {PAGE_OPTIONS_CANDIDATE} from "@/components/commons/commons";

const isActive = {
  detail: true,
  description: true,
  benefit: true,
  activity: true,
  people: true,
  process: true,
};
export default {
  name: "RequestDetailGeneral",
  components: {
    RequestDetailHeader,
    VueCollapse,
    RequestDetailGeneralS6People,
    RequestDetailGeneralS6Progress,
    RequestDetailGeneralS6Activity,
    DetailBlock
  },
  props: {
    requestDetail: {
      type: Object,
    },
    keyTab : {
      type : String
    }
  },
  data() {
    return {
      STATUS_COLOR,
      isActive
    };
  },
  computed: {
    ...mapState({
      pageOptions: (state) => state.rtsListCandidate.pageOptions,
    }),
  },
  created() {
    this.setPageOption({
      ...PAGE_OPTIONS_CANDIDATE,
      requestId: this.$route.params.id,
      candidateState: 'none'
    })
    this.getTotalCandidateAllTab(this.pageOptions);
  },
  methods: {
    ...mapMutations({
      setPageOption: 'rtsListCandidate/SET_PAGE_OPTIONS',
      resetState: 'rtsProgressHistory/RESET_STATE'
    }),
    ...mapActions({
      getTotalCandidateAllTab: 'rtsListCandidate/getListCandidate',
      setLoading: 'user/loadingRequest',
      stopLoading: 'user/stopLoading',
    }),
  },
  beforeDestroy() {
    this.resetState();
  },

};

</script>

<style lang="scss">
#general-info {
  background-color: #fff !important;
  padding-bottom: 100px;
  overflow: scroll;
  overflow-x: hidden;
  height: 70vh;
  //override ant
  .ant-collapse-header {
    color: #172B4D;
    font-weight: 600;
    font-size: 16px;
  }
  .ant-collapse {
    background: #fff;
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
  }
  .ant-select-disabled
  .ant-select-selection--multiple
  .ant-select-selection__choice {
    color: #333333;
    background: #dfe1e6;
  }


  h2 {
    font-size: 36px;
    font-weight: 600;
    color: #172b4d;
    display: inline-block;
  }

  .request-content .block-left,
  .block-right {
    label {
      color: rgba(0, 0, 0, 0.85);
      // font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      margin: 12px 0px 5px 2px;
      display: block;
    }

    input,
    textarea {
      font-size: 14px;
      line-height: 20px;
      cursor: default;
      background-color: #f4f5f7;
      color: #8d97a7;
    }
  }

  .title-header {
    margin-top: -10px;
  }

  .ant-tag {
    min-width: 60px;
    margin-left: 15px;
    display: inline-block;
    position: relative;
    top: -5px;
    right: 0px;
    font-weight: 600;
    border-radius: 5px;
    padding-bottom: 1px;
  }

  //override ant design
  .ant-form-item-label {
    line-height: 16px;
    font-weight: 600;
  }

  .ant-form-item-label > label {
    color: #6b778c;
  }

  .ant-input {
    background: #f9fbff;
  }

  .form-textarea-benefit {
    margin-top: 3px;
    height: 100px !important;
    max-height: 100px !important;
  }

  .form-textarea-requests {
    margin-top: 3px;
    height: 235px !important;
    max-height: 235px !important;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 8px 16px;
    padding-left: 35px;
  }

  .ant-collapse-borderless
    > .ant-collapse-item
    > .ant-collapse-content
    > .ant-collapse-content-box {
    padding-bottom: 5px;
  }
  .detail-container{
    padding: 0.5rem 0.7rem;
    background: #ffffff;
  }
  td {
    padding: 0.3rem 0.5rem;
    color: #6B778C;
  }
  .details-value {
    color: #172B4D;
    font-weight: 500;
    line-height: 20px;
    display: inline-block;
  }
  .details-value label {
    margin-right: 5px;
  }

  .description {
    color: #172B4D;
    font-size: 14px;
    margin:0;
    padding: 0 1.3rem;
  }
}

#history-label {
  color: #6b778c;
  margin-top: 10px;
}

#collapse-history {
  margin-left: -10px;

  ul#genenal-history-list {
    list-style-type: unset;
    padding-left: 5px;

    li {
      padding-left: 12px;
      border-left: 1px solid #dfe1e6;

      p {
        color: #7a869a;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;

        span {
          color: #172b4d;
          font-size: 14px;
        }
        b {
          font-size: 14px;
          color: #155fcc;
        }
      }
    }
  }
}
</style>
