<template>
    <div class="payroll-overtime-detail">
        <a-col :md="12">
            <a-row>
                <a-card class="staff-info mb15">
                    <a-row>
                        <a-col :md="6" class="ml5"><a-avatar size="large" :style="{backgroundColor: randomColor()}">{{timesheetUser ? getAvatarName(timesheetUser.name) : ''}}</a-avatar></a-col>
                        <a-col :md="15">
                            <div class="mb5 title-no-bold">{{timesheetUser ? timesheetUser.name : ''}}</div>
                            <div  class="mb5 title-no-bold">Payroll Period: {{formatDate(timesheetInfo.from_date)}} - {{formatDate(timesheetInfo.to_date)}}</div>
                            <div class="mb5 title-no-bold"><span >Department:</span> <span>{{timesheetUser.department_name ? timesheetUser.department_name.nameEn : ''}}</span></div>
                            <!--div class="mb5 title-no-bold"><span >Role:</span> <span>{{timesheetUser ? timesheetUser.position_title_en : ''}}</span></div-->
                        </a-col>
                    </a-row>
                </a-card>
            </a-row>
            <a-row class="detail-overtime-A ">
                <a-list
                    size="small"
                    item-layout="horizontal"
                    :data-source="detailOvertimeA"
                >
                    <a-list-item slot="renderItem" slot-scope="item">
                        <a-list-item-meta>
                            <span slot="title">{{ item.title}}</span>
                        </a-list-item-meta>
                        <div class="content-period">content</div>
                    </a-list-item>
                </a-list>
            </a-row>
            <a-row class="detail-overtime-B mt15">
                <a-list
                    size="small"
                    item-layout="horizontal"
                    :data-source="detailOvertimeB"
                >
                    <a-list-item slot="renderItem" slot-scope="item">
                        <a-list-item-meta>
                            <span slot="title">{{ item.title}}</span>
                        </a-list-item-meta>
                        <div class="content-period">content</div>
                    </a-list-item>
                </a-list>
            </a-row>
            <a-row class="detail-overtime-C mt15">
                <a-list
                    size="small"
                    item-layout="horizontal"
                    :data-source="detailOvertimeC"
                >
                    <a-list-item slot="renderItem" slot-scope="item">
                        <a-list-item-meta>
                            <span slot="title">{{ item.title}}</span>
                        </a-list-item-meta>
                        <div class="content-period">content</div>
                    </a-list-item>
                </a-list>
            </a-row>
            <a-row class="detail-overtime-D mt15">
                <a-list
                    size="small"
                    item-layout="horizontal"
                    :data-source="detailOvertimeD"
                >
                    <a-list-item slot="renderItem" slot-scope="item">
                        <a-list-item-meta>
                            <span slot="title">{{ item.title}}</span>
                        </a-list-item-meta>
                        <div class="content-period">content</div>
                    </a-list-item>
                </a-list>
            </a-row>
        </a-col>
        <a-col :md="12" class="dmlinhhhhh">
            <a-row class="detail-overtime-E mt15">
                <a-list
                    size="small"
                    item-layout="horizontal"
                    :data-source="detailOvertimeE"
                >
                    <a-list-item slot="renderItem" slot-scope="item">
                        <a-list-item-meta>
                            <span slot="title">{{ item.title}}</span>
                        </a-list-item-meta>
                        <div class="content-period">content</div>
                    </a-list-item>
                </a-list>
            </a-row>
            <a-row class="detail-overtime-F mt15">
                <a-list
                    size="small"
                    item-layout="horizontal"
                    :data-source="detailOvertimeF"
                >
                    <a-list-item slot="renderItem" slot-scope="item">
                        <a-list-item-meta>
                            <span slot="title">{{ item.title}}</span>
                        </a-list-item-meta>
                        <div class="content-period">content</div>
                    </a-list-item>
                </a-list>
            </a-row>
            <a-row class="detail-overtime-G mt15">
                <a-list
                    size="small"
                    item-layout="horizontal"
                    :data-source="detailOvertimeG"
                >
                    <a-list-item slot="renderItem" slot-scope="item">
                        <a-list-item-meta>
                            <span slot="title">{{ item.title}}</span>
                        </a-list-item-meta>
                        <div class="content-period">content</div>
                    </a-list-item>
                </a-list>
            </a-row>
            <a-row class="detail-overtime-H mt15">
                <a-list
                    size="small"
                    item-layout="horizontal"
                    :data-source="detailOvertimeH"
                >
                    <a-list-item slot="renderItem" slot-scope="item">
                        <a-list-item-meta>
                            <span slot="title">{{ item.title}}</span>
                        </a-list-item-meta>
                        <div class="content-period">content</div>
                    </a-list-item>
                </a-list>
            </a-row>
        </a-col>
    </div>
</template>
<script type="script" lang="js" src="./PayrollOvertimeDetail.js" />