<template>
   <div class="p15 mt100" style="padding-top:10px">
    <a-spin :spinning="loading">
      <a-row>
        <div class="card-container">
          <a-tabs type="card" v-model="tabSelected">
            <a-tab-pane key="employeeList" tab="Employee List">
              <template>
                <a-row>
                  <a-col :md="22">
                    <FilterLayout
                      :onSetDataFilters="onSetDataFilters"
                      :onApplyFilters="onApplyFilters"
                      :datafilterDefault="dataFilters"
                      currentPage="employeeList"
                    />
                  </a-col>
                  <a-col :md="2">
                    <div class="float-right" >
                      <a-button type="primary" @click="handleChangeTab('employee')"> Add New </a-button>
                    </div>
                  </a-col>
                </a-row>
                
                <a-divider />
                <a-table
                    class="custom-table"
                    :columns="columns"
                    :pagination="false"
                    size="middle"
                >
                    <template slot="footer">
                        <div>
                            <a-pagination
                                v-model="currentPage"
                                :total="total_items"
                                :show-total="
                                (total, range) => `${range[0]}-${range[1]} of ${total} items`
                                "
                                :page-size="pageSize"
                                show-size-changer
                                @change="onChangePage"
                                @showSizeChange="onShowSizeChange"
                            />
                        </div>
                    </template>
                </a-table>
              </template>
            </a-tab-pane>
            <a-tab-pane key="employee"  tab="My Employee">
              <a-row class="form-employee">     
                <a-form :form="form">
                    <a-col class="personal-info" :md="5">
                        <span class="blue"> Personal Information </span>
                        <a-divider />
                        <a-form-item>
                            <span>Full Name</span>
                            <a-input
                                v-decorator="[
                                'fullName',
                                // { rules: [{ required: true, message: 'Please input your name' }] },
                                ]"
                                placeholder="Please input your full name"
                            />
                        </a-form-item>
                        <a-form-item>
                            <span>Email</span>
                            <a-input
                                v-decorator="[
                                'email',
                                // { rules: [{ required: true, message: 'Please input your name' }] },
                                ]"
                                placeholder="Please input your email"
                            />
                        </a-form-item>
                        <a-form-item>
                            <span>Gender</span>
                            <a-select
                            v-decorator="[
                                'gender',
                                // { rules: [{ required: true, message: 'Please select your gender!' }] },
                            ]"
                            placeholder="Please input your gender"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="male">
                                male
                            </a-select-option>
                            <a-select-option value="female">
                                female
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item>
                            <span>Birthday</span>
                            <a-date-picker
                            :allowClear="false"
                            @change="handleStartDate"
                            format="YYYY-MM-DD"
                            placeholder="Choose Date"
                            style="width: 100%"
                            v-decorator="[
                                'start_date',
                                {
                                // initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                                rules: [
                                    {
                                    // required: true,
                                    message: 'Please choose Start Time!',
                                    },
                                ],
                                },
                            ]"
                            />
                        </a-form-item>
                        <a-form-item>
                            <span>Province</span>
                            <a-select
                            v-decorator="[
                                'gender',
                                // { rules: [{ required: true, message: 'Please select your province!' }] },
                            ]"
                            placeholder="Please input your province"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="Hà Nội">
                                Hà Nội
                            </a-select-option>
                            <a-select-option value="Bắc Ninh">
                                Bắc Ninh
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item>
                            <span>Nationality</span>
                            <a-select
                            v-decorator="[
                                'nationality',
                                // { rules: [{ required: true, message: 'Please select your nationality!' }] },
                            ]"
                            placeholder="Please input your nationality"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="Việt Nam">
                                Việt Nam
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item>
                            <span>Personal email</span>
                            <a-input
                                v-decorator="[
                                'email',
                                // { rules: [{ required: true, message: 'Please input your email' }] },
                                ]"
                                placeholder="Please input your email"
                            />
                        </a-form-item>
                    </a-col>
                    <a-col class="staff-info" :md="9">
                    <span class="blue"> Staff Information </span>
                    <a-divider />
                    <a-col class="staff-info-col1" :md="12">
                        <a-form-item>
                            <span>Username</span>
                            <a-input
                                v-decorator="[
                                'username',
                                // { rules: [{ required: true, message: 'Please input your username' }] },
                                ]"
                                placeholder="Please input your username"
                            />
                        </a-form-item>
                        <a-form-item>
                            <span>Company</span>
                            <a-select
                            v-decorator="[
                                'company',
                                // { rules: [{ required: true, message: 'Please select your company!' }] },
                            ]"
                            placeholder="Please input your company"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="male">
                                CMC Global
                            </a-select-option>
                            <a-select-option value="female">
                                CMC Telecom
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item>
                            <span>Location</span>
                            <a-select
                            v-decorator="[
                                'location',
                                // { rules: [{ required: true, message: 'Please select your location!' }] },
                            ]"
                            placeholder="Please input your location"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="male">
                                abc
                            </a-select-option>
                            <a-select-option value="female">
                                def
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item>
                            <span>Department</span>
                            <a-select
                            v-decorator="[
                                'department',
                                // { rules: [{ required: true, message: 'Please select your department!' }] },
                            ]"
                            placeholder="Please input your department"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="male">
                                abc
                            </a-select-option>
                            <a-select-option value="female">
                                fdg
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item>
                            <span>Sub Department1</span>
                            <a-select
                            v-decorator="[
                                'sub_department1',
                                // { rules: [{ required: true, message: 'Please select your sub department 1!' }] },
                            ]"
                            placeholder="Please input your sub department1"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="male">
                                male
                            </a-select-option>
                            <a-select-option value="female">
                                female
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item>
                            <span>Sub Department2</span>
                            <a-select
                            v-decorator="[
                                'sub_department2',
                                // { rules: [{ required: true, message: 'Please select your sub department2!' }] },
                            ]"
                            placeholder="Please input your sub department2"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="male">
                                male
                            </a-select-option>
                            <a-select-option value="female">
                                female
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item>
                            <span>Division</span>
                            <a-select
                            v-decorator="[
                                'division',
                                // { rules: [{ required: true, message: 'Please select your devision!' }] },
                            ]"
                            placeholder="Please input your devision"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="male">
                                male
                            </a-select-option>
                            <a-select-option value="female">
                                female
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item>
                            <span>Business Unit</span>
                            <a-select
                            v-decorator="[
                                'business_unit',
                                // { rules: [{ required: true, message: 'Please select your business unit!' }] },
                            ]"
                            placeholder="Please input your business unit"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="male">
                                male
                            </a-select-option>
                            <a-select-option value="female">
                                female
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                    </a-col>
                    <a-col class="staff-info-col2" :md="12">
                        <a-form-item>
                            <span>Employee Status</span>
                            <a-select
                            v-decorator="[
                                'employee_status',
                                // { rules: [{ required: true, message: 'Please select your employee status!' }] },
                            ]"
                            placeholder="Please input your employee status"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="male">
                                male
                            </a-select-option>
                            <a-select-option value="female">
                                female
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item>
                            <span>Role</span>
                            <a-select
                            v-decorator="[
                                'role_staff',
                                // { rules: [{ required: true, message: 'Please select your role!' }] },
                            ]"
                            placeholder="Please input your role"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="male">
                                male
                            </a-select-option>
                            <a-select-option value="female">
                                female
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item>
                            <span>Job Level</span>
                            <a-select
                            v-decorator="[
                                'job_level',
                                // { rules: [{ required: true, message: 'Please select your job level!' }] },
                            ]"
                            placeholder="Please input your job level"
                            @change="handleSelectChange"
                            >
                            <a-select-option value="male">
                                male
                            </a-select-option>
                            <a-select-option value="female">
                                female
                            </a-select-option>
                            </a-select>
                        </a-form-item>
                        <a-form-item>
                            <span>Job Classification</span>
                            <a-input
                            disabled="true"
                            v-decorator="[
                            'job_classification',
                            ]"
                            placeholder="Please input your job classification"
                            />
                        </a-form-item>
                        <a-form-item>
                            <span>Position Code</span>
                            <a-input
                            disabled="true"
                            v-decorator="[
                            'position_code',
                            ]"
                            placeholder="Please input your position code"
                            />
                        </a-form-item>
                        <a-form-item>
                            <span>Position Title</span>
                            <a-input
                            :disabled="true"
                            v-decorator="[
                            'position_title',
                            ]"
                            placeholder="Please input your position title"
                            />
                        </a-form-item>
                        <a-form-item>
                            <span>Position Title En</span>
                            <a-input
                            disabled="true"
                            v-decorator="[
                            'position_title_en',
                            ]"
                            placeholder="Please input your position title En"
                            />
                        </a-form-item>
                        <a-form-item>
                            <span>SF4C_ID</span>
                            <a-input
                                v-decorator="[
                                'sf4c_id',
                                // { rules: [{ required: true, message: 'Please input your sf4c_id' }] },
                                ]"
                                placeholder="Please input your SF4C ID"
                            />
                        </a-form-item>
                    </a-col>
                    </a-col>
                    <a-col class="contract-info" :md="5">
                    <span class="blue"> Contract Information </span>
                    <a-divider />
                    <a-form-item>
                        <span>Contract Type Name</span>
                        <a-select
                            v-decorator="[
                            'contract_type_name',
                            // { rules: [{ required: true, message: 'Please select your contract type name!' }] },
                            ]"
                            placeholder="Please input your contract type name"
                            @change="handleSelectChange"
                        >
                            <a-select-option value="male">
                            male
                            </a-select-option>
                            <a-select-option value="female">
                            female
                            </a-select-option>
                        </a-select>
                    </a-form-item>
                    <a-form-item>
                        <span>Number of year</span>
                        <a-input
                            v-decorator="[
                            'number_of_year',
                            // { rules: [{ required: true, message: 'Please input your number of year' }] },
                            ]"
                            placeholder="Please input your number of year"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Effective Start Date</span>
                        <a-date-picker
                            :allowClear="false"
                            @change="handleStartDate"
                            format="YYYY-MM-DD"
                            placeholder="Choose Date"
                            style="width: 100%"
                            v-decorator="[
                            'effective_start_date',
                            {
                                // initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                                rules: [
                                {
                                    // required: true,
                                    message: 'Please choose effective start date!',
                                },
                                ],
                            },
                            ]"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Position Effective Date</span>
                        <a-date-picker
                            :allowClear="false"
                            @change="handleStartDate"
                            format="YYYY-MM-DD"
                            placeholder="Choose Date"
                            style="width: 100%"
                            v-decorator="[
                            'position_effective_date',
                            {
                                // initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                                rules: [
                                {
                                    // required: true,
                                    message: 'Please choose position effective date!',
                                },
                                ],
                            },
                            ]"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Contract Start Date</span>
                        <a-date-picker
                            :allowClear="false"
                            @change="handleStartDate"
                            format="YYYY-MM-DD"
                            placeholder="Choose Date"
                            style="width: 100%"
                            v-decorator="[
                            'contract_start_date',
                            {
                                // initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                                rules: [
                                {
                                    // required: true,
                                    message: 'Please choose contract start date!',
                                },
                                ],
                            },
                            ]"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Contract End date</span>
                        <a-date-picker
                            :allowClear="false"
                            @change="handleStartDate"
                            format="YYYY-MM-DD"
                            placeholder="Choose Date"
                            style="width: 100%"
                            v-decorator="[
                            'contract_end_date',
                            {
                                // initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                                rules: [
                                {
                                    // required: true,
                                    message: 'Please choose contract end date!',
                                },
                                ],
                            },
                            ]"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Start Working Day</span>
                        <a-date-picker
                            :allowClear="false"
                            @change="handleStartDate"
                            format="YYYY-MM-DD"
                            placeholder="Choose Date"
                            style="width: 100%"
                            v-decorator="[
                            'start_working_day',
                            {
                                // initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                                rules: [
                                {
                                    // required: true,
                                    message: 'Please choose start working day!',
                                },
                                ],
                            },
                            ]"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Last Working Day</span>
                        <a-date-picker
                            :allowClear="false"
                            @change="handleStartDate"
                            format="YYYY-MM-DD"
                            placeholder="Choose Date"
                            style="width: 100%"
                            v-decorator="[
                            'last_working_day',
                            {
                                // initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                                rules: [
                                {
                                    // required: true,
                                    message: 'Please choose last working day!',
                                },
                                ],
                            },
                            ]"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Seniority Date</span>
                        <a-date-picker
                            :allowClear="false"
                            @change="handleStartDate"
                            format="YYYY-MM-DD"
                            placeholder="Choose Date"
                            style="width: 100%"
                            v-decorator="[
                            'seniority_date',
                            {
                                // initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                                rules: [
                                {
                                    // required: true,
                                    message: 'Please choose seniority date!',
                                },
                                ],
                            },
                            ]"
                        />
                    </a-form-item>
                    </a-col>
                    <a-col class="benifit-info" :md="5">
                    <span class="blue"> Benifit & Perks </span>
                    <a-divider />
                    <a-form-item>
                        <span>Holiday Calendar Code</span>
                        <a-select
                            v-decorator="[
                            'holiday_calendar_code',
                            // { rules: [{ required: true, message: 'Please select your holiday calendar code!' }] },
                            ]"
                            placeholder="Please input your holiday calendar code"
                            @change="handleSelectChange"
                        >
                            <a-select-option value="male">
                            male
                            </a-select-option>
                            <a-select-option value="female">
                            female
                            </a-select-option>
                        </a-select>
                    </a-form-item>
                    <a-form-item>
                        <span>Total Annual Leave</span>
                        <a-input
                            v-decorator="[
                            'total_annual_leave',
                            // { rules: [{ required: true, message: 'Please input your total annual leave' }] },
                            ]"
                            placeholder="Please input your total annual leave"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Remain Annual Leave</span>
                        <a-input
                            v-decorator="[
                            'remain_annual_leave',
                            // { rules: [{ required: true, message: 'Please input your remain annual leave' }] },
                            ]"
                            placeholder="Please input your remain annual leave"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Remain Unpaid Leave</span>
                        <a-input
                            v-decorator="[
                            'remain_unpaid_leave',
                            // { rules: [{ required: true, message: 'Please input your remain unpaid leave' }] },
                            ]"
                            placeholder="Please input your remain unpaid leave"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Remain Maternity Leave</span>
                        <a-input
                            v-decorator="[
                            'remain_maternity_leave',
                            // { rules: [{ required: true, message: 'Please input your remain maternity leave' }] },
                            ]"
                            placeholder="Please input your remain maternity leave"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Remain Birthday Leave</span>
                        <a-input
                            v-decorator="[
                            'remain_birthday_leave',
                            // { rules: [{ required: true, message: 'Please input your remain birthday leave' }] },
                            ]"
                            placeholder="Please input your remain birthday leave"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Remain Offset Leave</span>
                        <a-input
                            v-decorator="[
                            'remain_offset_leave',
                            // { rules: [{ required: true, message: 'Please input your remain offset leave' }] },
                            ]"
                            placeholder="Please input your remain offset leave"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Annual Leave Start Date</span>
                        <a-date-picker
                            :allowClear="false"
                            @change="handleStartDate"
                            format="YYYY-MM-DD"
                            placeholder="Choose Date"
                            style="width: 100%"
                            v-decorator="[
                            'annual_leave_start_date',
                            {
                                // initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                                rules: [
                                {
                                    // required: true,
                                    message: 'Please choose annual leave start date!',
                                },
                                ],
                            },
                            ]"
                        />
                    </a-form-item>
                    <a-form-item>
                        <span>Annual Leave End Date</span>
                        <a-date-picker
                            :allowClear="false"
                            @change="handleStartDate"
                            format="YYYY-MM-DD"
                            placeholder="Choose Date"
                            style="width: 100%"
                            v-decorator="[
                            'annual_leave_end_date',
                            {
                                // initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                                rules: [
                                {
                                    // required: true,
                                    message: 'Please choose annual leave end date!',
                                },
                                ],
                            },
                            ]"
                        />
                    </a-form-item>
                    </a-col>
                </a-form>
                <div class="float-right mt10">
                  <a-button key="back" @click="handleCancelEmployee" class="mr5">Cancel</a-button>
                  <a-button key="submit" type="primary" @click="handleSubmitEmployee">{{isEdit ? "Save" : "Create"}}</a-button>
                </div>
              </a-row>
              <!--router-view/-->
            </a-tab-pane>
            <a-tab-pane key="employeeSoda" tab="Employee Soda">
              <template> 
                <a-row>
                  <a-col :md="18">
                    <FilterLayout
                        :onSetDataFilters="onSetDataFilters"
                        :onApplyFilters="onApplyFilters"
                        :datafilterDefault="dataFilters"
                        currentPage="employeeSoda"
                    />
                  </a-col>
                  <a-col :md="6">
                    <div class="float-right">
                      <a-button type="primary" @click="showModalCreate()"> Add New </a-button>
                    </div>
                  </a-col>
                </a-row>
                <a-divider/>
                <a-table
                    class="custom-table"
                    :columns="sodaColumns"
                    :data-source="mockData"
                    :pagination="false"
                    size="middle"
                >
                  <span slot="edit" >
                      <a-button type="primary" class="mr45" icon="edit" @click="showModalEdit"></a-button>
                  </span>
                  <template slot="footer">
                    <div>
                        <a-pagination
                          v-model="currentPage"
                          :total="total_items"
                          :show-total="
                          (total, range) => `${range[0]}-${range[1]} of ${total} items`
                          "
                          :page-size="pageSize"
                          show-size-changer
                          @change="onChangePage"
                          @showSizeChange="onShowSizeChange"
                        />
                      </div>
                  </template>
                </a-table>
                <a-modal
                  v-model="visibleModal" 
                  :maskClosable="false"
                  :closable="false"
                  class="modal-soda"
                >
                  <div class="text-center">
                    <h2>{{ isEdit ? "Update Employee Soda" : "Create Employee Soda" }}</h2>
                    <a-divider />
                  </div>
                  <template>
                    <a-form :form="formSD">
                      <a-row>
                        <a-col :md="24">
                          <a-form-item 
                            label="Account Number:" 
                            :label-col="{ span: 7 }"
                            :wrapper-col="{ span: 16, offset: 1 }"
                          >
                            <a-input
                              v-decorator="[
                              'account_number',
                              { rules: [{ required: true, message: 'Please input account number' }] },
                              ]"
                              placeholder="Account Number"
                            />
                          </a-form-item>
                        </a-col>
                      </a-row>
                      <a-row>
                        <a-col :md="24">
                          <a-form-item 
                            label="SDSV ID"
                            :label-col="{ span: 4 }"
                            :wrapper-col="{ span: 16, offset: 4 }"
                          >
                            <a-input
                              v-decorator="[
                              'sdsv_id',
                              { rules: [{ required: true, message: 'Please input SDSV ID' }] },
                              ]"
                              placeholder="SDSV ID"
                            />
                          </a-form-item>
                        </a-col>
                      </a-row>
                      <a-row>
                        <a-col :md="24">
                          <a-form-item 
                            label="LDAP ID"
                            :label-col="{ span: 4 }"
                            :wrapper-col="{ span: 16, offset: 4 }"
                          >
                            <a-input
                              v-decorator="[
                              'ldap_id',
                              { rules: [{ required: true, message: 'Please input LDAP ID' }] },
                              ]"
                              placeholder="LDAP ID"
                            />
                          </a-form-item>
                        </a-col>
                      </a-row>
                      <a-row>
                        <a-col :md="24">
                          <a-form-item 
                            label="Start Date"
                            :label-col="{ span: 4 }"
                            :wrapper-col="{ span: 16, offset: 4 }"
                          >
                            <a-date-picker
                              :allowClear="true"
                              @change="handleStartDate"
                              format="YYYY-MM-DD"
                              placeholder="Choose Date"
                              style="width: 100%"
                              v-decorator="[
                                'start_date',
                                {
                                  // initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                                  rules: [
                                    {
                                      required: true,
                                      message: 'Please choose Start Time!',
                                    },
                                  ],
                                },
                              ]"
                            />
                          </a-form-item>
                        </a-col>
                      </a-row>
                      <a-row>
                        <a-col :md="24">
                          <a-form-item 
                            label="End Date"
                            :label-col="{ span: 4 }"
                            :wrapper-col="{ span: 16, offset: 4 }"
                          >
                            <a-date-picker
                              :allowClear="true"
                              @change="handleStartDate"
                              format="YYYY-MM-DD"
                              placeholder="Choose Date"
                              style="width: 100%"
                              v-decorator="[
                                'end_date',
                                {
                                  // initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                                  rules: [
                                    {
                                      required: true,
                                      message: 'Please choose Start Time!',
                                    },
                                  ],
                                },
                              ]"
                            />
                          </a-form-item>
                        </a-col>
                      </a-row>
                      <a-row>
                        <a-col :md="24">
                          <a-form-item 
                            label="SDSV Name"
                            :label-col="{ span: 4 }"
                            :wrapper-col="{ span: 16, offset: 4 }"
                          >
                            <a-input
                              v-decorator="[
                              'sdsv_name',
                              ]"
                              placeholder="SDSV Name"
                            />
                          </a-form-item>
                        </a-col>
                      </a-row>
                      <a-row>
                        <a-col :md="24">
                          <a-form-item 
                            label="CMC Name"
                            :label-col="{ span: 4 }"
                            :wrapper-col="{ span: 16, offset: 4 }"
                          >
                            <a-input
                              v-decorator="[
                              'sdsv_id',
                              ]"
                              placeholder="CMC Name"
                            />
                          </a-form-item>
                        </a-col>
                      </a-row>
                      <a-row>
                        <a-col :md="24">
                          <a-form-item 
                            label="Project"
                            :label-col="{ span: 3 }"
                            :wrapper-col="{ span: 16, offset: 5 }"
                          >
                            <a-input
                              v-decorator="[
                              'project',
                              ]"
                              placeholder="Project"
                            />
                          </a-form-item>
                        </a-col>
                      </a-row>
                      <a-row>
                        <a-col :md="24">
                          <a-form-item 
                            label="Position"
                            :label-col="{ span: 3 }"
                            :wrapper-col="{ span: 16, offset: 5 }"
                          >
                            <a-input
                              v-decorator="[
                              'position',
                              ]"
                              placeholder="Position"
                            />
                          </a-form-item>
                        </a-col>
                      </a-row>
                    </a-form>
                  </template>
                  <template slot="footer">
                    <a-row class="p10">
                      <a-col :md="24">
                        <div class="float-right">
                          <a-button key="back" @click="handleCancel" class="mr5">Cancel</a-button>
                          <a-button key="submit" type="primary" @click="handleSubmit">{{isEdit ? "Save" : "Create"}}</a-button>
                        </div>
                      </a-col>
                    </a-row>
                  </template>
                </a-modal>
              </template>
            </a-tab-pane>
          </a-tabs>
        </div>
      </a-row>
    </a-spin>
   </div>
</template>

<script type="script" lang="js" src="./Employee.js" />
// personal email, total annual leave, remain annual leave.