<template>
  <div>
    <a-layout id="components-layout-demo-top-side-2">
      <a-layout-content class="content-wrapper full-vh" style="margin:0 auto">
        <a-row>
          <div>
          
            <a-card style="width: 600px" class="mt80">
              <template slot="title">
                <div class="text-center">
                  <img src="../../assets/images/logo_cmc.png" alt />
                  <p class="text-bold mt5">Human Resource Management System</p>
                </div>
              </template>
              <a-form
                :form="form"
              >
                <a-form-item style="margin-bottom: 5px">
                    <a-select 
                        placeholder="Remain Leave"
                        allowClear
                        mode="single"
                        :not-found-content="fetching ? undefined : null"
                        :default-active-first-option="false"
                        :filter-option="false"
                        :maxTagCount="1"
                         v-decorator="[
                            'reason',
                            {
                              rules: [
                                { required: true, message: 'Please choose reason!' },
                              ],
                            },
                          ]"
                    >
                        <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                        <a-select-option
                            v-for="(item,index) in remainTypeLeaveList"
                            :key="index"
                            :value="item.toLowerCase().replaceAll(' ', '-')"
                        >{{item}}</a-select-option>
                    </a-select>
                </a-form-item>
                <a-form-item style="margin-bottom: 5px">
                    <a-select 
                        placeholder="Search by staff name, ID"
                        allowClear
                        mode="multiple"
                        :not-found-content="fetching ? undefined : null"
                        :default-active-first-option="false"
                        :filter-option="false"
                        :maxTagCount="1"
                        :dropdownMatchSelectWidth="false"
                         v-decorator="[
                            'updateStaff',
                            {
                              rules: [
                                { required: true, message: 'Please choose staff!' },
                              ],
                            },
                          ]"
                        @search="(value) => onSearch(value)"
                    >
                        <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                        <a-select-option
                            v-for="item in employeeList"
                            :key="item.id"
                            :value="JSON.stringify({id :item.id, label: item.label,department: item.department, value: item.value})"
                        >{{item.label + ' (' +item.department + ')'}}</a-select-option>
                    </a-select>
                </a-form-item>
                <a-form-item style="margin-bottom: 5px">
                  <a-input-number placeholder="Update Annual Leave" :min="1" :max="365" v-decorator="[
                            'leave',
                            {initialValue : 12},
                            {
                              rules: [
                               
                                { required: true, message: 'Please input leave!' },
                              ],
                            },
                          ]"></a-input-number>
                </a-form-item>
              </a-form>          
              <a-row>
                <a-col :md="12">
                    <a-button @click="handleBack">Back</a-button>
                </a-col>
                 <a-col :md="12" class="taE" >
                  <a-button 
                      type="primary" @click="handleSubmit"
                      >Update Leave</a-button>
                </a-col>
                 </a-row>
            </a-card>
          </div>
        </a-row>
      </a-layout-content>
    </a-layout>
  </div>
</template>
<script type='script' lang='js' src ='./UpdateLeave.js' />
<style>
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form .ant-form-item {
  margin-bottom: 0 !important;
}

#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
</style>