<template>
  <div class="configuration mt100 pt10 plr20 ">
    <a-spin :spinning="loading">
      <a-row>
        <div class="card-container">
          <a-tabs
              type="card"
              @change="handleChangeTab"
              :defaultActiveKey="keyTab"
          >
            <a-tab-pane v-for="tab in tabs" :key="tab.title" :tab="formatTab(tab.title)">
              <template v-if="keyTab">
                <a-row>
                  <a-col :md="20">
                    <FilterLayout
                        :onSetDataFilters="onSetDataFilters"
                        :onApplyFilters="onApplyFilters"
                        :datafilterDefault="dataFilters"
                        :currentTab="keyTab"
                        :currentPage="'configurations'"
                    />
                  </a-col>
                  <a-col :md="4" class="taE">
                    <a type="primary" class="mr10 export-button primary" @click.prevent="downloadItem()" :hidden="keyTab!='KPI'">
                      Export
                    </a>
                    <input
                      type="file"
                      style="display: none"
                      ref="fileInput"
                      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      />
                    <a-button type="primary" class="mr10" @click="onAddNew()" 
                        :hidden="keyTab=='KPI'"
                        :disabled="userInfo.userRoles[1]!=='RTS-Admin'">
                      Add
                    </a-button>
                    <a-button 
                        :hidden="keyTab=='KPI'"
                        type="danger"
                        :disabled="isDisableDelete || userInfo.userRoles[1]!=='RTS-Admin'"
                        @click="onDelete()"
                    >
                      Delete
                    </a-button>
                  </a-col>
                </a-row>
                <a-divider/>
                <template v-if="tab.title === 'Positions'">
                  <Positions
                      @actionEdit="onEdit"
                      @actionDelete="onDelete"
                      @actionSelect="onSelect"
                  />
                </template>
                <template v-if="tab.title === 'KPI'">
                  <KPI
                      :filters="dataFilters"
                      @actionEdit="onEdit"
                      @actionDelete="onDelete"
                      @actionSelect="onSelect"
                  />
                </template>
                <template v-if="tab.title === 'Priority'">
                  <Priority
                      @actionEdit="onEdit"
                      @actionDelete="onDelete"
                      @actionSelect="onSelect"
                  />
                </template>
                <template v-if="tab.title === 'Experience'">
                  <Experience
                      @actionEdit="onEdit"
                      @actionDelete="onDelete"
                      @actionSelect="onSelect"
                  />
                </template>
                <template v-if="tab.title === 'Major'">
                  <Major
                      @actionEdit="onEdit"
                      @actionDelete="onDelete"
                      @actionSelect="onSelect"
                  />
                </template>
                <template v-if="tab.title === 'Request Type'">
                  <RequestType
                      @actionEdit="onEdit"
                      @actionDelete="onDelete"
                      @actionSelect="onSelect"
                  />
                </template>
                <template v-if="tab.title === 'Area'">
                  <Area
                      @actionEdit="onEdit"
                      @actionDelete="onDelete"
                      @actionSelect="onSelect"
                  />
                </template>
                <template v-if="tab.title === 'Job Type'">
                  <JobType
                      @actionEdit="onEdit"
                      @actionDelete="onDelete"
                      @actionSelect="onSelect"
                      @actionOpen="onOpenJobLevel"
                  />
                </template>
                <template v-if="tab.title === 'Language'"></template>
                <template v-if="tab.title === 'Skill'"></template>
              </template>
            </a-tab-pane>
          </a-tabs>
        </div>
      </a-row>
    </a-spin>
    <div>
      <a-drawer
          :title="'abc'"
          placement="right"
          :closable="false"
          :visible="false"
          @close="onCloseDrawer"
          :class="[drawerKey, 'drawer-right']"
      >
        <p>My Drawer</p>
      </a-drawer>
    </div>
    <div class="drawer-contain">
     <a-drawer
       placement="bottom"
       :closable="false"
       height="350"
      :visible="visibleJobLevel"
      @close="onCloseJobLevel"
    > <div class="header-drawer-joblevel">
      <h4 class="job-title">{{detailJobType.name}}</h4>
      <a-button type="primary" class="button-add-job" @click="onAddJobLevel()"
          :disabled="userInfo.userRoles[1]!=='RTS-Admin'">
           Add
         </a-button>
       </div>
       <JobLevelTable :data="jobLevel" :columns="columnsJobLevel" 
       @onDelete="onDeleteJobLevel"
       @onEdit="onEditJobLevel" ></JobLevelTable>
    </a-drawer>
    </div>
    <ConfigurationModalJobLevel 
       :visibleModal="isShowJobLevel"
       :isEdit="isEditJobLevel"
       :data="editedJobLevel"
        @onCancel="onCancelJobLevel"
        @onSubmit="onSubmitJobLevel"
    />

    <ConfigurationModal
        :keyTab="formatTab(keyTab)"
        :visibleModal="isShowModal"
        :formName="formName"
        :data="editedItem"
        :isEdit="isEdit"
        @onCancel="onCancel"
        @onSubmit="onSubmit"
    />
    <ConfirmCancelDialog
        :visible="isShowConfirmCancel"
        :message="dialogMessageCancel"
        @ok="handleOkeCancel"
        @cancel="handleCancelDialog"
    />
    <ConfirmDialog
        :visible="isShowConfirm"
        :message="dialogMessage"
        @ok="handleOke"
        @cancel="handleCancel"
    />
    <ConfirmDialog
        :visible="isShowConfirmJobLevel"
        :message="dialogMessageJobLevel"
        @ok="handleOkeJobLevel"
        @cancel="handleCancelJobLevel"
    />

  </div>
</template>

<script lang="js" src="./Configurations.js">
</script>

<style lang="scss">
.job-title {
    margin: 1rem 0;
  }
.header-drawer-joblevel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.configuration {
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    height: 34px;
    line-height: 30px;
  }

  .ant-tabs-bar {
    margin: 0 0 11px 0;
  }

  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {

    background: #e8e8e8;
    text-align: center;
    margin-right: 0px;
    font-weight: 600;
    font-size: 0.725rem;
    //font-size: 12px;
  }

  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
    color: #333;
  }

  .ant-tabs-nav {
    width: 100%;

    > div {
      display: flex;
      width: 100%;
      flex-wrap: wrap;

      .ant-tabs-tab {
        flex: 1;
        border: 1px solid #e8e8e8;
        border-bottom: none;
        border-right: 2px solid white !important;
        border-radius: unset;
        height: 40px;
      }
    }
  }

  .export-button{
    color: #fff;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    background-color: #0052cc;
  }
}
</style>
