<template>
  <a-row class="filter-layout">
    <a-col class="filter-col" :md="this.setMd()">
      <template v-for="col in filterConfig.controls">
        <a-col
          :md="
            filterConfig.controls.length === 1
              ? 5
              : filterConfig.controls.length === 5
              ? 4
              : filterConfig.controls.length >= 6
              ? 3
              : filterConfig.controls.length === 4
              ? 6
              : filterConfig.controls.length === 3
              ? 8
              : 9
          "
          v-if="!col.isToggle"
          :key="col.name"
          class="flex-container"
          @keyup.enter="onApplyFilter"
        >
          <a-range-picker
            v-if="col.type === 'dateRange'"
            :placeholder="dateDeadlineFormatList"
            :format="dateFormat"
            :style="{ width: '100%' }"
            :value="[
              filters.fromDate ? moment(filters.fromDate) : undefined,
              filters.toDate ? moment(filters.toDate) : undefined,
            ]"
            @change="(e) => onChangeValue(e, col.name, col.type)"
          />

          <!-- <DatePicker picker="year"
              v-if="col.type === 'yearPicker'"
              :placeholder="'Year'"
              v-model="referenceDate"
              :format="dateFormat"
              :style="{ width: '100%' }"
              @change="(e) => onChangeValue(e, col.name, col.type)"
          /> -->
          <input
            v-if="col.type === 'textLike'"
            :value="filters.titleRequest"
            style="width: 100%; height: 32px; border: 0.5px solid #ddd; border-radius: 4px"
            @change="(e) => onChangeValue(e, col.name, col.type)"
            :placeholder="col.placeholder"
          />
          <select
            :id="col.name + col.type + currentTab + currentPage"
            style="width: 100%; height: 32px; border-color: #ddd; border-radius: 4px"
            @change="(e) => onChangeValue(e, col.name, col.type)"
            v-if="col.type === 'yearPicker'"
          >
            <option v-for="year in yearsForSelect" :key="year" selected="year==currentYear" :value="year">
              {{ year }}
            </option>
          </select>
          <a-date-picker
            v-if="col.type === 'datePicker'"
            :placeholder="'Deadline'"
            v-model="referenceDate"
            :format="dateFormat"
            :style="{ width: '100%' }"
            @change="(e) => onChangeValue(e, col.name, col.type)"
          />
          <a-select
            v-else-if="col.type === 'auto-complete'"
            allowClear
            mode="multiple"
            :class="dynamicClass"
            :value="filters.requestIds"
            :placeholder="col.placeholder"
            :style="{ width: '100%' }"
            v-model="filters[col.name]"
            :not-found-content="fetching ? undefined : null"
            :default-active-first-option="false"
            :filter-option="false"
            @search="(value) => onSearch(value, col.name)"
            @change="(e) => onChangeValue(e, col.name, col.type)"
            :maxTagCount="1"
            :dropdownMatchSelectWidth="false"
          >
            <a-spin v-if="fetching" slot="notFoundContent" size="small" />
            <template
              v-if="
                col.name === 'employee' ||
                col.name === 'approver' ||
                col.name === 'assignee' ||
                col.name === 'userList' ||
                col.name === 'member'
              "
            >
              <a-select-option
                class="font-size-option-select"
                v-for="item in employeeList"
                :key="item.value"
                :value="item.value"
                >{{ item.label + " (" + item.value + " - " + item.department + ")" }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'configurations'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in configurationList"
                :key="item.name"
                :value="item.name"
              >
                {{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'titleRequest'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in titleRequestList"
                :key="item.name"
                :value="item.id"
              >
                {{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'candidate'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in candidateTitleList"
                :key="item.fullName"
                :value="item.id"
              >
                {{ item.fullName }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'keyword'">
              <a-select-option class="font-size-option-select" v-for="item in skills" :key="item.id" :value="item.id">
                {{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'requestIds'">
              <a-select-option class="font-size-option-select" v-for="item in requestIds" :key="item" :value="item">
                R{{ item }}
              </a-select-option>
            </template>
          </a-select>
          <a-select
            v-else-if="col.type === 'multiple-select' || col.type === 'select'"
            :allowClear="col.name !== 'payroll_period'"
            :mode="col.type === 'multiple-select' ? 'multiple' : ''"
            :showSearch="col.type !== 'multiple-select' ? true : false"
            :placeholder="col.placeholder"
            :style="{ width: '100%' }"
            v-model="filters[col.name]"
            @focus="userRole.title == 'RTS-GLead' ? focusDepartment() : ''"
            :not-found-content="fetching ? undefined : null"
            @change="(e) => onChangeValue(e, col.name, col.type)"
            :filter-option="col.keyMatchCount ? filterOptionKeyMatchCount : filterOption"
            :maxTagCount="1"
          >
            <template v-if="col.name === 'department' || col.name === 'departments'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in departmentList"
                :key="item.name"
                :value="item.deparment_code"
                >{{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'otType'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in otTypeList"
                :key="item.type"
                :value="item.type"
                >{{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'actual'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in actualTypeList"
                :key="item.code"
                :value="item.code"
                >{{ item.message }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'projects'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in projectList"
                :key="item.project_name"
                :value="item.project_id"
                >{{ item.project_name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'role'">
              <a-select-option class="font-size-option-select" v-for="item in roleList" :key="item" :value="item"
                >{{ item }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'reason_type'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in reasonsTypeList"
                :key="item.reason_type_code"
                :value="item.reason_type_code"
                >{{ item.reason_type }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'absent_type'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in absentTypesList"
                :key="item.type"
                :value="item.type"
                >{{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'status'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in statusTypeList"
                :key="item.type"
                :value="item.type"
                >{{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'status-onsite'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in statusTypeList"
                :key="item.type"
                :value="item.type"
                >{{ item.name }}
              </a-select-option>
            </template>

            <template v-if="col.name === 'request_type'">
              <a-select-option
                class="font-size-option-select"
                v-for="(item, index) in requestAbnormalTypeList"
                :key="index"
                :value="item.reason_type_code"
                >{{ item.reason_type }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'location'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in locationList"
                :key="item.code"
                :value="item.name"
                >{{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'hr'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in hrs"
                :key="item.username"
                :value="item.username"
                >{{ item.fullName + " (" + item.username + ")" }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'group'">
              <a-select-option class="font-size-option-select" v-for="item in groups" :key="item.id" :value="item.id"
                >{{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'department'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in departments"
                :key="item.id"
                :value="item.id"
                >{{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'project'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in projects"
                :key="item.projectId"
                :value="item.projectId"
                >{{ item.projectName }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'status'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in statuses"
                :key="item.id"
                :value="item.name"
                >{{ formatNewStatus(item.name) }}
              </a-select-option>
            </template>
            <!--              interview -->
            <template v-if="col.name === 'interviewLocation'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in interviewLocations"
                :key="item.id"
                :value="item.name"
                >{{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'interviewInterviewer'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in interviewInterviewers"
                :key="item.name"
                :value="item.name"
                >{{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'interviewStatus'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in interviewStatuses"
                :key="item.id"
                :value="item.id"
                >{{ item.name }}
              </a-select-option>
            </template>

            <template v-if="col.name === 'payroll_period' || col.name === 'timesheetId'">
              <a-select-option
                v-for="item in payrollPeiodList"
                :key="item.timesheet_id"
                :value="item.timesheet_id"
                class="font-size-option-select"
                >{{ moment(item.from_date).format("DD/MM/YYYY") + " - " + moment(item.to_date).format("DD/MM/YYYY") }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'table'">
              <a-select-option class="font-size-option-select" v-for="item in tableList" :key="item" :value="item"
                >{{ item }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'experience'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in experiences"
                :key="item.name"
                :value="item.id"
                >{{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'skill'">
              <a-select-option class="font-size-option-select" v-for="item in skills" :key="item.name" :value="item.id">
                {{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'salary'">
              <a-select-option class="font-size-option-select" v-for="item in salary" :key="item.id" :value="item.from">
                {{ `${formatNumberToVND(item.from)} - ${formatNumberToVND(item.to)}` }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'jobType'">
              <a-select-option class="font-size-option-select" v-for="item in jobType" :key="item.id" :value="item.id">
                {{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'area'">
              <a-select-option class="font-size-option-select" v-for="item in areas" :key="item.id" :value="item.id"
                >{{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'priority'">
              <a-select-option
                class="font-size-option-select"
                v-for="item in priorities"
                :key="item.id"
                :value="item.id"
                >{{ item.name }}
              </a-select-option>
            </template>
            <template v-if="col.name === 'language'">
              <a-select-option class="font-size-option-select" v-for="item in languages" :key="item.id" :value="item.id"
                >{{ item.name }}
              </a-select-option>
            </template>
          </a-select>
          <a-checkbox
            style="margin-top: 7px"
            v-else-if="col.type === 'checkbox'"
            :checked="filters[col.name]"
            @change="(e) => onChangeValue(e, col.name, col.type)"
            >{{ col.placeholder }}
          </a-checkbox>
        </a-col>
      </template>
    </a-col>
    <a-col class="p0" :md="filterConfig.controls.length >= 6 ? 3 : filterConfig.controls.length < 4 ? 6 : 4">
      <div class="ml10 p0">
        <a-tooltip title="Advanced Search">
          <a-switch size="small" class="mr10" v-if="filterConfig.page === 'Timesheet'" @change="onChangeSwitch" />
        </a-tooltip>
        <a-tooltip title="Search">
          <a-button @click="onApplyFilter" class="mr10" type="primary" :disabled="isDisableBtnSearch">
            <a-icon type="search" />
          </a-button>
        </a-tooltip>
        <a-tooltip title="Reload Search">
          <a-button @click="onCleanFilter" class>
            <a-icon type="reload" />
          </a-button>
        </a-tooltip>
      </div>
    </a-col>
  </a-row>
</template>

<script>
import { mapState } from "vuex";
import { filtersJson } from "../commons/commonConstant";
import { formatNumberToVND, formatNewStatus } from "../commons/commons";
import moment from "moment";
import Vue from "vue";
import StartYear from "../../store/modules/configurationModule/kpi";

export default {
  name: "FilterLayout",
  props: {
    onApplyFilters: {
      type: Function,
    },
    currentPage: {
      type: String,
    },
    currentTab: {
      type: String,
    },
    requestId: {
      type: Number,
    },
    dynamicClass: String,
    payloadRequest: {},
  },

  data() {
    let now = new Date();
    let currentYear = now.getFullYear();
    let yearsForSelect = [];

    for (let i = 2020; i <= currentYear; i++) yearsForSelect.push(i);
    return {
      referenceDate: "",
      filterConfig: {},
      reasonsTypeList: [],
      visiable: false,
      mdNum: 17,
      formatNumberToVND,
      statusTypeList: [],
      requestData: [],
      dataSelect: [],
      dateFormatList: ["DD/MM/YYYY", "DD/MM/YYYY"],
      dateFormat: "DD/MM/YYYY",
      dateDeadlineFormatList: ["Deadline From", "Deadline To"],
      fetching: false,
      filters: {},
      requestAbnormalTypeList: [],
      isDisableBtnSearch: false,
      timeout: null,
      yearsForSelect: yearsForSelect,
      currentYear: currentYear,
    };
  },

  computed: {
    ...mapState({
      requestTypeList: (state) => state.application.requestTypeList,
      payrollPeiodList: (state) => state.application.payrollPeiodList,
      locationList: (state) => state.application.locationList,
      reportStatusList: (state) => state.application.reportStatusList,
      employeeList: (state) => state.application.employeeList,
      absentTypesList: (state) => state.application.absentTypesList,
      statusList: (state) => state.application.statusList,
      reasonTypeList: (state) => state.application.reasonTypeList,
      departmentList: (state) => state.application.departmentList,
      tableList: (state) => state.application.tableList,
      roleList: (state) => state.application.roleList,
      reasonRequestList: (state) => state.request.dataRequestSelections,
      projectList: (state) => state.application.projectList,
      otTypeList: (state) => state.application.otTypeList,
      actualTypeList: (state) => state.abnormalcase.dataActual,
      configurationList: (state) => state.configurations.configurationList,
      //request
      hrs: (state) => state.rtsRequest.assigneeList,
      groups: (state) => state.rtsApplication.groupList,
      departments: (state) => state.rtsApplication.departmentList,
      projects: (state) => state.rtsApplication.projectList,
      statuses: (state) => state.rtsApplication.statusList,
      titleRequestList: (state) => state.rtsApplication.titleList,
      //interview
      interviewLocations: (state) => state.rtsApplication.interviewLocationList,
      interviewInterviewers: (state) => state.rtsApplication.interviewInterviewerList,
      interviewStatuses: (state) => state.rtsApplication.interviewStatusList,
      candidateTitleList: (state) => state.rtsCandidate.candidateTitleList,
      skills: (state) => state.rtsApplication.skillList,
      requestIds: (state) => state.rtsRequest.idList,
      experiences: (state) => state.experience.experienceList,
      salary: (state) => state.salary.salary,
      jobType: (state) => state.rtsShareJob.jobType,
      areas: (state) => state.rtsShareJob.area,
      userRole: (state) => state.user.userRole,
      userInfo: (state) => state.user.userInfo,
      priorities: (state) => state.rtsShareJob.priority,
      languages: (state) => state.rtsApplication.languageList,
    }),
  },

  watch: {
    filters: function () {
      this.setMd();
      let oldStore = JSON.parse(localStorage.getItem("PayloadRequest"));
      if (oldStore.limit) {
        this.filters.limit = oldStore.limit;
        localStorage.setItem("PayloadRequest", JSON.stringify(this.filters));
      } else {
        localStorage.setItem("PayloadRequest", JSON.stringify(this.filters));
      }
    },
    currentTab: function (newCurrentTab) {
      if (newCurrentTab == "KPI") this.dateFormat = "YYYY";
      else this.dateFormat = '"DD/MM/YYYY"';
    },
  },

  methods: {
    moment,
    formatNewStatus,
    ////Get config control
    getFiltersJson() {
      const currentPage = this.currentPage;
      const currentTab = this.currentTab;
      let findObj = JSON.parse(JSON.stringify(filtersJson[currentPage]));
      if (currentTab) findObj = findObj[currentTab];
      if (findObj) {
        // if (
        //   this.userRole.title !== "RTS-Admin" &&
        //   this.userRole.title !== "RTS-TA" &&
        //   this.userRole.title !== "RTS-TALead" &&
        //   this.userRole.title !== "RTS-TA-MNG"
        // ) {
        //   findObj.controls = findObj.controls.filter((item) => {
        //     if (this.userRole.title === "RTS-GLead") {
        //       return item.name !== "group";
        //     }
        //     return item.name !== "group" && item.name !== "department";
        //   });
        // }
        this.filterConfig = findObj;
      } else this.filterConfig = {};
    },
    focusDepartment() {
      this.$store.dispatch(
        "rtsApplication/getDepartmentListByGroup",
        Vue.observable([Number(this.userInfo?.groupIds.replace(",", ""))]),
      );
    },
    setMd() {
      switch (this.filterConfig.controls.length) {
        case 1:
          this.mdNum = 4;
          break;
        case 2:
          this.mdNum = 10;
          break;
        case 3:
        case 4:
          this.mdNum = 14;
          break;
        case 5:
          this.mdNum = 18;
          break;
        case 6:
        case 7:
          this.mdNum = 21;
          break;
        default:
          break;
      }

      return this.mdNum;
    },
    ////handle change value control and set filter obj
    onChangeValue(e, name, type) {
      if (type == "yearPicker" || type == "textLike") e = e.srcElement.value;
      let value = e;
      let startDateName = "fromDate";
      let endDateName = "toDate";
      if (name === "group") {
        this.$store.dispatch(
          "rtsApplication/getDepartmentListByGroup",
          value ? value : Vue.observable([Number(this.userInfo.groupIds.replace(",", ""))]),
        );
      }
      if (type === "dateRange") {
        if (this.currentPage === "checkin_checkout" || this.currentPage === "checkin_checkout_by_staff") {
          let startDate = e[0];
          let endDate = e[1];
          let months = endDate.diff(startDate, "months", true);
          if (months > 1) {
            endDate = moment(e[0]).add(1, "month");
          }
          this.filters = {
            ...this.filters,
            [startDateName]: e[0],
            [endDateName]: endDate,
          };
        } else if (this.currentPage === "checkIO_report") {
          let startDate = e[0];
          let endDate = e[1];
          if (e.length > 1) {
            let months = endDate.diff(startDate, "months", true);
            if (months > 3) {
              endDate = moment(e[0]).add(3, "month");
              this.$message.warning("Data Range must not exceed 3 months!", 5);
            }
            this.filters = {
              ...this.filters,
              [startDateName]: startDate,
              [endDateName]: endDate,
            };
          } else {
            this.filters = {
              ...this.filters,
              [startDateName]: undefined,
              [endDateName]: undefined,
            };
          }
        } else {
          this.filters = {
            ...this.filters,
            [startDateName]: e[0],
            [endDateName]: e[1],
          };
        }
      } else {
        if (type === "checkbox") {
          value = e.target.checked;
        }
        this.filters = {
          ...this.filters,
          [name]: value,
        };
      }
      this.checkDisableBtnSearch();
    },

    checkDisableBtnSearch() {
      const { filters, currentPage } = this;
      if (currentPage === "checkin_checkout" && filters && filters.employee && filters.employee.length > 1) {
        this.isDisableBtnSearch = true;
      } else {
        this.isDisableBtnSearch = false;
      }
      //check disable for TMS Report Check in out page
      if (currentPage === "checkIO_report") {
        this.isDisableBtnSearch = true;
        if (
          filters.fromDate !== undefined &&
          filters.toDate !== undefined &&
          ((filters.projects && filters.projects !== null) ||
            (filters.departments && filters.departments.length > 0) ||
            (filters.userList && filters.userList.length > 0))
        ) {
          this.isDisableBtnSearch = false;
        } else this.isDisableBtnSearch = true;
      }
    },

    /// Apply filter
    onApplyFilter() {
      localStorage.setItem("PayloadRequest", JSON.stringify(this.filters));
      console.log("control", this.filterConfig);
      this.filterConfig.controls.forEach((f) => {
        let value = document.getElementById(f.name + f.type + this.currentTab + this.currentPage)?.value;
        console.log("🚀 ~ file: FilterLayout.vue ~ line 679 ~ this.filterConfig.controls.forEach ~ value", value);
        if (!this.filters[f.name] && value) this.filters[f.name] = value;
      });
      this.onApplyFilters(this.filters);
    },

    buidingUrl(filters) {
      const pathName = this.$route.path;
      let cloneFilter = filters;
      let url = "";
      let params = {};
      Object.keys(cloneFilter).map((it) => {
        let val = cloneFilter[it];
        if (it === "fromDate" || it === "toDate") {
          val = cloneFilter[it] ? moment(cloneFilter[it]).format("YYYY-MM-DD") : undefined;
          // cloneFilter[it] = val;
          params[it] = val;
        }
        if (Array.isArray(val)) {
          if (val.length > 0) {
            params[it] = val;
            url += `${url.length ? "&" : "?"}${it}=${val}`;
          }
        } else if (val) {
          params[it] = val;
          url += `${url.length ? "&" : "?"}${it}=${val}`;
        }
        return it;
      });
      this.$router.push({ path: pathName, query: params }).catch(() => {});
    },

    //// handle clean filter data
    onCleanFilter() {
      this.$emit("onCleanFilter");
      const { payrollPeiodList, currentPage } = this;
      if (currentPage === "checkin_checkout") {
        this.filters = {
          fromDate: moment().startOf("month"),
          toDate: moment().endOf("month"),
        };
      } else if (currentPage === "timesheet" || currentPage === "timesheet_user") {
        if (payrollPeiodList) {
          let findCurrentPeriod = payrollPeiodList.find((item) => item.is_current_timesheet);
          if (findCurrentPeriod) {
            this.filters = {
              payroll_period: findCurrentPeriod.timesheet_id,
            };
          } else {
            this.filters = {};
          }
        } else this.filters = {};
      } else if (currentPage === "payroll_report_detail" || currentPage === "payroll_report_summary") {
        if (payrollPeiodList) {
          let findCurrentPeriod = payrollPeiodList.find((item) => item.is_current_timesheet);
          if (findCurrentPeriod) {
            this.filters = {
              timesheetId: findCurrentPeriod.timesheet_id,
            };
          } else {
            this.filters = {};
          }
        } else this.filters = {};
      } else {
        this.filters = {};
        // reset date
        this.referenceDate = null;
      }
      // const pathName = this.$route.path;
      this.checkDisableBtnSearch();
      this.onApplyFilters(this.filters);
      // this.$router.push({ path: pathName });
    },

    /// Get default filters
    getQueryStringSetFilter() {
      let queryStr = this.$route.query;
      let config = this.filterConfig;
      config.controls.map((item) => {
        let type = item.type;
        let name = item.name;
        if (type === "date" && queryStr && queryStr[name]) {
          queryStr[name] = moment(queryStr[name] * 1000);
        }
        if (type === "dateRange" && queryStr) {
          if (queryStr["startDate"]) {
            queryStr.startDate = moment(queryStr["startDate"]);
          } else {
            queryStr.startDate = moment().startOf("month");
          }
          if (queryStr["endDate"]) {
            queryStr.endDate = moment(queryStr["endDate"]);
          } else {
            queryStr.endDate = moment().endOf("month");
          }
        }
        if (type === "checkbox" && queryStr && queryStr[name]) {
          if (queryStr[name] === "true" || queryStr[name] === true) {
            queryStr[name] = true;
          } else queryStr[name] = false;
        }
        if (type === "select" && queryStr && queryStr[name] && !isNaN(queryStr[name])) {
          queryStr[name] = parseInt(queryStr[name]);
        }
        return item;
      });
      this.filters = queryStr;
      this.buidingUrl(queryStr);
    },
    ////On disable start_date and end_date
    onDisableDate(date, name) {
      let filterObj = this.filters;
      if (name === "start_date") {
        if (!date || !filterObj.end_date) return false;
        else if (filterObj.end_date) return date.isAfter(filterObj.end_date, "day");
        else return false;
      }
      if (name === "end_date") {
        if (!date || !filterObj.start_date) return false;
        else if (filterObj.start_date) {
          return date.isBefore(filterObj.start_date, "day");
        } else return false;
      }
    },
    filterOption(input, option, isMatchToKeyCount) {
      let textMatch = option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0;
      let keyMatch = isMatchToKeyCount && option.key.toLowerCase().indexOf(input.toLowerCase()) >= 0;
      return textMatch || keyMatch;
    },
    filterOptionKeyMatchCount(input, option) {
      return this.filterOption(input, option, true);
    },
    async getFilterSelectData() {
      const { filterConfig, filters } = this;
      if (filterConfig) {
        let findControlPeriod = filterConfig.controls.find(
          (item) => item.name === "payroll_period" || item.name === "timesheetId",
        );

        if (findControlPeriod) {
          await this.$store.dispatch("application/getListPayrollPeriodList").then((res) => {
            if (res && res.data) {
              let findCurrentTimesheet = res.data.find((item) => item.is_current_timesheet);
              if (findCurrentTimesheet != undefined) {
                if (findControlPeriod.name === "timesheetId") {
                  this.filters = {
                    ...filters,
                    timesheetId: findCurrentTimesheet.timesheet_id,
                  };
                } else {
                  this.filters = {
                    ...filters,
                    payroll_period: findCurrentTimesheet.timesheet_id,
                  };
                }
              } else {
                this.filters = {
                  ...filters,
                  payroll_period: res.data[0].timesheet_id,
                };
              }
            }
          });
        }
        filterConfig.controls.map((item) => {
          switch (item.name) {
            case "location":
              this.$store.dispatch("application/getLocationList");
              break;
            case "status":
              this.$store.dispatch("rtsApplication/getStatusList");
              break;
            case "role":
              this.$store.dispatch("application/getRoleList");
              break;
            case "table":
              this.$store.dispatch("application/getTableList");
              break;
            case "department":
              this.$store.dispatch(
                "rtsApplication/getDepartmentListByGroup",
                Vue.observable([Number(this.userInfo?.groupIds.replace(",", ""))]),
              );
              break;
            case "project":
              this.$store.dispatch("rtsApplication/getProjectList");
              break;
            case "actual":
              this.$store.dispatch("abnormalcase/getParamsDataToSelectActual");
              break;
            case "request_type":
              this.$store.dispatch("application/getReasonTypeList").then((res) => {
                if (res) {
                  let temp = [];
                  res.forEach((element) => {
                    element.reasons.forEach((reason) => {
                      temp.push(reason);
                    });
                  });
                  this.requestAbnormalTypeList = temp;
                }
              });
              break;
            case "absent_type":
              this.$store.dispatch("application/getAbsentList");
              break;
            case "otType":
              this.$store.dispatch("application/getOTTypeList");
              break;
            case "reason_type":
              this.$store.dispatch("request/getParamsDataToSelect").then((res) => {
                if (res) {
                  let temp = [];
                  res.data.request_reason.forEach((element) => {
                    element.reasons.forEach((reason) => {
                      temp.push(reason);
                    });
                  });
                  this.reasonsTypeList = temp;
                }
              });
              break;
            case "projects":
              this.$store.dispatch("rtsApplication/getProjectList");
              break;
            case "hr":
              this.$store.dispatch("rtsRequest/getAssigneeLeadList");
              break;
            case "experience":
              this.$store.dispatch("experience/getExperienceList", {
                offset: 1,
                limit: 10,
                like: "0",
              });
              break;
            case "salary":
              this.$store.dispatch("salary/getListSalary");
              break;
            case "jobType":
              this.$store.dispatch("rtsShareJob/getJobType");
              break;
            case "area":
              this.$store.dispatch("rtsShareJob/getAreas");
              break;
            case "priority":
              this.$store.dispatch("rtsShareJob/getPriority");
              break;
            case "language":
              this.$store.dispatch("rtsApplication/getLanguageList");
              break;
          }
          return item;
        });
      }
    },
    onChangeSwitch(checked) {
      this.filterConfig.controls.forEach((item) => {
        if (item.isToggle != undefined) {
          this.filters[item.name] = [];
          item.isToggle = !checked;
        }
      });
    },
    onSearch(value, name) {
      let cloneVal = decodeURI(value);
      if (value && value !== "" && value.length >= 1) {
        if (
          name === "employee" ||
          name === "approver" ||
          name === "assignee" ||
          name === "userList" ||
          name === "member"
        ) {
          this.fetching = true;
          clearTimeout(this.timeout);
          this.timeout = setTimeout(() => {
            this.$store
              .dispatch("application/getEmployeeList", cloneVal)
              .then(() => {
                this.fetching = false;
              })
              .catch(() => {
                this.fetching = false;
              });
          }, 1000);
        } else if (name === "configurations") {
          this.fetching = true;
          clearTimeout(this.timeout);
          this.timeout = setTimeout(() => {
            const payload = {
              tab: this.currentTab,
              name: cloneVal,
            };
            this.$store
              .dispatch("configurations/getConfigurationByTab", payload)
              .then(() => {
                this.fetching = false;
              })
              .catch(() => {
                this.fetching = false;
              });
          }, 1000);
        } else if (name === "titleRequest") {
          this.fetching = true;
          clearTimeout(this.timeout);
          this.timeout = setTimeout(() => {
            this.$store
              .dispatch("rtsApplication/getTitleList", { name: cloneVal })
              .then(() => {
                this.fetching = false;
              })
              .catch(() => {
                this.fetching = false;
              });
          }, 1000);
        } else if (name === "candidate") {
          this.fetching = true;
          clearTimeout(this.timeout);
          this.timeout = setTimeout(() => {
            this.$store
              .dispatch("rtsCandidate/getCandidateTitleList", {
                searchString: cloneVal,
                requestId: this.requestId,
              })
              .then(() => {
                this.fetching = false;
              })
              .catch(() => {
                this.fetching = false;
              });
          }, 1000);
        } else if (name === "keyword") {
          this.fetching = true;
          clearTimeout(this.timeout);
          this.timeout = setTimeout(() => {
            this.$store
              .dispatch("rtsApplication/getSkillList", { name: cloneVal })
              .then(() => {
                this.fetching = false;
              })
              .catch(() => {
                this.fetching = false;
              });
          }, 1000);
        } else if (name === "requestIds") {
          if (cloneVal.length > 1) {
            this.fetching = true;
            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
              cloneVal.toLowerCase();
              if (cloneVal.charAt(0).toLowerCase() === "r") {
                cloneVal = cloneVal.substring(1);
                this.$store
                  .dispatch("rtsRequest/getIdList", cloneVal)
                  .then((res) => {
                    this.fetching = false;
                  })
                  .catch(() => {
                    this.fetching = false;
                  });
              }
            }, 1000);
          }
        }
      }
    },
  },
  created() {
    this.getFiltersJson();

    sessionStorage.setItem(
      this.filterConfig.page,
      JSON.stringify({
        page: 1,
        size: 10,
      }),
    );
  },

  mounted() {
    if (localStorage.getItem("PayloadRequest")) {
      this.filters = JSON.parse(localStorage.getItem("PayloadRequest"));
    } else {
      localStorage.setItem("PayloadRequest", JSON.stringify(this.filters));
    }
    const paramTimesheetId = this.$route.query.timesheetid;
    this.getFilterSelectData();
    if (paramTimesheetId) {
      this.filters.payroll_period = paramTimesheetId;
    }

    this.onChangeSwitch(false);
    this.onApplyFilters(this.filters);
    this.checkDisableBtnSearch();
  },
};
</script>
<style lang="scss"></style>
