<template>
  <div>
    <div :class="currentPage === 'detail' ? 'detail-container-search': 'container-search'">
      <div class="container-search-select-left">
        <a-select placeholder="Enter Keyword" class="keyword"  :showSearch="true" mode="multiple" v-model="filters.keyword"  @search="(value) => onSearch(value, filters.keyword)" allowClear     :default-active-first-option="false"
      :filter-option="false">
          <a-spin v-if="fetching" slot="notFoundContent" size="small"/>
          <a-select-option
            class="font-size-option-select"
            v-for="item in skills"
            :key="item.id"
            :value="item.id"
          >
            {{ item.name }}
          </a-select-option>
        </a-select>
        <div class="bottom">
          <a-select placeholder="Job Type" v-model="filters.jobType">
            <a-select-option
              class="font-size-option-select"
              v-for="item in jobType"
              :key="item.id"
              :value="item.id"
              >{{ item.name }}
            </a-select-option>
          </a-select>
          <a-date-picker
            :placeholder="'Deadline'"
            v-model="filters.deadline"
            :format="dateFormat"
           
          />
        </div>
      </div>
      <div class="container-search-select-right">
        <a-select placeholder="Location" v-model="filters.area">
          <a-select-option
            class="font-size-option-select"
            v-for="item in areas"
            :key="item.toString()"
            :value="item.id"
            
            >{{ item.name }}
          </a-select-option>
        </a-select>
        <div class="button">
          <a-button @click="onApplyFilter" class="mr10 btn-search" >
            Search
          </a-button>
          <a-button @click="onCleanFilter"> Reset </a-button>
        </div>
        <a-select placeholder="Experience" v-model="filters.experiences">
          <a-select-option
            class="font-size-option-select"
            v-for="item in experiences"
            :key="item.id"
            :value="item.id"
            >{{ item.name }}
          </a-select-option>
        </a-select>

      </div>
    </div>
  </div>
</template>

<script>
import { formatNumberToVND } from "../commons/commons";
import { filtersJson } from "../commons/commonConstant";
import { mapState } from 'vuex';
export default {
  name: "FilterLayoutJobPosting",
  props: {
    onSetDataFilters: {
      type: Function,
    },
    onApplyFilters: {
      type: Function,
    },
    currentTab: {
      type: String,
    },
    datafilterDefault: {
      type: Object,
    },
    requestId: {
      type: Number,
    },
    dynamicClass: String,
  },
  data() {
    return {
      filterConfig: {},
      filters: {
        keyword:undefined,
        jobType:undefined,
        deadline:undefined,
        area: undefined,
        experiences:undefined,
        salary:undefined
      },
      referenceDate: "",
       fetching: false,
       timeout: null,
      dateFormat: "DD/MM/YYYY",
      formatNumberToVND,
    };
  },
  created() {
    this.$store.dispatch("experience/getExperienceList", {
      offset: 1,
      limit: 10,
      like: "0",
    });
    this.$store.dispatch("salary/getListSalary");
    this.$store.dispatch("rtsShareJob/getJobType");
    this.$store.dispatch("rtsShareJob/getAreas");

  },
  watch: {
    filters: function (newFilters) {
      this.onSetDataFilters(newFilters);
    },


  },
  computed: {
    ...mapState({
      locationList: state => state.application.locationList,
      skills: (state) => state.rtsApplication.skillList,
      experiences: (state) => state.experience.experienceList,
      salary: (state) => state.salary.salary,
      jobType: (state) => state.rtsShareJob.jobType,
      areas: (state) => state.rtsShareJob.area,
      currentPage: (state) => state.rtsShareJob.currentPage,
      currentFilter: (state) => state.rtsShareJob.currentFilter,
      isClearFilter: (state) => state.rtsShareJob.isClear
    }),
  },
  methods: {
    onApplyFilter() {
       const newPayload = this.mergeObject(this.currentFilter,this.filters)
       this.$store.commit("rtsShareJob/SET_CLEAR_STATE",false)
       this.$store.commit("rtsShareJob/SET_CURRENT_FILTER",newPayload)
       this.$emit("onApplyFilter", newPayload)
    },
    mergeObject(obj1,obj2) {
      let res = {};
      Object.keys({...obj1,...obj2}).map(key => {
        res[key] = obj2[key] ||obj1[key];
      });
      return res;
    },

    onCleanFilter() {
      this.filters = {}
      this.$store.commit("rtsShareJob/SET_CURRENT_FILTER",this.filters)
      this.$emit('onCleanFilter');
      this.$store.dispatch("rtsApplication/getSkillList", {name: this.filters.keyword})
    },
     onSearch(value){
      let cloneVal = decodeURI(value);
      if (value && value !== "" && value.length >= 3) {
        this.fetching = true;
          clearTimeout(this.timeout);
          this.timeout = setTimeout(() => {
            this.$store
                .dispatch("rtsApplication/getSkillList", {name: cloneVal})
                .then((res) => {
                  this.fetching = false;
                })
                .catch(() => {
                  this.fetching = false;
                });
          }, 1000);
      }
    },
  }
};
</script>

<style  lang="scss">
.container-search {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding-bottom: 1rem;
}
.detail-container-search{
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.container-search-select-left {
  display: grid;
  grid-row-gap: 10px;
  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  .keyWord {
    width: 100%;
  }
}
.btn-search {
  background-color: #1D99D6 !important;
  color: #fff;
  border: none;
}
.container-search-select-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  .button {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .container-search {
    display: grid;
    grid-template-columns: auto;
  }
  .detail-container-search {
    display: grid;
    grid-template-columns: auto;
  }
  .container-search-select-right {
    padding-top: 0.5rem;
  }
}
</style>