<template>
  <a-col>
  <a-select
      allowClear
      mode="multiple"
      :placeholder="'Search Interviewer'"
      :style="{ width: '100%' }"
      v-model="searchName"
      :default-active-first-option="false"
      :filter-option="false"
      :disabled="isDisabled"
      @search="(value) => onSearch(value, searchName)"
      @change="(e) => onChangeValue(e, searchName)"
      :maxTagCount="1"
      :dropdownMatchSelectWidth="false"
   >
    <a-spin v-if="fetching" slot="notFoundContent" size="small"/>
    <template>
      <a-select-option
          class="font-size-option-select"
          v-for="item in data"
          :key="item.username"
          :value="item.username"
      >
        {{ item.name }}
      </a-select-option>
    </template>
  </a-select>

  </a-col>
</template>
<script>
import { mapActions } from "vuex";

export default {
  props: {
    isDisabled: Boolean,
    data: Array,
  },
  data() {
    return {
      searchName: undefined,
      fetching: false,
      timeout: null,
    };
  },

  methods: {
    ...mapActions({
      getInterviewers: 'rtsInterviewTab/getInterviewer',

    }),
    onSearch(value){
      let cloneVal = decodeURI(value);
      if (value && value !== "" && value.length >= 3) {
        this.fetching = true;
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => {
          this.getInterviewers(cloneVal)
              .then(() => {
                this.fetching = false;
              })
              .catch(() => {
                this.fetching = false;
              });
        },800)
      }
    },
    onChangeValue(item){
      this.$emit('onChangeValue', item)
    }
  },

}
</script>
