<template>
  <div class="p15 mt98">
    <a-spin :spinning="loading">
      <a-row>
        <div class="card-container">
          <a-tabs type="card" @change="onSelectTab" v-model="currentTab">
            <a-tab-pane key="work_type" tab="Working Type">
              <div>
                <EditingTable
                  :dataSource="workTypeList"
                  :columns="workTypeColumns"
                  :totalElement="total_element_workType"
                  :getPage="getWorkTypeList"
                />
              </div>
            </a-tab-pane>
            <a-tab-pane key="payroll_period" tab="Payroll Period">
              <div>
                <EditingTable
                  :dataSource="payrollPeriodList"
                  :columns="workPeriodColumns"
                  :totalElement="total_element_period"
                  :getPage="getPayrollPeriodList"
                />
              </div>
            </a-tab-pane>
          </a-tabs>
        </div>
      </a-row>
    </a-spin>
  </div>
</template>
<script type='script' lang='js' src ='./Setting.js' />
