<template>
  <div class="bg-white p10 timsheet-user-role">
    <a-row>
      <a-col :md="12" class="p10">
        <a-row class="mb20">
          <a-col :md="24">
            <div class="page-title title-bold mb10">
              Timesheet Details Month {{ timesheetInfo.to_date | formatMonth }}
            </div>
            <div class="page-description">
              From {{ timesheetInfo.from_date | formatDate }} To
              {{ timesheetInfo.to_date | formatDate }}
            </div>
          </a-col>
        </a-row>
      </a-col>
      <a-col :md="12" class="p10">
        <a-card class="staff-info mb15">
          <a-row>
            <a-col :md="4">
              <a-avatar
                size="large"
                :style="{ backgroundColor: colorAvatar }"
                >{{
                  timesheetUser.name ? getAvatarName(timesheetUser.name) : ""
                }}</a-avatar
              >
            </a-col>
            <a-col :md="20">
              <a-row>
                <a-col :md="12">
                  <div class="mb5">
                    {{ timesheetUser.name ? timesheetUser.name : "" }}
                  </div>
                  <div class="mb5">
                    Payroll Period: {{ timesheetInfo.from_date | formatDate }} -
                    {{ timesheetInfo.to_date | formatDate }}
                  </div>
                </a-col>
                <a-col :md="12"
                  ><div>
                    <span class="mb5">Company’s ID: </span>
                    <span>{{ timesheetUser ? timesheetUser.code : "" }}</span>
                  </div>
                  <div>
                    <span class="mb5">Role: </span>
                    <span>{{
                      timesheetUser ? timesheetUser.position_title_en : ""
                    }}</span>
                  </div>
                  <div>
                    <span>Department: </span>
                    <span>{{
                      timesheetUser.department_name
                        ? timesheetUser.department_name.nameEn
                        : ""
                    }}</span>
                  </div>
                </a-col>
              </a-row>
            </a-col>
          </a-row>
        </a-card>
      </a-col>
    </a-row>
    <!-- row chi tiêt ngày công -->
    <a-row>
      <a-col :md="12" class="p10">
        <a-row>
          <a-col :md="24">
            <div class="secction">
              <div class="float-left blue mb10 title-secction">
                1. Timesheet
                <template>
                  <a-tag :color="getStatus().color">{{getStatus().text}}</a-tag>
                </template>
              </div>
              <div class="float-right mb10 title-secction">
                Standard Working Day: {{ timesheetInfo.working_days }}
              </div>
            </div>
            <div class="ant-table ant-table-default ant-table-bordered mb20">
              <div class="ant-table-content">
                <div class="ant-table-body">
                  <table>
                    <thead class="ant-table-thead">
                      <tr>
                        <th id=""
                          v-for="col in columnsTableDetailOfDays"
                          :style="{ width: col.width + 'px' }"
                          :key="col.index"
                          style="text-align: center;"
                        >
                          {{ col.title }}
                        </th>
                      </tr>
                    </thead>
                    <tbody class="ant-table-tbody">
                      <tr
                        v-for="(row, i) in rowsTable"
                        :key="row.key"
                        :class="[row.class, 'ant-table-row']"
                        style="text-align: center;"
                      >
                        <td
                          v-for="col in columnsTableDetailOfDays"
                          :style="{ width: col.width + 'px' }"
                          :key="col.index"
                        >
                          <div
                            v-if="
                              col.dataIndex === 'check_in_time' &&
                                helper(timesheetUser[row.dataIndex], 'check-in')
                            "
                            :style="{ color: 'red' }"
                          >
                            {{
                              col.render(row, timesheetUser[row.dataIndex], i)
                            }}
                          </div>
                          <div
                            v-else-if="
                              col.dataIndex === 'check_out_time' &&
                                helper(
                                  timesheetUser[row.dataIndex],
                                  'check-out'
                                )
                            "
                            :style="{ color: 'red' }"
                          >
                            {{
                              col.render(row, timesheetUser[row.dataIndex], i)
                            }}
                          </div>
                          <div v-else-if="col.render">
                            {{
                              col.render(row, timesheetUser[row.dataIndex], i)
                            }}
                          </div>

                          <template v-else>
                            <div
                              style="text-align: center;"
                              v-if="
                                timesheetUser[row.dataIndex] &&
                                  timesheetUser[row.dataIndex].value
                              "
                            >
                              <span
                                @mouseleave="
                                  tooltipTimesheet.config.isVisible = false
                                "
                                :class="[
                                  'color-' + timesheetUser[row.dataIndex].value,
                                  'cursor-pointer',
                                ]"
                                @mouseover="
                                  (e) =>
                                    handleHoverTimeSheet(
                                      e,
                                      timesheetUser[row.dataIndex]
                                    )
                                "
                              >
                                {{ timesheetUser[row.dataIndex].value }}
                              </span>
                            </div>
                            <span v-else></span>
                          </template>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </a-col>
        </a-row>
      </a-col>

      <a-col :md="12" class="p10">
        <!-- row ngày phép -->
        <a-row class="list-render">
          <a-list
            item-layout="horizontal"
            :data-source="detailMonthOfStaff"
            bordered
          >
            <a-list-item slot="renderItem" slot-scope="item">
              <a-list-item-meta>
                <span slot="title">{{ item.title }}</span>
              </a-list-item-meta>
              <div>
                {{
                  calculationWorking && calculationWorking[item.key]
                    ? calculationWorking[item.key]
                    : ""
                }}
              </div>
            </a-list-item>
          </a-list>
        </a-row>
        <a-row>
          <a-col :md="24">
            <a-row>
              <a-col :md="24">
                <div class="secction">
                  <div class="float-left blue mb10 title-secction">
                    2. Authorized Leave
                  </div>
                </div>
              </a-col>
            </a-row>
            <a-row>
              <a-col :md="24">
                <table style="width: 100%">
                  <caption></caption>
                  <tr>
                    <th id="authorize-leave-table" class="title-bold text-center bd-left1 bd-right1 bd-top1 bdr5" v-for="i in dayOffByStaff" :key="i.key">{{ i.title }}</th>
                  </tr>
                  <tr>
                    <td class="title-bold text-center bd-left1 bd-right1 bd-bottom1 bdr5" style="width: 25%; padding: 10px" v-for="i in dayOffByStaff" :key="i.key"> {{
                          annualLeave && annualLeave[i.key]
                            ? annualLeave[i.key]
                            : ''
                        }}</td>
                  </tr>
                </table>   
              </a-col>
            </a-row>
          </a-col>
        </a-row>
        <!-- row ngày vi phạm -->
        <a-row class="mb15">
          <a-col :md="24">
            <a-row>
              <a-col :md="24">
                <div class="secction">
                  <div class="float-left blue mb10 title-secction">
                    3. Description in working time
                  </div>
                </div>
              </a-col>
            </a-row>
            <a-row>
              <a-col :md="24">
                <a-list
                  item-layout="horizontal"
                  :data-source="infringeData"
                  bordered
                >
                  <a-list-item slot="renderItem" slot-scope="item">
                    <a-list-item-meta>
                      <span slot="title">{{ item.title }}</span>
                    </a-list-item-meta>
                    <div>
                      {{
                        violationWorking && violationWorking[item.key]
                          ? violationWorking[item.key]
                          : ""
                      }}
                    </div>
                  </a-list-item>
                </a-list>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
      </a-col>
    </a-row>
    <div
      id="tooltip-timesheet"
      class="tooltip-timesheet"
      :style="{
        left: tooltipTimesheet.config.x + 'px',
        top: tooltipTimesheet.config.y + 'px',
        visibility: tooltipTimesheet.config.isVisible ? 'visible' : 'hidden',
      }"
    >
      <a-row v-for="item in tooltipTimesheet.data" :key="item.key">
        <a-col :md="8" class="title-no-bold mb8">{{ item.label }}</a-col>
        <a-col
          :md="16"
          style="font-size: 12px"
          v-html="
            tooltipTimesheet.dataDetail
              ? tooltipTimesheet.dataDetail[item.key]
              : ''
          "
        ></a-col>
      </a-row>
    </div>
  </div>
</template>

<script type="script" lang="js" src="./TimesheetViewUser.js" />

<style lang="scss">
.timsheet-user-role .ant-table {
  font-size: 12px;
}
.bg-holiday {
  background-color: #eaeaea61;
}
.timsheet-user-role {
  .ant-card-body {
    padding: 20px;
  }
}
</style>
