<template>
    <div class="payroll-period">
        <a-table
            class="custom-table table "
            size="middle"
            :columns="columns"
            :pagination="false"
            :data-source="mockData"
            :customRow="customRow"
            :scroll="{ x: 'calc(10px + 50%)'}"
        >   
            <span slot="staff" slot-scope="text, record">
                <div>{{ record.name }}</div>
                <div>{{record.code}}</div>
            </span>
            <span slot="account" slot-scope="text, record">
                <div>{{ record.user_name }}</div>
            </span>
            <span slot="role_department" slot-scope="text, record">
                <div>{{ record.role }}</div>
                <div>{{record.department}}</div>
            </span>
            <span slot="thuong_ot_va_ho_tro" slot-scope="text, record">
                {{record.thuong_ot_va_ho_tro ? record.thuong_ot_va_ho_tro : '--'}}
            </span>
            <span slot="ho_tro_khac" slot-scope="text, record">
                <div v-if="!record.isEdit">
                    {{record.ho_tro_khac ? record.ho_tro_khac : '--'}}
                </div>
                <template class="input-edit" v-else>
                    <a-input 
                        placeholder="type here" 
                        size="small"
                        :value="editHoTro"
                        @change="handleChangeHoTro"
                    />
                </template>
            </span>
            <span slot="giam_tru_khac" slot-scope="text, record">
                <div v-if="!record.isEdit">
                    {{record.giam_tru_khac ? record.giam_tru_khac : '--'}}
                </div>
                <template class="input-edit" v-else>
                    <a-input 
                        placeholder="type here" 
                        size="small"
                        :value="editGiamTru"
                        @input="handleChangeGiamTru"
                    />
                </template>
            </span>
            <span slot="edit" slot-scope="text, record">
                <a-dropdown
                    :trigger="['click']"
                    v-if="!record.isEdit"
                >
                    <a-icon type="more" @click="handleOnClickEdit(record)" />
                    <a-menu slot="overlay">
                    <a-menu-item @click="showInput(record)">Edit</a-menu-item>
                    <a-menu-item>Delete</a-menu-item>
                    </a-menu>
                </a-dropdown>
                <span v-if="record.isEdit">
                    <a-button shape="circle" size="small" class="payroll-close-edit" @click="handCancelEdit(record)">
                        <a-icon type="close" />
                    </a-button>
                </span>
                <span v-if="record.isEdit">
                    <a-button shape="circle" size="small" class="payroll-check-edit" @click="handleSave()">
                        <a-icon type="check" />
                    </a-button>
                </span> 
            </span>
        <template slot="footer">
            <div>
            <a-pagination
                v-model="currentPage"
                :total="total_items"
                :show-total="
                (total, range) => `${range[0]}-${range[1]} of ${total} items`
                "
                :page-size="pageSize"
                show-size-changer
                @change="onChangePage"
                @showSizeChange="onShowSizeChange"
            />
            </div>
        </template>
        </a-table>
        <a-drawer
            v-if="recordDetail !== null"
            class="payroll-period-drawer"
            placement="right"
            width="45%"
            title="Payroll Salary In Period Detail"
            :visible="visibleDrawer"
            :closable="false"
            @close="onClose"
        >
            <PayrollSalaryInPeriodDetail
                :data="recordDetail"
                :timesheetUser="timesheetUser"
                :timesheetInfo="timesheetInfo"
                :formatDate="formatDate"
            />
        </a-drawer>
    </div>
</template>
<script type="script" lang="js" src="./PayrollSalaryInPeriod.js" />