<template>
      <div class="p10">
        <div class="content-details">
            <a-row>
                <a-col :md="10" :xs="10" class="title-drawer">
                    Overtime Detail
                </a-col>
                <a-col :md="14" :xs="14"  class="taE">
                    <a-button class="onsite-color-reject">Reject</a-button>  
                    <a-button class="onsite-color-approve" >Approve</a-button>
                </a-col>
            </a-row>
            <a-divider />
            <a-form
                id="onsite-detail-form"
                :form="form"
                v-bind="formItemLayout"
                :data-source="data"
            >
                <a-row>
                    <a-col :span="14">
                        <a-row>
                            <a-col :span="6" class="onsite-font onsite-padding">Title:</a-col>
                            <a-col :span="18" class="ant-form-text onsite-padding onsite-ant-text">{{data.title}}</a-col>
                        </a-row>
                        <a-row>
                            <a-col :span="6" class="onsite-font onsite-padding">Project:</a-col>
                            <a-col :span="18" class="ant-form-text onsite-padding">{{data.projectName}}</a-col>
                        </a-row>
                        <a-row>
                            <a-col :span="6" class="onsite-font onsite-padding">Date:</a-col>
                            <a-col :span="18"  class="ant-form-text onsite-padding">From {{data.fromDate}}- To {{data.toDate}}</a-col>
                        </a-row>
                        <a-row>
                            <a-col :span="6" class="onsite-font onsite-padding">Location:</a-col>
                            <a-col :span="18" class="ant-form-text onsite-padding"></a-col>
                        </a-row>
                        <a-row>
                            <a-col :span="6" class="onsite-font onsite-padding">Description:</a-col>
                            <a-col :span="18" class="ant-form-text onsite-text onsite-padding-text ">{{data.description}}</a-col>
                        </a-row>
                        <a-row :status="status">
                            <a-col :span="4" class="onsite-font onsite-padding">Status</a-col>
                            <a-col :span="17" class="onsite-padding onsite-padding-status">
                            <a-col v-if="size > 300"
                                    :md="10"
                                    class="first-stage-tag cursor-pointer"
                                    @mouseover="
                                    (e) =>
                                        handleHover(
                                        e,
                                    data,
                                status_department.stage
                                        )
                                    "
                                    @mouseleave="handleMouseLeave"
                                    :style="{
                                    backgroundColor: `${
                                    statusColor[status_department.status.toUpperCase()]
                                    }`,
                                    }"
                                    >{{ status_department.stage }}
                                </a-col>
                                <a-col v-else
                                    :md="10" :xs="12"
                                    class="first-stage-tag2 cursor-pointer"
                                    @mouseover="
                                    (e) =>
                                        handleHover(
                                        e,
                                    data,
                                status_department.stage
                                        )
                                    "
                                    @mouseleave="handleMouseLeave"
                                    :style="{
                                    backgroundColor: `${
                                    statusColor[status_department.status.toUpperCase()]
                                    }`,
                                    }"
                                    >{{ status_department.stage.charAt(0) }}
                                </a-col>
                                <a-col v-if="size > 300"
                                    :md="1"
                                    class="tag-helper1 cursor-pointer"
                                    @mouseover="
                                    (e) =>
                                        handleHover(
                                        e,
                                    data,
                                status_department.stage
                                        )
                                    "
                                    @mouseleave="handleMouseLeave"
                                    :style="{
                                    borderLeft: `10px solid ${
                                        statusColor[status_department.status.toUpperCase()]
                                    }`,
                                    }"
                                ></a-col>
                                <a-col v-if="size > 300"
                                    :md="1"
                                    class="tag-helper2 cursor-pointer"
                                    @mouseover="
                                    (e) =>
                                        handleHover(
                                        e,
                                        data,
                                status_CB.stage
                                        )
                                    "
                                    @mouseleave="handleMouseLeave"
                                    :style="{
                                    borderTop: `10px solid ${
                                        statusColor[status_CB.status.toUpperCase()]
                                    }`,
                                    borderBottom: `10px solid ${
                                        statusColor[status_CB.status.toUpperCase()]
                                    }`,
                                    }"
                                >
                                </a-col>
                                <a-col v-if="size > 300"
                                    :md="10"
                                    class="second-stage-tag cursor-pointer"
                                    @mouseover="
                                    (e) =>
                                        handleHover(
                                        e,
                                        data,
                                status_CB.stage
                                        )
                                    "
                                    @mouseleave="handleMouseLeave"
                                    :style="{
                                    backgroundColor: `${
                                        statusColor[status_CB.status.toUpperCase()]
                                    }`,
                                    }"
                                    >{{ status_CB.stage }}
                                </a-col>
                                <a-col v-else
                                    :md="10" :xs="12"
                                    class="second-stage-tag2 cursor-pointer"
                                    @mouseover="
                                    (e) =>
                                        handleHover(
                                        e,
                                        data,
                                status_CB.stage
                                        )
                                    "
                                    @mouseleave="handleMouseLeave"
                                    :style="{
                                    backgroundColor: `${
                                        statusColor[status_CB.status.toUpperCase()]
                                    }`,
                                    }"
                                    >{{ status_CB.stage.charAt(0) }}
                                </a-col>
                            </a-col>
                        </a-row>
                    </a-col>
                    <a-col :span="10" >
                        <a-row>
                            <a-col :span="7" class="onsite-font onsite-padding">Project ID:</a-col>
                            <a-col :span="17" class="ant-form-text onsite-padding">{{data.projectid}}</a-col>
                        </a-row>
                        <a-row>
                            <a-col :span="7" class="onsite-font onsite-padding">Type:</a-col>
                            <a-col :span="17" class="ant-form-text onsite-padding">{{data.employeeList[0].type}}</a-col>
                        </a-row>
                    </a-col>
                </a-row>
                <a-divider/>
                <a-table
                    class="custom-table scroll-table"
                    :pagination="false"
                    :data-source="data.employeeList"
                    :columns="columns"
                    :scroll="data.employeeList.length > 7 ?{ y: 250 } : {}"
                >
                    <a-span slot="name" slot-scope="text, record">
                        <div>{{ record.name}}</div>
                    </a-span>
                </a-table>
                <a-divider/>
                <!-- <a-row>
                    <a-col :span="6" class="onsite-font onsite-padding">Approver:</a-col>
                    <a-col :span="18"  class="ant-form-text onsite-text onsite-padding " v-if="status_CB.status_num ==='A' || status_CB.status_num ==='R' || status_department.status_num ==='A' || status_department.status_num ==='R'">{{data.approver.name}}</a-col>
                </a-row>
                <a-row>
                    <a-col :span="6" class="onsite-font onsite-padding">Asignee:</a-col>
                    <a-col :span="7"  class="ant-form-text onsite-text onsite-padding " :style="{maxHeight: '25px'}">
                         <a-select 
                        showSearch
                        v-if="editAssignee" 
                        :default-value="data.approver.name"
                        allowClear
                        class="select-box" 
                        placeholder="Search by staff name, ID " 
                        @search="onSearchDelegator"
                        :value="searchEmployee"
                        @change="onChangeSearchModal"
                        :not-found-content="fetching ? undefined : null"
                         :default-active-first-option="true"
                          :filter-option="false"
                      >
                        <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                        <a-select-option v-for="(item, index) in dataOptionFilterDelegator" :aria-selected="onSelect(item)" :key="index" :value="item.user_name">
                          {{item.name}} ({{item.user_name}})
                        </a-select-option>
                      </a-select>
                        <a-span v-if="!editAssignee">{{data.approver.name}}</a-span>
                    </a-col>
                    <a-col :span="4"  class="onsite-padding">
                        <a-button v-if="!editAssignee && status_department.status_num !=='A' && status_department.status_num !=='R'" size="small"  @click="()=>this.onClickEdit()" >
                        <a-icon  type="edit" /></a-button>
                        <a-button v-if="editAssignee" size="small"  @click="()=>this.onClickClose()" >
                            <a-icon  type="close" />
                        </a-button>
                        <a-button v-if="editAssignee" size="small"  @click="()=>this.onClickSave()" >
                            <a-icon  type="check" />
                       </a-button>
                    </a-col>
                </a-row> -->
                <a-row>
                    <a-col :span="6" class="onsite-font onsite-padding">Approver:</a-col>
                    <a-col :span="18"  class="ant-form-text onsite-text onsite-padding " v-if="status_CB.status_num ==='A' || status_CB.status_num ==='R' || status_department.status_num ==='A' || status_department.status_num ==='R'">{{data.approver.name}} - {{data.approver.code}}</a-col>
                </a-row>
                <a-row>
                    <a-col :span="6" class="onsite-font onsite-padding">Assignee:</a-col>
                    <a-col :span="8" v-if="!editAssignee" class="ant-form-text onsite-text onsite-padding ">{{data.approver.name}} - {{data.approver.code}}</a-col>
                    <a-col :span="12" v-if="editAssignee">
                        <a-select 
                            showSearch
                            allowClear 
                            class="onsite-padding"
                            placeholder="Search by staff name, ID " 
                            :not-found-content="fetching ? undefined : null"
                            :default-active-first-option="true"
                            :filter-option="false">
                                <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                                <a-select-option v-for="item in employeeList" :key="item.value" :value="JSON.stringify({user_name: item.value, id :item.id, label: item.label, department: item.department})">
                                {{item.label + ' (' +item.department + ')'}}
                                </a-select-option>
                        </a-select>
                    </a-col>
                    <a-col :span="6">
                        <a-button v-if="!editAssignee" class="onsite-btn-delegate onsite-padding-delegate" @click="handleDelegate" >Delegate</a-button>
                        <span  v-if="editAssignee">
                            <a-button shape="circle" size="small" class="onsite-close-delegate" @click="onClickClose">
                            <a-icon type="close" />
                            </a-button>
                        </span>
                        <span  v-if="editAssignee">
                            <a-button shape="circle" size="small" class="onsite-check-delegate" @click="handleSaveDelegate">
                            <a-icon type="check" />
                            </a-button>
                        </span>
                    </a-col>
                </a-row>
                <a-row>
                    <a-col :span="6" class="onsite-font onsite-padding">Last modified date:</a-col>
                    <a-col :span="18" class="ant-form-text onsite-text onsite-padding ">{{data.lastModifiedDate}}</a-col>
                </a-row>
                <a-row>
                    <a-col :span="6" class="onsite-font onsite-padding">Reason for rejection:</a-col>
                    <a-col :span="18" class="ant-form-text onsite-text onsite-padding ">dfgfghg</a-col>
                </a-row>
                <a-divider/>
                <a-row>
                    <a-col :span="12">
                        <a-row>
                            <a-col :span="8">
                                <a-upload
                                    name="file"
                                    :multiple="true"
                                    action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                                    :headers="headers"
                                    :show-upload-list="false"
                                    @change="onFileChange"
                                >
                                    <a-button class="ot-attach-file" icon="paper-clip" >Attach File</a-button>
                                </a-upload>
                            </a-col>
                            <a-col :span="15" :offset="1">
                                 <a-dropdown :placement="'topLeft'" trigger="['click']">
                                     <!-- <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                                    {{this.fileList.length}} files selected <a-icon type="down" />
                                    </a> -->
                                    <a-menu  slot="overlay">
                                        <a-menu-item v-for="item in fileList" :key="item.uid">
                                            <tr class="row-select-uploaded-file" :style="{width: '225px'}">
                                                <td class="file-name">
                                                      <a :href="response ? response.url : ''" :style="item.status === 'done' ? {color: '#188fff'} : {color: '#ff2222'}"> 
                                                <a-icon type="paper-clip" /> {{item.name}}       
                                                </a>    
                                                </td>
                                                <td :style="{width: '25px'}">
                                                     <a-button class="button-delete-uploaded-file"><a-icon :style="{color: '#ff2222'}" type="delete" /></a-button>
                                                </td>
                                            </tr>

                                        </a-menu-item>
                                    </a-menu>
                                 </a-dropdown>
                            </a-col>
                        </a-row>
                        <a-row class="onsite-padding-text"> 
                            <p  class="onsite-font">Maximum allowed file size is 5.0 MB</p>
                        </a-row>
                    </a-col>
                    <a-col :span="12" >
                        <a-row>
                            <a-col :span="7" class="onsite-font onsite-padding-end">Created by: </a-col>
                            <a-col :span="17" >
                                <div class="ant-form-text onsite-padding-end">{{data.createdBy.name}} - {{data.createdBy.code}}</div>
                            </a-col>
                        </a-row>
                        <!-- Handle visible when status change -->
                        
                    </a-col>
                </a-row>
                
            </a-form>         
        </div>
        <div
            v-if="tooltipOnsite.config.visible"
            :style="{
                top: this.tooltipOnsite.config.top,
                left: this.tooltipOnsite.config.left,
                position: 'absolute',
            }"
            >
            <span class="ptb3 plr10">
                <div class="onsite-tooltip" v-for="employee in tooltipOnsite.employeeList" :key="employee.code">{{employee.name}}</div>
            </span>
        </div>
      </div>
</template>
<script type='script' lang='js' src ='./OnsiteDetail.js'/>