<template>
 <div class="ta-report">
   <a-layout class="mt100 pt10 pl20 content-wrapper requests" id="ta-report">
     <a-layout-content >
       <a-row class="filter-container">
          <a-col :md="20" >
            <FilterLayout
                ref="filterRef"
                :onSetDataFilters="onSetDataFilters"
                :onApplyFilters="onApplyFilters"
                @onCleanFilter="onCleanFilter"
                :datafilterDefault="dataFilters"
                currentPage="taReport"
            />
          </a-col>
         <a-col :md="4" class="button-export">
           <a-button  type="primary" icon="download" @click="downloadFileExcel('/report/ta/export', 'TaReport')" >
             Export
           </a-button>
         </a-col>
       </a-row>
       <a-row class="table-container">
         <a-table
             :columns="columns"
             :hover="false"
             :data-source="taReport"
             :row-key="(record, index) => record.unitName + index + Math.floor(Math.random() * 2000) "
             :pagination="false"
             :expandIconAsCell="false"
             :expandIconColumnIndex="1"
         >
           <template slot="statusProcess" slot-scope="text, row" v-if="row.status">
             <a-tag
                 :color="text === 'Shared' ? '#1597E5' : '#0052CC'"
                 :style="{ width: 'auto', textAlign: 'center' }"
                 v-if="text.length > 0"
             >
               {{ formatNewStatus(text) }}
             </a-tag>
           </template>
           <template slot="deadline" slot-scope="text, row">
              <span>{{convertMillisecondsToDate(text)}}</span>
           </template>
         </a-table>
         <div class="pagination-box">
           <a-pagination
               :current="currentPage"
               :total="total_items"
               :page-size="pageSize"
               :show-total="onShowTotal"
               @change="onChangePage"

           />
         </div>
       </a-row>
     </a-layout-content>
   </a-layout>
 </div>
</template>
<script type='script' lang='js' src ='./TaReport.js' />
<style lang="scss">
#ta-report {
  overflow: hidden;
}
  .ta-report {
    .table-container {
      margin-top: 2rem;
      margin-right: 1rem;
    }
    .ant-table-tbody > tr.ant-table-row:hover > td {
      background: none !important;
    }
    .ant-table-row-level-0{
      background-color: #FFE380;
    }

    .table-container .ant-table-align-center{

    }
    .table-container .ant-table-thead th {
      background-color: #EBECF0 !important;
      vertical-align: bottom;
      color: #6B778C;
    }.table-container td {
       font-weight: 500;
       color: #6B778C

     }
    .table-container .ant-table-thead tr:nth-child(1) th:nth-child(10){
      border-bottom: 1px solid #6B778C;

    }
    .table-container .ant-table-thead tr:nth-child(1) th:nth-child(12){
      border-bottom: 1px solid #6B778C;
    }
    .pagination-box {
      text-align: end;
      margin-top: 2rem;
    }
    .button-export {
      text-align: end;
      padding-right: 1rem;
    }
  }

</style>