<template>
  <div class="list-block">
    <VueSearch
        class="search-block-detail"
        @onSearch= "onSearchPage"
        @onClear= "onClearPage"
        currentPage="requestDetail"
        placeholder="Type name, phone, email, skill or experience"
    />
    <div class="list-candidate-block">
      <ListCandidate
          :listCandidate="listCandidate"
          @onSelectRow="onSelectRow"
          @onClickRow="onClickRow"
      />
    </div>
    <VuePagination
        v-if="totalItems > 5"
        class="pagination-block"
        :options ="pageOptions"
        :totalItems="totalItems"
        @onChange="onChangePage"
    />
  </div>
</template>

<script>
import VuePagination from "../../../../../../components/base/VuePagination";
import VueSearch from "../../../../../../components/base/VueSearch";
import ListCandidate from '../../../../../../components/candidate/ListCandidate.vue';
import {mapMutations} from "vuex";

export default {
  name: "RequestDetailSource",
  components: {
    VuePagination,
    VueSearch,
    ListCandidate
  },
  props : {
    listCandidate : {
      type : Array
    },
    pageOptions : {
      type : Object
    },
    totalItems : {
      type : Number
    }
  },
  data() {
    return {
      dataFilters:{},
      keyword: "",
    }
  },
  methods : {
    ...mapMutations({
      setSelectedRowKey: "rtsListCandidate/SET_SELECTED_ROW_KEY"
    }),

    onChangePage(payload) {
      this.$emit('onChangePage', payload)
    },
    onSearchPage(payload){
      this.$emit('onSearchPage', payload)
    },
    onClearPage(payload){
      this.$emit('onClearPage', payload)
    },
    onClickRow(payload){
      this.$emit('onClickRow', payload)
    },
    onSelectRow(selectedRowKeys){
      this.setSelectedRowKey(selectedRowKeys)
    }
  }
} </script>

<style lang="scss">
  .pagination-block {
    text-align: center;
    margin-top: 10px;
  }
  .list-block {

  }
  .search-block-detail{
    width: 100%;
  }
</style>
