<template>
	<div>
		<div v-if="drawerKey === 'detail'" class="timesheet-detail">
			<a-card class="staff-info mb15">
				<a-row>
					<a-col :md="3"><a-avatar size="large" :style="{backgroundColor: randomColor()}">{{timesheetUser ? getAvatarName(timesheetUser.name) : ''}}</a-avatar></a-col>
					<a-col :md="21">
						<a-row>
							<a-col :md="12">
								<div  class ='title-bold mb5'>{{timesheetUser ? timesheetUser.name : ''}}</div>
								<div  class='title-no-bold mb5'>Payroll Period:</div>
								<div  class =''>{{timesheetInfo.from_date | formatDate}} - {{timesheetInfo.to_date | formatDate}}</div>
							</a-col>
							<a-col :md="12">
								<div class="mb5"><span  class='title-no-bold'>ID Staff:</span> <span>{{timesheetUser ? timesheetUser.code : ''}}</span></div>
								<div class="mb5"><span  class='title-no-bold'>Role:</span> <span>{{timesheetUser ? timesheetUser.position_title_en : ''}}</span></div>
								<div><span  class='title-no-bold'>Department:</span> <span>{{timesheetUser.department_name ? timesheetUser.department_name.name_en : ''}}</span></div>
							</a-col>
						</a-row>
					</a-col>
				</a-row>
			</a-card>
			<a-row class="mb15">
				<a-col :md="24">
					<div class="blue  mb10">1. Timesheet details</div>
					<a-list 
						item-layout="horizontal"
						:data-source="detailMonthOfStaff"
					>
					<a-list-item slot="renderItem" slot-scope="item">
						<a-list-item-meta>
							<span slot="title">{{ item.title }}</span>
						</a-list-item-meta>
						<div>{{calculationWorking && calculationWorking[item.key] ? calculationWorking[item.key] : ''}}</div>
					</a-list-item>
					</a-list>
				</a-col>
			</a-row>
			<a-row class="mb15">
				<a-col :md="24">
					<div class="blue  mb10" >2. Authorized Leave</div>
					<a-list :grid="{ gutter: 16, column: 4 }" :data-source="dayOffByStaff" class="day-off">
						<a-list-item slot="renderItem" slot-scope="item,">
							<a-card  class="text-center">
									<div class="title-bold" style="height:42px">{{item.title}}</div>
									<div class="title-bold">{{annualLeave && annualLeave[item.key] ? annualLeave[item.key] : 0}}</div>
							</a-card>
						</a-list-item>
					</a-list>
				</a-col>
			</a-row>
			<a-row class="mb15">
				<a-col :md="24">
					<div class="blue  mb10" >3. Description in working time</div>
						<a-list 
							item-layout="horizontal"
							:data-source="infringeData"
						>
							<a-list-item slot="renderItem" slot-scope="item">
								<a-list-item-meta>
									<span slot="title">{{ item.title }}</span>
								</a-list-item-meta>
								<div>{{violationWorking && violationWorking[item.key] ? violationWorking[item.key] : ''}}</div>
							</a-list-item>
						</a-list>
				</a-col>
			</a-row>
		</div>
		<div v-else-if="drawerKey ==='note'" class="drawer-note">
			<a-row class="mb15">
				<a-col :md="24">
						<a-list 
							item-layout="horizontal"
							:data-source="notesData"
						>
							<a-list-item  slot="renderItem" slot-scope="item">
								<a-list-item-meta>
									<span slot="title" :class="'color-'+item.notation">{{ item.notation }}</span>
								</a-list-item-meta>
								<div :style="{width:'70%'}">{{item.definition}}</div>
							</a-list-item>
						</a-list>
				</a-col>
			</a-row>
		</div>
	</div>
</template>

<script type='script' lang='js' src ='./StaffTimesheetDetail.js' />
<style>
	.height-88{
		min-height: 88px;
	}
</style>