<template>
  <div class="management-cv-detail">
    <a-row class="details">
      <a-row type="flex" align="middle" justify="space-between">
        <a-col>
          <a-icon class="icon" type="arrow-left" @click="handleBack" />
        </a-col>
        <a-col>
          <div class="header candidate__header">Information Candidate</div>
        </a-col>
        <a-col>
          <!-- <RequestButtonDropdown
            :records="[candidateData]"
            :actions="actions"
            permissionType="single"
            @onClick="emitAction"
          >
            <template v-slot:toggleButton>
              <a-button
                >Actions
                <a-icon type="down" />
              </a-button>
            </template>
          </RequestButtonDropdown> -->
        </a-col>
      </a-row>
      <a-col :span="8">
        <a-form v-bind="layoutForm" labelAlign="left">
          <a-form-item v-for="item in formItem" :key="item.key" :label="item.label">
            <!-- <template v-if="item.key === 'linkCv'">
              <a
                :href="`https://media.cmcglobal.com.vn${candidateData[item.key]}`"
                target="_blank"
                v-if="candidateData[item.key]"
              >
                <a-icon type="paper-clip" />
                View CV</a
              >
            </template> -->
            <span>{{ candidateData[item.key] ? candidateData[item.key] : "" }}</span>
          </a-form-item>
        </a-form>
      </a-col>
      <a-col :span="16">
        <div>
          <iframe
            :src="'https://media.cmcglobal.com.vn' + candidateData.linkCv"
            frameborder="0"
            height="600"
            width="100%"
            v-if="candidateData.linkCv"
          />
        </div>
      </a-col>
    </a-row>
    <a-row class="header history__header">History Candidate</a-row>
    <a-row>
      <a-table :columns="columns" :dataSource="candidateHistory" :pagination="false">
        <template slot="requestId" slot-scope="text">
          <span @click="handleClickRequestId(text)" class="request__id">{{ text }}</span>
        </template>
      </a-table>
    </a-row>
    <!-- <CreateAssignModal
      :modalData="dataModal"
      :visibleModal="visibleAssignModal"
      @onCancelPopup="handleCloseAssignModal"
    /> -->
  </div>
</template>

<script type="script" lang="js" src="./ManagementCVDetail.js"></script>
<style lang="scss">
.management-cv-detail {
  margin: 70px 30px;

  .icon {
    cursor: pointer;
    font-size: 16px;
  }
  .header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .history__header {
    margin-top: 20px;
  }

  .request__id {
    cursor: pointer;
    color: #337ab7;
  }
}
</style>
