<template>
    <div class="payslip">
        <a-row>
            <a-col :md="12">
                <a-row class="ml10">
                    <span class="blue"> Bảng lương:</span>
                    <span style="margin-left: 725px;">
                        <a-button @click="displayContent"> <a-icon type="eye" /> </a-button>
                    </span>
                </a-row>
                 <a-row class="payslip-payroll-period ml10 mt10 mr75 ">
                    <a-list
                        size="small"
                        item-layout="horizontal"
                        :data-source="detailPayrollPeriod"
                    >
                        <a-list-item slot="renderItem" slot-scope="item">
                            <a-list-item-meta>
                                <span slot="title">{{ item.title}}</span>
                            </a-list-item-meta>
                            <div class="content-period" v-if="isDisplay">content</div>
                        </a-list-item>
                    </a-list>
                </a-row>
                <a-row class="payslip-period-A ml10 mt20 mr75">
                    <a-list
                        size="small"
                        item-layout="horizontal"
                        :data-source="detailPeriodA"
                    >
                        <a-list-item slot="renderItem" slot-scope="item">
                            <a-list-item-meta>
                                <span slot="title">{{ item.title}}</span>
                            </a-list-item-meta>
                            <div class="content-period" v-if="isDisplay">content</div>
                        </a-list-item>
                    </a-list>
                </a-row>
                <a-row class="payslip-period-C ml10 mt20 mr75">
                    <a-list
                        size="small"
                        item-layout="horizontal"
                        :data-source="detailPeriodC"
                    >
                        <a-list-item slot="renderItem" slot-scope="item">
                            <a-list-item-meta>
                                <span slot="title">{{ item.title}}</span>
                            </a-list-item-meta>
                            <div class="content-period" v-if="isDisplay">content</div>
                        </a-list-item>
                    </a-list>
                </a-row>
            </a-col>
            <a-col :md="12" class="dmlinhhhhh">
                <a-row>
                    <a-card class="staff-info mb10">
                        <a-row>
                            <a-col :md="3"><a-avatar size="large" :style="{backgroundColor: randomColor()}">{{timesheetUser ? getAvatarName(timesheetUser.name) : ''}}</a-avatar></a-col>
                            <a-col :md="21" class="mb10">
                                <a-row>
                                    <a-col :md="8">
                                        <div class="mb5 title-no-bold">{{timesheetUser ? timesheetUser.name : ''}}</div>
                                        <div  class="mb5 title-no-bold">Payroll Period: {{formatDate(timesheetInfo.from_date)}} - {{formatDate(timesheetInfo.to_date)}}</div>
                                        <div class="mb5 title-no-bold"><span >Department:</span> <span>{{timesheetUser.department_name ? timesheetUser.department_name.nameEn : ''}}</span></div>
                                    </a-col>
                                    <a-col :md="8">
                                        <div class="mb5 title-no-bold"><span >ID Staff:</span> <span>{{timesheetUser ? timesheetUser.code : ''}}</span></div>
                                        <div class="mb5 title-no-bold"><span >Số tài khoản:</span>12010007304691 <span></span></div>
                                        <div class="mb5 title-no-bold"><span >Ngân hàng: BIDV xxx</span> <span></span></div>
                                    </a-col>
                                    <a-col :md="5">
                                        <div class="mb5 title-no-bold"><span >Ngày chính thức:</span><span> {{formatDate('01/01/2019')}} </span></div>
                                        <div class="mb5 title-no-bold"><span >Ngày làm việc:</span><span> {{formatDate('01/01/2019')}} </span></div>
                                        <div class="mb5 title-no-bold"><span >Ngày nghỉ việc:</span> <span> -- </span></div>
                                    </a-col>
                                </a-row>
                            </a-col>
                        </a-row>
                        <a-divider />
                        <a-row>
                            <div class="mb5 black"> Payslip Details Month {{moment(timesheetInfo.to_date).format("MM/YYYY")}} </div>
                            <div  class="mb5 mt5"> From {{formatDate(timesheetInfo.from_date)}} To {{formatDate(timesheetInfo.to_date)}}</div>
                        </a-row>
                        <a-row class="payslip-red">
                            <a-col :md="20" class="red"> Thực lĩnh trong kỳ (A-B+C-D)</a-col>
                            <a-col :md="4" class="red ml200">8,269,266</a-col>
                        </a-row>
                    </a-card>
                </a-row>
                <a-row class="payslip-period-B mt20">
                    <a-list
                        size="small"
                        item-layout="horizontal"
                        :data-source="detailPeriodB"
                    >
                        <a-list-item slot="renderItem" slot-scope="item">
                            <a-list-item-meta>
                                <span slot="title">{{ item.title}}</span>
                            </a-list-item-meta>
                            <div class="content-period" v-if="isDisplay">content</div>
                        </a-list-item>
                    </a-list>
                </a-row>
                <a-row class="payslip-period-D mt20">
                    <a-list
                        size="small"
                        item-layout="horizontal"
                        :data-source="detailPeriodD"
                    >
                        <a-list-item slot="renderItem" slot-scope="item">
                            <a-list-item-meta>
                                <span slot="title">{{ item.title}}</span>
                            </a-list-item-meta>
                            <div class="content-period" v-if="isDisplay">content</div>
                        </a-list-item>
                    </a-list>
                </a-row>
            </a-col>
        </a-row>
    </div>
</template>
<script type="script" lang="js" src="./Payslip.js" />