<template>
  <a-layout class="mt100 pt10 pl20 content-wrapper requests" id="requests">
    <a-layout-content>
      <a-row class="request-header">
        <a-col :md="20">
          <FilterLayout
            ref="filterRef"
            :onApplyFilters="onApplyFilters"
            @onCleanFilter="onCleanFilter"
            currentPage="requests"
          />
        </a-col>
        <a-col class="taE" :md="4">
          <a-button
            :disabled="!checkPermission('request', 'create', [], userRole)"
            class="mr10"
            type="primary"
            icon="plus"
            @click="onSingleAction({ type: 'create' })"
            >Add New
          </a-button>
          <RequestButtonDropdown
            :records="selectedRow"
            :actions="multiActions"
            :disabled="isDisableActions"
            @onClick="onMultiAction"
            permissionType="multiple"
          >
            <template v-slot:toggleButton>
              <a-button
                >Actions
                <a-icon type="down" />
              </a-button>
            </template>
          </RequestButtonDropdown>
        </a-col>
      </a-row>
      <a-divider class="mt5 mb15" />
      <a-row class="request-content">
        <RequestTable
          :columns="columns"
          :innerColumns="innerColumns"
          :data="requests"
          :pageSize="pages.pageSize"
          :total_items="pages.total_items"
          :currentPage="pages.currentPage"
          :actions="singleActions"
          @onAction="onSingleAction"
          @onUpdateAssign="handleUpdateAssign"
          @onSelect="onSelect"
          @onChangePage="onChangePage"
          @onShowSizeChange="onChangePage"
          @onChange="onChange"
        >
          <template v-slot:status="slotProps">
            <a-button
              v-if="slotProps.item && slotProps.item.status"
              size="small"
              :style="{
                backgroundColor: statusColor[slotProps.item.status],
                borderColor: `${statusColor[slotProps.item.status]}`,
                color: 'white',
                width: '70px',
                fontWeight: '600',
              }"
            >
              {{ formatNewStatus(slotProps.item.status) }}
            </a-button>
          </template>
          <template v-slot:deadline="slotProps">
            <div :style="{ color: checkDeadline(slotProps.item.deadline) ? '#FF0000' : '#262626' }">
              {{ slotProps.item.deadline }}
            </div>
          </template>
          <template v-slot:project="slotProps">
            <a href="javascript:;">{{ slotProps.item.project }}</a>
          </template>
          <template v-slot:title_="slotProps">
            <a @click="goDetailPage(slotProps.item.id)" href="javascript:;"> {{ slotProps.item.title }}</a>
          </template>

          <template v-slot:applicants="slotProps">
            <a @click="goDetailPage(slotProps.item.id, 'qualify')" href="javascript:;">
              {{ `${slotProps.item.applicantsCurrent}/${slotProps.item.applicants}` }}</a
            >
          </template>
          <template v-slot:onboarding="slotProps">
            <a @click="goDetailPage(slotProps.item.id, 'onboard')" href="javascript:;">
            {{ `${slotProps.item.onboardingCurrent}/${slotProps.item.onboarding}` }}</a</a
            >
          </template>
        </RequestTable>
      </a-row>
    </a-layout-content>
    <RequestPopupActionModal
      :visible="isShowActionModal"
      :message="dialogMessageActionModal"
      :type="actionType"
      :title="titleActionModal"
      :defaultItem="defaultPopupItem"
      @ok="onOkPopupAction"
      @cancel="onCancelPopupAction"
    />
    <RequestAssignModal
      :loading="loading"
      :hr-list="assignee"
      :visible="isShowAssignModal"
      :maximumTarget="maximumTarget"
      :defaultItem="currentAssignee"
      @ok="onOkeAssignModal"
      @cancel="onCancelAssignModal"
    />
    <RequestAssignTALeadModal
      :loading="loading"
      :ta-list="assigneeList"
      :visible="isShowAssignTALeadModal"
      @ok="onOkeAssignModalTALead"
      @cancel="onCancelAssignModalTALead"
    />
    <RequestPopupAssigne
      :title="'Update Assignee TA Lead'"
      :visible="isVisibleAssign"
      :hr-list="assignee"
      :defaultItem="currentAssignee"
      :defaultItemTarget="currentAssigneeTarget"
      :projectTarget="currentProjectTarget"
      @ok="handleSubmitUpdateAssignee"
      @cancel="handleCloseAssign"
    >
    </RequestPopupAssigne>
  </a-layout>
</template>
<script type="script" lang="js" src="./Requests.js" />
<style lang="scss">
.requests {
  overflow-y: scroll;
}
#requests {
  margin-top: 80px !important;
}
</style>
