<template>
  <div class="banner">
    <a-layout id="filter-block">
      <a-layout-content class="filter-container">
        <div class="filter-content">
            <!-- <FilterLayout
                v-if="page==='home'"
                key="home-filter"
                ref="filterRef"
                :onSetDataFilters="onSetDataFilters"
                :onApplyFilters="onApplyFilters"
                :datafilterDefault="dataFilters"
                currentPage="shareJob"
            />
            <template v-if="page==='home'">
              <a-checkable-tag class="tags" v-for="(item,index) in searchHistories.slice(0,5)" :key="index" :value="item.name" @change="onApplyFilters({keyword: item.id})">
                {{ item.name }}
              </a-checkable-tag>
            </template> 
            <FilterLayout
                v-if="page==='search'"
                key="search-filter"
                ref="filterRef"
                :onSetDataFilters="onSetDataFilters"
                :onApplyFilters="onApplyFilters"
                @onCleanFilter="onCleanFilter"
                :datafilterDefault="dataFilters"
                :dynamicClass="'filter-job'"
                currentPage="shareJobDetail"
                class="modify-filter"
            /> -->
            <FilterLayoutJobPosting
               :onSetDataFilters="onSetDataFilters"
               @onApplyFilter="onApplyFilter"
               @onCleanFilter="onCleanFilter"
               currentPage="shareJobDetail"
            />
          </div>
        <div></div>
      </a-layout-content>
    </a-layout>
  </div>
</template>
<script>
import FilterLayout from "../../../components/layouts/FilterLayout.vue";
import { mapState } from "vuex";
import FilterLayoutJobPosting from "../../../components/layouts/FilterLayoutJobPosting.vue";
export default {
  data() {
    return {
      dataFilters: {},
      searchHistories: this.getHistoriesSearch(),
    }
  },
  props: {
    page: String,
  },
  components: {
    FilterLayoutJobPosting,
    FilterLayout
  },
  async created() {
    await this.getHistoriesSearch()
    
  },
 
  methods: {
    onSetDataFilters(filters) {
      this.dataFilters = filters;
    },
    onCleanFilter(){
      this.$emit("onCleanFilter")
      this.$store.commit("rtsShareJob/SET_CURRENT_FILTER",{})
    },
    onApplyFilter(filters) {
      this.$emit("onApplyFilter", filters)
    },
    getHistoriesSearch() {
      if (localStorage.getItem("historySearch")){
        return JSON.parse(localStorage.getItem("historySearch"))
      }else return []
    },
  }
}
</script>
<style lang="scss">
#filter-block {
  .filter-container{}
  .filter-content {
    width: 100%;
    margin: 1rem 0 ;
  }

  .filter h2 {
    color: #000000;
    font-size: 2.2rem;
  }

  .tags {
    background-color: #e6ecff;
    color: #555555;
    border-radius: 20px;
    margin: 1rem 0.5rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .modify-filter {
    width: 80%;

  }
}
</style>