<template>
    <div>
        <a-row>
            <table >
                <tr class="payroll-onsite-tr">
                    <th style="width: 357px;padding-left: 5px;">Collaborator</th>
                    <th style="width: 315px;text-align: center;">Role/Department</th>
                    <th style="width: 253px;text-align: center;">Kỳ tính công</th>
                    <th style="width: 289px;text-align: center;">Số tiền (VND)</th>
                    <th style="width: 290px;text-align: center;">Số tài khoản</th>
                    <th style="width: 354px;text-align: center;">Ghi chú</th>
                </tr>
            </table>
        </a-row>    
        <a-row class="payroll-onsite-add-row-table">
            <a-col :span="12">TOTAL</a-col>
            <a-col :span="12" style="padding-left: 6%;">{{totalMoney}}</a-col>
        </a-row>
        <a-table
            class="custom-table"
            :columns="columns"
            :data-source="mockData"
            :pagination="false"
            size="middle"
            :showHeader="false"
        >
        <span slot="collaborator" slot-scope="text, record">
            <div>{{ record.name }} </div>
            <div>{{ record.code }}</div>
        </span>
        <span slot="role_department" slot-scope="text, record">
            <div>{{ record.role }}</div>
            <div>{{ record.department }}</div>
        </span>
        <span slot="note" slot-scope="text, record">
            {{record.note ? record.note : '--'}}
        </span>
        <template slot="footer">
            <div>
            <a-pagination
                v-model="currentPage"
                :total="total_items"
                :show-total="
                (total, range) => `${range[0]}-${range[1]} of ${total} items`
                "
                :page-size="pageSize"
                show-size-changer
                @change="onChangePage"
                @showSizeChange="onShowSizeChange"
            />
            </div>
        </template>
        </a-table> 
    </div>
</template>
<script type="script" lang="js" src="./PayrollPayingTransfer.js" />