.ant-layout-header {
  background: #1890ff;
  box-shadow: 0 2px 2px -1px rgba(175, 175, 175, 0);
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: auto;
  color:#1890ff;
  a{
    color: #ffffff;
  }
  font-weight: 400;
  line-height: 0;
  padding: 0;
  .navbar {
    .logo {
      margin-right: 20px;
      img {
        width:50px;
        height:auto;
      }
    }
    a {color: #ffffff;} 
    border: 1px;
    line-height: 62px;
    .ant-menu {
      background: #1890ff;
      
      .ant-menu-item {
        font-weight: 500; 
        a {
          color: #ffffff;
        }      
      }

      .ant-menu-item-active{
        border-bottom:  #1890ff;
      }
      .ant-menu-item-selected {
        background-color: #1890ff;
        border-bottom: 3px solid #ff9500;
          a {
              color:#ffffff;
              font-weight: 700;
            }
      }
    }
    .ant-menu-horizontal {
      border-bottom: none;
      line-height: 55px;
      .ant-menu-item-selected{
        a {
          color: #ffffff;
        }
      }
    }
  }
  .bg-gray {
    background-color: #ffffff;
  }
  .ant-badge-count{
    min-width: 15px;
    height: 15px;
    padding: 0 4px;
    line-height: 15px;
    .ant-scroll-number-only-unit{
      font-size: 12px;
    }
  }
  .sub-menu-row  {
    .ant-menu-horizontal{
      border-bottom: none;
    }
    line-height: 35px;
    .sub-menu-items{
      line-height: 35px;
      font-size: 0.725rem;
      //font-size: 12px;
      position: relative;
      left: 0px;
    }
    
    .ant-menu {
      background: #ffffff;
      .ant-menu-item {
        border: none;
      }
      .ant-menu-item-selected {
        font-weight: 700;
        a {
          color: #ff9500;
        } 
      }
    }
  
  }
  .logo {
    float: left;
    padding-left: 30px;
  }
  .user-info {
    float: right;
    margin-right: 15px;
  }
  
}

.ant-divider-horizontal {
  margin: 15px 0;
}

.notification {
  .ant-divider-horizontal {
    margin: 0;
  }
}
.ant-dropdown-placement-bottomCenter {
  position: fixed !important;
  box-shadow: 5px 5px 10px grey;
}

.ant-badge-not-a-wrapper:not(.ant-badge-status) {
  vertical-align: inherit;
}

