body {
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 0.75rem;
  background: #f0f2f5;
  width: 100% !important;
}

#app {
  .ant-layout {
    background: none;
  }
  .container {
    position: relative;
    .content-wrapper {
      // position: relative;
      // min-height: 90vh;
      // .content-right {
      //   // height: 100%;
      //   .card-content-deatail {
      //     // height: 100%;
      //   }
      // }
      .content-left {
        height: 100%;
        padding-right: 20px;
        padding-left: 20px;
      }
    }
    .custom-table {
      .ant-table-content {
        table {
          font-size: 0.725rem;
        }
        .ant-table-header {
          background-color: #eaeaea;
        }
        .ant-table-thead {
          background-color: #eaeaea;
          tr {
            th {
              background-color: #eaeaea;
              font-weight: 700;
            }
          }
        }
        tr {
          background-color: #fafafa;
          th {
            background-color: #eaeaea;
          }
        }
        tr:nth-child(even) {
          background-color: #fafafa70;
        }
        .ant-table-footer {
          background-color: #eaeaeaa9;
          text-align: end;
          padding: 10px 5px;
        }
      }
    }
    .ant-select {
      font-size: 0.725rem;
    }
    .ant-input {
      font-size: 0.725rem;
    }
    .ant-input-search {
      font-size: 0.725rem;
    }
    .ant-checkbox {
      font-size: 0.725rem;
    }
    .ant-checkbox-wrapper {
      font-size: 0.725rem;
    }
    .ant-form label {
      font-size: 0.725rem;
    }
    .ant-btn {
      font-size: 0.725rem;
    }
    .ant-pagination li {
      font-size: 0.725rem;
    }
    .filter-layout {
      .ant-select {
        font-size: 0.725rem;
      }
      .ant-input {
        font-size: 0.725rem;
      }
      .ant-input-search {
        font-size: 0.725rem;
      }
      .ant-checkbox {
        font-size: 0.725rem;
      }
      .ant-checkbox-wrapper {
        font-size: 0.725rem;
      }
    }
    .filter-col {
      display: flex;
      flex-wrap: wrap;
    }
    .flex-container {
      padding-right: 4px;
      padding-bottom: 2px;
      flex: 10%;
      min-width: 170px;
      max-width: 400px;
    }
    @media (max-width: 1280px) {
      .flex-container {
        flex: 170px;
      }
    }

    .ant-card {
      font-size: 0.725rem;
    }
    .list-render {
      margin-top: 33px;
      margin-bottom: 15px;
    }
  }
  .ant-divider-horizontal {
    margin: 15px 0;
  }
  .title-bold {
    color: #404040;
    //font-size: 0.625rem;
    font-weight: 500;
  }
  .title-no-bold {
    color: #9f9f9f;
    font-size: 0.625rem;
  }
  .payslip {
    .dmlinhhhhh {
      .title-no-bold {
        // color: #000;
        color: #9f9f9f;
        font-size: 0.725rem;
      }
    }
  }
  .form-employee .ant-divider-horizontal {
    margin-top: 5px;
    margin-bottom: 7px;
    border-bottom: solid 2px orange;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .text-center {
    text-align: center;
  }
  .font-size-20 {
    font-size: 20px;
  }
  .page-title {
    // font-weight: bold;
    font-size: 0.85rem;
  }
  .page-description {
    color: #9f9f9f;
  }
  .title-secction {
    font-weight: 600;
  }
}

///css tabs
.card-container {
  overflow: hidden;
  // padding: 24px;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

//.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
//  border-color: transparent;
//  background: #e8e8e8;
//  min-width: 250px;
//  text-align: center;
//  color: #999999;
//  margin-right: 0px;
//  font-weight: 600;
//  font-size: 0.725rem;
//  //font-size: 12px;
//}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
  color: #333;
}
//
//.ant-tabs-tab:not(:last-child)::after {
//  content: "";
//  border-right: 1px solid #7a869a;
//  height: 20px;
//  position: absolute;
//  right: 249px;
//  top: 10px;
//}

//.ant-tabs-tab-active.ant-tabs-tab::after,
//.ant-tabs-tab-active.ant-tabs-tab + .ant-tabs-tab::after {
//  border: none;
//}

.tag {
  width: auto;
  text-align: center;
  padding: 5px;
}

.ant-modal {
  font-size: 0.725rem;

  .title-bold {
    color: #404040;
    //font-size: 0.625rem;
    font-weight: 500;
  }
  .title-no-bold {
    color: #9f9f9f;
    font-size: 0.625rem;
  }
  .ant-modal-content {
    font-size: 0.725rem;
    .ant-modal-body {
      font-size: 0.725rem;
      .ant-steps {
        .ant-steps-item {
          .ant-steps-item-container {
            .ant-steps-item-content {
              .ant-steps-item-title {
                font-size: 0.725rem;
              }
            }
          }
        }
      }
    }
  }
  .ant-input {
    font-size: 0.725rem;
    color: rgba(45, 45, 45, 0.705);
  }
  .ant-btn {
    font-size: 0.725rem;
  }
  .custom-table {
    .ant-table-content {
      table {
        font-size: 0.725rem;
      }
      .ant-table-header {
        background-color: #eaeaea;
      }
      .ant-table-thead {
        background-color: #eaeaea;
        tr {
          th {
            background-color: #eaeaea;
            font-weight: 700;
          }
        }
      }
      tr {
        background-color: #fafafa;
        th {
          background-color: #eaeaea;
        }
      }
      tr:nth-child(even) {
        background-color: #fafafa70;
      }
      .ant-table-footer {
        background-color: #eaeaeaa9;
        text-align: end;
        padding: 10px 5px;
      }
    }
  }
}

// .ant-divider{
//     margin-top: 50%;
//   }
.ant-drawer {
  font-size: 0.725rem;
  .ant-drawer-content-wrapper {
    font-size: 0.725rem;
    .ant-row {
      margin-bottom: auto;
      font-weight: 500;
    }
    .req-color-delegate {
      background-color: #3789f8;
      color: #fff;
      height: 25px;
      width: 350%;
    }
    .req-close-delegate {
      background-color: #ff4d4f;
      color: #fff;
      margin-left: 10px;
      margin-right: 3px;
    }
    .req-check-delegate {
      background-color: #44bd32;
      color: #fff;
    }
    .req-color-withdraw {
      background-color: #cbcbcb;
      color: black;
      margin-right: 3px;
    }
    .req-color-approve {
      background-color: #44bd32;
      color: #fff;
      margin-right: 3px;
    }
    .req-color-reject {
      background-color: #ff4d4f;
      color: #fff;
      margin-right: 3px;
    }
    .ant-drawer-body {
      font-size: 0.725rem;
      padding-top: 0;

      .custom-table {
        .ant-table-content {
          table {
            font-size: 0.725rem;
          }
          .ant-table-header {
            background-color: #eaeaea;
          }
          .ant-table-thead {
            background-color: #eaeaea;
            tr {
              th {
                background-color: #eaeaea;
                font-weight: 700;
              }
            }
          }
          tr {
            background-color: #fafafa;
            th {
              background-color: #eaeaea;
            }
          }
          tr:nth-child(even) {
            background-color: #fafafa70;
          }
          .ant-table-footer {
            background-color: #eaeaeaa9;
            text-align: end;
            padding: 10px 5px;
          }
        }
      }
      .ant-select {
        font-size: 0.725rem;
      }
      .ant-input {
        font-size: 0.725rem;
      }
      .ant-input-search {
        font-size: 0.725rem;
      }
      .ant-checkbox {
        font-size: 0.725rem;
      }
      .ant-checkbox-wrapper {
        font-size: 0.725rem;
      }
      .ant-btn {
        font-size: 0.725rem;
      }
      .ant-form {
        .ant-form-item {
          label {
            font-weight: 400;
            font-size: 0.725rem;
          }
          .ant-form-text {
            font-size: 0.725rem;
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .ant-btn-circle.ant-btn-sm {
    min-width: 40%;
    border-radius: 50%;
  }
  .ant-btn-sm {
    height: 40%;
  }
  .text-center {
    text-align: inherit;
    font-size: 9px;
    padding-bottom: 0%;
  }
  .ant-drawer {
    .ant-drawer-content-wrapper {
      .req-close-delegate {
        background-color: #ff4d4f;
        color: #fff;
        margin-left: 5px;
      }
      .req-check-delegate {
        background-color: #44bd32;
        color: #fff;
      }
      .req-color-reject {
        background-color: #ff4d4f;
        color: #fff;
        padding-left: 3%;
        padding-right: 3%;
      }
      .req-color-approve {
        background-color: #44bd32;
        color: #fff;
        padding-left: 2%;
        padding-right: 2%;
      }
      .req-color-withdraw {
        background-color: #cbcbcb;
        color: black;
        padding-left: 2%;
        padding-right: 2%;
      }
      .ant-drawer-body {
        .ant-btn {
          font-size: 10px;
        }
        .ant-form {
          .ant-form-item {
            label {
              font-size: 10px;
              color: #000000;
              font-weight: 400;
            }
            .ant-form-text {
              font-size: 10px;
              padding-right: 0px;
            }
          }
        }
      }
    }
  }
}
.font-size-option-select {
  font-size: 0.725rem;
}
