<template>
    <a-layout class=" mt98 content-wrapper check-in-out-page">
        <a-layout-content class="mt10 content-left">
            <a-row class="">
                <a-col :md="20">
                  <FilterLayout
                    :onApplyFilters="onApplyFilters"
                    :onSetDataFilters="onSetDataFilters"
                    :currentPage="roles.includes(Role.ADMIN) || roles.includes(Role.HR)? 'checkin_checkout':'checkin_checkout_by_staff'"
                    :datafilterDefault="filters"
                  /> 
                </a-col>
                <a-col :md="4" class="p5 taE" >
                  <a-button class="mr10" 
                    type="primary" 
                    v-if="roles.includes(Role.HR) || roles.includes(Role.ADMIN)" @click="onshowModal">Update Employee Check Time</a-button>
                  <a-button 
                  v-if="roles.includes(Role.ADMIN) || roles.includes(Role.HR)" 
                  type="primary"  
                  @click="getDataManual">Get Data</a-button>
                </a-col>
              </a-row>
              <a-divider />
              <a-row>
                <a-col :md="24">
                  <a-table
                    class="custom-table"
                    :columns="columns"
                    :rowKey="(record,index) => setRowKey(index)"
                    :dataSource="dataSource"
                    :bordered="false"
                    :pagination="false"
                  >
                    <template v-for="col in columns" :slot="col.dataIndex" slot-scope="text" >
                      <div :key="col.dataIndex" @click="()=>{onHandleClickDay(text.date)}"  :class="checkActiveDay(text.date) + ' check-in-out-item' ">
                        <div class="lable-date mb40">{{text.label}}</div>
                          <a-radio-group
                            :disabled="col.dataIndex === 'Sat' || col.dataIndex === 'Sun'? true:false"
                            size="small"
                            class="font-xs text-center"
                          >
                            <a-radio-button
                            :class="text.is_late_coming ? 'customCheckIO': ''"
                              :value="getTime(text.start_time)"
                            >{{getTime(text.start_time)}}
                            </a-radio-button>
                            <a-radio-button :value="getTime(text.end_time)" :class="text.is_early_leaving ? 'customCheckIO': ''">{{getTime(text.end_time)}}</a-radio-button>
                        </a-radio-group>
                      </div>
                    </template>
                  </a-table>
                </a-col>
              </a-row>
        </a-layout-content>
         <a-drawer 
        placement="right"
        :visible="visible"
        :closable="false"
        width="30%"
        @close="onClose"
        >
          <div class="timesheet-detail bg-white p20">
            <a-row class="mb10">
              <a-col :md="12">
                <span class="text-bold page-title">Detail</span>
              </a-col>
              <a-col :md="12">
                <span class="text-bold page-title">{{formatDate(currentDate)}}</span>
              </a-col>
            </a-row>
            <a-card class="staff-info mb15">
              <a-row>
                <a-col :md="6">
                <a-avatar size="large" :style="{backgroundColor: colorAvatar}">{{staffInfo ? getAvatarName(staffInfo.name) : ''}}</a-avatar>
                </a-col>
                <a-col :md="18">
                  <a-row>
                    <a-col :md="24">
                      <div class="title-bold mb5">{{staffInfo.name}}</div>
                      <div>
                        <span class="title-no-bold mb5">ID Staff: </span>
                        <span>{{staffInfo.sf4c_id}}</span>
                      </div>
                      <div>
                        <span class="title-no-bold mb5">Role: </span>
                        <span>{{staffInfo.position_title_en}}</span>
                      </div>
                      <div>
                        <span class="title-no-bold">Department: </span>
                        <span>{{staffInfo.department_name ? staffInfo.department_name.nameEn : ''}}</span>
                      </div>
                    </a-col>
                  </a-row>
                </a-col>
              </a-row>
            </a-card>
            <a-row class="mb15">
              <a-col :md="24">
                <div class="blue mb10">Checktime</div>
                <a-list item-layout="horizontal" :data-source="itemListOfDay">
                  <a-list-item slot="renderItem" slot-scope="item">
                    <a-list-item-meta>
                      <span slot="title">{{item.time}}</span>
                    </a-list-item-meta>
                  </a-list-item>
                </a-list>
              </a-col>
            </a-row>
          </div>
         </a-drawer>
          <a-modal
            title="Update Employee Check Time"
            :visible="visibleUpdateJob"
            :maskClosable="false"
            :closable="false"
            okText="Update"
            @ok="handleSubmitJob"
            @cancel="handleCancelModalUpdate"
          >
            <a-form :form="formUpdateJob">
              <a-form-item>
                <a-select 
                placeholder="Search by staff name, ID"
                allowClear
                mode='multiple'
                :not-found-content="fetching ? undefined : null"
                :default-active-first-option="false"
                :filter-option="false"
                :maxTagCount="1"
                :dropdownMatchSelectWidth="false"
                style="margin-bottom: 10px;"
                @search="(value) => onSearchStaff(value,1000)"
                v-decorator="[
                  'staff', 
                  {
                    rules: [
                      {required: true, message: 'Please choose staff !'}
                    ]
                  }
                ]"
              >
                <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                <a-select-option
                  v-for="item in employeeList"
                  :key="item.id"
                  :value="JSON.stringify({id :item.id, label: item.label,department: item.department, value: item.value})"
                >{{item.label + ' (' + item.value + ' - ' +item.department + ')'}}</a-select-option>          
              </a-select>
              </a-form-item>
              <a-form-item>
                <div class="flex-date">
                  <a-range-picker 
                    class="date-select" 
                    :style="{width: '100%'}"
                    v-model="rangeDate"
                  />
                </div>
              </a-form-item>
            </a-form>
          </a-modal>
    </a-layout>
</template>

<script type='script' lang='js' src ='./CheckInOut.js' />