<template>
  <div style="height:100%">
    <div class="total-comment">{{ commentsData.length }} comments</div>
    <div class="comment-wrap">
      <div
        class="comment-info mb20"
        v-for="comment in commentsData"
        :key="comment.comment_id"
      >
        <a-row>
          <a-col :md="24">
            <a-col :md="3">
              <a-avatar size="large" icon="user" />
            </a-col>
            <a-col :md="21">
              <a-row class="mb10">
                <a-col :md="18">
                  <div class="full-name">{{ getCommentName(comment) }}</div>
                  <div class="date">
                    {{ comment.last_modified_date | formatDateComment }}
                  </div>
                </a-col>
                <a-col
                  :md="6"
                  v-if="
                    comment.created_by &&
                      comment.created_by.id === userInfo.userId
                  "
                >
                  <div class="pull-right">
                    <template v-if="comment.editable === true">
                      <a class="mr10" @click="handleUpdateComment(comment)"
                        >Save</a
                      >
                      <a @click="handleCancelUpdateComment(comment.comment_id)"
                        >Cancel</a
                      >
                    </template>
                    <template v-else>
                      <a-button
                        type="default mr10"
                        icon="edit"
                        @click="handleEditComment(comment.comment_id)"
                      />
                      <a-button
                        type="default btn-delete"
                        icon="delete"
                        @click="handleDeleteComment(comment)"
                      />
                    </template>
                  </div>
                </a-col>
              </a-row>
              <a-row class="mb15">
                <div v-if="comment.editable === true">
                  <span class="err" v-if="comment.content.length === 0"
                    >Comment is required</span
                  >
                  <a-textarea
                    :auto-size="{ minRows: 3, maxRows: 3 }"
                    placeholder="Enter comment"
                    v-model="comment.content"
                  />
                </div>
                <div class="content" v-else>{{ comment.content }}</div>
              </a-row>
            </a-col>
          </a-col>
        </a-row>
      </div>
    </div>
    <div class="comment-form">
      <div class="title-form mb5">Wirte a comment</div>
      <a-row>
        <span class="err" v-if="!isValidComment">Comment is required</span>
        <a-col :md="20">
          <a-textarea
            v-model="comment"
            :auto-size="{ minRows: 4, maxRows: 4 }"
            placeholder="Enter comment"
            :maxLength="500"
            @change="handleChangeComment"
          />
          <div class="float-right">
            <span>{{ comment.length }}/500</span>
          </div>
        </a-col>
        <a-col :md="4">
          <a-button
            type="primary"
            style="float:right;font-size:12px"
            @click="handleAddComment"
            >Add</a-button
          >
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script type="script" lang="js" src="./CommentsTimesheet.js" />

<style lang="scss"></style>
