<template >
  <div class="KPI" id="KPI">
    <div class="configuration-table">
      <a-table
        :columns="columns"
        :data-source="kpiList"
        :row-key="(record) => record.key"
        :pagination="false"
        bordered
      >
        <template
          style="background-color: #bbb"
          class="total"
          slot="total"
          slot-scope="val, record"
        >
          <p
            style="text-align:center"
            :id="'pTotal' + record.key"
            :ref="justSetColorParent('pTotal' + record.key)"
          >
            {{ val }}
          </p>
        </template>
        <template :class="monthKPI" slot="monthKPI" slot-scope="val, record">
          <input
            :id="'input' + record.key + val.monthKey"
            :class="'monthKPIInput editOn' + record.key"
            type="number"
            v-model="record[val.monthKey].value"
            style="display: none"
          />
          <p
            :id="'p' + record.key + val.monthKey"
            :class="'monthKPILabel editOff' + record.key"
          >
            {{ record[val.monthKey].value }}
          </p>
        </template>

        <template slot="action" slot-scope="text, record"
        >
          <!-- <a style="margin-left: 8px; display:block; padding:5px; border:0.5px solid #555; border-radius:3px;" key="1" @click="editItem(record, $event, key)" :v-text="record.onEdit">Edit</a> -->
          <img
            :class="'button-icon editOff' + record.key"
            src="../../../assets/images/icons/edit.svg"
            @click="editPermissed? recordEditModeToggle(record): null"
            :style="{'opacity':editPermissed?'1':'0.4'}"
          />
          <!-- <div :hidden="!record['onEdit']"> -->
          <div style="display: none" :class="'editOn' + record.key"
            v-if="editPermissed"
          >
            <img
              class="button-icon"
              src="../../../assets/images/icons/done.svg"
              @click="editHandle(record)"
            />
            <img
              class="button-icon"
              src="../../../assets/images/icons/close.svg"
              @click="discardRecordChange(record)"
            />
          </div>
          <!-- <a-button style="margin-left: 8px;" key="1" @click="editItem(record, $event, key)" :v-text="record.onEdit">Edit</a-button> -->
        </template>
        <template slot="footer">
          <div>
            <a-pagination
              :current="pages.currentPage"
              :total="pages.total_items"
              :show-total="onShowTotal"
              :page-size="pages.pageSize"
              @change="onChangePage"
              showSizeChanger
              @showSizeChange="onChangePage"
            />
          </div>
        </template>
      </a-table>
    </div>
  </div>
</template>
<script type='script' lang='js' src='./KPI.js'/>
<style lang="scss">
.wrapper {
  max-width: 100%;
  margin: auto;
}
</style>


<style lang="scss">
.configuration-table {
  background: #ffffff;
  tr,
  td,
  .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }
  .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }
  .ant-table-thead > tr > th {
    background: #eaeaea;
  }
  .ant-table-bordered .ant-table-thead > tr > th,
  .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: none;
  }
  .ant-table-bordered .ant-table-header > table,
  .ant-table-bordered .ant-table-body > table,
  .ant-table-bordered .ant-table-fixed-left table,
  .ant-table-bordered .ant-table-fixed-right table {
    border: 1px solid $border-color-gray;
  }
  .ant-pagination-item-active {
    background: $pagination-color-dark-gray;
    border-color: $pagination-color-dark-gray;
  }
  .ant-pagination-item-active a {
    color: #fff;
  }
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border: none;
    background: inherit;
  }
  .ant-table-pagination.ant-pagination {
    text-align: center;
    float: none;
  }
  .ant-table-footer {
    text-align: end;
  }
  .monthKPIInput:focus {
    border: 2px solid #468deb;
  }
  .monthKPIInput {
    width: 80%;
    border: 0.5px solid #eee;
    border-radius: 3px;
    text-align: center;
  }
  .monthKPILabel {
    text-align: center;
  }
  .button-icon {
    cursor: pointer;
  }
  td {
    //background-color: #777;
    border-left: 0.5px solid #ddd;
  }
  .monthKPI {
    background-color: #666;
  }
}
</style>