<template>
    <div class="detail-drawer">
        <a-card class="staff-info mb15">
            <a-row>
                <a-col :md="3"><a-avatar size="large" :style="{backgroundColor: randomColor()}">{{timesheetUser ? getAvatarName(timesheetUser.name) : ''}}</a-avatar></a-col>
                <a-col :md="21">
                    <a-row>
                        <a-col :md="8">
                            <div class="mb5 title-no-bold">{{timesheetUser ? timesheetUser.name : ''}}</div>
                            <div  class="mb5 title-no-bold">Payroll Period: {{formatDate(timesheetInfo.from_date)}} - {{formatDate(timesheetInfo.to_date)}}</div>
                            <div class="mb5 title-no-bold"><span >Department:</span> <span>{{timesheetUser.department_name ? timesheetUser.department_name.nameEn : ''}}</span></div>
                            <!--div class="mb5 title-no-bold"><span >Role:</span> <span>{{timesheetUser ? timesheetUser.position_title_en : ''}}</span></div-->
                        </a-col>
                        <a-col :md="8">
                            <div class="mb5 title-no-bold"><span >ID Staff:</span> <span>{{timesheetUser ? timesheetUser.code : ''}}</span></div>
                            <div class="mb5 title-no-bold"><span >Số tài khoản:</span>12010007304691 <span></span></div>
                            <div class="mb5 title-no-bold"><span >Ngân hàng: BIDV xxx</span> <span></span></div>
                        </a-col>
                        <a-col :md="5">
                            <div class="mb5 title-no-bold"><span >Ngày chính thức:</span><span> {{formatDate('01/01/2019')}} </span></div>
                            <div class="mb5 title-no-bold"><span >Ngày làm việc:</span><span> {{formatDate('01/01/2019')}} </span></div>
                            <div class="mb5 title-no-bold"><span >Ngày nghỉ việc:</span> <span> -- </span></div>
                        </a-col>
                    </a-row>
                </a-col>
            </a-row>
        </a-card>
        <a-row class="mb15">
            <a-col :md="12">
                <a-row>
                    <div class="blue mb10">1. Bảng lương</div>
                </a-row>
                <a-row class="detail-payroll-period">
                    <a-list
                        size="small"
                        item-layout="horizontal"
                        :data-source="detailPayrollPeriod"
                    >
                        <a-list-item slot="renderItem" slot-scope="item">
                            <a-list-item-meta>
                                <span slot="title">{{ item.title}}</span>
                            </a-list-item-meta>
                            <div class="content-period">content</div>
                        </a-list-item>
                    </a-list>
                </a-row>
                <a-row class="detail-period-A mt20">
                    <a-list
                        size="small"
                        item-layout="horizontal"
                        :data-source="detailPeriodA"
                    >
                        <a-list-item slot="renderItem" slot-scope="item">
                            <a-list-item-meta>
                                <span slot="title">{{ item.title}}</span>
                            </a-list-item-meta>
                            <div class="content-period">content</div>
                        </a-list-item>
                    </a-list>
                </a-row>
                <a-row class="detail-period-B mt20">
                    <a-list
                        size="small"
                        item-layout="horizontal"
                        :data-source="detailPeriodB"
                    >
                        <a-list-item slot="renderItem" slot-scope="item">
                            <a-list-item-meta>
                                <span slot="title">{{ item.title}}</span>
                            </a-list-item-meta>
                            <div class="content-period">content</div>
                        </a-list-item>
                    </a-list>
                </a-row>
            </a-col>
            <a-col :md="12" class="dmlinhhhhh">
                <a-row class="detail-period-C">
                    <a-list
                        size="small"
                        item-layout="horizontal"
                        :data-source="detailPeriodC"
                    >
                        <a-list-item slot="renderItem" slot-scope="item">
                            <a-list-item-meta>
                                <span slot="title">{{ item.title}}</span>
                            </a-list-item-meta>
                            <div class="content-period">content</div>
                        </a-list-item>
                    </a-list>
                </a-row>
                <a-row class="detail-period-D mt20">
                    <a-list
                        size="small"
                        item-layout="horizontal"
                        :data-source="detailPeriodD"
                    >
                        <a-list-item slot="renderItem" slot-scope="item">
                            <a-list-item-meta>
                                <span slot="title">{{ item.title}}</span>
                            </a-list-item-meta>
                            <div class="content-period">content</div>
                        </a-list-item>
                    </a-list>
                </a-row>
                <a-row>
                    <div class="black mt30 mb20">
                        <span>Thực lĩnh trong kỳ (A-B+C-D):</span>
                        <span style="padding-left: 156px;">8,269,266</span>
                    </div>
                </a-row>
                <a-row>
                    <div class="blue mb10 mt20">2. Các khoản trích nộp của công ty</div>
                </a-row>
                <a-row class="detail-payroll-period">
                    <a-list
                        size="small"
                        item-layout="horizontal"
                        :data-source="detailTotal"
                    >
                        <a-list-item slot="renderItem" slot-scope="item">
                            <a-list-item-meta>
                                <span slot="title">{{ item.title}}</span>
                            </a-list-item-meta>
                            <div class="content-period">content</div>
                        </a-list-item>
                    </a-list>
                </a-row>
            </a-col>
        </a-row>
    </div>
</template>
<script type="script" lang="js" src="./PayrollSalaryInPeriodDetail.js" />