<template>
  <div>
    <a-row class="request-detail-header">
      <a-col :md="18">
        <h2>
          {{ requestDetail.title }}
        </h2>
        <a-tag
          :style="{
            backgroundColor: STATUS_COLOR[requestDetail.status],
            borderColor: `${STATUS_COLOR[requestDetail.status]}`,
            color: 'white',
            fontWeight: '600',
          }"
        >
          {{ formatNewStatus(requestDetail.status) }}
        </a-tag>
      </a-col>
      <a-col class="tool-box--container" :md="6">
        <!--    request action-->
        <RequestButtonDropdown
          v-if="keyTab === 'general-information' && checkShowWithStatusClosedExpired()"
          :records="[requestDetail]"
          :actions="actions"
          @onClick="onSingleAction"
          permissionType="single"
        >
          <template v-slot:toggleButton>
            <a-button
              >Actions
              <a-icon type="down" />
            </a-button>
          </template>
        </RequestButtonDropdown>
        <!--      source action-->
        <div v-else-if="!checkShowWithStatusClosedExpired()">
          <a-icon @click="handleToolboxAction(ACTION_KEYS.BACK)" class="icon" type="arrow-left" />
        </div>
        <div class="tool-box--container" v-else-if="checkShowWithStatusClosedExpired()">
          <div class="group-icon">
            <a-icon @click="handleToolboxAction(ACTION_KEYS.BACK)" class="icon" type="arrow-left" />
            <a-dropdown>
              <a-menu slot="overlay" style="min-height: 40px; overflow: auto" :selectedKeys="[current]">
                <a-menu-item @click="handleFilterAssignee('')" key="All"> <a-icon type="user" />All</a-menu-item>
                <a-menu-item
                  v-for="ass in requestDetail.recruiters"
                  @click="handleFilterAssignee(ass)"
                  :key="ass.assignLdap"
                >
                  <a-icon type="user" />
                  {{ ass.assignName }}
                </a-menu-item>
              </a-menu>
              <a-icon @click="handleToolboxAction(ACTION_KEYS.ASSIGNEE)" class="icon" type="usergroup-delete" />
              <a></a>
            </a-dropdown>

            <a-icon
              v-if="
                (userInfo.userRoles[1] !== API_USER_TITLE.DU_LEAD || userInfo.userRoles[1] !== API_USER_TITLE.G_LEAD) &&
                keyTab !== 'qualify' &&
                keyTab !== 'source' &&
                keyTab !== 'confirm'
              "
              @click="handleToolboxAction(ACTION_KEYS.CALENDAR)"
              class="icon"
              :class="isShowInterview ? 'active-interview' : ''"
              type="calendar"
            />
            <a-icon @click="handleToolboxAction(ACTION_KEYS.MAIL)" class="icon" type="mail" />
            <a-icon @click="handleToolboxAction(ACTION_KEYS.MESSAGE)" class="icon" type="message" />
            <a-icon
              v-if="userInfo.userRoles[1] === 'RTS-TA-MNG' || userInfo.userRoles[1] === 'RTS-EB'"
              @click="handleToolboxAction(ACTION_KEYS.DELETE)"
              class="icon"
              type="delete"
            />
          </div>
          <a-dropdown
            v-if="checkPermission('request', 'import_candidate', [], userRole) && keyTab === TAB_KEYS.QUALIFY"
          >
            <a-menu slot="overlay" @click="handleMenuClick">
              <a-menu-item key="1"> <a-icon type="plus" />Single Upload</a-menu-item>
              <a-menu-item key="2"> <a-icon type="upload" />Multiple Upload </a-menu-item>
            </a-menu>
            <a-button style="margin-left: 8px"> Import <a-icon type="down" /> </a-button>
          </a-dropdown>
          <a-dropdown
            v-if="
              (checkPermission('request', 'move_candidate', [], userRole) &&
                (checkAssignee() || checkUserName(requestDetail.createdBy, userInfo.userName))) ||
              userInfo.userRoles[1] === API_USER_TITLE.HR_MNG
            "
          >
            <a-menu slot="overlay">
              <a-menu-item v-for="item in actionItems" :key="item.id" @click="handleMoveAction(item)">
                <a-icon type="arrow-right" />
                {{ item.text }}
              </a-menu-item>
            </a-menu>
            <a-button
              v-show="keyTab !== TAB_KEYS.FAILED"
              @click="handleMoveAction(defaultActionItem)"
              style="margin-left: 8px"
            >
              {{ defaultActionItem.text }}
              <a-icon type="down" />
            </a-button>
          </a-dropdown>
        </div>
      </a-col>
    </a-row>
    <!--    popup modal block -->
    <RequestPopupAction
      :visible="isShowActionModal"
      :message="dialogMessageActionModal"
      :type="actionType"
      :title="titleActionModal"
      :defaultItem="defaultPopupItem"
      @ok="onOkPopupAction"
      @cancel="onCancelPopupAction"
    />
    <RequestAssignModal
      :loading="loading"
      :hr-list="assignees"
      :visible="isShowAssignModal"
      :title="assignModalTitle"
      :maximumTarget="maximumTarget"
      @ok="onOkeAssignModal"
      @cancel="onCancelAssignModal"
    />
    <UploadFileModal
      :visible="visibleUpload"
      @ok="handleOkeUpload"
      :isStep="true"
      @cancel="handleCancelUpload"
    ></UploadFileModal>
    <!-- modal comment -->
    <a-modal v-model="visible" title="Comment" :footer="null">
      <a-form autocomplete="off" ref="form" :form="form" @keyup.enter="handleSubmit" @submit="handleSubmit">
        <a-form-item :class="[errComment && value == '' && 'has-error']">
          <a-input
            placeholder="Comment is here"
            v-decorator="[
              'value',
              {
                rules: [
                  { required: true, message: 'Please input comment!' },
                  {
                    max: 255,
                    message: 'You\'ve exceeded the limit by 255 characters!',
                  },
                ],
              },
            ]"
          />
        </a-form-item>
      </a-form>
    </a-modal>
    <!-- model delete -->
    <a-modal v-model="visibleDelete" title="Delete Candidate" ok-text="Delete" cancel-text="Cancel" @ok="handleOk">
      <p>Do you want delete candidate ?</p>
    </a-modal>
    <CreateCvUploadModel
      :visibleModal="isShowUpLoadCVModal"
      :data="requestDetail"
      :jobId="requestDetail.id"
      :isApply="false"
      @onCancelPopup="handleCloseUpload"
    />
  </div>
</template>

<script>
import { mapState } from "vuex";
import { API_ACTION_KEY } from "../../../../components/commons/commonConstant";
import { checkUserRole } from "../../../../service/authorService";
import { checkPermission, checkUserName } from "../../../../service/permissionService";

import {
  PAGE_OPTIONS_KEY,
  STATUS_COLOR,
  TAB_KEYS,
  ACTION_KEYS,
  API_USER_TITLE,
} from "../../../../components/commons/commonConstant";
import { capitalizeFirstLetter, formatNewStatus, saveStage } from "../../../../components/commons/commons";
import RequestButtonDropdown from "../../../../components/requests/RequestButtonDropdown";
import RequestAssignModal from "../../../../components/requests/RequestAssignModal";
import RequestPopupAction from "../../../../components/requests/RequestPopupAction";
import UploadFileModal from "../../../ManagementCV/UploadCV/UploadFileModal";
import CreateCvUploadModel from "../../../../components/cv/CreateCvUploadModel";
import moment from "moment";

let ACTION_ITEMS = {};
ACTION_ITEMS[TAB_KEYS.SOURCE] = {
  id: 0,
  key: "none",
  text: "Move to source",
};
ACTION_ITEMS[TAB_KEYS.QUALIFY] = {
  id: 1,
  key: "qualify",
  text: "Move to applicant",
};
ACTION_ITEMS[TAB_KEYS.CONFIRM] = {
  id: 2,
  key: "confirm",
  text: "Move to qualify",
};
ACTION_ITEMS[TAB_KEYS.INTERVIEW] = {
  id: 3,
  key: "interview",
  text: "Move to interview",
};
ACTION_ITEMS[TAB_KEYS.OFFER] = {
  id: 4,
  key: "offer",
  text: "Move to offer",
};
ACTION_ITEMS[TAB_KEYS.ONBOARD] = {
  id: 5,
  key: "onboard",
  text: "Move to onboard",
};
ACTION_ITEMS[TAB_KEYS.FAILED] = {
  id: 6,
  key: "failed",
  text: "Move to rejected",
};

export default {
  name: "RequestDetailHeader",
  props: {
    requestDetail: {
      type: Object,
    },
    keyTab: {
      type: String,
    },
  },
  components: {
    RequestButtonDropdown,
    RequestAssignModal,
    RequestPopupAction,
    UploadFileModal,
    CreateCvUploadModel,
  },

  data() {
    return {
      API_ACTION_KEY,
      STATUS_COLOR,
      ACTION_ITEMS,
      ACTION_KEYS,
      TAB_KEYS,
      API_USER_TITLE,
      current: "All",
      actionItems: [],
      isShowUpLoadCVModal: false,
      defaultActionItem: {},
      isShowActionModal: false,
      isShowAssignModal: false,
      dialogMessageActionModal: "",
      actionType: "",
      titleActionModal: "",
      defaultPopupItem: null,
      assignRequestId: null,
      assignModalTitle: "Assign Request",
      maximumTarget: 0,
      loading: false,
      actions: ["submit", "close", "approve", "reject", "assign"],
      requestId: null,
      visible: false,
      value: "",
      errComment: false,
      form: this.$form.createForm(this, { name: "comment_form" }),
      visibleDelete: false,
      visibleMoveTab: true,
      listHr: [],
      visibleUpload: false,
    };
  },
  computed: {
    ...mapState({
      humanResources: (state) => state.rtsApplication.humanResourceList,
      candidateId: (state) => state.rtsListCandidate.candidateId,
      assignees: (state) => state.rtsRequest.assigneeList,
      selectedRowKeys: (state) => state.rtsListCandidate.selectedRowKeys,
      pageOptions: (state) => state.rtsListCandidate.pageOptions,
      userRole: (state) => state.user.userRole,
      userInfo: (state) => state.user.userInfo,
    }),
    // keyTab: (state) => state.rtsInterviewTab.keyTab,
    keyTabDetail: {
      get() {
        return this.$store.state.rtsListCandidate.aciveKeyTabs;
      },
      set(newVal) {
        this.$store.commit("rtsListCandidate/SET_ACTIVE_KEYTAB", newVal);
      },
    },
    isShowInterview() {
      return this.keyTabDetail === 3;
    },
  },
  watch: {
    requestDetail: {
      immediate: true,
      handler(newVal) {
        newVal.recruiters?.map((item) => {
          this.listHr.push(item.assignLdap);
        });
      },
    },
    keyTab: {
      immediate: true,
      handler() {
        this.actionItems = [];
        if (this.keyTab === TAB_KEYS.SOURCE) {
          this.defaultActionItem = ACTION_ITEMS[TAB_KEYS.QUALIFY];
          this.actionItems = [ACTION_ITEMS[TAB_KEYS.QUALIFY]];
        }
        if (this.keyTab === TAB_KEYS.QUALIFY) {
          this.defaultActionItem = ACTION_ITEMS[TAB_KEYS.CONFIRM];
          this.actionItems = [
            ACTION_ITEMS[TAB_KEYS.CONFIRM],
            ACTION_ITEMS[TAB_KEYS.SOURCE],
            ACTION_ITEMS[TAB_KEYS.FAILED],
          ];
        }
        if (this.keyTab === TAB_KEYS.CONFIRM) {
          this.defaultActionItem = ACTION_ITEMS[TAB_KEYS.INTERVIEW];
          this.actionItems = [
            ACTION_ITEMS[TAB_KEYS.INTERVIEW],
            ACTION_ITEMS[TAB_KEYS.QUALIFY],
            ACTION_ITEMS[TAB_KEYS.FAILED],
          ];
        }
        if (this.keyTab === TAB_KEYS.INTERVIEW) {
          this.defaultActionItem = ACTION_ITEMS[TAB_KEYS.OFFER];
          this.actionItems = [
            ACTION_ITEMS[TAB_KEYS.OFFER],
            ACTION_ITEMS[TAB_KEYS.CONFIRM],
            ACTION_ITEMS[TAB_KEYS.FAILED],
          ];
        }
        if (this.keyTab === TAB_KEYS.OFFER) {
          this.defaultActionItem = ACTION_ITEMS[TAB_KEYS.ONBOARD];
          this.actionItems = [
            ACTION_ITEMS[TAB_KEYS.ONBOARD],
            ACTION_ITEMS[TAB_KEYS.INTERVIEW],
            ACTION_ITEMS[TAB_KEYS.FAILED],
          ];
        }
        if (this.keyTab === TAB_KEYS.ONBOARD) {
          this.defaultActionItem = ACTION_ITEMS[TAB_KEYS.FAILED];
          this.actionItems = [ACTION_ITEMS[TAB_KEYS.FAILED], ACTION_ITEMS[TAB_KEYS.OFFER]];
        }
      },
    },
  },
  methods: {
    checkPermission,
    checkUserName,
    checkUserRole,
    formatNewStatus,
    checkAssignee() {
      console.log("check assign", this.listHr.toString().includes(this.userInfo.userName));
      return this.listHr.toString().includes(this.userInfo.userName);
    },
    handleMenuClick(e) {
      if (e.key == 1) {
        this.isShowUpLoadCVModal = true;
      } else if (e.key == 2) {
        this.handleUpload();
      }
    },
    handleCloseUpload() {
      this.isShowUpLoadCVModal = false;
    },
    handleMoveAction(item) {
      const payload = {
        key: item.key,
        tab: this.keyTab,
      };
      this.$emit("onMoveAction", payload);
    },
    handleToolboxAction(type) {
      if (type === ACTION_KEYS.DELETE) {
        if (!this.selectedRowKeys || this.selectedRowKeys.length <= 0) {
          this.$message.warn("You must select at least one candidate !", 2);
          return null;
        }
        this.visibleDelete = true;
        return null;
      }
      if (type === ACTION_KEYS.CALENDAR) {
        // TAB INTERVIEW
        if (this.keyTabDetail === 3) {
          this.$message.warn("You are already in this tab");
          return;
        }
        this.keyTabDetail = 3;
      }
      if (type === ACTION_KEYS.MESSAGE) {
        // TAB COMMENT
        this.keyTabDetail = 2;
      }
      if (type === ACTION_KEYS.MAIL) {
        window.open("https://webmail.cmc.com.vn/owa/#path=/mail", "_blank");
      }
      this.$emit("onToolboxAction", type);
    },
    handleOk() {
      const payload = {
        candidateId: this.selectedRowKeys,
        requestId: this.$route.params.id,
      };

      this.$store.dispatch("rtsListCandidate/deleteCandidate", payload).then((res) => {
        if (res) {
          this.$store.dispatch("rtsListCandidate/getListCandidate", this.pageOptions);
          this.visibleDelete = false;
          this.$emit("onToolboxAction", "delete");
        }
      });
    },
    handleFilterAssignee(ass) {
      if (ass === "") {
        this.current = ["All"];
      } else {
        this.current = ass.assignLdap;
      }
      this.$emit("onFilterAssignee", ass.assignLdap);
    },
    handleUpload() {
      this.visibleUpload = true;
    },
    handleOkeUpload() {
      this.visibleUpload = false;
    },
    handleCancelUpload() {
      this.visibleUpload = false;
    },
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          const data = {
            requestId: this.$route.params.id,
            text: values.value,
            candidateId: this.candidateId,
          };
          this.$store.dispatch("rtsActivityCandidate/postComment", data).then(() => {
            const payload = {
              page: 1,
              requestId: this.$route.params.id,
              candidateId: this.candidateId,
            };
            this.$store.dispatch("rtsActivityCandidate/getListComment", payload);
          });
        }
      });
      this.form.resetFields();
      // this.visible = false
      this.$store.commit("rtsListCandidate/SET_ACTIVE_KEYTAB");
    },
    resetData() {
      this.$store.commit("rtsListCandidate/RESET_STATE");
      this.$emit("onFilterAssignee", ass.assignLdap);
    },
    getApproveList() {
      this.$store.dispatch("rtsRequest/getApproveList");
    },
    onSingleAction(payload) {
      this.actionType = payload.type;
      this.actionData = payload.data;
      if (this.actionType === "detail") {
        let requestId = this.actionData.id;
        this.goDetailPage(requestId);
      }
      if (this.actionType === "edit") {
        let requestId = this.actionData.id;
        saveStage(PAGE_OPTIONS_KEY, this.pageOptions);
        this.goEditPage(requestId);
      }
      if (this.actionType === "create") {
        this.goEditPage();
      }
      if (this.actionType === "assign") {
        this.assignRequestId = this.actionData.id;
        this.maximumTarget = this.actionData.number;
        this.showAssignModal();
      }
      if (
        this.actionType === "approve" ||
        this.actionType === "reject" ||
        this.actionType === "submit" ||
        this.actionType === "close"
      ) {
        this.handleAction();
      }
    },
    handleAction() {
      this.actionData = this.wrapDataIntoArray(this.actionData);
      if (this.actionType === "submit") {
        // mock data
        this.defaultPopupItem = 1220;
        this.getApproveList();
      }
      this.showActionConfirm(this.actionType);
    },
    wrapDataIntoArray(data) {
      return [data].flat();
    },
    showActionConfirm(type) {
      switch (type) {
        case "approve":
        case "reject":
        case "close":
          this.titleActionModal = "Please Confirm";
          this.dialogMessageActionModal = `Do you want to ${type} this requests?`;
          break;
        case "submit":
          this.titleActionModal = "Submit request";
          this.dialogMessageActionModal = "";
          break;
        default:
          break;
      }
      this.isShowActionModal = true;
    },
    onOkPopupAction(payload) {
      const { additionalData } = payload;
      let ids = this.actionData.map((item) => item.id);
      this.submitAction(this.actionType, {
        ids: ids,
        additionalData: additionalData,
      });
      this.isShowActionModal = false;
    },
    submitAction(type, data) {
      if (this.requestDetail.status === "Approved" && type !== "reject") {
        this.$store.dispatch("user/loadingRequest");
        this.$store
          .dispatch(`rtsRequest/approve2RtsRequest`, data)
          .then(() => {
            this.refreshSelect();
            this.$store.dispatch("user/loadingRequest");
            this.$message.success(`${capitalizeFirstLetter(type)} request successfully!`);
          })
          .catch((err) => {
            this.$message.error(err.message, 5);
            this.$store.dispatch("user/loadingRequest");
          });
      } else {
        this.$store.dispatch("user/loadingRequest");
        this.$store
          .dispatch(`rtsRequest/${type}RtsRequest`, data)
          .then(() => {
            this.refreshSelect();
            this.$store.dispatch("user/loadingRequest");
            this.$message.success(`${capitalizeFirstLetter(type)} request successfully!`);
          })
          .catch((err) => {
            this.$message.error(err.message, 5);
            this.$store.dispatch("user/loadingRequest");
          });
      }
    },
    refreshSelect() {
      this.selectedRow = [];
      this.isShowAssignModal = false;
    },
    onCancelPopupAction() {
      this.isShowActionModal = false;
    },

    onOkeAssignModal(payload) {
      this.isShowAssignModal = false;
      this.$store.dispatch("user/loadingRequest");
      this.$store
        .dispatch("rtsRequest/assignRtsRequest", {
          recruiters: payload,
          requestId: this.assignRequestId,
        })
        .then(() => {
          this.$emit("onResolveAction");
          this.$message.success(`Assign request successfully!`);
        })
        .catch((err) => {
          this.$message.error(err.message, 5);
        })
        .finally(() => {
          this.$store.dispatch("user/loadingRequest");
        });
    },
    onCancelAssignModal() {
      this.isShowAssignModal = false;
    },
    showAssignModal() {
      this.$store.dispatch("rtsApplication/getHumanResourceList").then(() => {
        this.isShowAssignModal = true;
      });
    },
    getRequestDetail(id) {
      this.$store.dispatch("rtsRequestDetailGenenalInfo/getRtsRequestDetailById", id);
    },
    checkShowWithStatusClosedExpired() {
      console.log("requestDetail", this.requestDetail);
      console.log("vao day");
      const { status, deadline } = this.requestDetail;
      if (status === "Closed" || moment(deadline, "YYYY-MM-DD").isBefore(moment(new Date()).startOf("day"))) {
        return false;
      }
      return true;
    },
  },
};
</script>

<style lang="scss">
.request-detail-header {
  .group-icon {
    display: inline-block;
  }
  .icon {
    font-size: 18px;
    margin: 5px;
  }
  h2 {
    font-size: 30px;
    font-weight: 600;
    color: #172b4d;
    display: inline-block;
  }
  .ant-tag {
    min-width: 60px;
    margin-left: 15px;
    display: inline-block;
    position: relative;
    top: -5px;
    right: 0;
    font-weight: 600;
    border-radius: 5px;
    padding-bottom: 1px;
  }
  .ant-tag {
    min-width: 80px;
    text-align: center;
  }
  .ant-layout,
  .ant-layout * {
    box-sizing: border-box;
  }
  .tool-box--container {
    display: flex;
    justify-content: right;
  }
  .active-interview {
    color: #2d89fc;
  }
  .assignee-contain {
    height: 320px;
    overflow: auto;
  }
}
</style>
