<template>
  <div class="abnormal-case p15 mt80">
    <a-row class="pt15">
      <a-col :md="18">
        <FilterLayout
          :onSetDataFilters="onSetDataFilters"
          :datafilterDefault="filters"
          :onApplyFilters="onApplyFilters"
          :currentPage="
            roles.includes(Role.STAFF) ? 'abnormal_case_staff' : 'abnormal_case'
          "
        />
      </a-col>
      <a-col class="taE" :md="6">
        <a-button
          class="mr10"
          type="primary"
          v-if="roles.includes(Role.HR) || roles.includes(Role.ADMIN)"
          @click="onshowModalUpdate"
          >Update Abnormal Case</a-button
        >
        <a-button
          type="primary"
          icon="file-excel"
          @click="exportRequest"
          :disabled="isDisableExport"
          >Export to Excel</a-button
        >
      </a-col>
    </a-row>
    <a-divider />
    <a-table
      class="custom-table"
      :columns="columns"
      :rowClassName="handleRowClassName"
      :data-source="dataSource"
      :pagination="false"
      rowKey="id"
      size="middle"
      :customRow="customRow"
    >
      <span slot="display_name" slot-scope="text, record">
        <div>
          {{ text }} -
          {{
            record.employee.department_name
              ? record.employee.department_name.nameEn
              : ""
          }}
        </div>
      </span>
      <span slot="reason" slot-scope="text, record">
        <div
          class="reason_abnormal_case"
          @mouseover="
            (e) =>
              handleHover(e, record.request ? record.request.description : '')
          "
          @mouseleave="handleMouseLeave"
          :style="{ maxWidth: sizeReason }"
        >
          {{ record.request ? record.request.description : "" }}
        </div>
      </span>
      <span slot="edit" slot-scope="text, record">
        <a-dropdown
          :trigger="['click']"
          v-if="
            checkMoreVisible(record) &&
            !record.dateInApprovedTimeSheet &&
            !(
              record.employee.user_name === userInfo.userName &&
              record.status === 3
            )
          "
        >
          <a-icon
            class="black font-lg"
            type="more"
            @click="onClickMore(record)"
          />
          <a-menu slot="overlay">
            <a-menu-item
              v-if="checkEditChangeStatusVisible(record)"
              @click="onClickApproved(record, 3)"
              :disabled="record.status === 3 ? true : false"
              >Approve</a-menu-item
            >
            <a-menu-item
              v-if="checkEditChangeStatusVisible(record)"
              @click="onClickReject(record, 4)"
              :disabled="record.status === 4 ? true : false"
              >Reject</a-menu-item
            >
            <a-menu-item
              v-if="checkEditVisible(record)"
              @click="onClickEdit(record)"
              >Edit</a-menu-item
            >
          </a-menu>
        </a-dropdown>
      </span>
      <span slot="check_in_out" slot-scope="text, record">
        <div>
          {{ formatTime(record.check_in) }} - {{ formatTime(record.check_out) }}
        </div>
      </span>
      <span slot="approver_name" slot-scope="text, record">
        <div v-if="record.status !== 0 && !record.is_expired">{{ text }}</div>
      </span>
      <span slot="statusType" slot-scope="text, record">
        <a-tag
          :class="
            record.status === 0 &&
            !record.is_expired &&
            record.employee.user_name === userInfo.userName
              ? 'cursor-pointer'
              : ''
          "
          :color="
            record.is_expired && record.status === 0
              ? statusColor['EXPIRED']
              : statusColor[record.statusText]
          "
          :style="{ width: 'auto', textAlign: 'center' }"
          @click="showModal(record)"
          >{{
            (record.is_expired && record.status) === 0
              ? "EXPIRED"
              : record.statusText
          }}</a-tag
        >
      </span>
      <template slot="footer">
        <div>
          <a-pagination
            v-model="currentPage"
            :total="total_items"
            :show-total="
              (total, range) => `${range[0]}-${range[1]} of ${total} items`
            "
            :page-size="pageSize"
            show-size-changer
            @change="onChangePage"
            @showSizeChange="onShowSizeChange"
          />
        </div>
      </template>
    </a-table>
    <div
      v-if="tooltipOnsite.config.visible"
      :style="{
        top: this.tooltipOnsite.config.top,
        left: this.tooltipOnsite.config.left,
        position: 'absolute',
      }"
    >
      <span>
        <div class="tooltips ptb3 plr10">
          <div class="text-bold">Reason:</div>
          {{ this.tooltipOnsite.description }}
        </div>
      </span>
    </div>
    <div>
      <a-modal
        v-model="visible"
        :width="size > 600 ? 600 : 520"
        :maskClosable="false"
        ok-text="Create"
      >
        <div class="flex-center text-center text-bold pb10">
          <h2>{{ isEdit ? "Edit Explanation" : "Create Explanation" }}</h2>
          <a-divider />
        </div>
        <template>
          <a-form :form="form">
            <a-form-item
              label="Request"
              :label-col="{ span: 3 }"
              :wrapper-col="{ span: 20 }"
            >
              <a-input
                disabled
                v-decorator="[
                  'request',
                  { initialValue: this.formData.request },
                ]"
              />
            </a-form-item>
            <a-form-item
              label="Staff"
              :label-col="{ span: 3 }"
              :wrapper-col="{ span: 20 }"
            >
              <a-input
                disabled
                v-decorator="['staff', { initialValue: this.formData.staff }]"
              />
            </a-form-item>
            <a-form-item
              label="Type"
              :label-col="{ span: 3 }"
              :wrapper-col="{ span: 20 }"
            >
              <a-input
                disabled
                v-decorator="['type', { initialValue: this.formData.type }]"
              />
            </a-form-item>
            <a-row>
              <a-col :md="9">
                <a-form-item
                  label="Date"
                  :label-col="{ span: 8 }"
                  :wrapper-col="{ span: 12 }"
                  class="taE"
                >
                  <a-input
                    disabled
                    v-decorator="['date', { initialValue: this.formData.date }]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="7">
                <a-form-item
                  label="From"
                  :label-col="{ span: 8 }"
                  :wrapper-col="{ span: 14 }"
                >
                  <a-time-picker
                    :style="{ width: size > 600 ? '112px' : '85px' }"
                    format="HH:mm"
                    @change="onChangeStartTime"
                    v-decorator="[
                      'from',
                      {
                        initialValue: this.formData.from,
                        rules: [
                          { required: true, message: 'Time is required' },
                        ],
                      },
                    ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :md="8">
                <a-form-item
                  label="To"
                  :label-col="{ span: 6 }"
                  :wrapper-col="{ span: 14 }"
                >
                  <a-time-picker
                    :style="{ width: size > 600 ? '115px' : '85px' }"
                    format="HH:mm"
                    @change="onChangeEndTime"
                    v-decorator="[
                      'to',
                      {
                        initialValue: this.formData.to,
                        rules: [
                          { required: true, message: 'Time is required' },
                        ],
                      },
                    ]"
                  />
                </a-form-item>
              </a-col>
            </a-row>
            <a-form-item
              label="Actual"
              :label-col="{ span: 3 }"
              :wrapper-col="{ span: 20 }"
            >
              <a-select
                @change="(value) => onChangeActual(value)"
                :allowClear="true"
                v-decorator="[
                  'actual_type',
                  {
                    initialValue: this.formData.actual_type,
                    rules: [
                      { required: true, message: 'Please choose actual type!' },
                    ],
                  },
                ]"
              >
                <a-select-option
                  v-for="actual in dataActual"
                  :key="actual.code"
                  :value="actual.code"
                  >{{ actual.message }}</a-select-option
                >
              </a-select>
            </a-form-item>
            <a-form-item
              label="Reason"
              :label-col="{ span: 3 }"
              :wrapper-col="{ span: 20 }"
            >
              <a-textarea
                placeholder
                :auto-size="{ minRows: 2, maxRows: 6 }"
                v-decorator="[
                  'description',
                  {
                    initialValue: this.formData.description,
                    rules: [
                      { required: true, message: 'Desciption is required' },
                      {
                        max: 250,
                        message: 'You’ve exceeded the limit by 250 characters',
                      },
                    ],
                  },
                ]"
              />
            </a-form-item>
            <a-form-item
              label="CC"
              :label-col="{ span: 3 }"
              :wrapper-col="{ span: 20 }"
            >
              <a-select
                :allowClear="true"
                :showSearch="true"
                mode="multiple"
                placeholder="Search by staff name, ID"
                :style="{ width: '100%' }"
                :not-found-content="fetching ? undefined : null"
                @search="(value) => onSearchStaff(value, 1000)"
                :filter-option="filterOption"
                :maxTagCount="3"
                v-decorator="['cc', { initialValue: this.formData.cc }]"
              >
                <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                <a-select-option
                  class="font-size-option-select"
                  v-for="item in employeeList"
                  :key="item.id"
                  :value="item.id"
                  >{{ item.label + " (" + item.value + ")" }}</a-select-option
                >
              </a-select>
            </a-form-item>
            <a-form-item
              label="Approver"
              :label-col="{ span: 3 }"
              :wrapper-col="{ span: 20 }"
            >
              <a-input
                disabled
                v-decorator="[
                  'assigner',
                  { initialValue: this.formData.assigner },
                ]"
              ></a-input>
            </a-form-item>
            <a-divider />
            <a-row>
              <a-col>
                <a-upload
                  name="file"
                  :multiple="true"
                  :show-upload-list="true"
                  :file-list="fileList"
                  :remove="handleRemove"
                  :download="handleDownload"
                  :before-upload="beforeUpload"
                >
                  <a-button type="primary" icon="paper-clip"
                    >Attach File</a-button
                  >
                  <span class="ml30"
                    >{{ fileList.length }} files selected.</span
                  >
                </a-upload>
              </a-col>
            </a-row>
            <a-row>
              <p style="font-size: 13px; margin-top: 5px">
                Maximum allowed file size is 5.0 MB
              </p>
            </a-row>
          </a-form>
        </template>
        <template slot="footer">
          <a-row class="p10">
            <a-col :md="24">
              <a-button @click="handleCancel">Cancel</a-button>
              <a-button @click="handleSubmit" type="primary">{{
                isEdit ? "Update" : "Create"
              }}</a-button>
              <a-button key="submit" type="primary" @click="handleDownload" v-if="isAvaiableToDownLoad" >Download</a-button>
            </a-col>
          </a-row>
        </template>
      </a-modal>
    </div>
    <a-drawer
      placement="right"
      :visible="visibleDrawer"
      :destroyOnClose="true"
      width="30%"
      :closable="false"
      v-if="recordDetail !== null"
      @close="onClose"
      class="abnormal-drawer"
    >
      <abnormal-case-detail
        :data="recordDetail"
        :getAbnormalCaseData="getAbnormalCaseData"
        :statusColor="statusColor"
        :statusText="statusText"
        :formatDate="formatDate"
        :formatTime="formatTime"
        :userInfo="userInfo"
        :checkMoreVisible="checkMoreVisible"
        :checkEditVisible="checkEditVisible"
        :checkEditChangeStatusVisible="checkEditChangeStatusVisible"
        :Role="Role"
        :fileList="fileList"
        :isAvaiableToDownLoad ="isAvaiableToDownLoad"
      />
    </a-drawer>
    <template>
      <a-modal
        title="Reasons For Rejection"
        :maskClosable="false"
        :visible="visibleModalReject"
        ok-text="Comment"
        @ok="handleOk"
        @cancel="handleCancelRejectModel"
      >
        <a-textarea
          allow-clear
          v-model="reasonReject"
          :auto-size="{ minRows: 3, maxRows: 5 }"
        />
      </a-modal>
      <a-modal
        title="Update Abnormal Case"
        :visible="visibleUpdateAbnomal"
        :maskClosable="false"
        :closable="false"
        okText="Update"
        @ok="handleSubmitJob"
        @cancel="handleCancelModalUpdate"
      >
        <a-form :form="formUpdateJob">
          <a-form-item>
            <a-select
              placeholder="Search by staff name, ID"
              allowClear
              mode="multiple"
              :not-found-content="fetching ? undefined : null"
              :default-active-first-option="false"
              :filter-option="false"
              :maxTagCount="1"
              :dropdownMatchSelectWidth="false"
              style="margin-bottom: 10px"
              @search="(value) => onSearchStaff(value)"
              v-decorator="[
                'staff',
                {
                  rules: [{ required: true, message: 'Please choose staff !' }],
                },
              ]"
            >
              <a-spin v-if="fetching" slot="notFoundContent" size="small" />
              <a-select-option
                v-for="item in employeeList"
                :key="item.id"
                :value="
                  JSON.stringify({
                    id: item.id,
                    label: item.label,
                    department: item.department,
                    value: item.value,
                  })
                "
                >{{
                  item.label + " (" + item.value + " - " + item.department + ")"
                }}</a-select-option
              >
            </a-select>
          </a-form-item>
          <a-form-item>
            <a-date-picker
              :style="{ width: '100%' }"
              format="DD-MM-YYYY"
              placeholder="Choose Date Job"
              v-decorator="[
                'date',
                {
                  rules: [
                    {
                      required: true,
                      message: 'Please choose Time!',
                    },
                  ],
                },
              ]"
            />
          </a-form-item>
        </a-form>
      </a-modal>
    </template>
  </div>
</template>
<script type="script" lang="js" src="./AbnormalCase.js" />