<template>
  <div>
    <a-form 
      id="form-explanation-detail"
      :form="form"
      v-bind="formItemLayout"
      @submit="handleSubmit"
      labelAlign="left"
    >
      <a-form-item label="Title" >
        <a-input  
          v-if="this.explanationDetail.statusText === 'PENDING' || this.explanationDetail.statusText === 'DELEGATED'"
          v-decorator="[
            'title',
            { rules: [{ required: true, message: 'Title is required' }] },
          ]" 
        @change="onChangeTitle"/>
        <a-input v-else :disabled="true" v-decorator="['title']"/>
      </a-form-item>
      <a-form-item  label="Full Name"  >
        <a-input  :disabled="true" v-decorator="['employee']"/>
      </a-form-item>
       <a-form-item  label="Department" >
        <a-input  :disabled="true" v-decorator="['department']"/>
      </a-form-item>
       <a-form-item  label="Explanation Date" >
         <a-input  :disabled="true" v-decorator="['explanation_date']"/>
      </a-form-item >
       <a-form-item  label="Explanation Reason" >
          <a-input  :disabled="true" v-decorator="['explanation_reason']"/>
      </a-form-item>
       <a-form-item  label="Actual">
          <a-select v-decorator="['actual', 
            { rules: [{ required: explanationDetail.statusText === 'PENDING' || explanationDetail.statusText === 'DELEGATED' ? true:false , message: 'Description is required' }] },]" 
            :disabled="explanationDetail.statusText === 'PENDING' || explanationDetail.statusText === 'DELEGATED' ? false:true" @change="onChange">
            <a-select-option v-for="reason in reasonRequestList" :key="reason.sf4c_registration_type" :value="reason.sf4c_registration_type" :style="{width:'40%'}">
                {{reason.sf4c_notation}}
            </a-select-option>
          </a-select>
      </a-form-item>
      <a-form-item  label="Description" >
          <a-textarea :row="6" v-decorator="['description', 
            { rules: [{ required: explanationDetail.statusText === 'PENDING' || explanationDetail.statusText === 'DELEGATED' ? true:false , message: 'Description is required' }] },]" 
            :disabled="explanationDetail.statusText === 'PENDING' || explanationDetail.statusText === 'DELEGATED' ? false:true"
            @change="onChangeDescription">
          </a-textarea>
      </a-form-item>
      <a-form-item  label="Created Date" >
          <a-input  :disabled="true" v-decorator="['created_date']"/>
      </a-form-item>
       <a-form-item label ="Assignee" :label-col="{ span: 8}" :wrapper-col="{ span: 16 }" >
            <a-select 
              v-decorator="['assignee']"
              showSearch
              allowClear
              :label-col="{ span: 17}" 
              @search="onSearchDelegatorToChange"
              :not-found-content="fetching ? undefined : null"
              @focus="onHandleFocus"
              :default-active-first-option="false"
              :filter-option="false"
              @change="onHandleChange"
              :disabled="explanationDetail.statusText === 'PENDING' || explanationDetail.statusText === 'DELEGATED' ? false:true"
            >
              <a-spin v-if="fetching" slot="notFoundContent" size="small" />
              <a-select-option v-for="(item, index) in dataOptionFilterChangeDelegator" :key="index" :value="item.user_name">
                {{item.name}}   
              </a-select-option>
            </a-select>
        </a-form-item>
      <a-form-item  label="Status" >
        <a-input  :disabled="true" v-decorator="['status']"/>
      </a-form-item>
      <a-divider/>
       <a-template :wrapper-col="{ span: 17}" v-if="explanationDetail.status !== 3 && explanationDetail.status !== 4 && explanationDetail.status !== 5">
        <a-col :md="{ span: 3, offset: 0 }">
          <a-button class="ant-btn-basic" @click="onClickCancel" type="cancel">
            Cancel
          </a-button>
        </a-col>
        <a-col :md="{ span: 1, offset: 1 }">
        <a-button v-if="visible" type="primary" key="submit" html-type="submit"  class="ant-btn-primary">
          Save
        </a-button>
        </a-col>
        <a-col v-if="roles.includes(Role.GROUP_LEAD) || roles.includes(Role.DULEAD)"  :md="{ span: 3, offset: 11 }" >
          <a-button  @click="onClickReject" type="default">
            Reject
          </a-button>
        </a-col>
        <a-col v-if="roles.includes(Role.GROUP_LEAD) || roles.includes(Role.DULEAD)"  :md="{ span: 2, offset: 1 }">
          <a-button   @click="onClickApprove" html-type="submit" class="ant-btn-primary">
            Approve
          </a-button>
        </a-col >
        
      </a-template>
    </a-form>  
  </div>
</template>

<script type='script' lang='js' src ='./ExplanationDetail.js' />