<template>
  <a-modal
    :width="544"
    class="formJobDetail"
    v-model="visibleModal"
    :maskClosable="false"
    :closable="false"
  >
    <div>
      <h2 class="model-header-cv">{{isApply ? 'Take a chance with your information' : 'Import Candidate'}}</h2>
    </div>
    <template>
      <a-form
        id="upload-form-cv"
        :form="form"
        :label-col="{ span: 6 }"
        :wrapper-col="{ span: 16 }"
        @submit="handleSubmit"
      >
        <a-form-item :label="isApply ? 'Your name' : 'Full name'">
          <a-input
            placeholder="Text"
            v-decorator="[
              'fullName',
              {
                initialValue: form.fullName,
                rules: [
                  {
                    required: true,
                    message: 'Please input full name!',
                  },
                  {
                    type: 'string',
                    pattern:
                      /^[a-zA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂẾưăạảấầẩẫậắằẳẵặẹẻẽềềểếỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\W|_]+$/,
                    message: 'Input full name must be string!',
                  },
                  {
                    max: 100,
                    message: 'You’ve exceeded the limit by 100 characters',
                  },
                ],
              },
            ]"
          />
        </a-form-item>
        <a-form-item :label="isApply ? 'Your email' : 'Email'">
          <a-input
              placeholder="Text"
              v-decorator="[
              'email',
              {
                initialValue: form.email,
                rules: [
                  {
                    required: true,
                    message: 'Please input E-mail!',
                  },
                  {
                    type: 'email',
                    message: 'The input is not valid E-mail!',
                  },
                  {
                    max: 250,
                    message: 'You’ve exceeded the limit by 250 characters',
                  },
                ],
              },
            ]"
              @change="handleChangeEmail"
          >
          </a-input>
        </a-form-item>
        <a-form-item :label="'Contact'">
          <a-select
              show-search
              v-model="contactType"
              v-decorator="[
                `contactType`,
                 {
                   initialValue : contactType,
                    rules: [
                         {
                          required: true,
                          message: 'Please choose contact',
                      },
                    ],
                  },
              ]"
              placeholder="Please select contact"
          >
            <a-select-option
                v-for="item in listContact"
                :key="item.id"
                :value="item.name"
            >
              {{ item.name }}
            </a-select-option>
          </a-select>

<!--          <VueSelect :options="listContact" v-model="contactType" label="name"></VueSelect>-->
        </a-form-item>
        <a-form-item :label="isApply ? 'Your phone' : 'Phone number'" v-if="contactType === 'Mobile'">
          <a-input
            placeholder="Enter phone number"
            v-decorator="[
              'phone',
              {
                initialValue: form.phone,
                rules: [
                  {
                    type: 'string',
                    pattern:
                      /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im,
                    message:
                      'Please input phone number and no space between of number!',
                  },
                  {
                    required: true,
                    message: 'Please input phone number!',
                  },
                ],
              },
            ]"
            @change="handleChangePhone"
          >
          </a-input>
        </a-form-item>
        <a-form-item :label="contactType === 'SkypeID'  ? 'SkypeId' : 'Facebook'" v-if="contactType === 'SkypeID' || contactType === 'Facebook'">
          <a-input
              :placeholder="contactType === 'SkypeID' ? 'Enter Skype ID' : 'Enter Facebook url'"
              v-decorator="[
              contactType === 'SkypeID'  ? 'skypeID' : 'Facebook',
              {
                initialValue: form.fullName,
                rules: [
                  {
                    required: true,
                    message: `Please input contact info`,
                  },
                  {
                    max: 100,
                    message: 'You’ve exceeded the limit by 100 characters',
                  },
                ],
              },
            ]"
          />
        </a-form-item>
        <a-form-item label="Group Source"  v-if="!isApply">
          <a-select
              show-search
              v-model="sourceName"
              v-decorator="[
                `sourceName`,
                 {
                   initialValue : sourceName,
                    rules: [
                         {
                          required: true,
                          message: 'Please choose source',
                      },
                    ],
                  },
              ]"
              placeholder="Please select source"
          >
            <a-select-option
                v-for="item in sources"
                :key="item.id"
                :value="item.name"
            >
              {{ item.name }}
            </a-select-option>
          </a-select>
<!--          <VueSelect :options="sources" v-model="sourceName" label="source" ></VueSelect>-->
        </a-form-item>

        <a-form-item label="Channel"  v-if="!isApply">
          <a-select
              show-search
              v-model="channelName"
              v-decorator="[
                `channelName`,
                 {
                   initialValue : channelName,
                    rules: [
                         {
                          required: true,
                          message: 'Please choose channel',
                      },
                    ],
                  },
              ]"
              placeholder="Please select channel"
          >
            <a-select-option
                v-for="item in listChannels"
                :key="item.id"
                :value="JSON.stringify(item)"
            >
              {{ item.name }}
            </a-select-option>
          </a-select>
<!--          <VueSelect :options="listChannels" v-model="channelName" label="name" ></VueSelect>-->
        </a-form-item>
        <a-form-item :label="'Referral'" v-if="(channelName ? JSON.parse(channelName).name : '') === 'Referral'">
          <a-input
              :placeholder="'Referral Username'"
              v-decorator="[
              'refererUser',
              {
                initialValue: '',
                rules: [
                  {
                    required: true,
                    message: `Please input referral username`,
                  },
                  {
                    max: 100,
                    message: 'You’ve exceeded the limit by 100 characters',
                  },
                ],
              },
            ]"
          />
        </a-form-item>
        <a-form-item :label="'Headhunt'" v-if="(channelName ? JSON.parse(channelName).name : '') === 'Headhunt'">
          <a-input
              :placeholder="'Headhunt name'"
              v-decorator="[
              'headhunt',
              {
                initialValue: '',
                rules: [
                  {
                    required: true,
                    message: `Please input Headhunt username`,
                  },
                  {
                    max: 100,
                    message: 'You’ve exceeded the limit by 100 characters',
                  },
                ],
              },
            ]"
          />
        </a-form-item>
        <a-form-item :label="'Fullname'" v-if="(channelName ? JSON.parse(channelName).name : '') === 'Freelance'">
          <a-input
              :placeholder="'Freelance fullname'"
              v-decorator="[
              'freelanceName',
              {
                initialValue: '',
                rules: [
                  {
                    required: true,
                    message: `Please input Freelance fullname`,
                  },
                  {
                    max: 100,
                    message: 'You’ve exceeded the limit by 100 characters',
                  },
                ],
              },
            ]"
          />
        </a-form-item>
        <a-form-item :label="'Email'" v-if="(channelName ? JSON.parse(channelName).name : '') === 'Freelance'">
          <a-input
              :placeholder="'Freelance email'"
              v-decorator="[
              'freelanceEmail',
              {
                initialValue: '',
                rules: [
                  {
                    required: true,
                    message: 'Please input E-mail!',
                  },
                  {
                    type: 'email',
                    message: 'The input is not valid E-mail!',
                  },
                  {
                    max: 250,
                    message: 'You’ve exceeded the limit by 250 characters',
                  },
                ],
              },
            ]"
          />
        </a-form-item>
        <a-form-item :label="'Mobile'" v-if="(channelName ? JSON.parse(channelName).name : '') === 'Freelance'">
          <a-input
              :placeholder="'Freelance mobile'"
              v-decorator="[
              'freelanceMobile',
              {
                initialValue: '',
                rules: [
                  {
                    type: 'string',
                    pattern:
                      /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im,
                    message:
                      'Please input phone number and no space between of number!',
                  },
                  {
                    required: true,
                    message: 'Please input phone number!',
                  },
                ],
              },
            ]"
          />
        </a-form-item>
        <a-form-item label="Candidate type"  v-if="!isApply">
          <a-radio-group default-value="Active" v-model="candidateType" button-style="solid">
            <a-radio-button value="Active">
              Active
            </a-radio-button>
            <a-radio-button value="Passive">
              Passive
            </a-radio-button>
          </a-radio-group>
        </a-form-item>
        <a-form-item label="Last company">
          <a-input
              placeholder="Text"
              v-decorator="[
              'lastCompany',

            ]"
              @change="handleChangeEmail"
          >
          </a-input>

        </a-form-item>
        <a-form-model-item class="custom-required-class" label="Skill" >
          <VueSelect
              v-model="skill"
              multiple
              label="name"
              :options="skills"
              @input="handleChangeSkill"
          />
          <div class="ant-form-explain" style="color: red;" v-if="isEmptySkill">Please choice Skills!</div>
        </a-form-model-item>
        <a-form-item label="Experiences">
          <VueSelect :options="experiences" v-model="experience" label="name" >
          </VueSelect>
        </a-form-item>
        <a-form-item :label="isApply ? 'Your CV' : 'CV'">
          <a-upload
            v-decorator="[
              'linkCv',
              {
                valuePropName: 'fileList',
                getValueFromEvent: normFile,
                rules: [
                  {
                    required: true,
                    message: 'Please upload file CV required information!',
                  },
                ],
              },
            ]"
            name="file"
            method="post"
            accept="application/pdf"
            @change="handleChange"
            :customRequest="uploadFiles"
            :before-upload="beforeUpload"
          >
            <a-button
              :disabled="!isRemovedFile"
              :class="isRemovedFile ? 'upload-btn' : ''"
            >
              <a-icon type="cloud-upload" />{{
                iconLoading ? "Uploading" : "Upload"
              }}
            </a-button>
          </a-upload>
        </a-form-item>
        <div v-show="uploadErrorMessage !== ''" class="error-message">
          {{ uploadErrorMessage }}
        </div>
        <div v-show="validateStatus === 'error'" class="error-message-existed">
          {{ errorMsg }}
        </div>
      </a-form>
    </template>
    <template slot="footer">
      <a-row class="pb10 pr40 mr10">
        <a-col :md="24">
          <div class="float-right submit-block">
            <a-button
              key="back"
              @click="onCancelPopup"
              type="dashed"
              class="cancel-popup"
              >Cancel
            </a-button>
            <a-button
              key="submit"
              @click="handleSubmit"
              :loading="submmitLoading"
              type="primary"
              :disabled="
                uploadErrorMessage !== '' || errorMsg !== '' ||
                hasErrors(form.getFieldsError()) ||
                submmitLoading ||
                validateStatus === 'error'
              "
              >Send </a-button
            >

          </div>
        </a-col>
      </a-row>
    </template>
  </a-modal>
</template>

<script>
import { mapActions, mapState } from "vuex";
import VueSelect from "../base/VueSelect";
import moment from "moment";

function hasErrors(fieldsError) {
  return Object.keys(fieldsError).some((field) => fieldsError[field]);
}

export default {
  name: "CreateCvUploadModel",
  props: {
    data: {
      type: Object,
      required: true,
    },
    visibleModal: {
      type: Boolean,
      default: function () {
        return true;
      },
    },
     isApply: {
       type: Boolean,
       default: function () {
         return true;
       },
     }
  },
  components: {
    VueSelect
  },
  data() {
    return {
      submmitLoading: false,
      form: this.$form.createForm(this, {}),
      iconLoading: false,
      isUploadSuccess: false,
      isRemovedFile: true,
      hasErrors,
      baseUrl: "https://media.cmcglobal.com.vn",
      uploadErrorMessage: "",
      validateStatus: "success",
      errorMsg: "",
      formEmail: "",
      formPhone: "",
      experience: "",
      sourceName: "",
      channelName: "",
      candidateType: "Active",
      skill: [],
      sourceList: [],
      listContact: [
        {
          id: 1,
          name: "Mobile"
        },
        {
          id: 2,
          name: "SkypeID"
        },
        {
          id: 3,
          name: "Facebook"
        },

      ],
      contactType: '',
      listChannel: [],
      rules: {
        position: [
          {required: true, message: 'Please choose position', trigger: 'change'},
        ],
      },
      isEmptySkill: true,
    };
  },
  computed: {
    ...mapState({
      urlPreview: (state) => state.rtsJobPostingDetail.urlPreview,
      createStatus: (state) => state.rtsJobPostingDetail.createStatus,
      experiences: (state) => state.experience.experienceList,
      listChannels: (state) => state.rtsManagementCV.listChannelBySource,
      userInfo: state => state.user.userInfo.userName,
      skills: (state) => state.rtsApplication.skillList,
      sources: (state) => state.rtsManagementCV.listSource,
      messageCreateStatusError: (state) =>
        state.rtsJobPostingDetail.messageCreateStatusError,
    }),
    isUploaded() {
      return true;
    },

  },
  beforeCreate() {
    this.form = this.$form.createForm(this, {
      fullName: String,
      phone: String,
      email: String,
      linkCv: String,
      applySince: String,
      channel: Number,
      job: String,
      requestId: Number,
    });
  },
  watch: {
    createStatus: function (val) {
      if (val === "None") {
        this.submmitLoading = false;
        this.validateStatus = "success";
        this.errorMsg = "";
      }
      if (val === "Error") {
        if (
          this.messageCreateStatusError === "Email and phone is existed!"
        ) {
          this.formEmail = this.form.getFieldValue("email");
          this.formPhone = this.form.getFieldValue("phone");
        } else {
          setTimeout (() => {
            this.setMessageCreateStatus("");
            this.changeCreateStatus("None");
          }, 4000);
        }
      }
      if (val === "Done") {
        this.onCancelPopup();
      }
      if (val === "Success") {
        this.form.resetFields();
        this.changeCreateStatus("Done");
        this.$message.success(`Apply CV is successfully.`);
      }
    },
    sourceName: function (newVal){
      this.$store.dispatch("rtsManagementCV/getListChannelbySource", newVal?.toLowerCase())
    },

    messageCreateStatusError: function (val) {
      if (val !== "") {
        this.submmitLoading = false;
        this.validateStatus = "error";
        this.errorMsg = val;
      } else {
        this.validateStatus = "success";
        this.errorMsg = "";
      }
    },

    visibleModal: function () {
      this.fullName = ''
      this.email = ''
      this.contactType = ''
      this.form.phone = ''
      this.form.skypeID = ''
      this.form.facebook = ''
      this.skill = []
      this.sourceName = ''
      this.channelName = ''
      if (this.skill.length > 0)
      {
        this.isEmptySkill = false
      }
      else {
        this.isEmptySkill = true
      }
    }
  },
  created() {
    let pageOptions = {
      offset: 1,
      limit: 1000,
      like: "0",
    };
    this.$store.dispatch("experience/getExperienceList", pageOptions);
    this.$store.dispatch("rtsManagementCV/getListSource");

  },
  mounted() {
    this.$nextTick(() => {
      // To disabled submit button at the beginning.
      this.form.validateFields();
    });
  },
  methods: {
    ...mapActions({
      uploadFileCV: "rtsJobPostingDetail/uploadFileCV",
      setUrlPreview: "rtsJobPostingDetail/setUrlPreview",
      candidateUploadCv: "rtsJobPostingDetail/candidateUploadCv",
      changeCreateStatus: "rtsJobPostingDetail/changeCreateStatus",
      setMessageCreateStatus: "rtsJobPostingDetail/setMessageCreateStatus",
    }),

    beforeUpload(file) {
      this.isRemovedFile = false;
      this.iconLoading = true;
      this.uploadErrorMessage = "";
      // Only allow upload file type application/pdf
      const isPdf = file.type === "application/pdf";
      if (!isPdf) {
        this.isUploadSuccess = false;
        this.$message.error("You can only upload PDF file!");
        this.uploadErrorMessage = "You can only upload PDF file!";
      }
      // Limit upload 5mb
      const isLimit5M = file.size <= 5 * 1024 * 1024;
      if (!isLimit5M) {
        this.isUploadSuccess = false;
        this.$message.error("Image size must smaller than 5MB!");
        this.uploadErrorMessage = "Image size larger than 5MB!";
      }
      return isPdf && isLimit5M;
    },

    handleChange(cvUpload) {
      this.isUploadSuccess = false;
      this.isRemovedFile = false;
      if (cvUpload.file.status === "uploading") {
        this.iconLoading = true;
        return;
      }
      if (cvUpload.file.status === "done") {
        this.isUploadSuccess = true;
        this.iconLoading = false;
        this.uploadErrorMessage = "";
        this.$message.success(`Your file uploaded successfully.`);
        this.uploadFileCV(cvUpload);
      } else if (cvUpload.file.status === "error") {
        this.iconLoading = false;
        this.setUrlPreview("");
        this.$message.error(`Your file upload failed.`);
      } else if (cvUpload.file.status === "removed") {
        this.uploadErrorMessage = "";
        this.iconLoading = false;
        this.isRemovedFile = true;
        this.setUrlPreview("");
        this.isUploadSuccess = false;
      } else {
        this.setUrlPreview("");
        this.iconLoading = false;
      }
      return cvUpload && cvUpload.fileList;
    },

    normFile(e) {
      if (Array.isArray(e)) {
        return e;
      }
      return e && e.fileList;
    },

    uploadFiles({ onSuccess, onError, file }) {
      setTimeout(() => {
        onSuccess("ok");
      }, 500);
    },

    handleChangeEmail(email) {
      if (email !== this.formEmail) {
        this.validateStatus = "success";
        this.errorMsg = "";
        this.changeCreateStatus("None");
      }
    },

    handleChangePhone(phone) {
      if (phone !== this.formPhone) {
        this.validateStatus = "success";
        this.errorMsg = "";
        this.changeCreateStatus("None");
      }
    },

    handleChangeSkill() {
      if (this.skill.length == 0)
      {
        this.isEmptySkill = true
      }
      else {
        this.isEmptySkill = false
      }
    },

    async handleSubmit(storeModel) {
      storeModel.preventDefault();

      this.setMessageCreateStatus("");
      this.formEmail = "";
      this.formPhone = "";
      this.form.validateFields((err) => {
        if (this.skill.length > 0) {
          this.isEmptySkill = false;
        }else {
          this.isEmptySkill = true;
        }

        if (!err && !this.isEmptySkill && this.urlPreview !== "") {
          this.submmitLoading = true;
          let formCV = this.form.getFieldsValue();

          let strSkill = '';
          this.skill.forEach((value) => {
            strSkill += value.name.trim() + ', ';
          });

          const payload = {
            address: '',
            applySince: moment().format("DD-MM-YYYY"),
            birthDay: '',
            candidateType: this.candidateType,
            channel: (this.channelName ? JSON.parse(this.channelName).id : 0),
            degree: '',
            email: formCV.email.trim(),
            experience: '',
            facebook: formCV.Facebook ? formCV.Facebook.trim() : '',
            freelancerEmail: formCV.freelanceEmail ? formCV.freelanceEmail.trim() : '',
            freelancerMobile: formCV.freelanceMobile ? formCV.freelanceMobile.trim() : '',
            freelancerName: formCV.freelanceName ? formCV.freelanceName.trim() : '',
            fullName: formCV.fullName.trim(),
            headhunterName: '',
            introducer: '',
            job: '',
            jobRtsId: String(this.data.id),
            language: '',
            lastCompany: formCV.lastCompany,
            level: '',
            linkCv: this.urlPreview,
            location: 'Hà Nội',
            phone: formCV.phone ? formCV.phone.trim() : '',
            refererUser: formCV.refererUser ? formCV.refererUser.trim() : '',
            requestId: String(this.data.id),
            roleName: '',
            school: '',
            sex: '',
            skill: String(strSkill),
            skypeID: formCV.skypeID ? formCV.skypeID.trim() : '',
            source: this.sourceName,
            stepRts: 'qualify',
            ta: this.userInfo,
            assignees: null
          };

          this.$store.commit("rtsListCandidate/SET_CANDIDATE_SUCCESS", true);
          this.candidateUploadCv(payload);
        }
      });
    },

    onCancelPopup() {
      this.form.resetFields();
      this.setUrlPreview("");
      this.setMessageCreateStatus("");
      this.isRemovedFile = true;
      this.submmitLoading = false;
      this.uploadErrorMessage = "";
      this.validateStatus = "success";
      this.errorMsg = "";
      this.$emit("onCancelPopup");
    },
  },
};
</script>

<style lang="scss">
.model-header-cv {
  margin-left: 25px;
  font-size: 20px;
}
#upload-form-cv {
  margin: 25px 10px 0 25px;
  .ant-form-item-label {
    text-align: left;
  }
  .ant-upload {
    margin-top: 35px;
  }
  .ant-upload-list-item-info {
    color: #0066b3;
    font-size: 14px;
  }
  .ant-upload-list-item-card-actions {
    right: -7px;
    opacity: 0.7;
    font-size: 20px;
    top: -5px;
    .anticon {
      color: black;
      font-weight: bold;
    }
  }
  .anticon-paper-clip {
    color: #0066b3;
  }
  .ant-upload-list-text {
    position: relative;
    top: -74px;
  }
  .error-message {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: 78px;
    left: 164px;
  }
  .error-message-existed {
    color: red;
    font-size: 14px;
    position: relative;
    bottom: 3px;
    left: 117px;
  }
}
.mb100 {
  margin-bottom: 100px;
}
.submit-block {
  .btn-submit {
    background: $btn-color-blue;
    color: white;
  }
  .btn-cancel {
    background: $btn-color-red;
    color: white;
  }
}
.upload-btn {
  position: absolute;
  top: -15px;
  font-weight: bold;
}
.formJobDetail {
  .ant-modal-body {
    padding-bottom: 0;
  }
  .ant-modal-footer {
    border-top: none;
    .cancel-popup {
      border: none;
    }
  }
  .ant-form-item-label > label {
    color: #9b9b9b;
    font-size: 14px;
    top: -3px;
  }
}
</style>
