<template>
  <div class="onsite-management p15 mt80">
    <a-row class="pt15">
      <a-col :md="20">
        <FilterLayout
          :onSetDataFilters="onSetDataFilters"
          :datafilterDefault="filters"
          :onApplyFilters="onApplyFilters"
          :currentPage="'onsite_management'"
        />
      </a-col>
      <a-col class="taE" :md="4">
        <a-button class="mr10" type="primary" icon="plus" @click="showModal()"
          >Add New</a-button
        >
        <a-button type="primary" icon="file-excel">Export to Excel</a-button>
      </a-col>
    </a-row>
    <a-divider />
    <a-table
      class="custom-table"
      :columns="columns"
      :data-source="data"
      rowKey="id"
      :pagination="false"
      size="middle"
      :customRow="customRow"
    >
    <span slot="project" slot-scope="text, record">
      {{record.projectName}}({{record.projectCode}})
    </span>
    <span slot="from_to" slot-scope="text, record">
      {{record.fromDate}} - {{record.toDate}}
    </span>
    <span slot="type" slot-scope="text, record">
      {{record.employeeList[0].type}}
    </span>
    <span slot="on_approver" slot-scope="text, record">
      {{record.approver.name}} - {{record.approver.code}}
    </span>
    <span slot="creator" slot-scope="text, record">
      {{record.createdBy.name}} - {{record.createdBy.code}}
    </span>
    <span slot="status" slot-scope="text,record"> 
      <a-row class="mt10">
        <a-col v-if="size > 600"
          :md="10"
          class="first-stage-tag cursor-pointer"
          @mouseover="(e) => handleHover(
                            e,
                            record,
                            record.status_department.stage
                          )"
          @mouseleave="handleMouseLeave"
          :style="{
            backgroundColor: `${
              statusColor[record.status_department.status.toUpperCase()]
            }`,
          }"
        >{{record.status_department.stage}}
        </a-col>
        <a-col v-else
          :md="10" :xs="12"
          class="first-stage-tag2 cursor-pointer"
          @mouseover="(e) => handleHover(
                            e,
                            record,
                            record.status_department.stage
                          )"
          @mouseleave="handleMouseLeave"
          :style="{
            backgroundColor: `${
              statusColor[record.status_department.status.toUpperCase()]
            }`,
          }"
        >{{record.status_department.stage.charAt(0)}}
        </a-col>
        <a-col v-if="size > 600"
                    :md="1"
                    class="tag-helper1 cursor-pointer"
                    @mouseover="
                      (e) =>
                        handleHover(
                          e,
                          record,
                          record.status_department.stage
                        )
                    "
                    @mouseleave="handleMouseLeave"
                    :style="{
                      borderLeft: `10px solid ${
                        statusColor[record.status_department.status.toUpperCase()]
                      }`,
                    }"
        ></a-col>
        <a-col v-if="size > 600"
                      :md="1"
                      class="tag-helper2 cursor-pointer"
                      @mouseover="
                        (e) =>
                          handleHover(
                            e,
                            record,
                              record.status_department.stage
                          )
                      "
                      @mouseleave="handleMouseLeave"
                      :style="{
                        borderTop: `10px solid ${
                          statusColor[record.status_CB.status.toUpperCase()]
                        }`,
                        borderBottom: `10px solid ${
                          statusColor[record.status_CB.status.toUpperCase()]
                        }`,
                      }"
                    >
        </a-col>
        <a-col v-if="size > 600"
          :md="10"
          class="second-stage-tag cursor-pointer"
          @mouseover="
          (e) => handleHover(e,record,
                              record.status_department.stage)"
                      @mouseleave="handleMouseLeave"
                      :style="{
                        backgroundColor: `${
                          statusColor[record.status_CB.status.toUpperCase()]
                        }`,
                      }"
                      >{{ record.status_CB.stage }}
        </a-col>
        <a-col v-else
          :md="10" :xs="12"
          class="second-stage-tag2 cursor-pointer"
          @mouseover="
          (e) => handleHover(e,record,
                              record.status_department.stage)"
                      @mouseleave="handleMouseLeave"
                      :style="{
                        backgroundColor: `${
                          statusColor[record.status_CB.status.toUpperCase()]
                        }`,
                      }"
                      >{{ record.status_CB.stage.charAt(0) }}
        </a-col>
      </a-row>
    </span>
    <span slot="edit">
      <a-dropdown
        :trigger="['click']"
        >
        <a-icon class="black font-lg" type="more" @click="handleOnClickEdit(record)" />
          <a-menu slot="overlay">
            <a-menu-item>Approve</a-menu-item>
            <a-menu-item>Reject</a-menu-item>
            <a-menu-item>Edit</a-menu-item>
            <a-menu-item>Withdraw</a-menu-item>
          </a-menu>
        </a-dropdown>
    </span>
    </a-table>
    <template>
      <div class="taE">
        <a-pagination
          v-model="currentPage"
          :total="total_items"
          :show-total="
            (total, range) => `${range[0]}-${range[1]} of ${total} items`
          "
          :page-size="pageSize"
          show-size-changer
          @change="onChangePage"
          @showSizeChange="onShowSizeChange"
        />
      </div>
    </template>
    <a-modal 
      class="modalOnsite"
      v-model="visible"
      :width=" size > 500 ? 920 : 520"
      :maskClosable="false"
    >
      <div class="flex-center text-center text-bold pb10">
        <h2>Create Onsite Request</h2>
        <a-divider />
      </div>
      <template>
        <a-form :form="form">
          <a-row>
            <a-col :md="size > 500 ? 12 : 24">
              <a-form-item
                label="Title"
                :label-col="{ span: size > 500 ? 6 : 3 }"
                :wrapper-col="{ span: size > 500 ? 16 : 20, offset: size > 500 ? 2 : 1 }"
              >
                <a-input
                  v-decorator="[
                    'title',
                    {
                      rules: [
                        { required: true, message: 'Please input title!' },
                        {
                          max: 250,
                          message:
                            'You’ve exceeded the limit by 250 characters',
                        },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
            <a-col :md="size > 500 ? 12 : 0">
              <!-- <a-tooltip placement="bottom">
                  <a-tag
                    class="tag"
                    :color="statusColor[i.status.postStageStatus]"
                    >{{ i.status.postStage }}</a-tag
                  >
                </a-tooltip> -->
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="size > 500 ? 12 : 24">
              <a-form-item
                label="Project"
                :label-col="{ span: size > 500 ? 6 : 3 }"
                :wrapper-col="{ span: size > 500 ? 16 : 20, offset: size > 500 ? 2 : 1 }"
              >
                <a-select
                  v-decorator="[
                    'project',
                    {
                      rules: [
                        { required: true, message: 'Please choose project!' },
                      ],
                    },
                  ]"
                  :allowClear="true"
                  :showSearch="true"
                  placeholder="Search by Projects"
                  :style="{ width: '100%' }"
                  :value="projects"
                  :maxTagCount="1"
                >
                  <a-select-option
                    class="font-size-option-select"
                    v-for="item in projectList"
                    :key="item.project_name"
                    :value="item.project_id">
                    {{item.project_name}}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <!-- <a-col :md="12">
              <a-form-item
                label="Adjustment"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-select placeholder="YES/NO" disabled>
                  <a-select-option value="male">YES</a-select-option>
                  <a-select-option value="female">NO</a-select-option>
                </a-select>
              </a-form-item>
            </a-col> -->
          </a-row>
          <a-row>
            <a-col :md="12">
              <a-form-item
                label="Select Date"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-range-picker
                  v-decorator="[
                    'range-picker',
                    {
                      rules: [
                        { required: true, message: 'Please choose Range!' },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
            <a-col :md="12">
              <a-form-item
                label="Type"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-select
                  v-decorator="[
                    'type',
                    {
                      rules: [
                        { required: true, message: 'Please choose type!' },
                      ],
                    },
                  ]"
                  placeholder="Full day"
                >
                  <a-select-option value="Full day">Full day</a-select-option>
                  <a-select-option value="Morning">Morning</a-select-option>
                  <a-select-option value="Afternoon">Afternoon</a-select-option>
                  <a-select-option value="Other">Other</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
           <a-row>
            <a-col :md="24">
              <a-form-item
                label="Location"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-input placeholder="Type Here" />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="Description"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-textarea placeholder="Type Here" :rows="4" />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="CC"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-select
                  :allowClear="true"
                  :showSearch="true"
                  mode="multiple"
                  placeholder="Search by staff name, ID"
                  :style="{ width: '100%' }"
                  v-model="staffOnsiteList['index']"
                  :not-found-content="fetching ? undefined : null"
                  @search="(value) => onSearchStaff(value)"
                  :filter-option="filterOption"
                  :maxTagCount="2"
                >
                  <a-spin
                    v-if="fetching"
                    slot="notFoundContent"
                    size="small"
                  />
                  <a-select-option
                    class="font-size-option-select"
                    v-for="item in employeeList"
                    :key="item.id"
                    :value="item.id"
                  >
                    {{ item.label + " (" + item.value + ")" }}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
      </template>
      <a-divider />
      <div>
        <a-row class="tableHeader"  :gutter="size > 500 ? 8 : 6">
          <a-col :span=" size > 500 ? 7 : 6">
            <p>Staff</p>
          </a-col>
          <a-col :span="3">
            <p>User Name</p>
          </a-col>
          <a-col :span="size > 500 ? 4 : 3">
            <p>Department</p>
          </a-col>
          <a-col :span=" size > 500 ? 3 : 4">
            <p>Start Time</p>
          </a-col>
          <a-col :span="size > 500 ? 3 : 4">
            <p>End Time</p>
          </a-col>
          <a-col :span="3">
            <p>Duration</p>
          </a-col>
          <a-col :span="1">
            <p></p>
          </a-col>
        </a-row>
        <div class="staffOnsiteList">
          <a-form :form="staffOnsiteList_form" >
            <a-form-item
              v-for="(key,index) in staffOnsiteList_form.getFieldValue('keys')"
              :key="key"
              :required="false"
            >
              <a-input-group>
                <a-row :gutter="size > 500 ? 8 : 6">
                  <a-col :span="size > 500 ? 7 : 6">
                    <a-select
                      :allowClear="true"
                      :showSearch="true"
                      placeholder="Search by staff name, ID"
                      :style="{ width: '100%' }"
                      :not-found-content="fetching ? undefined : null"
                      @search="(value) => onSearchStaff(value)"
                      @change="(value) => onChangeValue(value,index)"
                      :filter-option="filterOption"
                      :maxTagCount="2"
                    >
                      <a-spin
                        v-if="fetching"
                        slot="notFoundContent"
                        size="small"
                      />
                      <a-select-option
                        class="font-size-option-select"
                        v-for="item in employeeList"
                        :key="item.id"
                        :value="JSON.stringify({userName: item.value,department: item.department ,index: index})"
                      >
                        {{ item.label + " (" + item.value + ")" }}
                      </a-select-option>
                    </a-select>
                  </a-col>
                  <a-col :span="3">
                    <a-input :value="staffOnsiteList[index].userName" disabled />
                  </a-col>
                  <a-col :span="size > 500 ? 4 : 3">
                    <a-input :value="staffOnsiteList[index].department" disabled />
                  </a-col>
                  <a-col :span="size > 500 ? 3 : 4">
                    <a-time-picker :default-value="moment('08:30', 'HH:mm')" format="HH:mm"/>
                  </a-col>
                  <a-col :span="size > 500 ? 3 : 4">
                    <a-time-picker :default-value="moment('17:30', 'HH:mm')" format="HH:mm" />
                  </a-col>
                  <a-col :span="3">
                    <a-input default-value="8" disabled />
                  </a-col>
                  <a-col :span="1">
                    <a-icon
                      type="delete"
                      theme="twoTone"
                      :style="{ fontSize: '20px' }"
                      :disabled="staffOnsiteList_form.getFieldValue('keys').length === 1"
                      @click="() => remove(key)"
                    />
                  </a-col>
                </a-row>
              </a-input-group>
            </a-form-item>
          </a-form>
        </div>
        <a-button type="dashed" style="width: 24%" @click="add">
          <a-icon type="plus" /> Add New
        </a-button>
      </div>
      <a-divider />

      <a-row>
        <a-col class="displayFiles">
          <a-upload
             defaultFileList
            name="file"
            :multiple="true"
            :showUploadList="true"
            action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            @change="handleChange"
            
           
          >
            <a-button type="primary" icon="paper-clip">Attach File</a-button>
            <span class="ml30">{{countFiles}} files selected.</span>
          </a-upload>
        </a-col>
        <!-- <a-col :span="14" :offset="1">
          <a-select
            :size="size"
            placeholder="0 files selected"
            :default-value="[]"
            style="width: 200px;border-radius: 80px"
            @change="handleChange"
            @popupScroll="popupScroll"
          >
            <a-select-option v-for="i in 25" :key="(i + 9).toString(36) + i">
              {{ (i + 9).toString(36) + i }}
            </a-select-option>
          </a-select>
        </a-col> -->
      </a-row>
      <a-row>
        <p style="font-size: 13px; margin-top: 5px">
          Maximum allowed file size is 5.0 MB
        </p>
      </a-row>
      <a-row>
        <a-button v-if="countFiles !== 0" type="primary" icon="download">Download Files</a-button>
      </a-row>

      <template slot="footer">
        <a-row class="p10">
          <a-col :md="24">
            <div class="float-right">
              <a-button key="back" @click="handleCancel" class="mr5"
                >Cancel
              </a-button>
              <a-button key="submit" type="primary" >
                Create
              </a-button>
            </div>
          </a-col>
        </a-row>
      </template>
    </a-modal>
    <a-modal
      class="modalOnsite"
      v-model="EditVisible"
      :width="850"
      :maskClosable="false"
    >
      <div class="flex-center text-center text-bold pb10">
        <h2>Edit Onsite Request</h2>
        <a-divider />
      </div>
      <template>
        <a-form :form="form" >
          <a-row>
            <a-col :md="12">
              <a-form-item
                label="Title"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-input
                  v-decorator="[
                    'title',
                    {
                      initialValue: selectedItem.title,
                      rules: [
                        { required: true, message: 'Please input title!' },
                        {
                          max: 250,
                          message:
                            'You’ve exceeded the limit by 250 characters',
                        },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
            <a-col :md="12">
              <!-- <a-tooltip placement="bottom">
                  <a-tag
                    class="tag"
                    :color="statusColor[i.status.postStageStatus]"
                    >{{ i.status.postStage }}</a-tag
                  >
                </a-tooltip> -->
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="12">
              <a-form-item
                label="Project"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-select
                  v-decorator="[
                    'project',
                    {
                      initialValue:
                        selectedItem.projectName +
                        ' (' +
                        selectedItem.projectid +
                        ')',
                      rules: [
                        { required: true, message: 'Please choose project!' },
                      ],
                    },
                  ]"
                >
                  <a-select-option value="male">male</a-select-option>
                  <a-select-option value="female">female</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :md="12">
              <a-form-item
                label="Adjustment"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-select placeholder="YES/NO" :default-value="selectedItem.adjustment" >
                  <a-select-option value="YES">YES</a-select-option>
                  <a-select-option value="NO">NO</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="12">
              <a-form-item
                label="Select Date"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-range-picker 
                  v-decorator="[
                    'range-picker',
                    {
                      initialValue :[moment(selectedItem.fromDate), moment(selectedItem.toDate)] ,
                      rules: [
                        { required: true, message: 'Please choose Range!' },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
            <a-col :md="12">
              <a-form-item
                label="Type"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-select
                  v-decorator="[
                    'type',
                    {
                      initialValue : selectedItem.type,
                      rules: [
                        { required: true, message: 'Please choose type!' },
                      ],
                    },
                  ]"
                  placeholder="Full day"
                >
                  <a-select-option value="Morning">Morning</a-select-option>
                  <a-select-option value="Afternoon">Afternoon</a-select-option>
                  <a-select-option value="Other">Other</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="Description"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-textarea placeholder="Type Here" :rows="4" :default-value="selectedItem.description"/>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="CC"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-select
                  :allowClear="true"
                  :showSearch="true"
                  mode="multiple"
                  placeholder="Search by staff name, ID"
                  :style="{ width: '100%' }"
                  :not-found-content="fetching ? undefined : null"
                  @search="(value) => onSearchStaff(value)"
                  :filter-option="filterOption"
                  :maxTagCount="2"
                >
                  <a-spin
                    v-if="fetching"
                    slot="notFoundContent"
                    size="small"
                  />
                  <a-select-option
                    class="font-size-option-select"
                    v-for="item in employeeList"
                    :key="item.id"
                    :value="item.id"
                  >
                    {{ item.label + " (" + item.value + ")" }}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
      </template>
      <div>
        <a-row class="tableHeader" style="font-size: 14px" :gutter="8">
          <a-col :span="7">
            <p>Staff</p>
          </a-col>
          <a-col :span="3">
            <p>User Name</p>
          </a-col>
          <a-col :span="4">
            <p>Department</p>
          </a-col>
          <a-col :span="3">
            <p>Start Time</p>
          </a-col>
          <a-col :span="3">
            <p>End Time</p>
          </a-col>
          <a-col :span="3">
            <p>Duration</p>
          </a-col>
          <a-col :span="1">
            <p></p>
          </a-col>
        </a-row>
        <div class="staffOnsiteList">
          <a-form :form="staffOnsiteList_form" >
            <a-form-item
              v-for="(key,index) in staffOnsiteList_form.getFieldValue('keys')"
              :key="key"
              :required="false"
            >
              <a-input-group>
                <a-row :gutter="8">
                  <a-col :span="7">
                    <a-select
                      :allowClear="true"
                      :showSearch="true"
                      placeholder="Search by staff name, ID"
                      :style="{ width: '100%' }"
                      :not-found-content="fetching ? undefined : null"
                      @search="(value) => onSearchStaff(value)"
                      @change="(value) => onChangeValue(value,index)"
                      :filter-option="filterOption"
                      :maxTagCount="2"
                    >
                      <a-spin
                        v-if="fetching"
                        slot="notFoundContent"
                        size="small"
                      />
                      <a-select-option
                        class="font-size-option-select"
                        v-for="item in employeeList"
                        :key="item.id"
                        :value="JSON.stringify({userName: item.value,department: item.department ,index: index})"
                      >
                        {{ item.label + " (" + item.value + ")" }}
                      </a-select-option>
                    </a-select>
                  </a-col>
                  <a-col :span="3">
                    <a-input :value="staffOnsiteList[index].userName" disabled />
                  </a-col>
                  <a-col :span="4">
                    <a-input :value="staffOnsiteList[index].department" disabled />
                  </a-col>
                  <a-col :span="3">
                    <a-time-picker width=10px :default-value="moment('08:30', 'HH:mm')" format="HH:mm"/>
                  </a-col>
                  <a-col :span="3">
                    <a-time-picker :default-value="moment('17:30', 'HH:mm')" format="HH:mm" />
                  </a-col>
                  <a-col :span="3">
                    <a-input default-value="8" disabled />
                  </a-col>
                  <a-col :span="1">
                    <a-icon
                      v-if="roles.includes(Role.HR)"
                      type="delete"
                      theme="twoTone"
                      :style="{ fontSize: '20px' }"
                      :disabled="staffOnsiteList_form.getFieldValue('keys').length === 0"
                      @click="() => remove(key)"
                    />
                  </a-col>
                </a-row>
              </a-input-group>
            </a-form-item>
          </a-form>
        </div>
        <a-button v-if="roles.includes(Role.HR)" type="dashed" style="width: 24%" @click="add">
          <a-icon type="plus" /> Add New
        </a-button>
      </div>
      <a-divider />

      <a-row>
        <a-col :span="9" class="displayFiles">
          <a-upload
            name="file"
            :multiple="true"
            :showUploadList="true"
            action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            @change="handleChange"
          >
            <a-button type="primary" icon="paper-clip">Attach File</a-button>
            <span class="ml30">{{ countFiles }} files selected.</span>
          </a-upload>
        </a-col>
        <!-- <a-col :span="14" :offset="1">
          <a-select
            :size="size"
            placeholder="0 files selected"
            :default-value="[]"
            style="width: 200px;border-radius: 80px"
            @change="handleChange"
            @popupScroll="popupScroll"
          >
            <a-select-option v-for="i in 25" :key="(i + 9).toString(36) + i">
              {{ (i + 9).toString(36) + i }}
            </a-select-option>
          </a-select>
        </a-col> -->
      </a-row>
      <a-row>
        <p style="font-size: 13px; margin-top: 5px">
          Maximum allowed file size is 5.0 MB
        </p>
      </a-row>
      <a-row>
        <a-button v-if="countFiles !== 0" type="primary" icon="download"
          >Download Files</a-button
        >
      </a-row>

      <template slot="footer">
        <a-row class="p10">
          <a-col :md="24">
            <div class="float-right">
              <a-button key="back" @click="handelCloseEdit" class="mr5"
                >Cancel
              </a-button>
              <a-button key="submit" type="primary" >
                Update
              </a-button>
            </div>
          </a-col>
        </a-row>
      </template>
    </a-modal>
    <div
      v-if="tooltipOnsite.config.visible"
      :style="{
        top: this.tooltipOnsite.config.top,
        left: this.tooltipOnsite.config.left,
        position: 'absolute',
      }"
    >
      <span class=" ptb3 plr10">
        <div class="onsite-tooltip" v-for="employee in tooltipOnsite.employeeList" :key="employee.code">{{employee.name}}</div>
      </span>
    </div>
    <a-drawer
      placement="right"
      :closable="false"
      :visible="visibleDrawer"
      width="35%"
      v-if="recordDetail !== null"
      @close="onClose"
      class="drawerOnsite"
      >
      <onsite-detail 
        ref="setFields" 
        :data="recordDetail" 
        :columns="onColumns"
        :onClose="visibleDrawer" 
        :status_CB="recordDetail.status_CB"
        :status_department="recordDetail.status_department"
        :statusColor="statusColor"
         />
    </a-drawer>
  </div>
</template>

<script type="script" lang="js" src="./OnsiteManagement.js" />
