<template>
  <div class="movie">
    <div class="movie-text">{{ interviewInfo.text }}</div>
  </div>
</template>

<script>
import Query from "devextreme/data/query";

import { mapState } from "vuex";

export default {
  props: {
    appointmentModel: {
      type: Object,
      default: () => {},
    },
    listQueryInterview: {
      type: Array,
    },
  },
  data() {
    return {
      interviewInfo: this.getMovieInfo(this.appointmentModel.appointmentData),
    };
  },
  computed: {
    ...mapState({
      listInterview: (state) => state.rtsInterviewTab.listAllInterview,
    }),
  },
  methods: {
    getMovieInfo(data) {
      return Query(this.listQueryInterview).filter("id", data.id).toArray()[0] || {};
    },
  },
};
</script>

<style lang = "scss" scoped>
</style>