<template>
  <div>
    <DxScheduler
      :data-source="getInterviewByRole"
      :current-date="currentDate"
      :show-current-time-indicator="showCurrentTimeIndicator"
      :shade-until-current-time="shadeUntilCurrentTime"
      @content-ready="onContentReady"
      @appointment-click="onAppointmentClick"
      :show-all-day-panel="false"
      :start-day-hour="6"
      :end-day-hour="24"
      appointment-template="AppointmentTemplateSlot"
      height="900"
      current-view="week"
      :editing="false"
      :crossScrollingEnabled="true"
      :hideAppointmentPopup="false"
      :customize-date-navigator-text="customizeDateNavigatorText"
      :on-appointment-form-opening="onAppointmentFormOpening"
    >
      <DxView name="Month" type="month" maxAppointmentsPerCell="auto">
      </DxView>
      <DxView
        name="Week"
        type="week"
        maxAppointmentsPerCell="2"
      >
      </DxView>
      <DxResource
        :data-source="listInterview.listQueryInterview"
        field-expr="id"
      />
      <template #AppointmentTemplateSlot="{ data }">
        <AppointmentTemplate
          :appointment-model="data"
          :listQueryInterview="listInterview.listQueryInterview"
        />
      </template>
    </DxScheduler>
    <DetailInterview
      :visible="visibleDrawer"
      @onClose="handleClose"
      :candidateId="candidateId"
      :requestId="requestId"
    ></DetailInterview>
  </div>
</template>
<script>
import DxScheduler, { DxResource, DxView } from "devextreme-vue/scheduler";
import { DxSwitch } from "devextreme-vue/switch";
import { DxNumberBox } from "devextreme-vue/number-box";

import AppointmentTemplate from "./AppointmentTemplate.vue";
import { data, moviesData } from "./data.js";
import moment from "moment";
import DetailInterview from "../DetailInterview/DetailInterview.vue";
import { mapState } from "vuex";

export default {
  name: "Scheduler",
  // el:".dx-scheduler-date-time-indicator",
  components: {
    DxScheduler,
    DxResource,
    DxSwitch,
    DxNumberBox,
    AppointmentTemplate,
    DetailInterview,
    DxView
  },
  data() {
    return {
      currentDate: new Date(),
      showCurrentTimeIndicator: true,
      shadeUntilCurrentTime: false,
      updateInterval: 10,
      dataSource: data,
      date: null,
      moviesData,
      candidateId: null,
      requestId: null,
      visibleDrawer: false,

    };
  },
  computed: {
    ...mapState({
      listInterview: (state) => state.rtsInterviewTab.listAllInterview,
      userInfo: state => state.user.userInfo,
    }),
    getInterviewByRole() {
      if(this.userInfo.userRoles[1] === 'RTS-Admin' || this.userInfo.userRoles[1] === 'RTS-GLead' || this.userInfo.userRoles[1] === 'RTS-DULead'){
          return this.listInterview.data
      } else if(this.userInfo.userRoles[1] === 'RTS-TA') {
        let newList = this.listInterview.data.filter((item)=>item.createdBy.includes(this.userInfo.userName))
        return newList
      }
      else{
        let newList = this.listInterview.data.filter((item)=>item.name.includes(this.userInfo.userName))
        return newList
      }
    }
  },
  watch: {
    date: {
      immediate: true,
      handler(newVal) {
        if (newVal) {
          this.$store.dispatch("rtsInterviewTab/getAllInterview", newVal);
        }
      },
    },
  },
  methods: {
    onContentReady(e) {
      e.component.scrollTo(new Date());
    },
    onAppointmentClick(e) {
      e.cancel = true;
      this.candidateId = e.appointmentData.candidateId
      this.requestId = e.appointmentData.requestId
      this.visibleDrawer = true
    },
    customizeDateNavigatorText(e) {
      const payload = {
        startDate: moment(e.startDate).format("YYYY-MM-DD"),
        endDate: moment(e.endDate).format("YYYY-MM-DD"),
      };
      this.date = payload;
      this.$store.commit("rtsInterviewTab/SET_PAYLOAD_DATE", payload);
      const formatDateStartTime = moment(payload.startDate).format('DD/MM/YYYY')
      const formatDateEndTime = moment(payload.endDate).format('DD/MM/YYYY')
      return formatDateStartTime + " - " + formatDateEndTime;
    },
    handleClose() {
      this.visibleDrawer = false;
    },
    onAppointmentFormOpening(e) {
      e.cancel = true;
    },
  },
}
</script>

<style>
.dx-scheduler-appointment {
  color: #000;
  font-weight: 500;
  background-color: #e4e4e4;
}

.dx-scheduler-appointment-horizontal {
  margin-top: 5px;
  background-color: #207dd4 !important;
  color: white !important;
}

.dx-scheduler-appointment-vertical {
  height: 30px !important;
  color: white !important;
  background-color: #207dd4 !important;
  line-height: 18px !important;
  text-align: center;
  font-size: 12px !important;
  border-radius: 20px !important;
}
.dx-scheduler-time-panel-cell {
  padding: 5px 20px !important;
}
.movie-text{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
 .dx-tooltip-appointment-item-content-subject{
   font-size: 12px !important;
 }
 .dx-scheduler-appointment-collector{
   width: 100px !important;
 }
 .dx-scheduler-appointment-collector-compact{
   width: 30px !important;
 }
 .dx-item-content{
   margin-bottom: 20px !important;
 }
.options {
  background-color: rgba(191, 191, 191, 0.15);
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}
.column {
  width: 40%;
  display: inline-block;
  margin: 15px 3%;
  text-align: left;
  vertical-align: top;
}
.option {
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.label,
.value {
  display: inline-block;
  vertical-align: middle;
}

.label {
  width: 180px;
}

.value {
  width: 30%;
}

.movie img {
  height: 70px;
}

.movie-text {
  font-size: 90%;
  white-space: normal;
}

#allow-shading,
#show-indicator {
  height: 36px;
}
.dx-scheduler-date-time-indicator {
  background-color: red !important;
}
.dx-scheduler-date-time-indicator::before {
  color: red !important;
}
.dx-scheduler-header-panel-cell.dx-scheduler-header-panel-current-time-cell {
  color: blue !important;
}
.dx-scheduler-header-panel-cell.dx-scheduler-header-panel-current-time-cell::before {
  background: blue !important;
}
.dx-scheduler-date-time-indicator {
  width: 100% !important;
  left: 0 !important;
}
</style>