<template>
  <div class="request-detail-tab">
    <a-row>
      <a-col class="left-container" :span="6">
        <ListBlock
            class="list-candidate"
            :pageOptions="pageOptions"
            :totalItems="totalItems"
            :listCandidate="listCandidate"
            @onChangePage="onChangePage"
            @onSearchPage="onSearchPage"
            @onClearPage="onClearPage"
            @onClickRow="onClickRow"
        />
      </a-col>
      <a-col class="right-container" :span="18">
        <DetailBlock
            class="detail-block"
            v-if="checkListCandidateNotEmpty"
            :candidateId="candidateId"
            :information="information"
            :keyTab="keyTab"
        />
        <a-empty v-else/>
      </a-col>
    </a-row>

  </div>
</template>

<script type='script' lang='js'>
import DetailBlock from "./DetailBlock/DetailBlock.vue";
import ListBlock from "./ListBlock/ListBlock.vue";
import {mapActions, mapState, mapMutations} from "vuex";
import {capitalizeFirstLetter, PAGE_OPTIONS_CANDIDATE} from "../../../../../components/commons/commons";
import {TIME_DELAY_CANDIDATE} from "../../../../../components/commons/commons";
import {TAB_KEYS} from "../../../../../components/commons/commonConstant";
import request from "../../../../../store/modules/request";

export default {
  name: "RequestDetailContentTab",
  components: {
    DetailBlock,
    ListBlock
  },
  props: {
    keyTab: String,
    assignee: String,
  },
  data() {
    return {
      TAB_KEYS,
      candidateId: null,
    }
  },
  created(){
      this.$store.commit("rtsListCandidate/SET_CANDIDATE_SUCCESS", false);
  },
  computed: {
    ...mapState({
      listCandidate: (state) => state.rtsListCandidate.listCandidates,
      pageOptions: (state) => state.rtsListCandidate.pageOptions,
      totalItems: (state) => state.rtsListCandidate.total_items,
      information: (state) => state.rtsActivityCandidate.information,
      requests: (state) => state.rtsRequest.requestList,
      userInfo: state => state.user.userInfo.userName,
      addCandidateSuccess: (state) => state.rtsListCandidate.addCandidateSuccess
    }),
    checkListCandidateNotEmpty() {
      return this.listCandidate && this.listCandidate.length > 0
    }
  },
  watch: {
    keyTab: {
      immediate: true,
      deep: true,
      async handler(newVal) {
        this.setActiveKeyTab(1)
        if (newVal === TAB_KEYS.GENERAL_INFORMATION) return;
        this.setPageOption({
          ...PAGE_OPTIONS_CANDIDATE,
          requestId: this.$route.params.id,
          candidateState: (newVal === TAB_KEYS.SOURCE) ? 'none' : newVal.toLowerCase(),
          assignees: this.assignee
        })

        await this.getListCandidateWithDelay(this.pageOptions, TIME_DELAY_CANDIDATE)
        this.candidateId = this.listCandidate[0]?.candidateId;
        this.setCandidateId(this.candidateId)
        this.setActiveCandidate(this.listCandidate)
      }
    },
    addCandidateSuccess: {
      immediate: true,
      deep: true,
      async handler(newVal) {
        if (newVal === TAB_KEYS.GENERAL_INFORMATION) return;
        this.setPageOption({
          ...PAGE_OPTIONS_CANDIDATE,
          requestId: this.$route.params.id,
          candidateState: this.keyTab === TAB_KEYS.SOURCE ? 'none' : this.keyTab.toLowerCase(),
          assignees: this.assignee
        })

        await this.getListCandidateWithDelay(this.pageOptions, TIME_DELAY_CANDIDATE)
        this.candidateId = this.listCandidate[0]?.candidateId;
        this.setCandidateId(this.candidateId)
        this.setActiveCandidate(this.listCandidate)

        this.$store.commit("rtsListCandidate/SET_CANDIDATE_SUCCESS", false);
      }
    },
    candidateId: {
      immediate: true,
      handler(newVal) {
        this.setCandidateId(newVal)
        this.getInformation(newVal)
      }
    },
    assignee: {
      immediate: true,
      deep: true,
      async handler(newVal) {

        this.setPageOption({
          ...PAGE_OPTIONS_CANDIDATE,
          requestId: this.$route.params.id,
          candidateState: this.keyTab === TAB_KEYS.SOURCE ? 'none' : this.keyTab.toLowerCase(),
          assignees: newVal
        })

        await this.getListCandidateWithDelay(this.pageOptions, TIME_DELAY_CANDIDATE)
        this.candidateId = this.listCandidate[0]?.candidateId;
        this.setActiveCandidate(this.listCandidate)
      }
    }
  },

  methods: {
    ...mapMutations({
      setPageOption: 'rtsListCandidate/SET_PAGE_OPTIONS',
      resetState: 'rtsListCandidate/RESET_STATE',
      setActiveKeyTab: 'rtsListCandidate/SET_ACTIVE_KEYTAB'
    }),
    ...mapActions({
      getInformation: 'rtsActivityCandidate/getInformation',
      getProfiles: 'rtsActivityCandidate/getProfiles',
      getListCandidate: 'rtsListCandidate/getListCandidate',
      getDetailCandidate: 'rtsActivityCandidate/getInformation',
      setLoading: 'user/loadingRequest',
      stopLoading: 'user/stopLoading',
    }),

    onChangePage(payload) {
      this.pageOptions.offset = payload
      this.getListCandidateWithDelay(this.pageOptions, TIME_DELAY_CANDIDATE)
    },
    onSearchPage(payload) {
      this.handleSearch(payload)
    },
    onClearPage(payload) {
      this.$store.commit('rtsListCandidate/SET_CHECK_ALL', false)
      this.handleSearch(payload)
    },
    setCandidateId(id) {
      this.$store.commit('rtsListCandidate/SET_CANDIDATE_ID', id)
    },
    handleSearch(payload) {
      let options = {...this.pageOptions}
      options.searchString = payload.inputValue
      this.setPageOption(options)
      this.getListCandidateWithDelay(this.pageOptions, TIME_DELAY_CANDIDATE)
    },

    onClickRow(payload) {
      this.setLoading();
      setTimeout(() => {
        this.candidateId = payload.candidateId
        this.stopLoading()
      }, TIME_DELAY_CANDIDATE)
    },
    getListCandidateWithDelay(pageOptions, timer) {
      return new Promise((resolve) => {
        this.setLoading();
        setTimeout(() => {
          this.getListCandidate(pageOptions).then(() => {
            this.stopLoading()
            resolve();
          })
        }, timer)
      });
    },
    setActiveCandidate(arr) {
      arr.forEach(item => {
        if (item.candidateId === this.candidateId) {
          item.clicked = true;
        }
      })
    }
  },
}


</script>

<style lang="scss">
.request-detail-tab {

  .search-block {
    width: 220px;
    margin-bottom: 10px;
  }

  .list-candidate-block {
    max-height: 100vh;
  }

  .detail-block {

  }
}
</style>
