<template>
  <div class="setting">
    <a-row>
      <a-table
        class="custom-table"
        :columns="columns"
        :data-source="dataSource"
        :pagination="false"
      >
        <template v-for="col in columns" :slot="col.dataIndex" slot-scope="text, record">
          <div :key="col.dataIndex">
            <template v-if="record.editable">
              <div>
                <a-input
                  v-if="col.type === 'text'"
                  style="margin: -5px 0"
                  :v-model="text"
                  :defaultValue="text"
                />
              </div>
            </template>
            <template v-else>
              <div>
                <span v-if="col.type === 'text'">{{ text }}</span>
                <span v-if="col.type === 'fromDate'">
                  {{ formatDate(text) +" → " +formatDate(record.to_date) }}
                </span>
                <a-checkbox v-if="col.type === 'checkbox'" :checked="text">
                </a-checkbox>
                <span v-if="col.type === 'text' && col.dataIndex === 'timesheet'">
                    <a-tag :color="getStatusTimeSheet(record.status).color">{{getStatusTimeSheet(record.status).text}}</a-tag>
                </span>
              </div>
            </template>
          </div>
        </template>
        <template slot="footer">
            <div >
              <a-pagination
                :total="totalElement.total_element"
                :show-total="(total, range) => `${range[0]}-${range[1]} of ${total} items`" 
                show-size-changer
                :page-size="size"
                @change="onChangePage"
                @showSizeChange="onShowSizeChange"
              />
            </div>
        </template>
      </a-table>
    </a-row>
  </div>
</template>
<script type='script' lang='js' src ='./EditingTable.js' />


<style scoped>
.editable-row-operations a {
  margin-right: 8px;
}
</style>
