<template>
  <div class="configuration-table">
    <a-table
      :row-selection="{
        selectedRowKeys: selectedRowKeys,
        onChange: onSelectChange,
      }"
      :columns="columns"
      :data-source="data"
      :row-key="(record) => record.id"
      :pagination="false"
      bordered
    >
     <template slot="jobType" slot-scope="text, record">
      <a href="javascript:;" @click="openJobLevel(record)">{{text}}</a>
     </template>
      <template slot="action" slot-scope="text, record">
        <a-dropdown :disabled="userInfo.userRoles[1]!=='RTS-Admin'">
          <a-menu slot="overlay">
            <a-menu-item key="1" @click="editItem(record)"> Edit</a-menu-item>
            <a-menu-item key="2" @click="deleteItem(record)"
              >Delete
            </a-menu-item>
          </a-menu>
          <a-button style="margin-left: 8px"> ... </a-button>
        </a-dropdown>
      </template>

      <template slot="footer">
        <div>
          <a-pagination
            :current="currentPage"
            :total="total_items"
            :show-total="onShowTotal"
            :page-size="pageSize"
            @change="onChangePage"
            showSizeChanger
            @showSizeChange="onShowSizeChange"
          />
        </div>
      </template>
    </a-table>
  </div>
</template>
<script>
import {mapState} from "vuex";

export default {
  props: {
    data: Array,
    columns: Array,
    pageSize: Number,
    currentPage: Number,
    total_items: Number,
  },
  data() {
    return {
      loading: false,
    };
  },

  computed: {
    ...mapState({
      userInfo: (state) => state.user.userInfo,
    }),


    hasSelected() {
      return this.selectedRowKeys.length > 0;
    },
    selectedRowKeys: {
      get: function () {
        return this.$store.state.configurations.selectedRowKeys;
      },
      set: function (newValue) {
        this.$store.commit("configurations/SET_SELECTED_ROW_KEY", newValue);
      },
    },
  },
  methods: {
    start() {
      this.loading = true;
      // ajax request after empty completing
      setTimeout(() => {
        this.loading = false;
        this.selectedRowKeys = [];
      }, 1000);
    },
    onSelectChange(selectedRowKeys) {
      this.selectedRowKeys = selectedRowKeys;
      this.$emit("onSelect", selectedRowKeys);
    },
    editItem(row) {
      this.$emit("onEdit", row);
    },
    deleteItem(row) {
      this.$emit("onDelete", row);
    },
    openJobLevel(row){
      this.$emit("onJobLevel", row);
    },
    onChangePage(page, size) {
      this.$emit("onChangePage", { page, size });
    },
    onShowSizeChange(page, size) {
      this.$emit("onChangePage", { page, size });
    },
    onShowTotal(total, range) {
      return `${range[0]}-${range[1]} of ${total} items`;
    },
  },
};
</script>

<style lang="scss">
.configuration-table {
  background: #ffffff;
  tr, td, .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }
  .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }
  .ant-table-thead > tr > th {
    background: #eaeaea;
  }
  .ant-table-bordered .ant-table-thead > tr > th,
  .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: none;
  }
  .ant-table-bordered .ant-table-header > table,
  .ant-table-bordered .ant-table-body > table,
  .ant-table-bordered .ant-table-fixed-left table,
  .ant-table-bordered .ant-table-fixed-right table {
    border: 1px solid $border-color-gray;
  }
  .ant-pagination-item-active {
    background: $pagination-color-dark-gray;
    border-color: $pagination-color-dark-gray;
  }
  .ant-pagination-item-active a {
    color: #fff;
  }
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border: none;
    background: inherit;
  }
  .ant-table-pagination.ant-pagination {
    text-align: center;
    float: none;
  }
  .ant-table-footer {
    text-align: end;
  }
}
</style>
