<template>
  <a-modal
    :width="400"
    class="formRQ"
    v-model="visibleModal"
    :maskClosable="false"
    :closable="false"
  >
    <div>
      <h2>{{ formName }}</h2>
      <a-divider />
    </div>
    <template>
      <a-form :form="form">
        <a-form-item label="Name">
          <a-input
            placeholder="Text"
            v-decorator="[
              'name',
              {
                initialValue: data.name,
                rules: [
                    { required: true, message: 'Please input all required information!' },
                    {
                      max: 50,
                      message: 'You’ve exceeded the limit by 50 characters',
                    },
                ],
              },
            ]"
          />
        </a-form-item>
        <a-form-item label="Description">
          <a-textarea
            placeholder="Text"
            :rows="6"
            v-decorator="[
              'description',
              {
                initialValue: data.description,
                rules: [
                    {
                      max: 250,
                      message: 'You’ve exceeded the limit by 250 characters',
                    },
                ],
              },

            ]"
          >
          </a-textarea>
        </a-form-item>
      </a-form>
    </template>
    <template slot="footer">
      <a-row class="p10">
        <a-col :md="24">
          <div class="float-right submit-block">
            <a-button key="submit" @click="handleSubmit" class="btn-submit">{{
              isEdit ? "Save" : "Add"
            }}</a-button>
            <a-button key="back" @click="handleCancel" class="mr5 btn-cancel"
              >Cancel</a-button
            >
          </div>
        </a-col>
      </a-row>
    </template>
  </a-modal>
</template>

<script>
export default {
  name: "ConfigurationModal",
  props: {
    data: {
      type: Object,
      default: function () {
        return {
          name: "",
          description: "",
        };
      },
    },
    visibleModal: {
      type: Boolean,
      default: function () {
        return true;
      },
    },
    isEdit: Boolean,
    formName: String,
    keyTab: String,
  },
  data() {
    return {
      form: this.$form.createForm(this, { name: "form_in_modal" }),
    };
  },
  created() {},
  methods: {
    handleCancel() {
      this.$emit("onCancel");
      this.form.resetFields();
    },
    handleSubmit(e) {
      e.preventDefault();
      let payload = {};
      this.form.validateFields((err, values) => {
        if (!err) {
          if (this.data && this.data.id) {
            values.id = this.data.id;
          }
          payload = values
          this.$confirm({
            title: 'Please Confirm',
            content: this.isEdit ?`Do you want to changes this ${this.keyTab}?`: `Do you want to save this ${this.keyTab}?`,
            okText: 'Confirm',
            onOk: () => {
              this.handleConfirm(payload)
            },
            cancelText: 'Cancel',
          });
        }
      });
    },
    handleConfirm(values){
      this.$emit("onSubmit", values);
      this.form.resetFields();
    }
  },
};
</script>

<style lang="scss">
.mb100 {
  margin-bottom: 100px;
}
.submit-block {
  .btn-submit {
    background: $btn-color-blue;
    color: white;
  }
  .btn-cancel {
    background: $btn-color-red;
    color: white;
  }
}
</style>
