<template>
  <a-modal
    :width="400"
    class="formRQ"
    v-model="visibleModal"
    :maskClosable="false"
    :closable="false"
  >
    <div>
      <h2>{{isEdit ? 'Edit' : 'Add'}} Job Code</h2>
      <a-divider />
    </div>
    <template>
      <a-form :form="form">
        <a-form-item label="Name">
          <a-input
            placeholder="Text"
            v-decorator="[
              'nameJobLevel',
              {
                initialValue: data.name,
                rules: [
                    { required: true, message: 'Please input name of Job Code!' },
                    {
                      max: 50,
                      message: 'You’ve exceeded the limit by 50 characters',
                    },
                ],
              },
            ]"
          />
        </a-form-item>  
        <a-form-item label="Min Salary">
          <a-input
            placeholder="Number"
            v-decorator="[
              'salaryMin',
              {
                initialValue: data.salaryMin,
                 rules: [{required: true, message: 'Please input salary !'}],
              },
            ]"
          />
        </a-form-item>
          <a-form-item label="Max Salary">
          <a-input
            placeholder="Number"
            v-decorator="[
              'salaryMax',
              {
                initialValue: data.salaryMax,
                rules: [{required: true, message: 'Please input salary !'}],
              },
            ]"
          />
        </a-form-item>
        <a-form-item label="Description">
          <a-textarea
            placeholder="Text"
            :rows="6"
            v-decorator="[
              'description',
              {
                initialValue: data.description,
                rules: [
                    {
                      max: 250,
                      message: 'You’ve exceeded the limit by 250 characters',
                    },
                ],
              },
            ]"
          >
          </a-textarea>
        </a-form-item>
      </a-form>
    </template>
    <template slot="footer">
      <a-row class="p10">
        <a-col :md="24">
          <div class="float-right submit-block">
            <a-button key="submit" @click="handleSubmit" class="btn-submit">{{
              isEdit ? "Save" : "Add"
            }}</a-button>
            <a-button key="back" @click="handleCancel" class="mr5 btn-cancel"
              >Cancel</a-button
            >
          </div>
        </a-col>
      </a-row>
    </template>
  </a-modal>
</template>

<script>
import salary from "../../store/modules/configurationModule/salary";

export default {
  name: "ConfigurationModalJobLevel",
  props: {
    data: {
      type: Object,
      default: function () {
        return {
          name: "",
          description: "",
          salaryMin: "",
          salaryMax: ""
        };
      },
    },
    visibleModal: {
      type: Boolean,
      default: function () {
        return true;
      },
    },
    isEdit: Boolean,
  },
  data() {
    return {
      form: this.$form.createForm(this, { name: "form_in_modal" }),
    };
  },
  watch: {
    visibleModal: {
      immediate: true,
      handler() {
        if(!this.isEdit)
          this.form.resetFields();
      },
    },
  },
  created() {},
  methods: {
    handleCancel() {
      this.$emit("onCancel");
    },
    handleSubmit(e) {
      e.preventDefault();
      let payload = {};
      this.form.validateFields((err, values) => {
        if (!err) {
          if (this.data && this.data.id) {
            values.id = this.data.id;
          }
          payload = values
        if(values.salaryMin >0 && values.salaryMax>0){
          if(parseInt(values.salaryMin) < parseInt(values.salaryMax)){
          this.$confirm({
            title: 'Please Confirm',
            content: this.isEdit ?`Do you want to changes this Job Code?`: `Do you want to save this Job Code?`,
            okText: 'Confirm',
            onOk: () => {
              this.handleConfirm(payload)
            },
            cancelText: 'Cancel',
          });
          } else {
             this.$message.error("Min Salary must be smaller than Max Salary")
          }
        }else {
            this.$message.error("Salary must be number and greater than 0")
          }
        }
      });
    },
    checkPrice(rule, value, callback) {
      if (value.number > 0) {
        callback();
        return;
      }
      callback('Price must greater than zero!');
    },
    handleConfirm(values){
      this.$emit("onSubmit", values);
      this.form.resetFields();
    }
  },
};
</script>

<style lang="scss">
.mb100 {
  margin-bottom: 100px;
}
.submit-block {
  .btn-submit {
    background: $btn-color-blue;
    color: white;
  }
  .btn-cancel {
    background: $btn-color-red;
    color: white;
  }
}
</style>
