<template>
  <div class="p15">
    <div class="content-details">
        <a-row >
          <a-col :md="10" :xs="10" class="title-drawer">
            Abnormal Case Detail
          </a-col>
          <a-col :md="14" :xs="14"  class="taE"  v-if="(checkMoreVisible(dataSource) && !dataSource.dateInApprovedTimeSheet)">
            <a-button class="req-color-reject" v-if="checkEditChangeStatusVisible(dataSource)" @click="onClickReject(dataSource,4)">Reject</a-button>
            <a-button :class="dataSource.status === 3 ? 'ot-disabled' : 'req-color-approve'" v-if="checkEditChangeStatusVisible(dataSource)" @click="onClickApproved(dataSource,3)" :disabled="dataSource.status === 3 ? true : false">Approve</a-button>
          </a-col>
        </a-row>
      <a-divider />
      <a-form
        id="request-detail-form"
        v-bind="formItemLayout"
        :form="form"
        labelAlign="left"
      >
        <a-form-item label="Request">
          <span class="ant-form-text">
            {{data.request_type}}
          </span>
        </a-form-item>
        <a-form-item label="Staff">
          <span class="ant-form-text">
            {{ data.employee.name }} - {{ data.employee.department_name ? data.employee.department_name.nameEn : ''}}
          </span>
        </a-form-item>
        <a-form-item label="Type">
          <span class="ant-form-text">
            {{data.type}}
          </span>
        </a-form-item>
        <a-form-item label="Date">
          <span class="ant-form-text">
            {{data.ab_date}}
          </span>
        </a-form-item>
        <a-form-item label="Check In">
          <span class="ant-form-text">
          {{formatTime(data.check_in)}}
          </span>
        </a-form-item>
        <a-form-item label="Check Out">
          <span class="ant-form-text">
      {{formatTime(data.check_out)}}
          </span>
        </a-form-item>
        <a-form-item label="Absent Time(min)">
          <span class="ant-form-text">
            {{data.minute_violation}}
          </span>
        </a-form-item>
        <a-form-item label="Actual">
          <span class="ant-form-text">
            {{data.actualType ? data.actualType : ''}}
          </span>
        </a-form-item>
        <a-form-item label="Status">
          <a-tag class="ant-form-text" :color="data.is_expired  && data.status === 0 ? statusColor['EXPIRED'] : statusColor[dataSource.statusText]">
             {{ data.is_expired && data.status === 0 ?  'EXPIRED' : dataSource.statusText }} 
          </a-tag>
        </a-form-item>
        <a-form-item label="Reason">
          <span class="ant-form-text" :style="{overflowWrap: 'anywhere',
    lineHeight: '25px'}">
            {{data.request ? data.request.description : ''}}
          </span>
        </a-form-item>
        <a-form-item label="Approver">
          <a-row>
            <a-col :span="24"  class="ant-form-text">
              <a-col :span="19" v-if="!visibleDelegate"  >{{this.assignee}}</a-col>
              <a-col :span="19" v-if="visibleDelegate" class="width-delegate-search">
                <a-select 
                  showSearch
                  allowClear
                  class="select" 
                  v-model="delegator"
                  placeholder="Search by staff name, ID " 
                  @search="(value) => onSearchDelegator(value)"
                  :not-found-content="fetching ? undefined : null"
                  :default-active-first-option="true"
                  :filter-option="false">
                  <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                  <a-select-option v-for="item in employeeList" :key="item.value" :value="JSON.stringify({id :item.id, label: item.label,department: item.department, value: item.value})">
                    {{item.label + ' (' +item.department + ')'}}
                  </a-select-option>
                </a-select>
              </a-col>
              <a-col :span="5" >
                <a-button  class="abnormal-bnt-delegate" @click="handleDelegate" v-if="!visibleDelegate && (roles.includes(Role.GROUP_LEAD)|| roles.includes(Role.DULEAD)) && (data.status===1) && !checkApproved(dataSource)">Delegate</a-button>
                  <span  v-if="visibleDelegate">
                    <a-button shape="circle" size="small" class="req-close-delegate" @click="handCancelDelegate">
                      <a-icon type="close" />
                    </a-button>
                  </span>
                  <span  v-if="visibleDelegate">
                    <a-button shape="circle" size="small" class="req-check-delegate" @click="handleSaveDelegate">
                      <a-icon type="check" />
                    </a-button>
                  </span>
              </a-col>
            </a-col>
            </a-row>
        </a-form-item>
        <a-form-item label="CC">
          <span class="ant-form-text">
            <div :style="data.request && data.request.mail.length <= 6 ? {} : {overflowY: 'scroll', height: '75px'}">
                            <span :style="{paddingRight: '2px', paddingBottom: '0px'}"
                                v-for=" (item, index) in data.request.mail" :key="index" class="ant-form-text ot-text ot-padding">{{data.request.mail[index].name}}
                                <span v-if="index !== (data.request.mail.length-1)">,</span>
                                <span v-else>.</span>
                            </span>
            </div>
          </span>
        </a-form-item>
        <a-form-item label="Reason for Rejection: ">
          <span class="ant-form-text">
            {{this.reasonReject}}
          </span>
        </a-form-item>
        <a-form-item label="Attact File">
          <a-upload
             name="file"
            :multiple="true"
            :show-upload-list="true"
            :file-list="fileList"
          >
            <!-- <a-button type="primary" icon="paper-clip">Attach File</a-button>
            <span class="ml30">0 files selected.</span> -->
          </a-upload>
          <a-button key="submit" type="primary" @click="handleDownload" v-if="isAvaiableToDownLoad" >Download</a-button>
        </a-form-item>
        <a-divider :style="{marginTop: '30%'}"/>
        <a-row class="taE" :style="{marginTop: '20%'}">
          <a-col :span="17" :offset="7" >
            <a-row >Last modified time: {{'  ' + (dataSource.last_modified_date ? (dataSource.last_modified_date) : (dataSource.created_date))}}</a-row>
              <a-row>
                Created by:   {{dataSource.employee.name}} - {{dataSource.employee.department_name.nameEn}}
              </a-row>
           </a-col>
        </a-row>
        <template>
          <a-modal
            title="Reasons For Rejection"
            :maskClosable="false"
            :visible="visibleModalReject"
            ok-text="Comment"
            @ok="handleOk()"
            @cancel="handleCancelRejectModel"
          >
          <a-textarea
            allow-clear
            v-model="dataSource.reasonReject"
            :auto-size="{ minRows: 3, maxRows: 5 }"
          />
          <!-- <a-textarea
            allow-clear
            v-if="isSingleRecord"
            v-model="reasonReject"
            :auto-size="{ minRows: 3, maxRows: 5 }"
          /> -->
          </a-modal>
        </template>
      </a-form>
    </div>
  </div>
</template>
<script type="script" lang="js" src="./AbnormalCaseDetail.js" />
