<template>
  <a-upload-dragger
      name="file"
      :multiple="true"
      accept="application/pdf"
      :customRequest="uploadFiles"
      @change="handleChange"
      :default-file-list="defaultFileList"
  >
    <p class="ant-upload-drag-icon">
      <a-icon type="inbox" />
    </p>
    <p class="ant-upload-hint">
      Drag or drop file or <a>Click me</a> to upload
    </p>
  </a-upload-dragger>
</template>
<script>

import {mapState} from "vuex";
import Vue from "vue";


export default {
  props: {
    defaultFileList: {
      type:Array,
      required:false
    }
  },
  data() {
    return {
    };
  },
  created() {
    this.methodThatForcesUpdate()
  },
  methods: {
    handleChange(info) {
      let params = {
        info: info,
        type: ".pdf"
      }
      this.$emit("uploadFile", params)
    },
    uploadFiles({ onSuccess, onError, file }) {
      setTimeout(() => {
        onSuccess("ok");
      }, 500);
    },
    methodThatForcesUpdate() {
      this.$forceUpdate();
    }

  },
};
</script>
<style scoped>
.upload-list-inline >>> .ant-upload-list-item {
  float:left;
  width: 200px;
  margin-right: 2.2rem;
}
.upload-list-inline >>> .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline >>> .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
</style>