<template>
  <div>
  <a-upload-dragger
      name="file"
      :multiple="false"
      @change="handleChange"
      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      :customRequest="uploadFiles"
      :default-file-list="defaultFileList"
  >
    <p class="ant-upload-drag-icon">
      <a-icon type="inbox" />
    </p>
    <p class="ant-upload-hint">
      Drag or drop file or <a>Click me</a> to upload
    </p>
  </a-upload-dragger>
  <a href="Master-Upload-CV.xlsx" target="_blank" class="link-excel">Dowmload Sample File</a>
  </div>
</template>
<script>
export default {
  props: {
    defaultFileList: {
      type:Array,
      required:false
    }
  },
  data() {
    return {
    };
  },
  methods: {
    handleChange(info) {
      let params = {
        info: info,
        type: ".xlsx"
      }
      this.$emit("uploadFile", params)
    },
      uploadFiles({ onSuccess, onError, file }) {
        setTimeout(() => {
          onSuccess("ok");
        }, 500);
      }
  },
};
</script>
<style scoped>
  .link-excel {
    display: inline-block;
    margin-top: 1rem;
  }
</style>