<template>
  <div id="upload-file">
    <a-modal
        title="Create Candidate List"
        v-model="visible"
        :footer="null"
        :width="600"
        :maskClosable="false"
        :closable="false"
        class="modal-upload"
    >
      <div>
        <a-steps :current="current" v-model="current" type="navigation" size="small" :style="stepStyle" @change="changeStep" >
          <a-step v-for="item in steps" :key="item.title" :title="item.title" class="step-header" :icon="null" :disabled="true" />
        </a-steps>
        <div class="steps-content">
         <UploadCV v-if="current===0" @uploadFile="handleUploadFile" :defaultFileList="defaultFile"/>
         <UploadExcel v-if="current===1" @uploadFile="handleUploadFile" :defaultFileList="defaultExcel"/>

        </div>
        <div class="steps-action">
          <a-button v-if="current > 0" class="btn-prev"  @click="prev" type="primary">
            Back
          </a-button>
          <a-button v-if="current < steps.length - 1" type="secondary" @click="handleCancel">
            Close
          </a-button>
          <a-button v-if="current < steps.length - 1" type="primary" @click="next"  :disabled="!isValid">
            Next
          </a-button>
          <a-button
              v-if="current == steps.length - 1"
              type="primary"
              @click="handleDone"
              :disabled="!isValid"
           >
            Done
          </a-button>
        </div>
      </div>
    </a-modal>
  </div>
</template>
<script>
import UploadCV from "./UploadCV";
import UploadExcel from "./UploadExcel";
import { mapActions } from "vuex";
export default {
  components: {
    UploadCV,
    UploadExcel,
  },
  props: {
    visible: {
      type: Boolean,
      default: function () {
        return false
      }
    },
    isStep: {
      type: Boolean,
      default: function () {
        return false
      }
    },
  },
  data() {
    return {
      current: 0,
      defaultFile: [],
      defaultExcel: [],
      defaultInfo: [],
      resFile: [],
      steps: [
        {
          title: 'Upload CV Files',
          content: UploadCV,
        },
        {
          title: 'Upload Excel Files',
          content: UploadExcel,
        },
      ],
      isValid: false,
      fileExel: {},
      filePdf: {},
      listCVRes: [],
      stepStyle: {
        marginBottom: '20px',
        boxShadow: '0px -1px 0 0 #e8e8e8 inset',
        width: '100%'
      }
    }
  },
  watch: {

    visible : {
      immediate : true,
      handler() {
        this.defaultFile = []
        this.defaultExcel = []
      }
    }
  },
  methods: {
    ...mapActions({
      UploadFile: 'rtsManagementCV/uploadFile',
      UploadMultiFile: 'rtsManagementCV/uploadMultiFile',
      UploadFileExcel: 'rtsManagementCV/uploadFileExcel',
      uploadFileExcelByStep: 'rtsManagementCV/uploadFileExcelByStep'
    }),
    changeStep() {
      this.defaultExcel = this.fileExel.file
    },
    next() {
      this.isValid = false
      this.defaultFile = [];
      this.defaultFile = this.filePdf.fileList
      this.defaultExcel = this.fileExel.fileList
      this.isValid = this.validateFile(this.defaultExcel, '.xlsx')
      const payloadPDF = {
        file: this.filePdf,
        fileType: 'CV'
      }
      this.UploadMultiFile(payloadPDF).then((res)=> {
        if (res) {
          this.$message.success('Upload File CV Successfully !', 5)
          res.files.map(item =>{
            this.resFile.push(item.previewUrl)
            this.listCVRes = res
          })
        }})
          .catch((err) => {
          this.$message.error("Upload fail !", 5)
        })
      this.current++;
    },
    prev() {
      this.current--;
      this.defaultFile = this.filePdf.fileList
      this.defaultExcel = this.fileExel.fileList
      this.isValid = this.validateFile(this.defaultFile, '.pdf')
    },
    handleDone() {
      delete this.fileExel.file.error
      const payload = {
        file: this.fileExel,
        fileInfo: this.listCVRes
      }
      const payloadStep = {
        file: this.fileExel,
        fileInfo: this.listCVRes,
        requestId:  this.$route.params.id,
      }
      if(this.isStep){
        this.uploadFileExcelByStep(payloadStep).then((res) => {
          if (res) {
            if(res.emailDuplicatedList.length > 0) {
              let duplicate = ''
              res.emailDuplicatedList.map(item => {
                duplicate += item +"\n"
              })
              this.$message.error(`${res.emailDuplicatedList.length} emails have already exist:
               ${duplicate}`, 8)
            } else {
              this.$store.dispatch(
                  "rtsListCandidate/getListCandidate",
                  {
                    offset: 1,
                    limit: 5,
                    candidateState: 'qualify',
                    requestId:  this.$route.params.id,
                  }
              );
              this.$message.success('Upload File Successfully !', 5)
            }

          }
        }).catch((err) => {
          this.$message.error(err, 5)
        })
      }else {
        this.UploadFileExcel(payload).then((res) => {
          if (res) {
            if(res.emailDuplicatedList.length > 0) {
              let duplicate = ''
              res.emailDuplicatedList.map(item => {
                duplicate += item+ ' ,'
              })
              this.$message.error(`${res.emailDuplicatedList.length} emails have already exist:
               ${duplicate}`, 8)
            }else {
              this.$store.dispatch(
                  "rtsManagementCV/getListCv",
                  {
                    offset: 1,
                    limit: 10,
                    candidateState: 'none'
                  }
              );
              this.$message.success('Upload File Successfully !', 5)
            }

          }
        }).catch((err) => {
          this.$message.error(err, 5)
        })
      }

      this.current = 0
      this.$emit('ok', this.resFile)
      this.defaultFile = []
      this.defaultExcel = []
      this.fileExel.fileList = []
      this.filePdf.fileList = []
      this.isValid = false
    },
    handleCancel() {
      this.$emit('cancel')
      this.defaultFile = []
      this.defaultExcel = []
    },
    handleUploadFile(params) {
      const {info, type} = params
      this.defaultInfo = info
      if (type === '.xlsx') {
        this.fileExel = info
      } else {
        this.filePdf = info
      }
      this.isValid = this.validateFile( this.defaultInfo.fileList, type)
    },
    validateFile(arr, file) {
      if (!arr || arr.length <= 0) return false;
      else {
        let count = 0;
        arr?.map(item => {
          if (item.name.includes(file)) {
            count++
          }
        })
        return count === arr.length;
      }
    },
  }
}
</script>
<style scoped>
  .modal-upload{
    width: 700px;
  }
  .steps-action{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }
  .steps-content{
    margin: 2rem 0;
  }
  .step-header{
    padding: 0 1.5rem
  }
  .btn-prev{
    margin-right: 20px;
  }
</style>