<template>
  <a-layout class="content-wrapper" id="jobPosting">
    <a-layout-content>
      <!--  Filter -->
      <div class="header-container">
      <JobPostingHeader class="header-detail"></JobPostingHeader>
      <a-row class="job-posting--header">
        <a-col class="filter-search" :md="24">
          <JobFilterBlock
            :page="page"
            @onApplyFilter="onApplyFilter"
            @onChangeJobType="goDetailCategoryPage"
            class="filter-details"
          ></JobFilterBlock>
        </a-col>
      </a-row>
      </div>
      <!--  Job detail -->
      <div class="detail-jobs" v-if="jobPublicDetail.code !== '404'">
        <a-row class="job-content">
          <!-- Column Left -->
          <!-- Column Right -->
          <a-col :md="17" :sm="24" class="left-content">
            <div align="left">
              <div class="left-head">
              <h2>
                {{ jobPublicDetail.name }}
              </h2>
              <span class="dot">°</span>
              <span class="job-type-tag" v-if="jobPublicDetail.jobType">{{ jobPublicDetail.jobType.name }}</span>
              </div>
              <div class="apply-box">

                <a-button class="apply-button" @click="openUploadCV()">
                  Apply
                </a-button>
                <div align="left" class="job-info">
                  <p class="text-info">
                    <img src="../../../assets/images/location.svg" class="custom-icon">{{ jobPublicDetail.location }}
                  </p>
                  <p class="text-info">
                    <img src="../../../assets/images/calendar.svg" class="custom-icon">{{ formatDate(jobPublicDetail.date) }}
                  </p>
                  <p class="text-info">
                    <img src="../../../assets/images/user.svg" class="custom-icon">{{ jobPublicDetail.totalUser }}
                    applicants
                  </p>
                  <p class="text-info">
                    <img src="../../../assets/images/bag.svg" class="custom-icon">{{ jobPublicDetail.workingType }}
                  </p>
                  <p class="text-info">
                    <a-icon type="star" theme="filled" class="custom-icon"/>{{ jobPublicDetail.experience }} years experience
                  </p>

                  <p class="text-info">
                    <img src="../../../assets/images/coins.svg" class="custom-icon">{{ jobPublicDetail.salary }}
                  </p>
                </div>
              </div>
              <div class="main-detail">
              <h3>Job Depcription</h3>
              <div v-html="jobPublicDetail.description"></div>
              <h3 class="job-benefits">Requirements</h3>
              <div v-html="jobPublicDetail.requirement"></div>
              <h3 class="job-benefits">Benefits</h3>
              <div v-html="jobPublicDetail.benefit"></div>
              </div>
            </div>
          </a-col>
          <a-col :md="6" :sm="24" class="right-content">
            <div align="middle" class="more-job-contain">
              <div class="left-head">
                <h2>
                More Jobs for you
                </h2>
              </div>
              <div class="more-jobs-details">
                <div>
                  <MoreJobsDetail
                      v-if="listMoreJobDetail && listMoreJobDetail.length > 0"
                      :moreJobList="listMoreJobDetail"
                  />
                  <a-empty v-else />
                </div>
              </div>
            </div>
          </a-col>
        </a-row>
      </div>
      <template>
        <a-empty
          class="no-data"
          v-if="jobPublicDetail.code === '404'"
          :description="'No Data: ' + jobPublicDetail.message"
        />
      </template>
      <a-row>
        <a-col :md="24" v-if="jobPublicDetail.code !== '404'">

        </a-col>
      </a-row>
    </a-layout-content>
    <CreateCvUploadModel
      :visibleModal="isShowUpLoadCVModal"
      :data="jobPublicDetail"
      :jobId="jobPublicDetail.id"
      :isApply="true"
      @onCancelPopup="onCancelPopup"
    />
  </a-layout>
</template>

<script type='script' lang='js' src="./JobPostingDetail.js"></script>

<style lang="scss">
#jobPosting {
  font-size: 16px;
  .header-container{
    position: fixed;
    width: 100%;
    z-index: 1;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }
  .detail-jobs {
    padding-top: 150px;
    display: flex;
    justify-content: center;
  }
  .more-jobs-details {
    margin-top: 30px
  }
  .header-detail {
    padding:0 8rem;
    margin: auto;
  }
  .filter-details {
    width: 80%;
    margin: auto;
  }
  .detail-jobs {
    margin-top: 100px;
    margin-bottom: 90px;
  }
  .job-content {
    width: 85%;
    margin: auto;
  }.left-content {
    padding-right: 20px;
   }
  .right-content{
    padding-left: 50px;
  }
  .more-job-contain {
    margin-left: 2rem;
  }
  .job-image {
    width: 160px;
    height: 160px;
    margin-bottom: 50px;
  }
  .main-detail {
    margin-top: 3rem;
  }
  .no-data {
    height: 400px;
    margin-top: 100px;
  }
  .dot{
    margin-left: 1rem;
  }
  .custom-icon {
    width: 15px;
    margin-right: 10px;
    filter: invert(14%) sepia(47%) saturate(13%) hue-rotate(49deg) brightness(97%) contrast(85%);
  }
  .apply-button {
    width: 300px;
    height: 40px;
    background: #1C9AD6;
    border-radius: 20px;
    color: #fff;

    span {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 5px;
    }
  }

  .job-info {
    padding: 25px 0 0 55px;
    display: flex;
    flex-wrap: wrap;
  }

  .text-info {
    color: black;
    min-width: 33%;
    font-size: 14px;
    padding-left: 2rem;
    margin-bottom: 15px;
    .anticon {
      margin-right: 12px;
      font-size: 22px;
    }
  }
  .job-type-tag {
    font-size: 20px;
    font-weight: 500;
    margin-left: 1rem ;
  }
  h2 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #1C9AD6;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    color: #172b4d;
  }

  .h2-custom {
    font-size: 2rem;
    font-weight: 600;
    margin: 30px 0px;
  }
  .left-head {
    text-align: start;
    min-width: 300px;
    border-bottom: 2px solid #000000;
  }
  .underline-text {
    position: relative;
  }

  .job-benefits {
    margin-top: 30px;
  }

  .ant-tag {
    min-width: 60px;
    margin-left: 15px;
    display: inline-block;
    position: relative;
    top: -5px;
    right: 0;
    font-weight: 600;
    border-radius: 9px;
    padding-bottom: 1px;
  }

  .ant-tag {
    min-width: 80px;
    text-align: center;
  }
  .apply-box{
    display: flex;
    align-items: center;
  }
  @media only screen and (max-width: 600px) {
    .right-content {
      padding: 0;
    }
    .more-job-contain {
      margin: 0;
    }
    .apply-box{
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
    }
    .job-info{
      padding: 1rem 0;
    }
    .dot {
      margin: 0
    }
    h2{
      margin-top: 2rem;
      font-size: 1.4rem;
      display: block;
    }
  }
}
</style>
