<template>
  <div class="profile">
    <embed  :src="profiles.linkCv.includes('https://media.cmcglobal.com.vn') ?profiles.linkCv : 'https://media.cmcglobal.com.vn'+profiles.linkCv "
            frameborder="0" height="800" width="100%" class="preview"
            v-if="profiles.linkCv && profiles.linkCv.length>0" />
    <a-empty v-else></a-empty>
  </div>
</template>

<script>

export default {
  props:{
    candidateID: Number,
    profiles: Object,
  },
};

</script>
<style>
.info-company {
  margin: 0;
}
.info-via {
  margin-right: 10px;
  color: #172b4d;
}
.btn-like {
  margin: 5px 5px 5px 0px;
  border: none;
  color: #42526e;
  background: #091e420a;
}
.list-style {
  color: #a5adba;
  font-size: 20px;
  margin: 0 0.5rem;
}
.profile-company {
  font-size: 14px;
  color: #172b4d;
  font-weight: 500;
}
.profile p {
  margin: 0.2rem 1.5rem;
  line-height: 20px;
}
.profile-position,
.profile-year,
.profile-desc {
  font-size: 12px;
  font-weight: 500;
  color: #172b4d;
}
.profile-year {
  color: #6b778c;
}
.profile-desc {
  font-size: 14px;
}
.preview{
  margin: 2rem;
}
</style>
