<template>
<a-row type="flex">
        <a-col>
          <img
            :src="candidateInformation.avt || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVdaOKtgIhAxkD7Oh4inZgxiz6WKZouGGByP3lTYlDy0jT0A-0lH4MdlFe2ucbCrjJ69I&usqp=CAU'"
            class="avt-img"
          />
        </a-col>
        <a-col class="info">
          <h2 class="candidate-name">{{candidateInformation.fullName || "Candidate Name"}}</h2>
          <p class="info-company" v-if="candidateInformation.lastCompany && candidateInformation.lastCompany !== 'null'">{{candidateInformation.lastCompany}}</p>
          <p class="info-email" v-if="candidateInformation.skill || candidateInformation.experience"><span class="info-via">{{candidateInformation.skill}}</span>
            <span class="info-via" v-if="candidateInformation.skill && candidateInformation.experience">•</span><span class="info-via">{{candidateInformation.experience}}</span></p>
          <p class="info-email">{{`${candidateInformation.email} | ${candidateInformation.phone}`}}</p>
          <span class="info-via">via <a>{{findChannelById(candidateInformation.channel) }}</a></span>
          <span class="info-via"> • </span>
          <span class="info-via">{{candidateInformation.applySince}}</span>
          <a-row>
            <a-button :class="reactStatus === true ? 'btn-like btn-active': 'btn-like' " @click="onLike">
              <a-icon type="like" />
              {{listReact.like}}
            </a-button>
            <a-button :class="reactStatus===false ? 'btn-like btn-active': 'btn-like' " @click="onDislike">
              <a-icon type="dislike" />
              {{listReact.dislike}}
            </a-button>
          </a-row>
            </a-col>
      </a-row> 
          </template>
<script>

import { mapActions, mapState } from "vuex";

export default {
  props: {
    candidateId: Number,
    requestId: Number,
    candidateInformation: Object,

  },

  data() {
    return {
      like: 20,
      dislike: 10,
      reactStatus: null,
    }
  },
  computed: {
    ...mapState({
      listReact: (state) => state.rtsActivityCandidate.listReact,
      userInfo: state => state.user.userInfo.userName,
      listChannel: (state) => state.rtsManagementCV.listChannel
    }),
  },
  async created() {
    await this.$store.dispatch("rtsManagementCV/getListChannel")
  },
  watch: {
    candidateId : {
      immediate : true,
      async handler (newVal) {
        if (newVal) {
         await this.getListReact(newVal);
         await this.setReactStatus();
        }
      }
    },
  },
  methods: {
    ...mapActions({
      getListReact: 'rtsActivityCandidate/getListReact',
      actionLike: 'rtsActivityCandidate/actionLike'
    }),
    findChannelById(id){
      let name = ''
      if(this.listChannel) {
        this.listChannel.map(item => {
          if(item.id === id){
            name = item.name
          }
        })
      }
      return name
    },
    onLike() {
      if (this.reactStatus !== true) {
        const payload = {
          candidateID: this.candidateId,
          liked: true
        }
        this.actionLike(payload).then(() => {
          this.getListReact(this.candidateId);
        });
        this.reactStatus = true
      }
    },
    onDislike() {
      if (this.reactStatus !== false) {
        const payload = {
          candidateID: this.candidateId,
          liked: false
        }
        this.actionLike(payload).then(() => {
          this.getListReact(this.candidateId);
        });
        this.reactStatus = false
      }
    },
    setReactStatus() {
      new Promise ((resolve) => {
        if (!this.listReact.dislikedUser || !this.listReact.likedUser) return
        this.listReact.dislikedUser.map((item) => {
          if (item === this.userInfo) {
            this.reactStatus = false
          }
        })
        this.listReact.likedUser.map((item) => {
          if (item === this.userInfo) {
            this.reactStatus = true
          }
        })
        resolve()
      });
    }
  }
};

</script>
<style>
   .info-email{
     font-size: 12px;
     margin: 0;
   }
   .btn-active{
     color: #2D89FC;
     background-color: #fafafa;

   }
</style>