<template>
  <div class="candidate-table">
     <a-table
      :row-selection="{
        selectedRowKeys: selectedRowKeys,
        onChange: onSelectChange,
      }"
      :columns="columns"
      :data-source="data"
      :row-key="(record) => record.id"
      :pagination="false"
      bordered
    >
    <a slot="cv" slot-scope="text">{{ text }}</a>
      <template slot="action" slot-scope="text, record">
        <a-dropdown>
          <a-menu slot="overlay">
            
            <a-menu-item key="2" @click="deleteItem(record)"
              >Delete
            </a-menu-item>
          </a-menu>
          <p id="delete-action">...</p>
        </a-dropdown>
      </template>

      <template slot="footer">
        <div>
          <a-pagination
              :current="currentPage"
              :total="total_items"
              :page-size="pageSize"
              :show-total="onShowTotal"
              @change="onChangePage"
              showSizeChanger
              @showSizeChange="onShowSizeChange"
          />
        </div>
      </template>
    </a-table>
  </div>
</template>
<script>
export default {
  props: {
    data: Array,
    columns: Array,
    pageSize: Number,
    currentPage: Number,
    total_items: Number,
  },
   data() {
    return {
      loading: false,
    };
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0;
    },
    selectedRowKeys: {
     get() {
        return this.$store.state.rtsApplication.selectedRow
      },
      set(newVal) {
        this.$store.commit('rtsApplication/SET_SELECTED_ROW', newVal)
      }
    },
  },
  methods: {
    start() {
      this.loading = true;
      // ajax request after empty completing
      setTimeout(() => {
        this.loading = false;
        this.selectedRowKeys = [];
      }, 1000);
    },
    deleteItem(row) {
      this.$emit("onDelete", row);
    },
    onChangePage(offset, limit) {
      this.$emit("onChangePage", {offset, limit});
    },
    onShowSizeChange(offset, limit) {
      this.$emit("onChangePage", {offset, limit});
    },
    onShowTotal(total, range) {
      return `${range[0]}-${range[1]} of ${total} items`;
    },
    onSelectChange(selectedRowKeys) {
      this.selectedRowKeys = selectedRowKeys;
      this.$emit("onSelect", selectedRowKeys);
    },

  },
};
</script>

<style lang="scss">
.candidate-table{
  background: #ffffff;

  tr, td, .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }

  .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }

  .ant-table-thead > tr > th {
    background: #eaeaea;
  }

  .ant-table-bordered .ant-table-thead > tr > th,
  .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: none;
  }

  .ant-table-bordered .ant-table-header > table,
  .ant-table-bordered .ant-table-body > table,
  .ant-table-bordered .ant-table-fixed-left table,
  .ant-table-bordered .ant-table-fixed-right table {
    border: 1px solid $border-color-gray;
  }

  .ant-pagination-item-active {
    background: $pagination-color-dark-gray;
    border-color: $pagination-color-dark-gray;
  }

  .ant-pagination-item-active a {
    color: #fff;
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border: none;
  }

  .ant-table-pagination.ant-pagination {
    text-align: center;
    float: none;
  }

  .ant-table-footer {
    text-align: end;
  }
  #delete-action{
   margin:0;
   font-weight: bold;
   font-size: 15px;
   cursor:pointer;
  }
}

</style>
