<template>
  <div class="activity">
    <a-tabs v-model="activeKeyTab" @change="handleChangeTab" :defaultActiveKey="activeKeyTab">
      <a-tab-pane v-for="tab in tabs" :key="tab.id" :tab="tab.title">
        <template v-if="tab.title === 'Timeline'">
          <ContentInTabTimeline
              :listComment="listComment"
              :listTimeline="listTimeline"
              :listInterview="listInterview"
              :candidateId="candidateId"
          />
        </template>
        <template v-if="tab.title === 'Comments'">
          <ContentInTabComments
              :listComment="listComment"
              :childKeyTab="activeKeyTab"
              :keyTab="keyTabs"
              :candidateId="candidateId"
              @onPostComment="onPostComment"
          />
        </template>
        <template v-if="tab.title === 'Interview'">
          <ContentInTabInterview
              :isDisable="true"
              :candidateId="candidateId"
              :keyTab="activeKeyTab"
              @onCreateInterview="getListInterview"
          />
        </template>
        <template v-if="tab.title === 'Offer'">
          <ContentInTabOffer
              :candidateId="candidateId"
              :requestId="parseInt(requestId)"
          />
        </template>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script>
import {mapState, mapActions} from "vuex";
import ContentInTabComments from "../ContentInTab/ContentInTabComments.vue";
import ContentInTabTimeline from "../ContentInTab/ContentInTabTimeline.vue";
import ContentInTabInterview from "../ContentInTab/ContentInTabInterview.vue";
import ContentInTabOffer from "../ContentInTab/ContentInTabOffer";

export default {
  props: {
    tabs: {
      type: Array
    },
    candidateId: {
      type: Number
    },
    keyTabs: {
      type: String
    },
  },
  components: {
    ContentInTabComments,
    ContentInTabTimeline,
    ContentInTabInterview,
    ContentInTabOffer,
  },

  data() {
    return {
      requestId: ''
    };
  },
  async created() {
    this.requestId = this.$route.params.id
    await this.getListInterview();
    await this.getListComment();
    await this.getListTimeline();
  },
  watch: {
    activeKeyTab: {
      immediate: true,
      handler() {
        this.getAllTimeLine(this.candidateId)
      }
    },
    candidateId: {
      immediate: true,
      handler(newVal) {
        this.getAllTimeLine(newVal)
      }
    }
  },
  computed: {
    ...mapState({
      keyTab: (state) => state.rtsInterviewTab.keyTab,
      isShowInterview: (state) => state.rtsInterviewTab.isShowInterview,
      listComment: (state) => state.rtsActivityCandidate.listComment,
      listTimeline: (state) => state.rtsActivityCandidate.listTimeline,
      listInterview: (state) => state.rtsActivityCandidate.listInterview,
    }),
    activeKeyTab: {
      get() {
        return this.$store.state.rtsListCandidate.aciveKeyTabs
      },
      set(newVal) {
        this.$store.commit("rtsListCandidate/SET_ACTIVE_KEYTAB", newVal);
      }
    }
  },
  methods: {
    handleChangeTab() {
    },
    resetData() {
      this.$store.commit("rtsActivityCandidate/RESET_STATE");
    },
    ...mapActions({
      getListComment: 'rtsActivityCandidate/getListComment',
      getListTimeline: 'rtsActivityCandidate/getListTimeline',
      getListInterview: 'rtsActivityCandidate/getListInterview',
      setLoading: 'user/loadingRequest',
      stopLoading: 'user/stopLoading',
    }),

    onPostComment (){
      this.getAllTimeLine()
    },
    getAllTimeLine(){
      const payload = {
        page: 1,
        candidateId: this.candidateId,
        requestId: this.$route.params.id
      }

      const params = {
        candidateId:  this.candidateId,
        requestId: this.$route.params.id
      }
      this.getListComment(payload)
      this.getListInterview(payload)
      this.getListTimeline(params)
    }
  },

  beforeDestroy() {
    this.resetData();
  },
};
</script>
<style></style>
