<template>
  <div id="Candidate">
    <div class="container">
      <table>
        <tr>
          <th>
            <div class="content-header">
              <div>
                <input
                  v-model="checkAll"
                  type="checkbox"
                  @change="handleCheckAll"
                />
                <span class="selectAll">Select all</span>
              </div>
            </div>
          </th>
        </tr>
        <tr v-for="item in listCandidate" :key="item.candidateId">
          <td>
            <div
              :class="[
                'content',
                item.checked || item.clicked ? 'checked' : '',
              ]"
            >
              <div class="content-left">
                <input
                  type="checkbox"
                  v-model="item.checked"
                  @click="handleCheck"
                />
                <img
                  :src="
                    item.avatar ||
                    'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVdaOKtgIhAxkD7Oh4inZgxiz6WKZouGGByP3lTYlDy0jT0A-0lH4MdlFe2ucbCrjJ69I&usqp=CAU'
                  "
                  alt="image"
                />
              </div>
              <div @click="handleClickRow(item)" class="content-right">
                <a-tooltip
                  placement="topLeft"
                  :title="item.fullName"
                  arrow-point-at-center
                  class="rowItem"
                >
                  <p class="name">
                    {{
                      item.fullName.length > 40
                        ? item.fullName.substring(0, 40) + "..."
                        : item.fullName
                    }}
                  </p>
                  <span v-if="item.checkCandidateFaild">
                    <a-tag color="red"> Failed </a-tag>
                  </span>
                </a-tooltip>
                <p class="company" v-if="item.lastCompany && item.lastCompany !== 'null'">{{ item.lastCompany}}</p>
                <p class="info-email" v-if="item.skill || item.experience"><span>{{item.skill}}</span>
                  <span class="dot" v-if="item.skill && item.experience">•</span><span>{{item.experience}}</span></p>
                <p class="info-email"><span>via <a>{{findChannelById(item.channel)}}</a></span><span class="dot">•</span><span>{{item.applySince}}</span></p>
                <p class="info-email"><span>{{item.phone}}</span><span class="dot">•</span><span class="email-can">{{item.email}}</span></p>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: "App",
  props: {
    listCandidate: {
      type: Array,
    },
  },
  data() {
    return {
      check: false,
      selectedRowKeys: [],
      selectedRows: [],
      selectedRowKey: null,
      indeterminate: true,
      maxLength: 40,
    };
  },
  computed: {
    ...mapState({
      listChannel: (state) => state.rtsManagementCV.listChannel
    }),
     created() {
       this.$store.dispatch("rtsManagementCV/getListChannel")
    },
    checkAll: {
      get() {
        return this.$store.state.rtsListCandidate.checkAll;
      },
      set(data) {
        this.$store.commit("rtsListCandidate/SET_CHECK_ALL", data);
      },
    },
  },
  watch: {
    checkAll: {
      immediate: true,
      handler(newVal) {
        if (newVal) {
          this.listCandidate.forEach((item) => (item.checked = true));
        } else {
          this.listCandidate.forEach((item) => (item.checked = false));
        }
      },
    },
    listCandidate: {
      immediate: true,
      deep: true,
      handler(newVal) {
        this.selectedRows = newVal.filter((item) => item.checked);
        if (newVal.length === this.selectedRows.length) {
          this.checkAll = true;
        }
        if (this.selectedRows.length === 0) {
          this.checkAll = false;
        }
        this.selectedRowKeys = this.selectedRows.map(
          (item) => item.candidateId
        );
        this.$emit("onSelectRow", this.selectedRowKeys);
      },
    },
  },
  methods: {
    handleCheck() {},
    handleCheckAll() {},

    handleOrderByDate() {
      this.$store.dispatch("rtsListCandidate/orderByDate");
    },
    findChannelById(id){
      let name = ''
      if(this.listChannel) {
        this.listChannel.map(item => {
          if(item.id === id){
            name = item.name
          }
        })
      }
      return name
    },
    resetData() {
      this.$store.commit("rtsListCandidate/RESET_STATE");
    },
    handleClickRow(item) {
      this.clearAllClick(this.listCandidate);
      // active after clear all click
      setTimeout(() => {
        item.clicked = true;
        this.$emit("onClickRow", item);
      }, 0);
    },
    clearAllClick(arr) {
      arr.forEach((item) => (item.clicked = false));
    },
    addItem(array, value) {
      array.push(value);
    },
    removeItem(array, valueToRemove) {
      array.filter((item) => item !== valueToRemove);
    },
  },
  beforeDestroy() {
    this.resetData();
  },
};
</script>

<style scoped>
.container {
  max-height: 81vh;
  width: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
  background: #42526e;
  border-radius: 3px;
}
.dot{
  margin: 0 5px;
}
table,
td {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.content {
  display: flex;
  cursor: pointer;
}

.content-header {
  padding: 16px;
}

.content-left {
  padding: 16px;
  display: flex;
  align-items: center;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 15px;
  display: inline-block;
}

.name {
  margin-bottom: 0;
  line-height: 20px;
  max-width: 85%;
}

.company {
  margin: 0;
  font-size: 11px;
  color: #6b778c;
  line-height: 20px;
}

.info {
  font-size: 11px;
}
.introduce {
  color: #0065ff;
}

.selectAll {
  display: inline-block;
  margin-left: 5px;
}
.email-can {
  color: #0065ff;
}
.button {
  border: none;
  outline: none;
  background: #fff;
  cursor: pointer;
}

.content-header {
  display: flex;
  justify-content: space-between;
}

.checked {
  background-color: #deebff;
}

.content-right {
  flex: 1;
  margin-top: 14px;
}

.rowItem {
  display: flex;
  justify-content: space-between;
}

.ant-tag {
  text-align: initial;
}
</style>
