<template>
  <a-layout-header class="header">
    <div>
      <a-row class="navbar">
        <a-col :sm="14" :lg="16">
          <div class="logo">
            <img src="../../assets/images/logo.png" alt />
          </div>
<!--          <a-menu
              theme="light"
              mode="horizontal"
              @click="activeMenu"
              :selectedKeys="[parentKey]"
          >

            <a-menu-item key="/rts">
              <a-dropdown>
                <a class="ant-dropdown-link" @click="e => e.preventDefault()">
                  RTS <a-icon type="down" />
                </a>
                <a-menu slot="overlay"  :selectedKeys="[currentPath]">
                  <a-menu-item key="/rts/requests" @click="checkActiveMenu('/rts/requests')">
                    <router-link to="/rts/requests" class="rts-menu-item">Requests</router-link>
                  </a-menu-item>
                  <a-menu-item key="/rts/managementCV" @click="checkActiveMenu('/rts/managementCV')">
                    <router-link to="/rts/managementCV" class="rts-menu-item">Source</router-link>
                  </a-menu-item>
                  <a-menu-item key="/rts/interviews" @click="checkActiveMenu('/rts/interviews')">
                    <router-link to="/rts/interviews" class="rts-menu-item">Schedule Interview</router-link>
                  </a-menu-item>
                  <a-menu-item key="/rts/report" @click="checkActiveMenu('/rts/report')">
                    <router-link to="/rts/report" class="rts-menu-item">Reports</router-link>
                  </a-menu-item>
                  <a-menu-item key="/rts/configurations" @click="checkActiveMenu('/rts/configurations')">
                    <router-link to="/rts/configurations" class="rts-menu-item">Configurations</router-link>
                  </a-menu-item>
                </a-menu>
              </a-dropdown>
            </a-menu-item>
            &lt;!&ndash;            <a-menu-item v-for="menu in menus" :key="menu.state">&ndash;&gt;
            &lt;!&ndash;              <router-link :to="roles.includes(Role.GUEST) ? (menu.state === '/timesheet' ? '/timesheet/request-management' : menu.state): menu.state">{{ menu.label }}</router-link>&ndash;&gt;
            &lt;!&ndash;            </a-menu-item>&ndash;&gt;
          </a-menu>-->
          <a-menu theme="light" mode="horizontal"  :selectedKeys="[currentPath]">
            <a-menu-item key="/rts/requests" @click="checkActiveMenu('/rts/requests')">
              <router-link to="/rts/requests" class="rts-menu-item">Requests</router-link>
            </a-menu-item>
            <a-menu-item key="/rts/managementCV" @click="checkActiveMenu('/rts/managementCV')">
              <router-link to="/rts/managementCV" class="rts-menu-item">Source</router-link>
            </a-menu-item>
            <a-menu-item key="/rts/interviews" @click="checkActiveMenu('/rts/interviews')">
              <router-link to="/rts/interviews" class="rts-menu-item">Schedule Interview</router-link>
            </a-menu-item>
            <!-- <a-menu-item key="/rts/report" @click="checkActiveMenu('/rts/report')">
              <router-link to="/rts/report" class="rts-menu-item">Reports</router-link>
            </a-menu-item> -->
            <a-menu-item key="/rts/report" @click="checkActiveMenu('/rts/report')">
              <a-dropdown placement="bottomRight" >
                  <a class="ant-dropdown-link" >
                    <div
                      :style="{
                        overflow: 'hidden',
                        textOverflow: 'ellipsis',
                        maxWidth: '300px',
                        whiteSpace: 'nowrap',
                      }"
                    >Reports &nbsp;
                      <a-icon type="down" />
                    </div>
                  </a>
                  <a-menu slot="overlay" @click="onHandleClickMenu" :style="{width: '200px'}">
                    <a-menu-item>
                      <router-link to="/rts/report/ticket-report">Request</router-link>
                    </a-menu-item>
                    <a-menu-item>
                      <router-link to="/rts/report/ta-report">TA</router-link>
                    </a-menu-item>
                    <!-- <a-menu-item >
                      <router-link to="/rts/report/request">Channel</router-link>
                    </a-menu-item> -->
                  </a-menu>
                </a-dropdown>
            </a-menu-item>
            <a-menu-item key="/rts/configurations" @click="checkActiveMenu('/rts/configurations')">
              <router-link to="/rts/configurations" class="rts-menu-item">Configurations</router-link>
            </a-menu-item>
          </a-menu>
        </a-col>
        <a-col :sm="5" :lg="4" :style="{ color: 'white' }">
          <div class="user-info">
            <span class="mr15 blue">
              <a-dropdown
                placement="bottomCenter"
                :trigger="['click']"
                style="padding-left: 0 "
              >
                <a class="ant-dropdown-link">
                  <a-icon :style="{ fontSize: '20px' }" type="bell" />
                  <a-badge
                    class="badge-notification"
                    :count="
                      `${dataNotification.total}` === 'undefined'
                        ? ''
                        : `${dataNotification.total}`
                    "
                  />
                </a>
                <div
                  slot="overlay"
                  class="notification bg-white"
                  :style="{ width: '300px' }"
                >
                  <a-row>
                    <a-col :md="40" class="p10">
                      <span class="text-bold page-title"
                        >Notification {{ `(${dataNotification.total})` }}</span
                      >
                    </a-col>
                    <a-divider />
                  </a-row>
                  <a-row v-for="item in dataNotification.data" :key="item.key">
                    <div
                      :class="!item.is_read ? 'bg-gray p10' : 'p10'"
                      @click="() => seeAllNotifications(item.abnormal.id)"
                    >
                      <div class="title-bold">
                        <a> Abnormal Case: {{ item.title }} </a>
                      </div>
                      <div class="title-no-bold">
                        Abnormal Date: {{ item.notification_date }}
                      </div>
                    </div>
                    <a-divider />
                  </a-row>
                  <a-col
                    v-if="`${dataNotification.total_abnormal}` >= 5"
                    :md="40"
                    class="p10"
                  >
                    <a @click="seeAllNotifications('all')">
                      <em>See All Notification</em>
                      <a-icon class="ml5" type="double-right" />
                    </a>
                  </a-col>
                </div>
              </a-dropdown>
            </span>
          </div>
        </a-col>
        <a-col :sm="5" :lg="4">
          <a-row>
            <a-col :md="24">
              <span>
                <a-dropdown @click="(e) => e.preventDefault()" placement="bottomRight" >
                  <a class="ant-dropdown-link" >
                    <div
                      :style="{
                        overflow: 'hidden',
                        textOverflow: 'ellipsis',
                        maxWidth: '300px',
                        whiteSpace: 'nowrap',
                      }"
                    >
                    <a-avatar
                  size="large"
                  :style="{ backgroundColor: colorAvatar, marginRight: '10px' }"
                  >{{
                    userInfo ? getAvatarName(userInfo.displayName) : ""
                  }}</a-avatar
                >
                      {{ userInfo.userName  }} - {{ userInfo.department}}
                      <a-icon type="down" />
                    </div>
                  </a>
                  <a-menu slot="overlay" @click="onHandleClickMenu" :style="{width: '200px'}">
                    <a-menu-item class="log-out" key="log_out">
                      <a-icon type="logout" />Log out
                    </a-menu-item>
                    <a-menu-item
                      v-if="roles.includes(Role.HR)"
                      class="update-leave" key="update-leave">
                      <a-icon type="setting"/>Update Leave
                    </a-menu-item>
                  </a-menu>
                </a-dropdown>
              </span>
            </a-col>
          </a-row>
        </a-col>
      </a-row>
    </div>
  </a-layout-header>
</template>

<script type="script" lang="js" src="./Header.js" />
<style lang="scss">
  .rts-menu-item{
    color: white !important;
  }
  .ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
    margin-right: 0;
  }
</style>
