<template>
    <div class="log p15 mt98">
    <a-row type="flex">
      <div class="card-container">
      <a-tabs type="card" @change="onChangeTabs" >
        <a-tab-pane v-for="tab in tabList"  :key="tab.key" :tab="tab.label" >
          <a-row  class="mb15">
            <a-col :md="24">
              <FilterLayout
                :onApplyFilters="onApplyFilters"
                :onSetDataFilters="onSetDataFilters"
                :currentPage="'logs'"
                :currentTab="tab.key"
                :datafilterDefault="filters"
              />
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
                <a-table  class="custom-table" rowKey="id" :columns="columns" :data-source="dataSource" :pagination="false" :scroll="{ y: 550 }">
                  <template v-for="col in columns" :slot="col.dataIndex" 	slot-scope="text">
                    <a :key="col.dataIndex" v-if="col.dataIndex ==='name'">{{ text }}</a> 
                    <a-tag 
                      v-if="col.dataIndex ==='action'"
                      :key="col.dataIndex"
                      class="tag"                   
                      :color="text === 'Created' ? 'green': text === 'Updated' ? 
                      'orange': text === 'Deleted' ? '' : '#fff'">{{text}}
                    </a-tag>
                    <a-tag
                      v-if="col.dataIndex ==='table'"
                      :key="col.dataIndex"
                      class="tag">{{text}}
                    </a-tag>
                  </template>
                  <template slot="footer">
                    <div >
                      <a-pagination v-if="currentTab === 'log_list'"
                        :total="total_items"
                        :show-total="(total, range) => `${range[0]}-${range[1]} of ${total} items`" 
                        show-size-changer
                        :page-size="pageSizeLogsList"
                        @change="onChangePage"
                        @showSizeChange="onShowSizeChange"
                      />
                      <a-pagination v-else
                        :total="total_items"
                        :show-total="(total, range) => `${range[0]}-${range[1]} of ${total} items`" 
                        show-size-changer
                        :page-size="pageSizeConnectionHistory"
                        @change="onChangePage"
                        @showSizeChange="onShowSizeChange"
                      />
                    </div>
                  </template>
                </a-table>
            </a-col>
          </a-row>
        </a-tab-pane>
      </a-tabs>
      </div>
    </a-row>
  </div>
</template>

<script type='script' lang='js' src ='./Logs.js' />
