<template>
   <div class="timesheet p15 mt100" style="padding-top:10px">
    <a-spin :spinning="loading">
      <a-row>
        <div class="card-container">
          <a-tabs type="card" @change="handleChangeTab">
            <a-tab-pane key="payrollList" tab="Payroll List"
              v-if="roles.includes(role.ADMIN) || roles.includes(role.HR)"
            >
              <template>
                <a-row>
                  <a-col :md="4">
                    <a-row>
                      <a-tag color="blue">Working Days: {{ timesheetInfo.working_days }} </a-tag>
                      <a-tag :color="getStatus().color">{{getStatus().text}}</a-tag>
                    </a-row>
                    <a-row class="mt10">
                        <a-select
                          :default-value="options[1].label"
                          style="width: 200px"
                          @change="handleChange"
                        >
                          <a-select-option 
                            v-for="(option, index) in options" 
                            :key="index"
                            :value="option.key" 
                          >{{option.label}}</a-select-option>
                        </a-select>
                    </a-row>
                  </a-col>
                  <a-col :md="20" >
                    <FilterLayout
                      :onSetDataFilters="onSetDataFilters"
                      :onApplyFilters="onApplyFilters"
                      :datafilterDefault="dataFilters"
                      currentPage="payroll_list"
                    />
                  </a-col>
                </a-row>
                <a-divider />
                <template  >
                  <PayrollTotalSalary 
                    v-if="chooseOption === 'total_salary'"
                  />
                  <PayrollSalaryInPeriod 
                    v-if="chooseOption === 'salary_in_period'"
                    :timesheetUser="timesheetUser"
                    :timesheetInfo="timesheetInfo"
                  />
                  <PayrollBonusInMonth 
                    v-if="chooseOption === 'bonus_in_month'"
                  />
                  <PayrollOnsite 
                    v-if="chooseOption === 'onsite'"
                  />
                  <PayrollOvertime 
                    v-if="chooseOption === 'overtime'"
                    :timesheetUser="timesheetUser"
                    :timesheetInfo="timesheetInfo"
                    :formatDate="formatDate"
                  />
                  <PayrollPayingCash 
                    v-if="chooseOption === 'paying_cash'"
                  />
                  <PayrollPayingTransfer 
                    v-if="chooseOption === 'paying_transfer'"
                  />
                </template>
              </template>
            </a-tab-pane>
            <a-tab-pane key="payslip"  tab="Payslip">
              <template>
                 <FilterLayout
                    :onSetDataFilters="onSetDataFilters"
                    :onApplyFilters="onApplyFilters"
                    :datafilterDefault="dataFilters"
                    currentPage="payslip"
                  />
                  <a-divider />
                  <Payslip 
                    :timesheetUser="timesheetUser"
                    :timesheetInfo="timesheetInfo"
                    :formatDate="formatDate"
                  />
              </template>
            </a-tab-pane>
          </a-tabs>
        </div>
      </a-row>
    </a-spin>
   </div>
</template>

<script type="script" lang="js" src="./Payroll.js" />
