<template>
  <a-layout class="content-wrapper " id="jobPosting">
    <a-layout-content class="container" >
      <div class="header-container">
      <a-row>
        <JobPostingHeader class="header-home"></JobPostingHeader>
      </a-row>
      <a-row class="job-posting--header">
        <a-col class="filter-search" :md="24">
          <JobFilterBlock
              :page="page"
              @onApplyFilter="onApplyFilter"
              @onCleanFilter="onCleanFilter"
              @onChangeJobType="goDetailCategoryPage"
          ></JobFilterBlock>
        </a-col>
      </a-row>
      </div>
      <div class="main-content">
      <a-row v-if="page === 'home'" class="job-posting--main">
        <a-col class="popular-job-category--block" :md="24">
          <div class="h2-custom underline-text poplular-underline" align="middle">Popular Job Categories</div>
          <div class="popular-jobs">
            <div>
                 <PopularJobs
                     @onClickItem="goDetailCategoryPage"
                 />
            </div>
          </div>
        </a-col>
        <a-col class="feature-job--block" :md="24">
          <div class="h2-custom underline-text" align="middle">Feature Jobs </div>
          <div class="featured-jobs">
            <div>
              <FeaturedJobs
                  v-if="listFeturedJob && listFeturedJob.length > 0"
                  :jobList="listFeturedJob"
                  @onChangePage="onChangePage"
              />
              <a-empty v-else />
            </div>
          </div>
        </a-col>
      </a-row>
      <a-row v-if="page === 'search'" class="job-posting--main">
        <a-col class="feature-job--block mt30 mb20"  :md="24">
          <div class="featured-jobs">
            <FeaturedJobs
                v-if="listJob && listJob.length > 0"
                :jobList="listJob"
                @onChangePage="onChangePage"
            />
            <a-empty v-else />
          </div>
        </a-col>
      </a-row>
      </div>
    </a-layout-content>
  </a-layout>
</template>

<script type='script' lang='js' src="./JobPosting.js"></script>

<style lang="scss">
  #jobPosting {
    font-size: 16px;
    .main-content{
      padding: 200px 0 100px 0;
    }
    .h2-custom {
      font-size: 3.2rem;
      font-weight: 600;
      margin: 50px 0px;
      color: #1C9AD6;
    }
    .mock-css {
      height: 200px;
      border: 2px solid #1C9AD6;
    }
    .underline-text{
      position: relative;
    }
    .header-home{
      width: 82%;
      margin: auto;
    }

    .underline-text:after {
      position: absolute;
      height: 1px;
      width: 200px;
      left: 50%;
      bottom: -15px;
      display: block;
      content: "";
      transform: translateX(-50%);
      background: #000000;
    }
    .poplular-underline:after {
      width: 300px;
    }
   .featured-jobs,.popular-jobs {
     display: flex;
     padding-top: 1.5rem;
     width: 100%;
     justify-content: center;
   }
    @media only screen and (max-width: 600px) {
      .poplular-underline {
        padding-top: 2.5rem;
      }
    }
  }
</style>
