<template>
  <div class="report-page">
    <a-layout class="report-container">
      <a-layout-content class="content-wrapper full-vh">

        <div class="report-box">
           <div :class="`report-item ${item.class}`" v-for="item in reports" @click="goToReport(item.url)">
             <div class="item-content">
               <img :src="require(`@/assets/images/${item.imgLink}`)" alt="request" class="icon-report"/>
               <h2 class="report-title">{{item.name}}</h2>
             </div>

           </div>
        </div>
      </a-layout-content>
    </a-layout>
  </div>
</template>
<script type='script' lang='js' src ='./Report.js' />
<style>
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
.report-page{
  margin-top: 5rem;
}
.report-container{
  margin: 1rem;
}

.report-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  align-items: center;
  gap: 2rem;
}
.report-title {
  font-family: 'SF Pro Text';
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.report-item {
  width: 30%;
  height: 170px;
  background-color: #1890ff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 8px;
}

.report-item:hover {
  background-color: #1585ed;
}
.report-item h2{
  color: #fff;
  font-size: 24px !important;
  font-weight: 600;
  font-family: 'Mochiy Pop P One', sans-serif;

}
.item-content{
  text-align: center;

}
.icon-report {
  width: 64px;
  height: 64px;
  margin: 20px 0;
}
.tickets {
  background: #00C7E6;
}
.processing {
  background: #FF7452;
}
.ta {
  background: #8777D9;
}
.channel {
  background: #36B37E;
}

</style>
