<template>
  <div>
    <a-modal v-model="visible"
             title="Please confirm"
             okText="Confirm"
             cancelText="Cancel"
             :zIndex="20000"
             :maskClosable="false"
             :closable="false"
    >
      <p>{{ message }}</p>
      <template slot="footer">
        <a-row class="p10">
          <a-col :md="24">
            <div class="float-right confirm-block">
              <a-button key="submit" @click="handleOk" :disabled="isDisabled" class="btn-confirm">Confirm</a-button>
              <a-button key="back" @click="handleCancel" class="mr5 btn-cancel">Cancel</a-button>
            </div>
          </a-col>
        </a-row>
      </template>
    </a-modal>
  </div>
</template>
<script>
export default {
  props: {
    message : {
      type: String,
      default: function () {
       return ''
      }
    },
    visible: {
      type: Boolean,
      default: function () {
        return false
      }
    },
    isEdit: Boolean,
    formName: String,
  },
  data() {
    return {
      isDisabled:false,
    };
  },
  methods: {
    handleOk() {
      this.isDisabled = true
      this.$emit('ok')
      setTimeout(() => {
        this.isDisabled = false
      }, 1000)
    },
    handleCancel() {
      this.$emit('cancel')
    },
  },
};
</script>

<style lang="scss" scoped>
 .confirm-block {
  z-index: 20000 !important;
   .btn-confirm{
     background: #1890FF;
     font-weight: 600;
     color: white;
   }
   .btn-cancel {
     background: $btn-color-gray;
     font-weight: 600;
     color: black;
   }
 }
</style>
