<template>
  <span class="vue-badge">
      {{count}}
  </span>
</template>

<script>
export default {
  name: "VueBadge",
  props : {
    count : {
      type : Number,
    }
  }
}
</script>

<style lang="scss">
  .vue-badge {
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    padding: 1px 10px;
  }
</style>