<template>
  <!--  v-model="activeKey"-->
  <a-collapse
      :bordered="false"
      id="collapse-history"
      v-model="activeKey"
  >
    <template #expandIcon="props">
      <a-icon
          type="caret-right"
          :rotate="props.isActive ? 90 : 0"
      />
    </template>
    <a-collapse-panel key="active" :header="title">
        <slot class="content" name="content">
        </slot>
    </a-collapse-panel>
  </a-collapse>
</template>

<script>
export default {
  name: "VueCollapse",
  props : {
    title: String,
    value : Boolean,
    isActive: Boolean
  },
  computed: {
    activeKey : {
      get() {
        return this.isActive ? ['active'] : ['']
      },
      set(){

      }
    },
  },
}
</script>

<style lang="scss">
#collapse-history {
  margin-left: -10px;

  .content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: unset;
    padding-left: 5px;
  }
  .ant-collapse-header {

  }
}


</style>
