<template>
  <div>
    <a-pagination
        class="pagination-custom"
        v-model="offsetValue"
        showLessItems
        :page-size="options.limit"
        :default-curren="options.offset"
        :total="totalItems"
        @change="onChange"
    />
  </div>


</template>
<script>
export default {
  name: "VuePagination",
  props: {
    options: {
      type: Object,
      default: function () {
        return {
          offset: 0,
          limit: 0,
        }
      }
    },
    totalItems: {
      type : Number
    }
  },
  data() {
    return {
      offsetValue: 1,
    };
  },
  watch: {
    options: {
      immediate: true,
      handler(newVal) {
        this.offsetValue = newVal?.offset;

      }
    }
  },
  methods: {
    onChange() {
      this.$emit('onChange', this.offsetValue)
    }
  },
};
</script>

<style lang="scss">
  .pagination-custom {
    margin-left: -8px;
     .ant-pagination-item-active {
       background: #253858;
       border-color: #253858;
       a {
         color: white;
       }
     }
    .ant-pagination-item:hover{
      border-color: #253858;
    }
    .ant-pagination-item:hover a{
      color: #253858;
    }
  }
</style>
