<template>
  <div>
    <v-select
      class="style-custom"
      :value="value"
      @input="changeSelect"
      placeholder="Choose something"
      :multiple="multiple"
      :options="paginated"
      :filterable="false"
      :clearSearchOnSelect="true"
      :closeOnSelect="!multiple"
      :label="label"
      :clearable="true"
      @open="onOpen"
      @close="onClose"
      @search="(query) => (search = query)"
      @clearSearchOnBlur="clearSearch"
      :disabled="disabled"
    >
      <template #list-footer>
        <li v-show="hasNextPage" ref="load" class="loader">Loading more options...</li>
      </template>
    </v-select>
  </div>
</template>
<script>
import Vue from "vue";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

Vue.component("v-select", vSelect);

export default {
  name: "VueSelect",

  props: {
    options: Array,
    disabled: Boolean,
    label: String,
    multiple: {
      default: false,
      type: Boolean,
    },
    value: undefined,
  },
  data() {
    return {
      observer: null,
      limit: 10,
      search: "",
    };
  },
  computed: {
    filtered() {
      if (!this.options) {
        return [];
      }
      return this.options.filter((item) =>
        item
          ? item.name?.toLowerCase().includes(this.search.toLowerCase()) ||
            item.username?.toLowerCase().includes(this.search.toLowerCase())
          : null,
      );
    },
    paginated() {
      return this.filtered.slice(0, this.limit);
    },
    hasNextPage() {
      return this.paginated.length < this.filtered.length;
    },
  },
  mounted() {
    /**
     * You could do this directly in data(), but since these docs
     * are server side rendered, IntersectionObserver doesn't exist
     * in that environment, so we need to do it in mounted() instead.
     */
    this.observer = new IntersectionObserver(this.infiniteScroll);
  },
  methods: {
    async onOpen() {
      if (this.hasNextPage) {
        await this.$nextTick();
        this.observer.observe(this.$refs.load);
      }
    },
    onClose() {
      this.observer.disconnect();
    },
    async infiniteScroll([{ isIntersecting, target }]) {
      if (isIntersecting) {
        const ul = target.offsetParent;
        const scrollTop = target.offsetParent.scrollTop;
        this.limit += 10;
        await this.$nextTick();
        ul.scrollTop = scrollTop;
      }
    },
    filterOption(input, option) {
      return option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0;
    },
    changeSelect(val) {
      this.$emit("input", val);
    },
    clearSearch({ clearSearchOnSelect, multiple }) {
      return clearSearchOnSelect && multiple;
    },
  },
};
</script>
<style lang="scss">
//clone style of ant select
.vs--single .vs__selected {
  background-color: transparent !important;
  border: transparent !important;
}

.style-custom.v-select {
  background: #f0f2f5;
}

.has-error .v-select .vs__dropdown-toggle {
  border: 1px solid #f5222d;
}
.style-custom {
  .vs__dropdown-toggle {
    line-height: 23px;
    border-radius: 4px;
    border-color: #d9d9d9;
    margin: 4px 0px;
  }

  .vs__selected {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    background-color: #d5d9e0;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
  }

  .vs__dropdown-toggle:hover,
  .vs__dropdown-toggle:focus-within {
    border-color: #40a9ff;
    box-shadow: 0 0 4px #7ec0f7;
  }

  .vs__dropdown-menu {
    top: calc(100% - -4px);
  }

  .vs__dropdown-option {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 12px;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    font-feature-settings: "tnum";
  }

  .vs__dropdown-option--highlight {
    background-color: #e6f7ff;
    color: rgba(0, 0, 0, 0.65);
  }

  .vs__selected-options {
    color: #afafaf;
  }

  .vs__clear {
    svg {
      display: none;
    }
  }
}
</style>
