<template>
  <div class="vue-search">
    <a-input v-model="inputValue" :placeholder="placeholder" @pressEnter="onSearch" />
    <a-select v-if="namePage === 'managementCV'" v-model="hasCv" style="width: 320px">
      <a-select-option v-for="(option, index) in cvOption" :key="index" :value="option.value">{{
        option.text
      }}</a-select-option>
    </a-select>
    <div style="display: flex; flex-direction: row; width: 370px; margin-left: 1em" v-if="namePage === 'managementCV'">
      <p style="margin: auto">Applied:</p>
      <a-range-picker
        :format="['DD-MM-YYYY', 'DD-MM-YYYY']"
        valueFormat="DD-MM-YYYY"
        :disabledDate="(d) => validFiltDate(d)"
        style="width: 220px; margin-left: 0.3em"
        v-model="dateAppliedRange"
      />
    </div>
    <a-tooltip title="Check">
      <a-button @click="onSearch" type="primary">
        <a-icon type="search" />
      </a-button>
    </a-tooltip>
    <a-tooltip title="Reload Search">
      <a-button @click="onClear">
        <a-icon type="reload" />
      </a-button>
    </a-tooltip>
  </div>
  <!--  loading -->
</template>

<script>
export default {
  name: "VueSearch",
  props: {
    keyword: {
      type: String,
      default: "",
    },
    placeholder: {
      type: String,
    },
    namePage: {
      type: String,
    },
  },
  data() {
    return {
      inputValue: "",
      hasCv: -1,
      cvOption: [
        {
          value: -1,
          text: "All",
        },
        {
          value: 1,
          text: "Display candidates have CV",
        },
        {
          value: 0,
          text: "Display candidates not have CV",
        },
      ],
      dateAppliedRange: undefined,
    };
  },
  watch: {
    keyword: {
      immediate: true,
      handler(newVal) {
        this.inputValue = newVal;
      },
    },
  },
  methods: {
    onSearch() {
      const payload = {
        inputValue: this.inputValue,
        hasCv: this.hasCv,
      };
      if (this.dateAppliedRange)
        (payload["startDate"] = this.dateAppliedRange[0]), (payload["endDate"] = this.dateAppliedRange[1]);
      this.$emit("onSearch", payload);
    },
    onClear() {
      this.inputValue = "";
      this.$emit("onClear", this.inputValue);
    },
    validFiltDate(date) {
      return date > new Date();
    },
  },
};
</script>

<style lang="scss">
.vue-search {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 3;
}
</style>
