<template>
<div>
  <div id="app" :class="isPass === false && checkField == 'description' && (value === '' || value.length > 4000)? 'err-border' : ''">
    <editor
        api-key="9jze1nync0fvaayvadii1syah8n71hwt8wd8e3msbfibrz5j"
        :value="value"
        @input="changeEditor"
        :init="{
         height: height,
         menubar: false,
         plugins: [
           'advlist autolink lists link image charmap print preview anchor',
           'searchreplace visualblocks code fullscreen',
           'insertdatetime media table paste code help wordcount'
         ],
         toolbar:
           'undo redo | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | help'
       }"
    />
  </div>
  <span 
  v-if="isPass === false && checkField == 'description' && value === ''"
  class="err-text"
  >
  Please input description
  </span>
    <span 
  v-if="isPass === false && checkField == 'description' && value.length > 4000"
  class="err-text"
  >
  You’ve exceeded the limit by 4000 characters
  </span>
</div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'
import { mapState } from 'vuex'
export default {
  name: 'VueTinyEditor',
  components: {
    'editor': Editor
  },
  data() {
    return {
    }
  },
  props: {
    value: undefined,
    height: {
      type : Number
    },
    checkField: {
      type: String
    }
  },
  computed: {
    ...mapState({
      isPass: (state) => state.rtsApplication.isPass
    })
  },
  methods : {
    changeEditor (val) {
      this.$emit('input', val)
    }
  }
}
</script>
<style scoped>
.err-border {
  border: 1px solid red;
}
.err-text {
  color: red;
}
</style>
