<template>
  <div class="timesheet p15 mt100" style="padding-top:10px">
    <a-spin :spinning="loading">
      <a-row>
        <div class="card-container">
          <a-tabs type="card" @change="handleChangeTab">
            <a-tab-pane
              key="list"
              tab="Timesheet List"
              v-if="roles.includes(role.ADMIN) || roles.includes(role.HR)"
            >
              <template v-if="keyTab === 'list'">
                <a-row>
                  <a-col :md="4" class="timesheet-title">
                    <a-tag color="blue"
                      >Working Days: {{ timesheetInfo.working_days }}</a-tag
                    >
                    <a-tag :color="getStatus().color">{{
                      getStatus().text
                    }}</a-tag>
                  </a-col>
                  <a-col :md="18" class="timesheet-filter">
                    <FilterLayout
                      :onSetDataFilters="onSetDataFilters"
                      :onApplyFilters="onApplyFilters"
                      :datafilterDefault="dataFilters"
                      currentPage="timesheet"
                    />
                  </a-col>
                  <a-col :md="2" class="timesheet-note">
                    <div class="">
                      <a-tooltip title="View Note">
                        <span
                          class="blue cursor-pointer float-left"
                          style="margin-top:6px"
                          @click="onShowDrawerNote"
                        >
                          <a-icon type="info-circle" /><span class="ml5"
                            >Note</span
                          >
                        </span>
                      </a-tooltip>
                      <a-dropdown :trigger="['click']">
                        <a-tooltip title="More Function">
                          <a-button
                            class="float-right"
                            @click="(e) => e.preventDefault()"
                          >
                            More <a-icon type="down" />
                          </a-button>
                        </a-tooltip>
                        <a-menu slot="overlay">
                          <a-menu-item
                            v-if="checkSendRequestReview()"
                            @click="sendRequestReviewTimesheet"
                          >
                            Send Request Approval
                          </a-menu-item>
                          <a-menu-item
                            v-if="
                              roles.includes(role.HR) &&
                                timesheetInfo.status ===
                                  statusTimesheet.pendingApproval
                            "
                            @click="
                              sendReviewTimesheet(statusTimesheet.approved)
                            "
                            >Approve</a-menu-item
                          >
                          <a-menu-item
                            v-if="
                              roles.includes(role.HR) &&
                                (timesheetInfo.status ===
                                  statusTimesheet.pendingApproval ||
                                  timesheetInfo.status ===
                                    statusTimesheet.approved)
                            "
                            @click="() => (visibleModal = true)"
                            >Reject</a-menu-item
                          >
                          <a-menu-item key="export_tms" @click="exportTimesheet"
                            >Export Timesheets</a-menu-item
                          >
                          <a-menu-item
                            key="send_email"
                            @click="() => (visibleConfirm = true)"
                            >Send Email</a-menu-item
                          >
                          <a-menu-item
                            key="export_detail"
                            @click="exportTimesheetDetail"
                            >Export Detail</a-menu-item
                          >
                          <a-menu-item
                            v-if="
                              roles.includes(role.HR) ||
                                roles.includes(role.ADMIN)
                            "
                            key="comment"
                            @click="onShowDrawerComment"
                            >View Comment</a-menu-item
                          >
                          <a-menu-item
                            key="update_job"
                            v-if="roles.includes(role.HR) || roles.includes(role.ADMIN)"
                            @click="onshowModal"
                          >Update Employee Workschedule</a-menu-item>
                        </a-menu>
                      </a-dropdown>
                    </div>
                  </a-col>
                </a-row>
                <a-divider />
                <TimesheetViewHR
                  :dataSource="dataSource"
                  :selectedRowKeys="selectedRowKeys"
                  :onSelectChange="onSelectChange"
                  :onShowDrawerTimesheetDetail="onShowDrawerTimesheetDetail"
                  :configPage="configPage"
                  :onChangeConfigPage="onChangeConfigPage"
                  :timesheetInfo="timesheetInfo"
                  :reloadData="getTimesheetData"
                  :dataFilters="dataFilters"
                />
              </template>
            </a-tab-pane>
            <a-tab-pane key="detail" tab="My Timesheet">
              <template v-if="keyTab === 'detail'">
                <a-row>
                  <a-col :md="20">
                    <FilterLayout
                      :onSetDataFilters="onSetDataFilters"
                      :onApplyFilters="onApplyFilters"
                      :datafilterDefault="dataFilters"
                      currentPage="timesheet_user"
                    />
                  </a-col>
                  <a-col :md="4">
                    <span
                      class="blue cursor-pointer float-right"
                      style="margin-top:6px"
                      @click="onShowDrawerNote"
                    >
                      <a-icon type="info-circle" /><span class="ml5">Note</span>
                    </span>
                  </a-col>
                </a-row>
                <a-divider />
                <TimesheetViewUser
                  :timesheetInfo="timesheetInfo"
                  :timesheetUser="timesheetUser"
                />
              </template>
            </a-tab-pane>
          </a-tabs>
        </div>
      </a-row>
    </a-spin>
    <div>
      <a-drawer
        :title="titleDrawer"
        placement="right"
        :closable="false"
        :visible="showDrawer"
        @close="onCloseDrawer"
        :class="[drawerKey, 'drawer-right']"
      >
        <StaffTimesheetDetail
          v-if="drawerKey !== 'comment'"
          :drawerKey="drawerKey"
          :timesheetInfo="timesheetInfo"
          :timesheetUser="timesheetUser"
        />
        <CommentsTimesheet
          :timesheetId="this.dataFilters.payroll_period"
          v-else
        />
      </a-drawer>
    </div>
    <a-modal
      :width="500"
      :footer="null"
      title="Are you sure want to send email?"
      :maskClosable="false"
      v-model="visibleConfirm"
      @cancel="cancelConfirm()"
    >
      <div v-if="haveRowSelect == false">
        <a-row class="mb20">
          <a-col>
            <a-radio-group v-model="value">
              <a-row class="mb10">
                <a-radio :value="1" @click="() => (isExcept = false)">
                  Send All
                </a-radio>
              </a-row>
              <a-row class="mb10">
                <a-radio :value="2" @click="() => (isExcept = true)">
                  Except
                </a-radio>
              </a-row>
            </a-radio-group>
          </a-col>
        </a-row>
        <a-row class="mb20" v-if="isExcept">
          <a-col :md="24">
            <a-row>
              <a-select
                :allowClear="true"
                mode="multiple"
                placeholder="Search by staff name, ID"
                :style="{ width: '100%' }"
                v-model="staffSelectedListExcept"
                :not-found-content="fetching ? undefined : null"
                @search="(value) => onSearchStaff(value)"
                @change="(value) => onChangeValue(value)"
                :filter-option="filterOption"
                :maxTagCount="2"
              >
                <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                <a-select-option
                  class="font-size-option-select"
                  v-for="item in selectOptionData"
                  :key="item.id"
                  :value="item.id"
                >
                  {{ item.label + " (" + item.value + ")" }}
                </a-select-option>
              </a-select>
            </a-row>
            <a-row>
              <a-col>
                <a-table
                  class="custom-table mt20"
                  :columns="column"
                  :bordered="true"
                  :data-source="staffListExcept"
                  :pagination="false"
                  :scroll="{ y: 400 }"
                >
                  <span slot="staff" slot-scope="text, record">
                    <a-row>
                      <a-col :md="4">
                        <a-avatar icon="user" />
                      </a-col>
                      <a-col :md="16">
                        <div class="title-bold">{{ record.label }}</div>
                        <div>
                          {{ record.value + " - " + record.department_name.nameEn }}
                        </div>
                      </a-col>
                      <a-col :md="2">
                        <a @click="() => onDelete(record.id)">X</a>
                      </a-col>
                    </a-row>
                  </span>
                </a-table>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
        <a-row>
          <a-col :md="12">
            <div class="float-left">
              <a-button key="back" @click="cancelConfirm()">
                No
              </a-button>
            </div>
          </a-col>
          <a-col :md="12">
            <div class="float-right">
              <a-button key="submit" type="primary" @click="sendEmail">
                Yes
              </a-button>
            </div>
          </a-col>
        </a-row>
      </div>

      <a-row v-else>
        <a-col :md="12">
          <div class="float-left">
            <a-button key="back" @click="cancelConfirm()">
              No
            </a-button>
          </div>
        </a-col>
        <a-col :md="12">
          <div class="float-right">
            <a-button key="submit" type="primary" @click="sendEmail">
              Yes
            </a-button>
          </div>
        </a-col>
      </a-row>
    </a-modal>
    <a-modal
      :width="500"
      :footer="null"
      title="Reject Timesheet"
      :maskClosable="false"
      v-model="visibleModal"
      @cancel="closeModal()"
    >
      <a-row class="mb20">
        <a-col :md="24">
          <div class="mb5 title-bold">Comment</div>
          <a-textarea
            :class="{ 'border-error': !isValidComment }"
            v-model="commentReject"
            @change="(e) => (isValidComment = validRequired(e.target.value))"
            @blur="(e) => (isValidComment = validRequired(e.target.value))"
            :rows="6"
            :maxLength="500"
          />
          <div class="float-right">
            <span>{{ commentReject.length }}/500</span>
          </div>
          <div v-if="!isValidComment" style="color: #f5222d">
            Comment field is required
          </div>
        </a-col>
      </a-row>
      <a-row>
        <a-col :md="12">
          <div class="float-left">
            <a-button key="back" @click="closeModal()">
              Cancel
            </a-button>
          </div>
        </a-col>
        <a-col :md="12">
          <div class="float-right">
            <a-button
              key="submit"
              type="danger"
              @click="sendRequestRejectTimesheet"
            >
              Reject
            </a-button>
          </div>
        </a-col>
      </a-row>
    </a-modal>
    <a-modal
      title="Update Employee Workschedule"
      :visible="visibleUpdateJob"
      :maskClosable="false"
      :closable="false"
      okText='Update'
      @ok="handleUpdateHistory"
      @cancel="handleCancel()"
    >
      <a-form :form="formUpdate">
        <a-form-item>
          <a-select 
            placeholder="Search by staff name, ID"
            allowClear
            mode='multiple'
            :not-found-content="fetching ? undefined : null"
            :default-active-first-option="false"
            :filter-option="false"
            :maxTagCount="1"
            :dropdownMatchSelectWidth="false"
            @search="(value) => onSearchStaff(value)"
            v-decorator="[
              'staff', 
            ]"
          >
            <a-spin v-if="fetching" slot="notFoundContent" size="small" />
            <a-select-option
              v-for="item in employeeList"
              :key="item.id"
              :value="JSON.stringify({id :item.id, label: item.label,department: item.department,sf4c_id: item.sf4c_id, value: item.value})"
            >{{item.label + ' (' + item.value +' - '+item.department + ')'}}</a-select-option>          
          </a-select>
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script type="script" lang="js" src="./Timesheet.js" />
<style lang="scss">
.border-error,
.border-error:hover,
.border-error:focus {
  border-color: #f5222d;
}
.ant-select-dropdown-menu-item {
  white-space: normal;
  text-overflow: unset;
}
</style>
