<template>
  <a-layout class=" mt98 content-wrapper">
    <a-layout-content class="mt10 content-left">
      <FilterLayout
        :onSetDataFilters="onSetDataFilters"
        :onApplyFilters="onApplyFilters"
        :currentPage="
          roles.includes(Role.ADMIN) || roles.includes(Role.HR)
            ? 'explanation_management'
            : 'explanation_management_by_staff'
        "
        :datafilterDefault="filters"
      />
      <a-divider class="mt5 mb15" />
      <a-table
        class="custom-table"
        :columns="columns"
        :data-source="dataSource"
        :pagination="false"
        :scroll="{ y: 550 }"
        :customRow="customRow"
      >
        <div slot="created_by" slot-scope="text, record">
          <div class="title-bold">{{ record.employee.name }}</div>
          <div class="title-no-bold">
            <span v-if="record.employee.code"
              >{{ record.employee.code }} - </span
            ><span>{{ record.employee.department }}</span>
          </div>
        </div>

        <div slot="approved_by" slot-scope="text, record">
          <div class="title-bold">
            {{ record.approver ? record.approver.name : "" }}
          </div>
          <div class="title-no-bold">
            <span v-if="record.approver.code"
              >{{ record.approver.code }} - </span
            ><span>{{ record.approver.department }}</span>
          </div>
        </div>

        <div slot="status" slot-scope="text, record">
          <a-tag
            :color="statusColor[record.statusText]"
            :style="{ width: 'auto', textAlign: 'center' }"
          >
            {{ record.statusText }}
          </a-tag>
        </div>
        <template slot="footer">
          <div>
            <a-pagination
              v-model="currentPage"
              :total="total_items"
              :show-total="
                (total, range) => `${range[0]}-${range[1]} of ${total} items`
              "
              :page-size="pageSize"
              show-size-changer
              @change="onChangePage"
              @showSizeChange="onShowSizeChange"
            />
          </div>
        </template>
      </a-table>
    </a-layout-content>
    <a-drawer
      placement="right"
      :visible="visible"
      title="Explanation Detail"
      :closable="false"
      :after-visible-change="afterVisibleChange"
      width="30%"
      v-if="recordDetail !== null"
      @close="onClose"
      class="drawer"
    >
      <ExplanationDetail
        ref="setFields"
        :explanationDetail="recordDetail"
        :onClose="visible"
        :refreshPage="getExplanationList"
      />
    </a-drawer>
  </a-layout>
</template>
<script type="script" lang="js" src="./ExplanationMangement.js" />
