<template>
  <div class="container">
    <div class="lisWapper">
      <div class="list" v-for="history in listHistoryActivity" :key="history.id">
        <div class="border">
          <p class="name">
            {{ history.createdBy }} &nbsp;<span class="des">{{
             history.statusRequestType.toLowerCase()
            }}&nbsp;request <span v-if="formatDate(history.createdDate) !== 'Invalid date'">- {{formatDate(history.createdDate)}}</span></span>
          </p>
          <p class="content" v-if="listPeople.length !== 0 && history.statusRequestType == 'Assigned'">
            Assignees: &nbsp;&nbsp;&nbsp;
            <a href="#" v-for="people in listPeople" :key="people.id">{{ people.assignee }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {mapState, mapActions} from 'vuex'
import moment from 'moment'
export default {
  props: {
    listHistory: Array,
  },
  computed: {
    ...mapState({
      listHistoryActivity: state => state.rtsProgressHistory.listHistory,
      listPeople: state => state.rtsProgressHistory.listPeople
    }),
  },
  methods:{
    ...mapActions(['rtsProgressHistory/RtsRequestDetailHistoryActivity']),
    formatDate(date){
       return moment(date).format('YYYY-MM-DD HH:mm:ss');
    },
    changeTextRequest(text){
      let textRequest = ''
      if(text === 'conducted '){
        textRequest = 'assigned'
      } else {
        textRequest = text
      }
      return textRequest;
    }
  },
  mounted() {
        const requestId = this.$route.params.id
        if(requestId) this['rtsProgressHistory/RtsRequestDetailHistoryActivity'](requestId);
  },
};
</script>
<style scoped>
.container {
  /* margin-top: 15px; */
}
.list {
  /* margin-top: 15px; */
}
.name {
  font-size: 14px;
  line-height: 20px;
  color: #0065ff;
}
.content {
  font-size: 14px;
  line-height: 20px;
  color: #172b4d;
  font-weight: 400;
  text-indent: 20px;
}
.des {
  color: #172b4d;
}
.border {
  border-bottom: 1px solid #ccc;
  /* padding-top: 15px; */
}
.lisWapper {
  height: 40vh;
  overflow: auto;
  padding-left: 14px;
}
</style>
