<template>
  <div class="container">
    <div class="lisWapper">
      <div v-if="listTimeline.interviewDTO || listTimeline.historyMoveLog || listTimeline.historyDelete || listTimeline.commentDTO">
      <div v-if="listTimeline.interviewDTO.length > 0  || listTimeline.historyMoveLog.length > 0 || listTimeline.historyDelete.length > 0 || listTimeline.commentDTO.length > 0
          || listTimeline.candidateLog.length > 0
          ">
          <div class="border" v-if="listTimeline.interviewDTO !== null">
            <div v-for="(timeline, index) in listTimeline.interviewDTO" :key="index">
            <p class="name">
              {{
                (timeline && timeline.createdBy) ||
                "Anonymous"
              }}&nbsp; <span class="des">scheduled</span> an interview
              -&nbsp;<span class="des">{{
                (timeline && formatDate(timeline.createdDate)) ||
                ""
              }}</span>
            </p>
            <table class="interview-info">
              <tr>
                <td>Title:</td>
                <td class="info-value">{{ timeline.title }}</td>
              </tr>
              <tr>
                <td>Date:</td>
                <td class="info-value">{{ formatDateNotHHssmm(timeline.startTime) }}</td>
              </tr>
              <tr>
                <td>Time:</td>
                <td class="info-value">{{ formatTime(timeline.startTime) }}</td>
              </tr>
              <tr>
                <td>Interview:</td>
                <td class="info-value">
                  <a>{{ timeline.interviewerName }}</a>
                </td>
              </tr>
              <tr>
                <td>Description:</td>
                <td class="info-value">{{ timeline.comments }}</td>
              </tr>
            </table>
            </div>
          </div>
          <div class="list" v-if="listTimeline.historyMoveLog !== null">
            <div v-for="(timeline, index) in listTimeline.historyMoveLog" :key="index">
            <div class="border">
              <p class="name">
                {{
                  timeline && timeline.createdBy
                }}
                &nbsp;<span class="des"
                  >{{ timeline !== null ? "moved from " : "" }}<a>{{
                    timeline &&
                    formatState(timeline.candidateBefore)
                  }}</a>
               {{ timeline !== null ? "to " : "" }} <a>{{
                  timeline &&
                  formatState(timeline.candidateAfter)
                }}</a>
                - {{
                    timeline &&
                    formatDateNotHHssmm(timeline.createdDate)
                  }}</span>
              </p>
            </div>
            </div>
          </div>
          <div class="list" v-if="listTimeline.historyDelete !== null">
            <div v-for="(timeline, index) in listTimeline.historyDelete" :key="index">
            <div class="border">
              <p class="name">
                {{ timeline && timeline.createdBy }} &nbsp;<span class="des">
                  deleted this candidate at {{ formatDateNotHHssmm(timeline.createdDate) }}</span
              >
              </p>
            </div>
              </div>
          </div>
        <div class="list" v-if="listTimeline.commentDTO !== null">
          <div v-for="(timeline, index) in listTimeline.commentDTO" :key="index">
            <div class="border">
              <p class="name">
                {{ timeline && timeline.createdBy }} &nbsp;<span class="des">
                  added a comment - {{ formatDate(timeline.createDate) }}</span
              >
              </p>
              <p class="content">{{ timeline.text }}</p>
            </div>
          </div>
        </div>
        <div class="list" v-if="listTimeline.candidateLog !== null">
          <div v-for="(timeline, index) in listTimeline.candidateLog" :key="index">
            <div class="border">
              <p class="name">
                {{ timeline && timeline.createdBy}} &nbsp;<span class="des">
                added candidate - {{ formatDate(timeline.createDate) }}</span
              >
              </p>
            </div>
          </div>
        </div>
        </div>
      <a-empty v-else/>
        </div>
      </div>
    </div>
</template>
<script>
import moment from "moment";
export default {
  props: {
    listComment: {
      type: Array,
      required: true,
    },
    listInterview: {
      type: Array,
      required: true,
    },
    listTimeline: {
      type: Object,
      required: true,
    },
    candidateId: {
      type: Number,
      required: false,
    },
  },
  methods: {
    formatDate(date) {
      return moment(date).format("HH:mm DD-MM-YYYY");
    },
    formatTime(date) {
      return moment(date).format("HH:mm a");
    },
    formatDateNotHHssmm(date) {
      return moment(date).format("DD/MM/YYYY");
    },
    formatState(item){
      if(item === 'qualify'){
        return 'applicant'
      }else if(item === 'confirm'){
        return 'qualify'
      }else if(item === 'none'){
        return 'source'
      }else if(item == 'failed'){
        return 'rejected'
      }
      else
        return item
    }
  },
};
</script>
<style>
.name {
  font-size: 14px;
  line-height: 20px;
  color: #0065ff;
}
.content {
  font-size: 14px;
  line-height: 20px;
  color: #172b4d;
  font-weight: 400;
  text-indent: 20px;
}
.des {
  color: #172b4d;
}
.border {
  border-bottom: 1px solid #ccc;
}
.lisWapper {
  height: 20vh;
  overflow: auto;
}
.interview-info {
  margin: 0 1rem 0.5rem 0;
  padding: 0;
  color: #6b778c;
}
.interview-info td {
  padding: 0.2rem 1rem;
}
.info-value {
  color: #172b4d;
  font-weight: 400;
}
</style>
