<template>
  <div class="offer-container">
    <template>
      <a-form
          class="form-container"
          :form="form" :label-col="{ span: 11 }" :wrapper-col="{ span: 11 }"
          @submit="handleSubmit">
    <VueCollapse :title="'Offer Details'" :is-active="isActive['offer']">
      <div slot="content" class="form-box">
            <a-row >
              <a-col :span="6">
                <a-form-item label="Full name" class="form-label">
                  <p>{{information.fullName}}</p>
                </a-form-item>
              </a-col>
              <a-col :span="6">
                <a-form-item label="Email" class="form-label">
                  <p>{{information.email}}</p>
                </a-form-item>
              </a-col>
              <a-col :span="6">
                <a-form-item label="Title" prop="title">
                  <a-select
                      allowClear
                      :placeholder="'Job Code'"
                      :default-active-first-option="false"
                      :filter-option="false"
                      :maxTagCount="1"
                      :dropdownMatchSelectWidth="false"
                      v-decorator="[
                      'title',
                      {

                        rules: [
                          {
                            required: true,
                            message: 'Please choose job code !',
                          },
                        ],
                      },
                      ]"
                  >
                      <a-select-option
                          class="font-size-option-select"
                          v-for="item in jobLevel"
                          :key="item.id"
                          :value="item.id"
                      >
                        {{ item.name }}
                      </a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
              <a-col :span="6">
                <a-form-item label="Employee Type" class="form-label">
                  <p>Official</p>
                </a-form-item>
              </a-col>
              </a-row>
            <a-row type="flex">
              <a-col :span="6">
                <a-form-item label="Division" prop="division">
                  <a-select
                      allowClear
                      :placeholder="'Division'"
                      option-filter-prop="children"
                      show-search
                      :default-active-first-option="false"
                      :filter-option="filterOption"
                      :maxTagCount="1"
                      :dropdownMatchSelectWidth="false"
                      v-decorator="[
                      'division',
                      {

                        rules: [
                          {
                            required: true,
                            message: 'Please choose division !',
                          },
                        ],
                      },
                      ]"
                  >
                    <a-select-option
                        class="font-size-option-select"
                        v-for="item in groups"
                        :key="item.id"
                        :value="item.id"
                    >
                      {{ item.name }}
                    </a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
              <a-col :span="6">
                <a-form-item label="Department" prop="department">
                  <a-select
                      allowClear
                      :placeholder="'Department'"
                      option-filter-prop="children"
                      show-search
                      :default-active-first-option="false"
                      :filter-option="filterOption"
                      :maxTagCount="1"
                      :dropdownMatchSelectWidth="false"
                      v-decorator="[
                      'department',
                      {

                        rules: [
                          {
                            required: true,
                            message: 'Please choose department !',
                          },
                        ],
                      },
                      ]"
                  >
                    <a-select-option
                        class="font-size-option-select"
                        v-for="item in departments"
                        :key="item.id"
                        :value="item.id"
                    >
                      {{ item.name }}
                    </a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
              <a-col :span="6">
                <a-form-item label="Expected Salary">
                  <a-input
                      placeholder="Text"
                      v-decorator="[
                  'exSalary',
                  {

                    rules: [
                      {
                        required: true,
                        message: 'Please input expected salary !',
                      },
                       { validator: checkPrice }
                    ],
                  },
                ]"
                  />

                </a-form-item>
              </a-col>
              <a-col :span="6">
                <a-form-item label="Contract Type" prop="contractType">
                  <a-select
                      allowClear
                      :placeholder="'Contract Type'"
                      :default-active-first-option="false"
                      :maxTagCount="1"
                      :dropdownMatchSelectWidth="false"
                      v-decorator="[
                      'contractType',
                      {

                        rules: [
                          {
                            required: true,
                            message: 'Please choose Contract Type !',
                          },
                        ],
                      },
                      ]"
                  >
                    <a-select-option
                        class="font-size-option-select"
                        v-for="item in contractType"
                        :key="item.id"
                        :value="item.id"
                    >
                      {{ item.name }}
                    </a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
            </a-row>
            <a-row type="flex">
              <a-col :span="6">
                <a-form-item label="Start Date" prop="startDate">
                  <a-date-picker
                      format="YYYY-MM-DD"
                      placeholder="Choose date"
                      :allowClear="true"
                      :showSearch="true"
                      :disabledDate="d=> d.isBefore(new Date())"
                      style="width: 100%"
                      v-decorator="[
                  'startDate',
                  {

                    rules: [
                      {
                        required: true,
                        message: 'Please choose date !',
                      },
                    ],
                  },
                  ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :span="6">
                <a-form-item label="End Date" prop="endDate">
                  <a-date-picker
                      format="YYYY-MM-DD"
                      placeholder="Choose date"
                      :allowClear="true"
                      :showSearch="true"
                      :disabledDate="d=> d.isBefore(new Date())"
                      style="width: 100%"
                      v-decorator="[
                  'endDate',
                  {

                    rules: [
                      {
                        required: true,
                        message: 'Please choose date !',
                      },
                    ],
                  },
                  ]"
                  />
                </a-form-item>
              </a-col>
            </a-row>
            <a-row type="flex">
              <a-col :span="6">
                <a-form-item label="Contract Duration" prop="contractDuration">
                  <a-select
                      allowClear
                      :placeholder="'Number'"
                      option-filter-prop="children"
                      :default-active-first-option="false"
                      :maxTagCount="1"
                      :dropdownMatchSelectWidth="false"
                      v-decorator="[
                      'contractDuration',
                      {

                        rules: [
                          {
                            required: true,
                            message: 'Please choose number !',
                          },
                        ],
                      },
                      ]"
                  >
                    <a-select-option
                        class="font-size-option-select"
                        v-for="item in [1,2,3,4,5,6]"
                        :key="item"
                        :value="item"
                    >
                      {{ item }}
                    </a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
              <a-col :span="6">
                <a-form-item label="Maximun Salary">
                  <a-input
                      placeholder="Text"
                      v-decorator="[
                  'maxSalary',
                  {

                    rules: [
                      {
                        required: true,
                        message: 'Please input max salary !',
                      },
                      { validator: checkPrice }
                    ],
                  },
                ]"
                  />

                </a-form-item>
              </a-col>
              <a-col :span="6">
                <a-form-item label="Minimum Salary">
                  <a-input
                      placeholder="Text"
                      v-decorator="[
                  'minSalary',
                  {

                    rules: [
                      {
                        required: true,
                        message: 'Please input min salary !',
                      },
                       { validator: checkPrice }
                    ],
                  },
                ]"
                  />

                </a-form-item>
              </a-col>
              <a-col :span="6">
                <a-form-item label="Base salary for social security">
                  <a-input
                      placeholder="Text"
                      v-decorator="[
                  'baseSalary',
                  {

                    rules: [
                      {
                        required: true,
                        message: 'Please input base salary !',
                      },
                      { validator: checkPrice }
                    ],
                  },
                ]"
                  />

                </a-form-item>
              </a-col>
            </a-row>
        <a-row type="flex">
          <a-col :span="6">
            <a-form-item label="Monthly Bonus">
              <a-input
                  placeholder="Text"
                  v-decorator="[
                  'bonus',
                  {

                    rules: [
                      {
                        required: true,
                        message: 'Please input monthly bonus !',
                      },

                    ],
                  },
                ]"
              />

            </a-form-item>
          </a-col>
          <a-col :span="6">
            <a-form-item label="Compensasion Package" class="form-label">
              <p>12/2</p>
            </a-form-item>
          </a-col>
          <a-col :span="6">
            <a-form-item label="Probation Percentage (%)" class="form-label">
              <p>85%</p>
            </a-form-item>
          </a-col>
          <a-col :span="6">
            <a-form-item label="Note">
              <a-input
                  placeholder="Text"
                  v-decorator="[
                  'note',
                  {

                    rules: [
                      {
                        required: true,
                        message: 'Please input note !',
                      },

                    ],
                  },
                ]"
              />

            </a-form-item>
          </a-col>
        </a-row>
      </div>
    </VueCollapse>
    <VueCollapse :title="'Offer Details'" :is-active="isActive['approver']">
      <div slot="content" class="offer-box">
        <a-row type="flex" align="middle">
          <a-col :span="6">
            Status: Pending
          </a-col>
          <a-col :span="6">
            Hiring Manager: <a>{{requestDetail.createdBy}}</a>
          </a-col>
          <a-col :span="6">
            TA Manager: <a>{{requestDetail.taMng}}</a>
          </a-col>

          <a-col :span="6" v-if="(userInfo.userRoles[1] === API_USER_TITLE['HR']) || (userInfo.userRoles[1] === API_USER_TITLE['ADMIN'])">
            <a-button type="primary" class="btn-submit-offer" html-type="submit">Send notification</a-button>
          </a-col>
          <a-col :span="6" v-if="userInfo.userRoles[1] === API_USER_TITLE['HR_MNG']">
            <a-button type="primary" class="btn-approve-offer" >Approve</a-button>
            <a-button type="" class="btn-approve-offer" >Reject</a-button>
          </a-col>
        </a-row>
        <a-row class="add-approver">
          <a-col :span="6">
            <a-form-item label="Add approver">
              <a-input
                  placeholder="Text"
                  v-decorator="[
                  'approver',

                ]"
              />

            </a-form-item>
          </a-col>
          <a-col :span="6">
            <a-form-item label="Note">
              <a-input
                  placeholder="Text"
                  v-decorator="[
                  'note2',

                ]"
              />

            </a-form-item>
          </a-col>
          <a-col :span="6"></a-col>
          <a-col :span="6">
            <a-button type="primary" class="btn-send-noti" >Send notification</a-button>
          </a-col>
        </a-row>
      </div>
    </VueCollapse>
    </a-form>
</template>
  </div>
</template>
<script>
 import VueCollapse from "../base/VueCollapse";
 import {mapActions, mapState} from "vuex";
 import {isNumeric} from "../commons/commons";
import {API_USER_TITLE} from "../commons/commonConstant"
 export default {
    props: {
      candidateId: Number,
      requestId: Number
    },
   components: {
      VueCollapse
   },
  async created() {
     await this.getRequestDetail(this.requestId)
     let payloadJobLevel = {
       page: 1,
       limit: 1000,
       idJobType: this.requestDetail.jobType.id
     }
     await this.$store.dispatch("jobType/getJobLevelList", payloadJobLevel)
     await this.$store.dispatch("rtsApplication/getGroupList");
   },
   computed: {
     ...mapState({
       requestDetail: (state) => state.rtsRequestDetailGenenalInfo.requestDetail,
       jobLevel: (state) => state.jobType.jobLevelList,
       information: (state) => state.rtsActivityCandidate.information,
       groups: (state) => state.rtsApplication.groupList,
       departments: (state) => state.rtsApplication.departmentList,
       userInfo: state => state.user.userInfo
     })
   },
   watch: {
     candidateId: {
       immediate: true,
       handler(newVal) {
         this.getInformation(newVal)
       }
     },
   },
   data() {
      return {
        API_USER_TITLE,
        formLayout: 'horizontal',
        form: this.$form.createForm(this, { name: 'offer_form' }),
        contractType : [
          {
            id: 1,
            name: "Probationary Contract"
          },
          {
            id: 2,
            name: "Official Contract"
          },
        ],
        taMngInfo: '',
        isActive: {
          offer: true,
          approver: true,
        },
      }
   },
   methods: {
      ...mapActions({
        getRequestDetail: 'rtsRequestDetailGenenalInfo/getRtsRequestDetailById',
        getInformation: 'rtsActivityCandidate/getInformation',
      }),
      handleSubmit(e){
        e.preventDefault()
        this.form.validateFields((err, values) => {

        })

      },
     checkPrice(rule, value, callback) {
       if (value) {
         if (!isNumeric(value)) {
           callback('Input must be type of number!')
         }
         if (Number(value) <= 0) {
           callback('Salary must be greater than zero')
         }

       }
       callback();
     },
     filterOption(input, option) {
       return (
           option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
       );
     },
   }

 }
</script>
<style lang="scss">
.form-container {

}
.form-box {
  margin-left: 1.2rem;
}
.form-container .ant-form-item-label{
  text-align: left;
}
.form-label p{
   font-size: 14px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.form-container label {
  font-size: 14px !important;
  font-weight: 600;
  white-space: pre-wrap;
}
.offer-box {
   margin-left: 1.5rem;
}
.btn-submit-offer {
  width: 200px;
}
.btn-approve-offer {
  margin-left: 1rem;
  width: 120px;
}
.btn-send-noti {
  width: 255px;
  margin-left: 1rem;
}
.add-approver {
  margin-top: 1rem;
}

</style>