<template>
  <div class="interview-block">
    <table class="interview-box">
      <tr>
        <td class="property">Date:</td>
        <td class="content">{{detail.date}}</td>
        <td class="property">Time:</td>
        <td class="content">{{getTime}}</td>
      </tr>
      <tr>
        <td class="property">Interviewer:</td>
        <td class="content"><a>{{detail.interviewerName}}</a></td>
      </tr>
      <tr>
        <td class="property" colspan="1">Description:</td>
        <td class="content" colspan="3">{{detail.comments}}</td>
      </tr>
    </table>
  </div>
</template>
<script>
import moment from "moment";

export default {
  props:{
    detail: Object
  },
  computed: {
    getTime() {
      if (this.detail.time) {
        return moment(this.detail.time).format('h:mm a')
      } else {
        return null
      }
    }
  }
};
</script>
<style>
  .interview-block{
    margin: 1rem
  }
  .interview-box td{
    vertical-align: top;
    padding: 10px;
  }
  .property{
    color:#6B778C;
  }
  .content {
    text-align: left;
    color: #172B4D
  }
</style>