<template>
  <div class="interview-container">
    <template>
      <a-form
          :form="form"
          @submit="handleSubmit">
        <a-row type="flex" justify="space-between">
          <a-col :span="15">
            <a-form-item label="Title">
              <a-input
                  :disabled="isDisabled"
                  placeholder="Text"
                  v-decorator="[
                  'title',
                  {
                    initialValue: interviewDetailTitle,
                    rules: [
                      {
                        required: true,
                        message: 'Please input title !',
                      },
                      {
                        max: 255,
                        message: 'You’ve exceeded the limit by 255 characters',
                      },
                    ],
                  },
                ]"
              />

            </a-form-item>
            <a-row type="flex" justify="space-between">
              <a-col :span="12">
                <a-form-item label="Deadline" prop="deadline">
                  <a-date-picker
                      v-model="date"
                      format="YYYY-MM-DD"
                      placeholder="Choose something"
                      :allowClear="true"
                      :showSearch="true"
                      :disabledDate="d=> d.isBefore(new Date())"
                      style="width: 100%"
                      :disabled="isDisabled"
                      v-decorator="[
                  'date',
                  {
                     initialValue: interviewDetailDate,
                    rules: [
                      {
                        required: true,
                        message: 'Please choose date !',
                      },
                    ],
                  },
                  ]"
                  />
                </a-form-item>
              </a-col>
              <a-col :span=" 11
                  ">
                <a-form-item label="Time" prop="time">
                  <a-time-picker
                      v-model="time"
                      use12-hours
                      format="h:mm a"
                      style="width: 100%"
                      :disabled="isDisabled"
                      v-decorator="[
                  'time',
                  {
                    initialValue: interviewDetailTime,
                    rules: [
                      {
                        required: true,
                        message: 'Please choose time !',
                      },
                    ],
                  },
                  ]"
                  />
                </a-form-item>
              </a-col>
            </a-row>
            <a-row>
              <a-col>
                <a-form-item label="Interviewer" prop="interviewers">
                  <a-select
                      allowClear
                      mode="multiple"
                      :placeholder="'Search Interviewer'"
                      :style="{ width: '100%' }"
                      :default-active-first-option="false"
                      :filter-option="false"
                      :disabled="isDisabled"
                      @search="(value) => onSearch(value, searchName)"
                      @change="(e) => onChangeValue(e, searchName)"
                      :maxTagCount="1"
                      :dropdownMatchSelectWidth="false"
                      v-decorator="[
                  'searchName',
                  {
                    initialValue: interviewDetailInterviewer,
                    rules: [
                      {
                        required: true,
                        message: 'Please choose at least interviewer !',
                      },
                    ],
                  },
                  ]"
                  >
                    <a-spin v-if="fetching" slot="notFoundContent" size="small"/>
                    <template>
                      <a-select-option
                          class="font-size-option-select"
                          v-for="item in interviewers"
                          :key="item.username"
                          :value="item.username"
                      >
                        {{ item.name }}
                      </a-select-option>
                    </template>
                  </a-select>
                </a-form-item>
              </a-col>
            </a-row>
          </a-col>
          <a-col :span="8">
            <a-form-item label="Description" class="form-label">
              <a-textarea
                  :disabled="isDisabled"
                  placeholder="Text"
                  :rows="11"
                  v-model="description"
                  v-decorator="[
                  'comment',
                  {
                     initialValue: interviewDetailComment,
                    rules: [
                      {
                        max: 250,
                        message: 'You’ve exceeded the limit by 250 characters',
                      },
                    ],
                  },
                ]"
              >
              </a-textarea>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <div class="btn-group">
            <a-button type="primary" :disabled="isDisabled" html-type="submit">
              Create
            </a-button>
            <a-button class="mlr5" :disabled="isDisabled" @click="this.resetForm"> Cancel</a-button>
          </div>
        </a-row>
      </a-form>
    </template>
  </div>
</template>

<script>
import FilterOnChange from "../layouts/FilterOnChange";
import {mapActions,mapMutations, mapState} from "vuex";
import moment from 'moment';

export default {

  props: {
    candidateId: Number,
    keyTab: Number
  },
  data() {
    return {
      form: this.$form.createForm(this, {name: "interview_form"}),
      title: '',
      date: "",
      time: "",
      interviewer: '',
      description: '',
      inter: '',
      searchName: undefined,
      fetching: false,
      timeout: null,
      isDisabled: false,
    };
  },
  computed: {
    ...mapState({
      interviewers: (state) => state.rtsInterviewTab.listInterviewer,
      userInfo: state => state.user.userInfo,
      interviewDetail: (state) => state.rtsInterviewTab.interviewDetail,
    }),

    interviewDetailTitle() {
      if (this.interviewDetail) {
        return this.interviewDetail.title;
      }
      return null;
    },
    interviewDetailDate() {
      if (this.interviewDetail) {
        let newDate = moment(this.interviewDetail.date, "DD/MM/YYYY");
        return newDate.format('YYYY-MM-DD');
      }
      return null;
    },
    interviewDetailTime() {
      if (this.interviewDetail) {
        return this.interviewDetail.time;
      }
      return null;
    },
    interviewDetailInterviewer() {
      if (this.interviewDetail) {
        return this.interviewDetail.interviewerName;
      }
      return undefined;
    },
    interviewDetailComment() {
      if (this.interviewDetail) {
        return this.interviewDetail.comments;
      }
      return null;
    }


  },

  watch: {
    keyTab: {
      immediate: true,
      handler() {
        this.resetForm()
        this.resetInterviewDetail()
      }
    },
    interviewer: {
      immediate: true,
      handler(newVal) {
        this.getInterviewers(newVal)
      }
    },
    userInfo: {
      immediate: true,
      handler(newVal) {
        if (newVal.userRoles[1] !== 'RTS-TA' && newVal.userRoles[1] !== 'RTS-Admin' && newVal.userRoles[1] !== 'RTS-TA-MNG') {
            this.isDisabled = true
        } else {
          this.isDisabled = false
          this.resetForm();
          this.resetInterviewDetail()
        }
      }
    },
     candidateId: {
      immediate: true,
       async handler(newVal) {
        const payload = {
          candidateId: newVal,
          requestId: this.$route.params.id,
        }
        this.resetForm();
        this.resetInterviewDetail()
        await this.getInterviewDetail(payload)
        if (this.userInfo.userRoles[1] === 'RTS-TA' || this.userInfo.userRoles[1] === 'RTS-Admin')
          await this.resetInterviewDetail()
      }
    }
  },

  components: {},

  methods: {
    ...mapActions({
      createInterview: 'rtsInterviewTab/createInterview',
      getInterviewers: 'rtsInterviewTab/getInterviewer',
      getInterviewDetail: 'rtsInterviewTab/getInterviewDetail',
      getListTimeline: 'rtsActivityCandidate/getListTimeline',
      setLoading: 'user/loadingRequest',
      stopLoading: 'user/stopLoading',
    }),
    ...mapMutations({
      resetInterviewDetail: 'rtsInterviewTab/RESET_INTERVIEW_DETAIL',
    }),
    handleSubmit(e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        let newDate = this.date ? this.date.format('YYYY-MM-DD') : this.interviewDetailDate
        let newTime = this.time? this.time?.format('HH:mm:ss ') : moment(this.interviewDetailTime).format('HH:mm:ss ')
        let startDate = (newDate + ' ' + newTime)
        delete values.date;
        delete values.time;
        const newValue = {
          ...values,
          candidateId: this.candidateId,
          requestId: this.$route.params.id,
          startTime: startDate,
          interviewer: this.interviewer ? `${this.interviewer.toString()},`: `${this.interviewDetailInterviewer},`,
          createdBy: this.userInfo.userName
        }
        if (!err) {
          this.setLoading()
          this.createInterview(newValue).then((res) => {
            this.stopLoading()
            if (res.status === 409) {
              this.$message.error(`Duplicate the candidate's interview schedule`)
            }else {
              this.$emit('onCreateInterview')
              // if create success
              this.$message.success('Create interview success !')
            }
            this.resetForm();
            this.resetInterviewDetail();
          })
        }
      });
    },
    resetForm() {
      this.form.resetFields();
    },
     addHoursToDate(date, hours) {
      return new Date(new Date(date).setHours(date.getHours() + hours));
    },
    onChangeValue(item) {
      this.interviewer = item
    },
    onSearch(value) {
      let cloneVal = decodeURI(value);
      if (value && value !== "" && value.length >= 3) {
        this.fetching = true;
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => {
          this.getInterviewers(cloneVal)
              .then(() => {
                this.fetching = false;
              })
              .catch(() => {
                this.fetching = false;
              });
        }, 800)
      }
    },
  },
  beforeDestroy() {
    this.resetForm()
  }
};
</script>
<style lang="scss">
.interview-container {
  min-height: 38vh;
}

.btn-group {
  text-align: end;
}
</style>
