<template>
  <div class="container">
    <template>
      <a-form-model autocomplete="off" ref="form" :form="form" @keyup.enter="handleSubmit" @submit="handleSubmit">
        <a-form-item
            :class="[err && value == '' && 'has-error']"
            prop="comment"
        >
          <a-input
              v-model="value"
              placeholder="Comments"
              v-decorator="[
                    'value',
                    {
                      rules: [
                        { required: true, message: 'Please input comment!' },
                        { max: 1000, message: 'You\'ve exceeded the limit by 1000 characters!' },
                      ],
                    },
                  ]"  
          />
          <p class="warning-validate">{{ err && value == '' ? 'Please input comment!' : value.length > 1000 ? 'You\'ve exceeded the limit by 1000 characters!' : '' }}</p>
        </a-form-item>
      </a-form-model>
    </template>
    <div class="lisWapper">
      <div
          class="list"
          v-for="item in listComment"
          :key="item.id"
          id="infinite-list"
      >
        <div class="border">
          <p class="name">
            {{ item.createdBy }} &nbsp;<span class="des">
              added a comment - {{ formatDate(item.createDate) }}</span
          >
          </p>
          <p class="content">{{ item.text }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";

export default {
  props: {
    listComment: Array,
    keyTab: String,
    candidateId: Number,
    childKeyTab: Number,
    requestId: Number,

  },
  data() {
    return {
      value: "",
      err: false,
      validateInput: false,
      form: this.$form.createForm(this, {name: "comment_form"}),
    };
  },
  watch: {
    value() {
      if (this.value !== '') {
        this.err = false
      }
    },
    // change tab -> reset validation
    childKeyTab() {
      this.err = false;
    },
    // change candidate -> reset validation
    candidateId() {
      this.err = false;
    }
  },
  methods: {
    formatDate(date) {
      return moment(date).format("YYYY-MM-DD HH:mm:ss");
    },
    handleSubmit(e) {
      e.preventDefault();
      if (this.value === '' || this.value.length > 1000) {
        this.err = true
        return;
      }
      if (!this.keyTab) {
        const data = {
          requestId: this.$route.params.id ? this.$route.params.id: this.requestId,
          text: this.value,
        };
        this.$store.dispatch("rtsActivity/postComment", data).then(() => {
          const payload = {
            page: 1,
            requestId: this.$route.params.id ? this.$route.params.id: this.requestId,
          };
          this.$store.dispatch("rtsActivity/getListComment", payload);
        });
      } else {
        const data = {
          requestId: this.$route.params.id ? this.$route.params.id: this.requestId,
          text: this.value,
          candidateId: this.candidateId,
        };
        this.$store
            .dispatch("rtsActivityCandidate/postComment", data)
            .then(() => {
              const payload = {
                page: 1,
                requestId: this.$route.params.id ? this.$route.params.id: this.requestId,
                candidateId: this.candidateId,
              };
              this.$emit('onPostComment')
            });
      }
      this.value = ""
    },
    handleInput() {
      if (this.value.length > 4) {
        this.validateInput = true;
      }
      this.validateInput = false;
    },
  },
};
</script>

<style>
.container {
  margin-top: 15px;
}

.list {
  margin-top: 5px;
}

.lisWapper {
  height: 40vh;
  overflow: auto;
}

.name {
  font-size: 14px;
  line-height: 20px;
  color: #0065ff;
}

.content {
  font-size: 14px;
  line-height: 20px;
  color: #172b4d;
  font-weight: 400;
  text-indent: 20px;
}

.des {
  color: #172b4d;
}

.border {
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
}

.loading {
  text-align: center;
  position: absolute;
  color: #fff;
  z-index: 9;
  padding: 8px 18px;
  border-radius: 5px;
  left: calc(50% - 45px);
  top: calc(50% - 18px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.warning-validate {
  color: red;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 5px;
}
</style>
