<template>
  <div class="container">
    <div class="lisWapper">
      <div class="list" v-for="item in listComment" :key="item.id + 'comment'">
        <div class="border">
          <p class="name">
            {{ item.createdBy }} &nbsp;<span class="des"> added a comment - {{formatDate(item. createDate)}}</span>
          </p>
          <p class="content">{{ item.text }}</p>
        </div>
      </div>
       <div class="list" v-for="history in listHistoryActivity" :key="history.id">
        <div class="border">
          <p class="name">
            {{ history.createdBy }} &nbsp;<span class="des">{{
             history.statusRequestType.toLowerCase()
            }}&nbsp;request <span v-if="formatDate(history.createdDate) !== 'Invalid date'">- {{formatDate(history.createdDate)}}</span></span>
          </p>
          <p class="content" v-if="listPeople.length !== 0 && history.statusRequestType == 'Assigned'">
            Assignees: &nbsp;&nbsp;&nbsp;
            <a href="#" v-for="people in listPeople" :key="people.id">{{ people.assignee }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import moment from 'moment'
export default {
  props: {
    listHistory: Array,
    listComment: Array,
  },
    computed: {
    ...mapState({
      listHistoryActivity: state => state.rtsProgressHistory.listHistory,
      listPeople: state => state.rtsProgressHistory.listPeople
    }),
  },
   methods:{
    ...mapActions(['rtsProgressHistory/RtsRequestDetailHistoryActivity']),
    formatDate(date){
       return moment(date).format('YYYY-MM-DD HH:mm:ss');
    },
    changeTextRequest(text){
      let textRequest = ''
      if(text === 'conducted '){
        textRequest = 'assigned'
      } else {
        textRequest = text
      }
      return textRequest;
    }
  },
  mounted() {
        const requestId = this.$route.params.id
        if(requestId) this['rtsProgressHistory/RtsRequestDetailHistoryActivity'](requestId);
  }, 
};
</script>

<style lang="scss" scoped>
.lisWapper {
  height: 40vh;
  overflow: auto;
  padding-left: 14px;
}
.ant-collapse-content-box {
  padding-left: 20px;
}
.container > .ant-input {
  margin-left: 14px;
}

</style>