<template>
    <div>
    <a-row>
        <table >
            <tr class="payroll-onsite-tr">
            <th style="width: 337px;text-align: left;padding-left: 1%;">Staff</th>
            <th style="width: 350px; text-align: center;">Department</th>
            <th style="width: 243px; text-align: center;">Unit</th>
            <th style="width: 229px; text-align: center;">Bonus</th>
            <th style="width: 256px; text-align: center;">Project Code</th>
            <th style="width: 215px; text-align: center;">Project Name</th>
            <th style="width: 276px; text-align: center;">Note</th>
            </tr>
        </table>
    </a-row>
    <a-row class="payroll-onsite-add-row-table">
        <a-col :span="13" style="margin-right: -15px;">TOTAL</a-col>
        <a-col :span="11">{{totalBonus}}</a-col>
    </a-row>
    
    <a-table
        class="custom-table"
        :columns="columns"
        :data-source="mockData"
        :pagination="false"
        size="middle"
        :rowClassName="handleRowClassName"
        :showHeader="false"
    >
    
    <span slot="display_name" slot-scope="text, record">
        <div>{{ record.name }} </div>
        <div>{{record.code}}</div>
    </span>
    <template slot="footer">
        <div>
          <a-pagination
            v-model="currentPage"
            :total="total_items"
            :show-total="
              (total, range) => `${range[0]}-${range[1]} of ${total} items`
            "
            :page-size="pageSize"
            show-size-changer
            @change="onChangePage"
            @showSizeChange="onShowSizeChange"
          />
        </div>
    </template>
    </a-table>
    </div>
</template>
<script type="script" lang="js" src="./PayrollOnsite.js" />