<template>
  <div class="login" id="login">
    <a-layout id="components-layout-demo-top-side-2">
      <a-layout-content class="content-wrapper full-vh" style="margin:0 auto">
        <a-row>
          <div>
            <a-card style="width: 600px" class="mt80">
              <template slot="title">
                <div class="text-center">
                  <img src="../../assets/images/logo_cmc.png" alt />
                  <p class="text-bold mt5">Human Resource Management System</p>
                </div>
              </template>
              <a-alert class="mb10" v-if="error_message" type="error" :message="error_message" />
              <a-form
                id="components-form-demo-normal-login"
                :form="form"
                class="login-form"
                @submit="onHandleLogin"
              >
                <a-form-item style="margin-bottom: 5px">
                  <a-input
                    v-decorator="[
                            'username',
                            { rules: [{ required: true, message: 'Username is required' }] },
                            ]"
                    placeholder="Username"
                  >
                    <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
                  </a-input>
                </a-form-item>
                <a-form-item style="margin-bottom: 5px">
                  <a-input
                    v-decorator="[
                            'password',
                            { rules: [{ required: true, message: 'Password is required'}] },
                            ]"
                    type="password"
                    placeholder="Password"
                  >
                    <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)" />
                  </a-input>
                </a-form-item>
                <a-form-item>
                  <a-button
                    type="primary"
                    :loading="loading"
                    html-type="submit"
                    class="login-form-button"
                  >Log in</a-button>
                </a-form-item>
                <!-- <a @click="onHandleChangePassword">Change Password</a> -->
              </a-form>
            </a-card>
          </div>
        </a-row>
      </a-layout-content>
    </a-layout>
  </div>
</template>
<script type='script' lang='js' src ='./Interview.js' />
<style>
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form .ant-form-item {
  margin-bottom: 0 !important;
}

#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
</style>
