<template>

  <a-layout class="pt15 pl20 pr20" id="detail-block">
    <a-layout-content class="detail-container">
      <CandidateInfo :candidateInformation="information"  :candidateId="candidateId" ></CandidateInfo>
      <VueCollapse title="Activity" :isActive="isActive['activity']">
        <div slot="content">
         <CandidateActivity
             :tabs="formatTab(this.keyTab)"
             :candidateId="candidateId"
             :keyTabs="keyTab">

         </CandidateActivity>
        </div>
      </VueCollapse>
      <VueCollapse title="Profile" :isActive="isActive['profile']" class="profile-contain">
        <div slot="content" >
         <CandidateProfile :profiles="information"></CandidateProfile>
        </div>
      </VueCollapse>
    </a-layout-content>
  </a-layout>
</template>
<script lang="js" >
import { mapState, mapActions } from "vuex";
import VueCollapse from "../../../../../../components/base/VueCollapse.vue";
import CandidateActivity from '../../../../../../components/candidate/CandidateActivity.vue';
import CandidateProfile from "../../../../../../components/candidate/CandidateProfile.vue";
import CandidateInfo from "../../../../../../components/candidate/CandidateInfo.vue"

const isActive = {
  activity: true,
  profile: true,
};


export default {
  name: "SourceTab",
  components: {
    VueCollapse,
    CandidateProfile,
    CandidateActivity,
    CandidateInfo
  },
  props : {
    keyTab: String,
    information : {
      type : Object
    },
    candidateId : {
      type : Number
    }
  },
  data() {
    return {
      isActive,
    };
  },

  computed:{
    ...mapState({
      tabs: (state) => state.rtsActivityCandidate.tabs,
      tabsOffer: (state) => state.rtsActivityCandidate.tabsOffer,
      tabsInterview: (state) =>state.rtsInterviewTab.tabs,
      profiles: (state) => state.rtsActivityCandidate.profiles,

    })
  },
  async created() {
    await this.getProfiles();
  },
  watch:{

  },
  methods: {
    ...mapActions({
      getProfiles: 'rtsActivityCandidate/getProfiles',
    }),
    formatTab(tab){
      if(tab === 'interview'){
        return this.tabsInterview
      }else if(tab === 'offer'){
        return this.tabsInterview
      } else {
        return this.tabs
      }
    }
  },
};

</script>
<style lang="scss">
#detail-block {
  padding: 0;
  background-color: #fff !important;
  overflow: scroll;
  height: 100vh;
  .detail-container {
    padding: 1rem 2rem;
  }
  .ant-collapse-header {
    color: #172b4d;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 16px;
  }
  .ant-collapse {
    background: #fff;
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
  }
  .info {
    margin: 0 1.5rem;
  }
  .avt-img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
  }
  .candidate-name {
    margin: 0;
  }
  .activity{
    margin: 0 1rem;
  }
  .ant-collapse-header{
    margin-top: 10px !important;
  }
}
</style>
