<template>
  <div class="p15">
    <div class="content-details">
      <a-row>
        <a-col :md="10" :xs="10" class="title-drawer"> Overtime Detail </a-col>
        <a-col :md="14" :xs="14" class="taE">
          <a-button
            v-if="
              isAssignee ||
              (roles.includes(Role.GUEST) &&
                userInfo.userId === dataSource.assignee)
            "
            :disabled="disableRejectAll(dataSource)"
            :class="
              disableRejectAll(dataSource)
                ? 'ot-disabled-all'
                : 'ot-color-reject-all'
            "
            @click="onClickReject(dataSource)"
            >Reject All</a-button
          >
          <a-button
            v-if="
              isAssignee ||
              (roles.includes(Role.GUEST) &&
                userInfo.userId === dataSource.assignee)
            "
            :disabled="disableApproveAll(dataSource)"
            :class="
              disableApproveAll(dataSource)
                ? 'ot-disabled-all'
                : 'ot-color-approve-all'
            "
            @click="onClickApprove(dataSource)"
            >Approve All</a-button
          >
        </a-col>
      </a-row>
      <a-divider />
      <a-form
        id="ot-detail-form"
        :form="form"
        v-bind="formItemLayout"
        :data-source="dataSource"
      >
        <a-row>
          <a-col :span="16">
            <a-row>
              <a-col :span="4" class="ot-font ot-padding">Title:</a-col>
              <a-col :span="19" :offset="1" class="ant-form-text ot-padding">{{
                dataSource.title
              }}</a-col>
            </a-row>
            <a-row>
              <a-col :span="4" class="ot-font ot-padding">Project:</a-col>
              <a-col :span="19" :offset="1" class="ant-form-text ot-padding">{{
                dataSource.project_name
              }}</a-col>
            </a-row>
            <a-row>
              <a-col :span="5" class="ot-font ot-padding">Department:</a-col>
              <a-col :span="19" class="ant-form-text ot-padding">{{
                dataSource.creator.department_name.nameEn
              }}</a-col>
            </a-row>
            <a-row>
              <a-col :span="5" class="ot-font ot-padding">Approver:</a-col>
              <a-col :span="19" class="ant-form-text ot-padding">
                <a-col :span="16" v-if="!visibleDelegate">{{
                  dataSource.receiver
                }}</a-col>
                <a-col v-if="visibleDelegate">
                  <a-select
                    showSearch
                    allowClear
                    class="select"
                    v-model="delegator"
                    placeholder="Search by staff name, ID "
                    @search="(value) => onSearchDelegator(value)"
                    :not-found-content="fetching ? undefined : null"
                    :default-active-first-option="true"
                    :filter-option="false"
                    :style="{ width: '200px', marginRight: '10px' }"
                  >
                    <a-spin
                      v-if="fetching"
                      slot="notFoundContent"
                      size="small"
                    />
                    <a-select-option
                      v-for="item in employeeList"
                      :key="item.value"
                      :value="
                        JSON.stringify({
                          user_name: item.value,
                          id: item.id,
                          label: item.label,
                          department: item.department,
                        })
                      "
                      >{{
                        item.label + " (" + item.department + ")"
                      }}</a-select-option
                    >
                  </a-select>
                  <span v-if="visibleDelegate">
                    <a-button
                      shape="circle"
                      size="small"
                      class="ot-close-delegate"
                      @click="handCancelDelegate"
                    >
                      <a-icon type="close" />
                    </a-button>
                  </span>
                  <span v-if="visibleDelegate">
                    <a-button
                      shape="circle"
                      size="small"
                      class="ot-check-delegate"
                      @click="handleSaveDelegate"
                    >
                      <a-icon type="check" />
                    </a-button>
                  </span>
                </a-col>
                <a-col
                  :span="5"
                  v-if="
                    assignee.user_name === userInfo.userName ||
                    roles.includes(Role.GROUP_LEAD) ||
                    roles.includes(Role.DULEAD)
                  "
                >
                  <a-button
                    class="ot-color-delegate"
                    @click="handleDelegate"
                    v-if="
                      !visibleDelegate &&
                      (roles.includes(Role.GROUP_LEAD) ||
                        roles.includes(Role.DULEAD)) &&
                      !disableDelegate(dataSource)
                    "
                    >Delegate</a-button
                  >
                  <!-- <span v-if="visibleDelegate">
                    <a-button
                      shape="circle"
                      size="small"
                      class="ot-close-delegate"
                      @click="handCancelDelegate"
                    >
                      <a-icon type="close" />
                    </a-button>
                  </span>
                  <span v-if="visibleDelegate">
                    <a-button
                      shape="circle"
                      size="small"
                      class="ot-check-delegate"
                      @click="handleSaveDelegate"
                    >
                      <a-icon type="check" />
                    </a-button>
                  </span> -->
                </a-col>
              </a-col>
            </a-row>
            <a-row>
              <a-col :span="5" class="ot-font ot-padding">Description:</a-col>
              <a-col :span="19" class="ant-form-text ot-text ot-padding">{{
                dataSource.description
              }}</a-col>
            </a-row>
            <a-row>
              <a-col :span="5" class="ot-font ot-padding">CC:</a-col>
              <a-col :span="19">
                <div
                  :style="
                    dataSource.mailList.length <= 6
                      ? {}
                      : { overflowY: 'scroll', height: '75px' }
                  "
                >
                  <span
                    :style="{ paddingRight: '2px', paddingBottom: '0px' }"
                    v-for="(item, index) in dataSource.mailList"
                    :key="index"
                    class="ant-form-text ot-text ot-padding"
                  >
                    {{ dataSource.mailList[index].name }}
                    <span v-if="index !== dataSource.mailList.length - 1"
                      >,</span
                    >
                    <span v-else>.</span>
                  </span>
                </div>
              </a-col>
            </a-row>
            <a-row>
              <a-col :span="8" class="ot-font ot-padding"
                >OT paid by offset day:</a-col
              >
              <a-col :span="16" class="ant-form-text ot-text ot-padding">{{
                dataSource.is_ot_paid_by_offset_day === true ? "Yes" : "No"
              }}</a-col>
            </a-row>
          </a-col>
          <a-col :span="8">
            <a-row>
              <a-col :span="9" class="ot-font ot-padding">OT Date:</a-col>
              <a-col :span="15" class="ant-form-text ot-padding">{{
                formatDate(dataSource.ot_date)
              }}</a-col>
            </a-row>
            <a-row>
              <a-col :span="9" class="ot-font ot-padding">OT Type:</a-col>
              <a-col :span="15" class="ant-form-text ot-padding">{{
                otType[dataSource.ot_type]
              }}</a-col>
            </a-row>
            <a-row>
              <a-col :span="8" class="ot-font ot-padding">Time:</a-col>
              <a-col :span="14" :offset="1" class="ant-form-text ot-padding"
                >{{ formatTime(dataSource.start_time) }} -
                {{ formatTime(dataSource.end_time) }}</a-col
              >
            </a-row>
            <a-row>
              <a-col :span="8" class="ot-font ot-padding">Category:</a-col>
              <a-col :span="13" :offset="1" class="ant-form-text ot-padding">{{
                dataSource.category
              }}</a-col>
            </a-row>
          </a-col>
        </a-row>
        <!-- <a-row>
          <a-col :span="4" class="ot-font ot-padding-dm">Description:</a-col>
          <a-col :span="20" class="ant-form-text ot-text ot-padding-l">{{dataSource.description}}</a-col>
        </a-row>
        <a-row>
          <a-col :span="4" class="ot-font ot-padding-dm">CC:</a-col>
          <a-col :span="18">
            <div
              :style="dataSource.mailList.length <= 6 ? {} : {overflowY: 'scroll', height: '75px'}"
            >
              <span
                :style="{paddingRight: '2px', paddingBottom: '0px'}"
                v-for=" (item, index) in dataSource.mailList"
                :key="index"
                class="ant-form-text ot-text ot-padding-l"
              >
                {{dataSource.mailList[index].name}}
                <span
                  v-if="index !== (dataSource.mailList.length-1)"
                >,</span>
                <span v-else>.</span>
              </span>
            </div>
          </a-col>
        </a-row>
        <a-row>
          <a-col :span="5" class="ot-font ot-padding-dm">OT paid by offset day:</a-col>
          <a-col
            :span="19"
            class="ant-form-text ot-text ot-padding-l"
          >{{dataSource.is_ot_paid_by_offset_day === true ? 'Yes' : 'No'}}</a-col>
        </a-row> -->
        <a-divider />
        <a-table
          class="custom-table scroll-table"
          :rowKey="(record) => record.employee_id"
          :pagination="false"
          :data-source="dataSource.staff"
          :columns="columns"
          :scroll="dataSource.staff.length > 6 ? { y: 200 } : {}"
        >
          <span slot="name" slot-scope="text, record">
            <div class="title-bold">{{ record.employee.name }}</div>
          </span>
          <span slot="status" slot-scope="text, record" class="ot-ant-tag">
            <a-tag :color="statusColor[record.status.toUpperCase()]">{{
              record.status.toUpperCase()
            }}</a-tag>
          </span>
          <span slot="approver_rejector" slot-scope="text, record">
            <div class="title-bold">
              {{ record.approver ? record.approver.name : "" }}
            </div>
          </span>
          <span slot="reason_rejection" slot-scope="text, record">
            <div class="title-bold">
              {{ record.reject_reason ? record.reject_reason : "" }}
            </div>
          </span>
          <span slot="approve_reject" slot-scope="text, record">
            <a-row
              v-if="
                (isAssignee ||
                  (roles.includes(Role.GUEST) &&
                    userInfo.userId === dataSource.assignee)) &&
                record.status !== 'CANCELLED'
              "
            >
              <span>
                <a-button
                  shape="circle"
                  :disabled="disableRejectSingle(record)"
                  :class="
                    disableRejectSingle(record)
                      ? 'ot-disabled'
                      : 'ot-color-reject'
                  "
                  size="small"
                  @click="() => onClickReject(record)"
                >
                  <a-icon type="close" />
                </a-button>
              </span>
              <span>
                <a-button
                  shape="circle"
                  size="small"
                  :disabled="disableApproveSingle(record)"
                  :class="
                    disableApproveSingle(record)
                      ? 'ot-disabled'
                      : 'ot-color-approve'
                  "
                  @click="(e) => showPopConfirmCheck(e, record)"
                >
                  <a-icon type="check" />
                </a-button>
              </span>
            </a-row>
          </span>
        </a-table>
        <a-divider />
        <a-row v-if="visibleComment">
          <a-col :span="4" class="ot-font ot-padding">Comment:</a-col>
          <a-col :span="20" class="ant-form-text ot-padding">
            <a-textarea
              allow-clear
              v-model="comment"
              :auto-size="{ minRows: 3, maxRows: 5 }"
            />
          </a-col>
        </a-row>
        <a-row v-if="!visibleComment">
          <a-col :span="6" class="ot-font ot-padding">Comment:</a-col>
          <a-col
            :span="18"
            v-for="(item, index) in dataSource.comment"
            :key="index"
          >
            <span
              class="ant-form-text ot-padding"
              v-if="index === dataSource.comment.length - 1"
              >{{ dataSource.comment[index] }}</span
            >
          </a-col>
        </a-row>
        <a-row v-if="!visibleComment">
          <a-col :span="6" class="ot-font ot-padding"
            >Reason for rejection:</a-col
          >
          <a-col :span="18" class="ant-form-text ot-text ot-padding ot-font">{{
            this.dataSource.reject_all_reason
              ? this.dataSource.reject_all_reason
              : ""
          }}</a-col>
        </a-row>
        <a-row v-if="!visibleComment">
          <a-col :span="6" class="ot-font ot-padding"
            >Reason for withdraw:</a-col
          >
          <a-col :span="18" class="ant-form-text ot-text ot-padding ot-font">{{
            this.dataSource.withdraw_reason
              ? this.dataSource.withdraw_reason
              : ""
          }}</a-col>
        </a-row>
        <a-row v-if="isAssignee && !disableRejectAll(dataSource)">
          <a-col :span="3" :offset="18" class="ant-form-text ot-padding">
            <a-button
              class="ot-color-cancel"
              v-if="visibleComment"
              @click="handleCancel"
              >Cancel</a-button
            >
          </a-col>
          <a-col :span="3" class="ant-form-text ot-padding">
            <a-button
              class="ot-color-send"
              v-if="visibleComment"
              @click="onClickSend"
              >Send</a-button
            >
          </a-col>
          <a-col :span="2" :offset="22" class="ant-form-text ot-padding taE">
            <a-button
              class="ot-color-comment"
              @click="handleComment"
              v-if="
                !visibleComment && isAssignee && !disableRejectAll(dataSource)
              "
            >
              <a-icon type="message" />
            </a-button>
          </a-col>
        </a-row>
        <a-divider />
        <a-row>
          <a-col :span="12">
            <a-col :span="8" class="ot-font ot-padding">Attachment</a-col>
            <a-col :span="15" :offset="1" class="ot-padding">
              <a-row>
                  <a-upload
                    name="file"
                    :multiple="true"
                    :show-upload-list="true"
                    :file-list="fileList"
                  >
                    <!-- <a-button type="primary" icon="paper-clip">Attach File</a-button>
            <span class="ml30">0 files selected.</span> -->
                  </a-upload>
                  <a-button
                    key="submit"
                    type="primary"
                    @click="handleDownload"
                    v-if="isAvaiableToDownLoad">
                    Download
                    </a-button
                  >
              </a-row>
            </a-col>
          </a-col>
          <a-col
            :span="12"
            class="taE"
            v-if="
              !disableWithDraw(dataSource) &&
              dataSource.creator.user_name === userInfo.userName
            "
            @click="onClickWithDraw(dataSource)"
          >
            <a-button class="ot-padding ot-color-withdraw">Withdraw</a-button>
          </a-col>
        </a-row>
        <a-row class="ot-font-end">
          <a-col class="ot-end">
            <a-row
              >Last modified time:
              {{ " " + dataSource.last_modified_date }}</a-row
            >
            <a-row
              >Created by: {{ dataSource.creator.name }} -
              {{ dataSource.creator.department_name.nameEn }}</a-row
            >
          </a-col>
        </a-row>
        <template>
          <a-modal
            title="Reasons For Rejection"
            :maskClosable="false"
            :visible="visibleModalReject"
            @ok="handleOk()"
            @cancel="handleCancelReject()"
          >
            <a-textarea
              allow-clear
              v-if="!isSingleRecord"
              v-model="reasonRejectAll"
              :auto-size="{ minRows: 3, maxRows: 5 }"
            />
            <a-textarea
              allow-clear
              v-if="isSingleRecord"
              v-model="reasonReject"
              :auto-size="{ minRows: 3, maxRows: 5 }"
            />
          </a-modal>
        </template>
        <template>
          <a-modal
            title="Reasons For Withdraw"
            :maskClosable="false"
            :visible="visibleModalWithdraw"
            @ok="handleWithdraw()"
            @cancel="handleCancelWithdraw()"
          >
            <a-textarea
              allow-clear
              v-model="reasonWithdraw"
              :auto-size="{ minRows: 3, maxRows: 5 }"
            />
          </a-modal>
        </template>
      </a-form>
    </div>
    <a-popconfirm
      title="Are you sure？"
      :visible="tooltipOnsite.config.visible"
      :style="{
        top: this.tooltipOnsite.config.top,
        left: this.tooltipOnsite.config.left,
        position: 'absolute',
      }"
      ok-text="Yes"
      cancel-text="No"
      @cancel="handleCancel"
      @confirm="confirm"
      placement="topLeft"
    />
  </div>
</template>
<script type='script' lang='js' src ='./OverTimeDetail.js'/>


