<template>
  <a-spin :spinning="loading">
    <a-layout id="job-posting-layout">
      <a-layout-content class="container">
        <router-view></router-view>
      </a-layout-content>
    </a-layout>
  </a-spin>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "JobPosting",
  components: {
  },
  computed: {
    ...mapState({
      loading: (state) => state.user.loading,
    }),
  },
};
</script>

<style>
 #job-posting-layout .container {
   margin-top: 0 !important;
 }
</style>