<template>
  <div class="request-detail pt10 mt100 mr15 ml15">
    <a-tabs v-model="activeKey" type="card" :defaultActiveKey="keyTab">
      <a-tab-pane v-for="item in filterTabsByRequestStatus" :key="item.key">
        <span slot="tab">
          {{ item.title }}
          <VueBadge
            v-if="item.key !== 'general-information'"
            class="tab-item--badge"
            :count="tabCandidateNumber[item.key]"
          />
        </span>
        <template v-if="keyTab">
          <div class="request-detail--header">
            <RequestDetailHeader
              :request-detail="requestDetail"
              :keyTab="activeKey"
              @onResolveAction="onResolveAction"
              @onMoveAction="onMoveAction"
              @onToolboxAction="onToolboxAction"
              @onFilterAssignee="onFilterAssignee"
            />
            <a-divider class="mt15 mb15" />
          </div>
          <template v-if="item.key === TAB_KEYS.GENERAL_INFORMATION">
            <RequestDetailGeneral :requestDetail="requestDetail" :key-tab="activeKey" />
          </template>
          <template v-else>
            <RequestDetailContentTab :key-tab="activeKey" :assignee="assigneeName" />
          </template>
        </template>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import VueBadge from "../../../components/base/VueBadge";
import RequestDetailHeader from "./RequestDetailHeader/RequestDetailHeader";
import { checkExpired } from "../../../components/commons/commons";
import RequestDetailContentTab from "./RequestDetailMain/RequestDetailTab/RequestDetailTab";
import RequestDetailGeneral from "./RequestDetailMain/RequestDetailGeneral/RequestDetailGeneral";
import { TAB_KEYS, ACTION_KEYS } from "@/components/commons/commonConstant";

const tabs = [
  { title: "General Information", key: TAB_KEYS.GENERAL_INFORMATION },
  { title: "Source", key: TAB_KEYS.SOURCE, cvNumber: 20 },
  { title: "Application", key: TAB_KEYS.QUALIFY, cvNumber: 0 },
  { title: "Qualifying", key: TAB_KEYS.CONFIRM, cvNumber: 0 },
  { title: "Interview", key: TAB_KEYS.INTERVIEW, cvNumber: 0 },
  { title: "Offering", key: TAB_KEYS.OFFER, cvNumber: 0 },
  { title: "OnBoarding", key: TAB_KEYS.ONBOARD, cvNumber: 0 },
  { title: "Rejection ", key: TAB_KEYS.FAILED, cvNumber: 0 },
];

const DEFAULT_KEY = "general-information";
// const DEFAULT_KEY = "qualify"
export default {
  name: "RequestDetail",
  components: {
    VueBadge,
    RequestDetailHeader,
    RequestDetailGeneral,
    RequestDetailContentTab,
  },

  data() {
    return {
      tabs,
      TAB_KEYS,
      page: "interview",
      formName: "",
      editedItem: {
        name: "",
        description: "",
      },
      deletedItems: [],
      keyTab: DEFAULT_KEY,
      activeKey: DEFAULT_KEY,
      dataFilters: {},
      currentPage: 1,
      pageSize: 10,
      total_items: 0,
      requestId: null,
      tabRouter: null,
      assigneeName: null,
    };
  },

  watch: {
    $route: {
      immediate: true,
      handler(to, from) {
        document.title = to.meta.title || "Human Resource Management System";
        this.tabRouter = this.$route.params.tab;
        if (this.tabRouter === "qualify") {
          this.activityKeyTab = 3;
          this.keyTab = "qualify";
          this.activeKey = "qualify";
        }
        if (this.tabRouter === "onboard") {
          this.activityKeyTab = 7;
          this.keyTab = "onboard";
          this.activeKey = "onboard";
        }
      },
    },
    activeKey: {
      immediate: true,
      handler(newVal) {
        if (newVal === TAB_KEYS.GENERAL_INFORMATION) {
          this.activityKeyTab = 1;
        }
      },
    },
  },
  computed: {
    ...mapState({
      requestDetail: (state) => state.rtsRequestDetailGenenalInfo.requestDetail,
      selectedRowKeys: (state) => state.rtsListCandidate.selectedRowKeys,
      tabCandidateNumber: (state) => state.rtsListCandidate.tabCandidateNumber,
      isInterview: (state) => state.rtsInterviewTab.isInterview,
      key: (state) => state.rtsInterviewTab.keyTab,
      assignees: (state) => state.rtsRequest.assigneeList,
      userInfo: (state) => state.user.userInfo,
    }),
    activityKeyTab: {
      get() {
        return this.$store.state.rtsActivity.keyTab;
      },
      set(newVal) {
        this.$store.commit("rtsActivity/SET_ACTIVITY_TAB", newVal);
      },
    },
    filterTabsByRequestStatus() {
      console.log("requestDetail", this.requestDetail);
      let status = this.requestDetail.status;
      let deadline = this.requestDetail.deadline;
      const newDate = deadline?.split("-").reverse().join("/");
      // if ((status === "Assigned" && checkExpired([newDate])) || (status === "Shared" && checkExpired([newDate]))) {
      //   return this.tabs;
      // } else {
      //   return this.tabs.filter((item) => item.key === "general-information");
      // }
      return this.tabs;
    },
  },
  async created() {
    let tabKey = this.getTabKey();
    if (tabKey) this.activeKey = tabKey;

    this.requestId = this.$route.params.id;
    this.tabRouter = this.$route.params.tab;
    console.log("🚀 ~ file: RequestDetail.vue ~ line 135 ~ created ~ this.tabRouter", this.tabRouter);

    if (this.requestId) {
      await this.setLoading();
      await this.getProjectAll();
      await this.getGroupAndDepartmentALl();
      await this.getSkillList(" ");
      await this.getLanguageList();
      await this.getRequestDetail(this.requestId);
      await this.stopLoading();
      if (this.tabRouter) {
        this.keyTab = this.tabRouter;
      }
    }
  },
  methods: {
    ...mapMutations({
      resetState: "rtsRequestDetailGenenalInfo/RESET_STATE",
    }),
    ...mapActions({
      changeCandidateState: "rtsListCandidate/changeCandidateState",
      getRequestDetail: "rtsRequestDetailGenenalInfo/getRtsRequestDetailById",
      getProgressHistory: "rtsProgressHistory/RtsRequestDetailHistory",
      setLoading: "user/loadingRequest",
      stopLoading: "user/stopLoading",
      toggleInterview: "rtsInterviewTab/toggleInterview",
      getGroupAndDepartmentALl: "rtsApplication/getGroupList",
      getProjectAll: "rtsApplication/getProjectList",
      getAssigneeList: "rtsRequest/getAssigneeList",
      getSkillList: "rtsApplication/getSkillList",
      getLanguageList: "rtsApplication/getLanguageList",
    }),
    onResolveAction() {
      this.getRequestDetail(this.requestId);
      this.getProgressHistory(this.requestId);
    },
    onMoveAction(payload) {
      const { key, tab } = payload;
      if (this.checkEmptyCandidate()) {
        this.$message.warn("You must select at least one candidate !", 2);
        return;
      }
      this.$confirm({
        title: "Please Confirm",
        content: `Do you want to move this candidate to ${this.formatState(key)}?`,
        okText: "Confirm",
        okType: "primary",
        onOk: () => {
          this.setLoading();

          this.changeCandidateState({
            ids: this.selectedRowKeys,
            candidateStateEnum: key,
            candidateStateCurrent: tab === TAB_KEYS.SOURCE ? "none" : tab.toLowerCase(),
            requestId: this.requestId,
            assignees: this.userInfo.userName,
            ta: this.userInfo.userName,
          })
            .then((res) => {
              if (res && res.length > 0) {
                res.forEach((candidate) => {
                  if (candidate.errorMessage === "success") {
                    this.$message.success(`Move ${candidate.fullName} ${candidate.errorMessage}`, 1);
                  } else {
                    this.$message.error(`Move ${candidate.fullName} ${candidate.errorMessage}`, 1);
                  }
                });
              }
              console.log("🚀 ~ file: RequestDetail.vue ~ line 214 ~ .then ~ res", res);
              this.activeKey = key;
            })
            .catch((err) => {
              this.$message.error(err.message);
            })
            .finally(() => {
              this.stopLoading();
            });
        },
        cancelText: "Cancel",
      });
    },
    formatState(item) {
      if (item === "qualify") {
        return "applicant";
      } else if (item === "confirm") {
        return "qualify";
      } else if (item === "failed") {
        return "rejected";
      } else return item;
    },
    checkEmptyCandidate() {
      return !this.selectedRowKeys || this.selectedRowKeys.length === 0;
    },
    onToolboxAction(key) {
      if (key === ACTION_KEYS.BACK) {
        this.$router.push("/rts/requests");
      }
      if (key === ACTION_KEYS.CALENDAR) {
        if (this.activeKey === TAB_KEYS.INTERVIEW) {
          this.toggleInterview();
        }
      }
      if (key === ACTION_KEYS.ASSIGNEE) {
        this.getAssigneeList();
      }
      if (key === ACTION_KEYS.DELETE) {
        this.$message.success("Delete candidate successfully");
        this.activeKey = TAB_KEYS.SOURCE;
      }
    },
    onFilterAssignee(key) {
      this.assigneeName = key;
    },
    getTabKey() {
      var urlStr = window.location.href;
      let bi = urlStr.indexOf("#");
      if (bi < 1) return null;
      let newUrlStr = urlStr.substring(0, bi - 1) + urlStr.substring(bi + 1, urlStr.length);
      let url = new URL(newUrlStr);
      return url.searchParams.get("tabKey");
    },
  },
  beforeDestroy() {
    this.resetState();
  },
};
</script>

<style lang="scss">
#app .request-detail {
  #genenal-info,
  #requests-detail-interviews,
  #request-detail-candidate {
    background-color: white;
    padding-bottom: 100px;
  }

  max-height: 120vh;
  overflow: hidden;
}

.request-detail {
  margin-top: 70px !important;

  .ant-tabs-nav {
    width: 100%;

    > div {
      display: flex;
      width: 100%;
      flex-wrap: wrap;

      .ant-tabs-tab {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    //.ant-tabs-tab {
    //  display: flex;
    //  align-items: center;
    //}
  }

  //override

  .ant-tabs-tabpane {
    background: #ffffff;
    padding: 25px 15px 0 18px;
  }

  .ant-tabs-bar .ant-tabs-tab::after {
    border-right: unset;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .ant-tabs-bar {
    margin: 0;
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    border-bottom: none;
    background: #dfe1e6;
    border-color: #e8e8e8;
    border-radius: unset;
    margin-right: 2px;
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    color: #42526e;
    background: #fff;
    border-bottom: 1px solid #fff;
    border: 1px solid #e8e8e8;
    border-bottom: none;
  }

  .ant-badge-count {
    background: #ffffff;
    color: #172b4d;
    top: 4px;
  }

  .ant-tabs-tab:hover {
    color: #0059e0;
  }

  .ant-tabs-tab.ant-tabs-tab-active .tab-item--badge {
    background: #172b4d;
    color: white;
  }

  .ant-tabs-tab .tab-item--badge {
    background: white;
    color: #172b4d;
  }
}
</style>
