<template>
    <div>
        <a-row>
            <table >
                <tr class="payroll-onsite-tr">
                <th style="padding-left: 6px;width: 213px;">Staff</th>
                <th style=" width: 109px;text-align: center;">Account</th>
                <th style=" width: 148px;text-align: center;">Role/Department</th>
                <th style=" width: 151px;text-align: center;">Project</th>
                <th style="width: 130px;text-align: center;padding-left: 20px;">Project Code</th>
                <th style=" width: 119px;text-align: center;">Fixed Income</th>
                <th style=" width: 102px;text-align: center;">Probationary Salary</th>
                <th style=" width: 70px;text-align: center;">Working Days</th>
                <th style=" width: 72px;text-align: center;">Working Hours</th>
                <th style=" width: 105px;text-align: center;">Tiền công/1h chính thức</th>
                <th style=" width: 117px;text-align: center;">Probationary Salary/Hour</th>
                <th style=" width: 102px;text-align: center;">Tổng lương Overtime</th>
                <th style=" width: 97px;text-align: center;">Tổng công hỗ trợ</th>
                <th style=" width: 98px;text-align: center;">Lương vượt quá</th>
                <th style=" width: 51px;text-align: center;">KPI Bonus</th>
                <th style=" width: 82px;text-align: center;">Tax-Exempt Incomes</th>
                <th style=" width: 113px;text-align: center;">Tổng lương và Hỗ Trợ OT</th>
                </tr>
            </table>
        </a-row>
        <a-row class="payroll-onsite-add-row-table">
            <a-col :span="9">TOTAL</a-col>
            <a-col :span="2" style="textalign:center;padding-left:70px;">{{total.fixed_income}}</a-col>
            <a-col :span="6" style="padding-left: 33px;">{{total.probationary_salary}}</a-col>
            <a-col :span="2" style="padding-left: 33px;margin-right: -22px;">{{total.total_salary_overtime}}</a-col>
            <a-col :span="1" style="margin-right: 19px;">{{total.tong_cong_ho_tro}}</a-col>
            <a-col :span="1">{{total.luong_vuot_qua}}</a-col>
            <a-col :span="1" style="padding-left: 11px;">{{total.kpi_bonus}}</a-col>
            <a-col :span="1" style="margin-left: -14px;margin-right: 17px;">{{total.tax_exempt_incomes}}</a-col>
            <a-col :span="1">{{total.tong_luong_ho_tro_ot}}</a-col>
        </a-row>
        <a-table
            class="custom-table"
            size="middle"
            :columns="columns"
            :data-source="mockData"
            :pagination="false"
            :showHeader="false"
            :customRow="customRow"
        >
            <span slot="display_name" slot-scope="text, record">
                <div>{{ record.name }}</div>
                <div>{{record.code}}</div>
            </span>
            <span slot="role_department" slot-scope="text, record">
                <div>{{record.role}}</div>
                <div>{{record.department}}</div>
            </span>
            <span slot="project" slot-scope="text, record">
                {{record.project ? record.project.project_name : ''}}
            </span>
            <span slot="project_code" slot-scope="text, record">
                {{record.project ? record.project.project_code : ''}}
            </span>
            <span slot="kpi_bonus" slot-scope="text, record">
                {{record.kpi_bonus ? record.kpi_bonus : '--'}}
            </span>
            <template slot="footer">
                <div>
                <a-pagination
                    v-model="currentPage"
                    :total="total_items"
                    :show-total="
                    (total, range) => `${range[0]}-${range[1]} of ${total} items`
                    "
                    :page-size="pageSize"
                    show-size-changer
                    @change="onChangePage"
                    @showSizeChange="onShowSizeChange"
                />
                </div>
            </template>
        </a-table>
        <a-drawer
            v-if="recordDetail !== null"
            class="payroll-overtime-drawer"
            placement="right"
            width="45%"
            title="Payroll Overtime Detail"
            :visible="visibleDrawer"
            :closable="false"
            @close="onClose"
        >
            <PayrollOvertimeDetail
                :data="recordDetail"
                :timesheetUser="timesheetUser"
                :timesheetInfo="timesheetInfo"
                :formatDate="formatDate"
            />
        </a-drawer>
    </div>
</template>
<script type="script" lang="js" src="./PayrollOvertime.js" />
