<template>
  <div class="p15">
    <div class="content-details">
      <a-row>
        <a-col class="title-drawer" :md="10" :xs="10"> Request Detail </a-col>
        <a-col
          :md="14"
          :xs="14"
          class="taE"
          v-if="
            !dataSource.checkDate &&
            dataSource.status_type.toUpperCase() !== 'CANCELLED' &&
            dataSource.status_type.toUpperCase() !== 'REJECTED' ||
            (roles.includes(Role.HR) && (dataSource.reason_type_name==='Working From Home'))
          "
        >
          <a-button
            class="req-color-withdraw"
            @click="onClickWithDraw(dataSource)"
            v-if="
              checkVisible(dataSource) &&
              checkRequestDate(data) &&
              !checkDisable(dataSource)
            "
            >Withdraw</a-button
          >
          <a-button
            class="req-color-reject"
            @click="onClickReject(dataSource)"
            v-if="
              userInfo.userName === dataSource.approver.user_name &&
              checkRequestDate(dataSource) &&
              !checkDisable(dataSource) ||
              (roles.includes(Role.HR) && (dataSource.reason_type_name==='Working From Home'))
            "
            >Reject</a-button
          >
          <a-button
            class="req-color-approve"
            @click="onClickApprove(dataSource)"
            v-if="
              userInfo.userName === dataSource.approver.user_name &&
              checkRequestDate(dataSource) &&
              !checkDisable(dataSource) &&
              !checkDisableApprove(dataSource)
            "
            >Approve</a-button
          >
        </a-col>
      </a-row>
      <a-divider />
      <a-form
        id="request-detail-form"
        v-bind="formItemLayout"
        :form="form"
        labelAlign="left"
        :data-source="dataSource"
      >
        <a-form-item label="Request">
          <span class="ant-form-text">
            {{ dataSource.request_type_name }}
          </span>
        </a-form-item>
        <a-form-item label="Staff">
          <span class="ant-form-text">
            {{ dataSource.employee.name }} -
            {{
              dataSource.employee.department_name
                ? dataSource.employee.department_name.nameEn
                : ""
            }}
          </span>
        </a-form-item>
        <a-form-item label="Type">
          <span class="ant-form-text">
            {{ dataSource.reason_type_name }} /
            {{ dataSource.reason_type_name_vi }}
          </span>
        </a-form-item>
        <a-form-item label="Salary">
          <span class="ant-form-text">
            {{ dataSource.salary ? dataSource.salary : "" }}
          </span>
        </a-form-item>
        <!-- <a-form-item label="Reason">
          <span class="ant-form-text">
            {{ data.reason_type_name_vi}}
          </span>
        </a-form-item> -->
        <a-form-item label="From Date">
          <span class="ant-form-text">
            {{ formatDate(dataSource.start_date) }} -
            {{ dataSource.start_shift }}
          </span>
        </a-form-item>
        <a-form-item label="To Date">
          <span class="ant-form-text">
            {{ formatDate(dataSource.end_date) }} - {{ dataSource.end_shift }}
            <!-- {{formatDate(data.end_date)}} - Time {{data.end_time.slice(0, 5)}} -->
          </span>
        </a-form-item>
        <a-form-item label="Duration (Day)">
          <span class="ant-form-text">
            <!-- {{ (Math.round(dataSource.quantity_in_hours * 10) / 10).toFixed(1) }} -->
            {{ dataSource.quantity_in_days }}
          </span>
        </a-form-item>
        <a-form-item label="Status">
          <a-tag
            class="ant-form-text"
            :color="statusColor[dataSource.status_type]"
          >
            {{ dataSource.status_type }}
          </a-tag>
        </a-form-item>
        <a-form-item label="Approver">
          <a-row>
            <a-col :span="24" class="ant-form-text">
              <a-col :span="19" v-if="!visibleDelegate">{{
                this.dataSource.assignee
              }}</a-col>
              <a-col
                :span="19"
                v-if="visibleDelegate"
                class="width-delegate-search"
              >
                <a-select
                  showSearch
                  allowClear
                  class="select"
                  v-model="delegator"
                  placeholder="Search by staff name, ID "
                  @search="(value) => onSearchDelegator(value)"
                  @change="(value) => onChangeValue(value)"
                  :not-found-content="fetching ? undefined : null"
                  :default-active-first-option="true"
                  :filter-option="false"
                >
                  <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                  <a-select-option
                    v-for="item in employeeList"
                    :key="item.value"
                    :value="
                      JSON.stringify({
                        user_name: item.value,
                        id: item.id,
                        label: item.label,
                        department: item.department,
                      })
                    "
                  >
                    {{ item.label + " (" + item.department + ")" }}
                  </a-select-option>
                </a-select>
              </a-col>
              <a-col :span="5">
                <a-button
                  class="request-btn-delegate"
                  @click="handleDelegate"
                  v-if="
                    !visibleDelegate &&
                    !checkDisable(data) &&
                    !checkDisableApprove(data) &&
                    (roles.includes(Role.GROUP_LEAD) ||
                      roles.includes(Role.DULEAD))
                  "
                  >Delegate</a-button
                >
                <span v-if="visibleDelegate">
                  <a-button
                    shape="circle"
                    size="small"
                    class="req-close-delegate"
                    @click="handCancelDelegate"
                  >
                    <a-icon type="close" />
                  </a-button>
                </span>
                <span v-if="visibleDelegate">
                  <a-button
                    shape="circle"
                    size="small"
                    class="req-check-delegate"
                    @click="handleSaveDelegate"
                  >
                    <a-icon type="check" />
                  </a-button>
                </span>
              </a-col>
            </a-col>
          </a-row>
        </a-form-item>
        <a-form-item label="Description">
          <span class="ant-form-text">
            {{ dataSource.description ? dataSource.description : "" }}
          </span>
        </a-form-item>
        <a-form-item label="CC">
          <span class="ant-form-text">
            <div
              :style="
                dataSource.mail.length <= 6
                  ? {}
                  : { overflowY: 'scroll', height: '75px' }
              "
            >
              <span
                class="request-cc"
                v-for="(item, index) in dataSource.mail"
                :key="index"
              >
                {{ dataSource.mail[index].name }} -
                {{
                  dataSource.mail[index].department_name
                    ? dataSource.mail[index].department_name.nameEn
                    : ""
                }}
                <span v-if="index !== dataSource.mail.length - 1">, </span>
                <span v-else>.</span>
              </span>
            </div>
          </span>
        </a-form-item>
        <a-form-item label="Reason for Rejection">
          <span class="ant-form-text">
            {{
              dataSource.reasons_for_rejection
                ? dataSource.reasons_for_rejection
                : ""
            }}
          </span>
        </a-form-item>
        <a-form-item label="Attact File">
          <a-upload
             name="file"
            :multiple="true"
            :show-upload-list="true"
            :file-list="fileList"
          >
            <!-- <a-button type="primary" icon="paper-clip">Attach File</a-button>
            <span class="ml30">0 files selected.</span> -->
          </a-upload>
          <a-button key="submit" type="primary" @click="handleDownload" v-if="isAvaiableToDownLoad" >Download</a-button>
        </a-form-item>
        <a-divider class="margin-t-drawer" />
        <a-row class="row-drawer">
          <a-col class="font-drawer text-align-drawer margin-t-drawer">
            <a-row
              >Last modified time:
              {{
                "  " +
                (data.last_modified_date
                  ? dataSource.last_modified_date
                  : dataSource.created_date)
              }}</a-row
            >
            <a-row>
              Created by: {{ dataSource.employee.name }} -
              {{ dataSource.employee.department_name.nameEn }}
            </a-row>
          </a-col>
        </a-row>
        <template>
          <a-modal
            title="Reasons For Rejection"
            :maskClosable="false"
            :visible="visibleModalReject"
            ok-text="Comment"
            @ok="handleOk"
            @cancel="handleCancel"
          >
            <a-textarea
              allow-clear
              v-model="reasonReject"
              :auto-size="{ minRows: 3, maxRows: 5 }"
            />
          </a-modal>
        </template>
      </a-form>
    </div>
  </div>
</template>
<script type="script" lang="js" src="./RequestDetail.js" />
