<template>
  <div>
    <a-table
      class="custom-table mt20 lone"
      :pagination="false"
      :bordered="true"
      :scroll="scrollAble"
      :columns="columns"
      :data-source="dataSource"
      :row-selection="{
        selectedRowKeys: selectedRowKeys,
        onChange: onSelectChange,
        columnWidth: this.checkboxWidth,
      }"
      :customRow="customRow"
      @change="handleChangeSort"
    >
      <template v-for="col in columns" :slot="col.dataIndex">
        <div :key="col.dataIndex" :style="{ color: '#777' }">
          <div class="cursor-pointer ">
            <div class="title-no-bold">
              {{ col.dataIndex | formatDayOfWeek }}
            </div>
            <div class="title-bold">
              {{ col.dataIndex | formatDayMonth }}
            </div>
          </div>
        </div>
      </template>
      <template
        v-for="col in columns"
        :slot="col.dataIndex"
        slot-scope="text, record"
      >
        <div
          class="cursor-pointer"
          :style="{ color: '#777', minHeight: '20px' }"
          :key="col.dataIndex"
          @click="modifyCell(col, record)"
        >
          <div v-if="col.dataIndex === 'staff'">
            <div class="title-bold">{{ text }}</div>
            <div v-if="changeOrNot" class="title-no-bold">
              ({{ record.user_name }})
            </div>
            <div v-else class="title-no-bold">
              {{
                record.department_name ? record.department_name.nameEn : ""
              }}-{{ record.code }}
            </div>
          </div>
          <div v-else-if="col.dataIndex === 'role'">
            <div class="title-bold">
              {{ record.position_title_en }}
            </div>
            <div class="title-no-bold">
              {{ record.department_name ? record.department_name.nameEn : "" }}
            </div>
          </div>
          <span
            v-else-if="record[col.dataIndex] && record[col.dataIndex].value"
            @mouseover="(e) => handleHoverTimeSheet(e, record[col.dataIndex])"
            @mouseleave="mouseleaveTimesheet"
            style="width: 100%; display: block;height: 100%;"
            :class="[
              'color-' + record[col.dataIndex].value,
              record[col.dataIndex].history ? 'edited' : '',
            ]"
          >
            {{ record[col.dataIndex].value }}
          </span>
          <span v-else class="no-data"></span>
        </div>
      </template>
    </a-table>
    <a-row class="mt20">
      <a-col :md="24">
        <div class="float-right">
          <a-pagination
            v-if="dataSource && dataSource.length > 0"
            v-model="configPage.currentPage"
            :page-size.sync="configPage.pageSize"
            :total="configPage.totalElement"
            :show-total="
              (total, range) => `${range[0]}-${range[1]} of ${total} items`
            "
            show-size-changer
            @change="onChangePage"
            @showSizeChange="onChangePage"
          />
        </div>
      </a-col>
    </a-row>
    <a-modal
      :width="500"
      :maskClosable="false"
      v-model="visibleModal"
      :title="titleModal"
      on-ok="handleSubmitModal"
      @cancel="resetFormUpdate"
    >
      <template slot="footer">
        <a-row class="p10">
          <a-col :md="12">
            <div class="float-left">
              <a-button key="back" @click="handleCancelModal">
                Cancel
              </a-button>
            </div>
          </a-col>
          <a-col :md="12">
            <div class="float-right">
              <a-button
                key="submit"
                type="primary"
                :loading="loading"
                @click="handleSubmitModal"
              >
                Save
              </a-button>
            </div>
          </a-col>
        </a-row>
      </template>
      <a-row class="mb10">
        <a-col :md="24">
          <a-radio-group
            v-if="modifyKey !== 'cell'"
            v-model="formUpdate.isAbnormalCase"
          >
            <div class="mb5">
              <a-radio :value="true">Abnormal case</a-radio>
            </div>
            <div>
              <a-radio :value="false">All value</a-radio>
            </div>
          </a-radio-group>
        </a-col>
      </a-row>
      <a-row v-if="modifyKey === 'row'" class="mb10">
        <a-col :md="24">
          <div class="mb5 mt5" style="font-size: 14px">
            <label>Select date</label>
          </div>
          <span class="err" v-if="!formUpdate.date && formUpdate.date === ''"
            >Date is required</span
          >
          <div>
            <a-range-picker
              v-model="formUpdate.date"
              :disabled-date="disabledDate"
              style="width: 100%"
            />
          </div>
        </a-col>
      </a-row>
      <a-row class="mb10">
        <a-col :md="24" class="mb10">
          <div class="mb5" style="font-size: 14px"><label>Value</label></div>
          <div>
            <span
              class="err"
              v-if="!formUpdate.isValid && formUpdate.value === ''"
              >Value is required</span
            >
            <a-select style="width: 100%" v-model="formUpdate.value">
              <a-select-option
                v-for="item in ruleIntegration"
                :key="item.notation"
                :value="item.notation"
              >
                <span
                  style="min-height: 19px;display:block"
                  :class="'color-' + item.notation"
                  >{{ item.notation }}</span
                >
              </a-select-option>
            </a-select>
          </div>
        </a-col>
        <a-col :md="24">
          <div class="mb5" style="font-size: 14px">Comment</div>
          <a-textarea
            :class="{ 'border-error': !isValidComment }"
            v-model="formUpdate.commentReason"
            @change="(e) => (isValidComment = validRequired(e.target.value))"
            @blur="(e) => (isValidComment = validRequired(e.target.value))"
            :rows="6"
            :maxLength="500"
          />
          <div class="float-right">
            <span
              >{{
                formUpdate.commentReason ? formUpdate.commentReason.length : 0
              }}/500</span
            >
          </div>
          <div v-if="!isValidComment" style="color: #f5222d">
            Comment field is required
          </div>
        </a-col>
      </a-row>
    </a-modal>
    <ContextModifyTable
      :config="configModify"
      :onHandleRightClickRow="onHandleRightClickRow"
      :onHandleRightClickCell="onHandleRightClickCell"
    />
    <div
      id="tooltip-timesheet"
      :class="[
        'tooltip-timesheet',
        { 'timesheet-total': tooltipTimesheet.config.viewMode === 'total' },
      ]"
      v-click-outside="outside"
      @mouseover="() => (this.tooltipTimesheet.config.isVisible = true)"
      @mouseleave="mouseleaveTimesheet"
      :style="{
        left: tooltipTimesheet.config.x + 'px',
        top: tooltipTimesheet.config.y + 'px',
        visibility: tooltipTimesheet.config.isVisible ? 'visible' : 'hidden',
      }"
    >
      <template v-if="tooltipTimesheet.config.viewMode === 'today'">
        <a-row v-for="item in tooltipTimesheet.data" :key="item.key">
          <a-col :md="8" class="title-no-bold mb8">{{ item.label }}</a-col>
          <a-col
            :md="16"
            style="font-size: 12px; word-wrap: break-word;"
            v-html="
              tooltipTimesheet.dataDetail
                ? tooltipTimesheet.dataDetail[item.key]
                : ''
            "
          ></a-col>
        </a-row>
      </template>
      <a-spin :spinning="loadingTotalTimesheet" v-else>
        <div>Total {{ tooltipTimesheet.total }}</div>
      </a-spin>
    </div>
  </div>
</template>
<script type="script" lang="js" src="./TimesheetViewHR.js" />

<style>
.ant-table colgroup > col.ant-table-selection-col {
  width: 44px;
}
.no-data-col {
  background-color: #8c8c8c;
}
.edited-col {
  background-color: rgb(245 34 45 / 7%);
}
body {
  position: unset !important;
  
}
</style>
