<template>
  <div class="container">
    <div class="content-job">
      <div class="content-job-header">
        <p class="name-job"  @click="clickToDetail(moreJob.id)">{{ moreJob.name }}</p>
        <p class="job-position">{{ moreJob.position }}</p>
      </div>
      <div class="content-job-right" @click="clickToDetail(moreJob.id)">
        <div class="content-job-right-detail">
          <div>
            <p class="size-Text">
              <img src="../../assets/images/location.svg" class="custom-icon-feature"> {{ moreJob.location }}
            </p>
            <p class="size-Text">
              <img src="../../assets/images/calendar.svg" class="custom-icon-feature"> {{ formatDate(moreJob.date) }}
            </p>
            <p class="size-Text">
              <img src="../../assets/images/user.svg" class="custom-icon-feature"> {{ moreJob.totalUser }} applicants
            </p>
          </div>
          <div>
            <p class="size-Text">
              <img src="../../assets/images/bag.svg" class="custom-icon-feature"> {{ moreJob.workingType }}
            </p>
            <p class="size-Text">
              <a-icon type="star" theme="filled" class="custom-icon-feature"/> {{ moreJob.experience }} years experience
            </p>
            <p class="size-Text">
              <img src="../../assets/images/coins.svg" class="custom-icon-feature"> {{moreJob.salary }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <CreateCvUploadModel
      :visibleModal="isShowUpLoadCVModal"
      :data="moreJob"
      @onCancelPopup="onCancelPopup"
    />
  </div>
</template>

<script>
import CreateCvUploadModel from "../cv/CreateCvUploadModel";
import moment from "moment";
import {formatNumberToVND} from "../commons/commons";
import { mapActions } from "vuex";

export default {
  components: {
    CreateCvUploadModel,
  },
  props: {
    moreJob: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isShowUpLoadCVModal: false,
      formatNumberToVND
    };
  },
  methods: {
    ...mapActions({
      changeCreateStatus: "rtsJobPostingDetail/changeCreateStatus",
    }),
    formatDate(date) {
      return moment(date).format("DD/MM/YYYY");
    },
    openUploadCV() {
      this.changeCreateStatus("None");
      this.isShowUpLoadCVModal = true;
    },
    onCancelPopup() {
      this.isShowUpLoadCVModal = false;
    },
    beforeRouteUpdate(to, from, next) {
      next();
    },
    clickToDetail(jobId) {
      if (!jobId && jobId !== 0) return;
      this.$router.push(`/rts/job-posting/detail/${jobId}`).catch(() => {});
      this.$router.go(0);
    },

  },
};
</script>

<style lang="scss" scoped>
.container {
  width: 360px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 0;
  border: 1px solid #ccc;
  text-align: left;
}
.content-job {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content-job-left {
  width: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-apply {
  color: #fff;
  background-color: #0066b3;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 11px;
  font-weight: 450;
  cursor: pointer;
}
.content-job-right {
  display: flex;
  padding: 15px 25px 15px 25px;
}
.name-job {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 0;
}
.job-position {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 9px;
}
.content-job-right-detail {
  // display: flex;
  min-width: 300px;
  // justify-content: space-between;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  margin-bottom: 0px;
}
.size-Text {
  font-size: 13px;
  color: #555555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-weight: 400;
}
.content-job-header {
  background-color: #1D99D6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px 25px 0px 25px;
}
.icon {
  margin-right: 5px !important;
  display: inline-block;
}
.custom-icon-feature {
  width: 12px;
  margin: 5px;
  filter: invert(14%) sepia(47%) saturate(13%) hue-rotate(49deg) brightness(97%) contrast(85%);
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 340px;
  }
}
</style>>
