<template>
  <div class="base-table">
    <a-table
        :row-selection="{
        selectedRowKeys: selectedRowKeys,
        selectedRow: selectedRow,
        onChange: onSelectChange,
      }"
        bordered
        :columns="columns"
        :data-source="data"
        :row-key="record => record.id"
        :pagination="false"
        :expandIconAsCell="false"
        :expandIconColumnIndex="1"
    >

      <template v-for="item in Object.keys(this.$scopedSlots)" :slot="item" slot-scope="text, record">
        <slot :name="item" :item="record">
        </slot>
      </template>

      <template slot="action" slot-scope="text, record">
        <RequestButtonDropdown
            :records="[record]"
            :actions="actions"
            permissionType="single"
            @onClick="emitAction"
        >
          <template v-slot:toggleButton>
            <a-icon class="black font-lg" type="more"/>
          </template>
        </RequestButtonDropdown>
      </template>
      <template slot="footer">
        <div>
          <a-pagination
              :current="currentPage"
              :total="total_items"
              :page-size="pageSize"
              :show-total="onShowTotal"
              @change="onChangePage"
              showSizeChanger
              @showSizeChange="onShowSizeChange"
          />
        </div>
      </template>
    </a-table>
  </div>
</template>
<script>

import RequestButtonDropdown from "../requests/RequestButtonDropdown";


export default {
  components: {
    RequestButtonDropdown,
  },
  props: {
    data: Array,
    columns: Array,
    innerColumns: Array,
    actions: Array,
    slots: Array,
    pageSize: Number,
    currentPage: Number,
    total_items: Number,
  },
  data() {
    return {
      loading: false,
    };
  },
  computed: {
    selectedRow: {
      get() {
        return this.$store.state.rtsApplication.selectedRow
      },
      set(newVal) {
        this.$store.commit('rtsApplication/SET_SELECTED_ROW', newVal)
      }
    },
    selectedRowKeys() {
      return this.selectedRow.map(item => item.id)
    }
  },
  methods: {
    start() {
      this.loading = true;
      // ajax request after empty completing
      setTimeout(() => {
        this.loading = false;
      }, 1000);
    },
    emitAction(payload) {
      this.$emit("onAction", {
        data: payload.data,
        type: payload.type
      })
    },
    emitInnerTableAction(payload) {
      this.$emit("onInnerTableAction", {
        data: payload.data,
        type: payload.type
      })
    },
    onChangePage(offset, limit) {
      this.$emit("onChangePage", {offset, limit});
    },
    onShowSizeChange(offset, limit) {
      this.$emit("onChangePage", {offset, limit});
    },
    onShowTotal(total, range) {
      return `${range[0]}-${range[1]} of ${total} items`;
    },
    onSelectChange(selectedRowKeys, selectedRow) {
      this.selectedRow = selectedRow;
    },

  },
};
</script>

<style lang="scss">
.base-table {
  background: #ffffff;

  tr, td, .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }

  .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }

  .ant-table-thead > tr > th {
    background: #eaeaea;
  }

  .ant-table-bordered .ant-table-thead > tr > th,
  .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: none;
  }

  .ant-table-bordered .ant-table-header > table,
  .ant-table-bordered .ant-table-body > table,
  .ant-table-bordered .ant-table-fixed-left table,
  .ant-table-bordered .ant-table-fixed-right table {
    border: 1px solid $border-color-gray;
  }

  .ant-pagination-item-active {
    background: $pagination-color-dark-gray;
    border-color: $pagination-color-dark-gray;
  }

  .ant-pagination-item-active a {
    color: #fff;
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border: none;
  }

  .ant-table-pagination.ant-pagination {
    text-align: center;
    float: none;
  }

  .ant-table-footer {
    text-align: end;
  }

  // nested table

  .nested-table {
    .ant-spin-container {
      margin-bottom: 6px;
      margin-left: 10px;
    }

    .ant-table-thead > tr > th,.ant-table-thead > tr > th:hover {
      background: #B3D4FF;
    }
    .ant-table-body{
      background: #DEEBFF;
    }
  }

  tr.ant-table-expanded-row td > .ant-table-wrapper {
    margin-top: -10px;
  }

  .expandIcon {
    font-size: 11px;
    margin-right:5px;
  }
  tr > th:nth-child(5) .ant-table-column-title {
    width: 66px !important;
    display: block !important;
  }
}
</style>
