<template>
  <div class="setting ">
    <a-row type>
      <a-table
        class="custom-table"
        :columns="columns"
        :data-source="dataSource"
        :pagination="false"
      >
        <template
          v-for="col in columns"
          :slot="col.dataIndex"
          slot-scope="text, record"
        >
          <div :key="col.dataIndex">
            <template v-if="record.editable">
              <div>
                <a-input
                  v-if="col.type === 'text'"
                  style="margin: -5px 0"
                  :v-model="text"
                  :defaultValue="text"
                  @change="
                    (e) => handleChange(e.target.value, record, col.dataIndex)
                  "
                />
              </div>
            </template>
            <template v-else>
              <div>
                <span v-if="col.type === 'text'">
                  {{ text }}
                </span>
                <span v-if="col.type === 'fromDate'">
                  {{ formatDate(text) + " → " + formatDate(record.toDate) }}
                </span>
              </div>
            </template>
          </div>
        </template>
        <template slot="operation" slot-scope="text, record">
          <div class="editable-row-operations">
            <span v-if="record.editable">
              <a @click="() => save(record)">Save</a>
              <a-popconfirm title="Sure to cancel?" @confirm="cancel()">
                <a>Cancel</a>
              </a-popconfirm>
            </span>
            <span v-else>
              <a-button
                type="size"
                icon="edit"
                :disabled="editingKey !== ''"
                @click="() => edit(record)"
              />

              <a-popconfirm
                title="Sure to Delete?"
                :disabled="editingKey !== ''"
                @confirm="() => deleteRecord(record)"
              >
                <a-button
                  type="danger"
                  class="ml5"
                  icon="delete"
                  :disabled="editingKey !== ''"
                />
              </a-popconfirm>
            </span>
          </div>
        </template>
      </a-table>
    </a-row>
    <a-row class="mt10" v-if="currentTab === 'work_type'">
      <a-col>
        <a-button
          type="primary"
          ghost
          style="width: 300px"
          icon="plus"
          @click="handleAdd"
        >
          Add New
        </a-button>
      </a-col>
    </a-row>
  </div>
</template>
<script>
import { uuid } from "uuidv4";
import moment from "moment";
export default {
  name: "SettingTable",
  props: [
    "dataSource",
    "columns",
    "currentTab",
    "deleteData",
    "submitData",
    "cancelSubmit",
  ],
  data() {
    return {
      editingKey: "",
      isAddNewItem: false,
    };
  },
  mounted() {},
  methods: {
    handleChange(value, record, column) {
      let newData = this.dataSource;
      const target = newData.filter((item) => record.key === item.key)[0];
      if (target) {
        target[column] = value;
        this.dataSource = newData;
      }
    },

    edit(record) {
      const newData = [...this.dataSource];
      const target = newData.filter((item) => record.key === item.key)[0];
      this.editingKey = record.key;
      if (target) {
        target.editable = true;
        this.dataSource = newData;
      }
    },

    save(record) {
      const newData = [...this.dataSource];
      const target = newData.filter((item) => record.key === item.key)[0];

      if (this.isAddNewItem && target) {
        let isDelete = delete target.editable;
        if (isDelete) {
          this.dataSource = newData;
        }
      } else if (target) {
        delete target.editable;
        this.dataSource = newData;
      }

      if (this.checkValidation(target)) {
        this.isAddNewItem = false;
        this.editingKey = "";
      } else {
        this.$message.error("cannot be empty!",5);
      }
    },
    cancel() {
      this.cancelSubmit();
      this.editingKey = "";
      this.isAddNewItem = false;
    },
    deleteRecord(record) {
      const newData = [...this.dataSource];
      this.dataSource = newData.filter((item) => item.key !== record.key);
      this.deleteData(record);
    },
    handleAdd() {
      let newData = [...this.dataSource];
      let newItem = {};
      const keyNew = uuid();
      newItem.key = keyNew;
      newItem.editable = true;
      this.columns.map((item) => {
        newItem[item.dataIndex] = "";
      });
      this.editingKey = keyNew;
      this.isAddNewItem = true;
      newData.push(newItem);
      this.dataSource = newData;
      this.editingKey = "";
      newItem = {};
    },
    formatDate(date) {
      return moment(date).format("YYYY-MM-DD");
    },
    checkValidation(data) {
      let isValid = true;
      let listColNotValid = [];
      if (data) {
        Object.keys(data).map((key) => {
          if (
            data[key] === undefined ||
            data[key] === null ||
            data[key] === ""
          ) {
            listColNotValid.push(key);
            isValid = false;
          }
          return key;
        });
      }
      return isValid;
    },
  },
};
</script>

<style scoped>
.editable-row-operations a {
  margin-right: 8px;
}
</style>
