<template>
  <div class="people-block">
    <a-layout v-if="listPeople && listPeople.length > 0">
      <a-layout-content>
        <a-row>
          <a-col :md="3">
            <p class="title">Assignees:</p>
          </a-col>
          <a-col :md="20">
            <ul class="list">
              <li v-for="people in listPeople" :key="people.id" class="people-item">
                <span class="badge">{{people.quantity}}</span>{{ people.ldap }}
              </li>
            </ul>
          </a-col>
        </a-row>
      </a-layout-content>
    </a-layout>

  </div>
</template>
<script lang="js" src="./RequestDetailGeneralS6People.js">
</script>

<style scoped lang="scss">
.people-block {
  //override


  .list {
    list-style: none;
  }
  .title {
    font-size: 14px;
    font-weight: 400;
    color: #6b778c;
    line-height: 20px;
    // flex-basis: 10%;
    display: inline-block;
    margin-left: 18px;
  }
  .people-item {
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 2px 0px 8px 30px;
  }
  .badge {
    background: #6b778c;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    width: 30px;
    margin-right: 5px;
    color: white;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
</style>
