<template>
  <div  class="delegation-info">
    <a-row>
      <a-col :md="16">
        <div class="flex-search-box">
          <a-select 
            allowClear
            class="select-box" 
            mode="multiple"
            placeholder="Search by Member " 
            :value="searchStaff"
            @change="onChangeSearchStaff"
            @search="onSearchStaff"
            :not-found-content="fetching ? undefined : null"
             :maxTagCount="1"
            :default-active-first-option="false"
            :filter-option="false"  
          >
              <a-spin v-if="fetching" slot="notFoundContent" size="small" />
              <a-select-option v-for="(item, index) in dataOptionFilterStaff" :key="index" :value="item.user_name">
                {{item.name}} ({{item.user_name}})
              </a-select-option>
          </a-select>
          <a-button class="ml10 mr10 btn-search-detail" @click="onHandleSearchStaff" icon="search" type="primary"></a-button>
          <a-button class="btn-search-detail" icon="reload" @click="onCleanFilter"></a-button>
        </div>
      </a-col>
      <a-col :md="8" >
          <div class="float-right">
            <!-- <a-button class="mr10" icon="edit" @click="onHandleEditDelegator"></a-button> -->
             <a-button ghost type="danger" icon="delete" @click="showConfirm"></a-button>
          </div>
      </a-col>
    </a-row>
    <a-divider/>
    <a-row>
      <a-col  :md="24">
        <a-table
          class="custom-table"
          :columns="smallcolumns"
          :data-source="staffInfo"
          :pagination="false"
          :row-selection="{selectedRowKeys:selectedRowKeysStaff, onChange: onSelectChangeStaff}"
        >
          <span slot="name" slot-scope="text, record">
            <div>{{ record.name }}</div>
            <div>{{ record.department }}</div>
          </span>
        </a-table>
      </a-col>
    </a-row>
  </div>
  
</template>

<script type='script' lang='js' src ='./MemberListByDelegator.js' />


<style></style>
