<template>
  <div class="overtime-management p15 mt80">
    <a-row class="pt15">
      <a-col :md="18">
        <FilterLayout
          :onSetDataFilters="onSetDataFilters"
          :datafilterDefault="filters"
          :onApplyFilters="onApplyFilters"
          :currentPage="
            roles.includes(Role.STAFF)
              ? 'overtime_management_staff'
              : 'overtime_management'
          "
        />
      </a-col>
      <a-col class="taE" :md="6">
        <a-button class="mr10" type="primary" icon="plus" v-if="!roles.includes(Role.GUEST)" @click="showModalCreate()">Add New</a-button>
        <a-button
          type="primary"
          icon="file-excel"
          @click="exportRequest"
          :disabled="isDisableExport"
        >Export to Excel</a-button>
      </a-col>
    </a-row>
    <a-divider />
    <a-table
      class="TableOverTime custom-table"
      :pagination="false"
      rowKey="id"
      :data-source="data"
      :columns="recordList"
      :customRow="customRow"
    >
      <span slot="ot_date" slot-scope="text,record">{{formatDate(record.ot_date)}}</span>
      <span
        slot="ot_time"
        slot-scope="text,record"
      >{{formatTime(record.start_time) + ' - ' +formatTime(record.end_time)}}</span>
      <span slot="ot_type" slot-scope="text,record">{{otType[record.ot_type]}}</span>
      <span slot="creator" slot-scope="text,record">{{record.creator ? record.creator.name + ' - ' + record.creator.department_name.nameEn: ''}}</span>
      <span slot="approver" slot-scope="text, record">
          <div>
            {{ record.assignee_ob && record.assignee_ob.name ? record.assignee_ob.name : 'Guest-manager'}} 
            {{ record.assignee_ob && record.assignee_ob.department_name ? '- ' + record.assignee_ob.department_name.nameEn: '' }}
          </div>
        </span>
      <span slot="status" slot-scope="text,record">
        <a-tag
          class="taC ot-ant-tag"
          @click="(e) =>
                  handleHoverStatus(
                  e,record)"
          :color="checkStatusCancelled(record) ?  statusColor['CANCELLED'] : (checkStatusPending(record) ? statusColor['PENDING'] : statusColor['DONE'])"
        >{{checkStatusCancelled(record) ? 'CANCELLED' : (checkStatusPending(record) ? `${record.pendingCounter}/${record.staff.length} PENDING`: `${record.staff.length}/${record.staff.length} DONE`)}}</a-tag>
      </span>
      <span slot="edit" slot-scope="text,record">
        <a-dropdown
          :trigger="['click']"
        >
          <a>
            <a-icon class="black font-lg" type="more" @click="handleOnClickEdit(record)" 
            v-if="!disableMoreButton(record) && (
              ((!disableApproveAll(record) || !disableRejectAll(record)) && (record.assignee_ob.user_name === userInfo.userName))
              || (roles.includes(Role.GUEST) && userInfo.userId === record.assignee) || 
              ((!disableEdit(record)) || !disableWithDraw(record)&& (record.creator.user_name === userInfo.userName)) 
              )
              "/>
          </a>
          <a-menu slot="overlay">
            <a-menu-item
            v-if="!disableApproveAll(record) && ((record.assignee_ob.user_name === userInfo.userName) || (roles.includes(Role.GUEST) && userInfo.userId === record.assignee))"
              @click="onClickApprove(record)"
            >Approve All</a-menu-item>
            <a-menu-item
            v-if="!disableRejectAll(record) && ((record.assignee_ob.user_name === userInfo.userName || (roles.includes(Role.GUEST) && userInfo.userId === record.assignee)))"
              @click="onClickReject(record)"
            >Reject All</a-menu-item>
            <a-menu-item
            v-if="!disableEdit(record) && (record.creator.user_name === userInfo.userName)"
              @click="showModalEdit"
            >Edit</a-menu-item>

            <a-menu-item
            v-if="!disableWithDraw(record)  && (record.creator.user_name === userInfo.userName)"
              @click="onClickWithDraw(record)"
            >Withdraw</a-menu-item>
          </a-menu>
        </a-dropdown>
      </span>
    </a-table>
    <template>
      <div class="taE">
        <a-pagination
          v-model="currentPage"
          :total="total_items"
          :show-total="
            (total, range) => `${range[0]}-${range[1]} of ${total} items`
          "
          :page-size="pageSize"
          show-size-changer
          @change="onChangePage"
          @showSizeChange="onShowSizeChange"
        />
      </div>
      <div
        v-if="tooltipOverTime.config.visibleShortenDetail"
        :style="{
          top: this.tooltipOverTime.config.top,
          left: this.tooltipOverTime.config.left,
          position: 'absolute',
          backgroundColor: 'white',
          boxShadow: '2px 2px 5px grey',
        }"
      >
        <a-table
          :showHeader="false"
          :pagination="false"
          rowKey="id"
          :data-source="tooltipOverTime.staff"
          :columns="hoverTable"
        >
          <span slot="staff" slot-scope="text, record">{{ record.employee.name }}</span>
          <span slot="status" slot-scope="text, record">
            <div
              id="circle"
              :style="{
                width: '15px',
                height: '15px',
                background: statusColor[record.status.toUpperCase()],
                borderRadius: '50%',
                boxShadow: '1px 1px 7px grey',
              }"
            ></div>
          </span>
        </a-table>
      </div>
    </template>
    <a-modal
      title="Reasons For Rejection"
      :maskClosable="false"
      :visible="visibleModalReject"
      @ok="handleOk()"
      @cancel="handleCancel1"
    >
      <a-textarea allow-clear v-model="reasonReject" :auto-size="{ minRows: 3, maxRows: 5 }" />
    </a-modal>
    <template>
      <a-modal
        title="Reasons For Withdraw"
        :maskClosable="false"
        :visible="visibleModalWithdraw"
        @ok="handleWithdraw()"
        @cancel="handleCancelWithdraw()"
      >
        <a-textarea
          allow-clear
          v-model="reasonWithdraw"
          :auto-size="{ minRows: 3, maxRows: 5 }"
        />
      </a-modal>
    </template>
    <a-modal class="modalOT" v-model="visibleModal" :width="size > 600 ? 850 : 520" :maskClosable="false">
      <div class="flex-center text-center text-bold pb10">
        <h2>{{ isEdit ? "Update Overtime Request" : "Create Overtime Request" }}</h2>
        <a-divider />
      </div>
      <template>
        <a-form :form="OTForm">
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="Title"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-input
                  v-decorator="[
                    'title',
                    {
                      initialValue: this.formData.title,
                      rules: [
                        { required: true, message: 'Please input title!' },
                        {
                          max: 200,
                          message:
                            'You’ve exceeded the limit by 200 characters',
                        },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="size > 600 ? 19 : 24">
              <a-form-item
                label="Project"
                :label-col="{ span: size > 600 ? 4 : 3 }"
                :wrapper-col="{ span: size > 600 ? 18 : 20, offset: 1 }"
              >
                <a-select
                  v-decorator="[
                    'project',
                    {
                      initialValue: this.formData.project,
                      rules: [
                        { required: true, message: 'Please choose project!' },
                      ],
                    },
                  ]"
                  :allowClear="true"
                  :showSearch="true"
                  placeholder="Search by Projects"
                  :style="{ width: '100%' }"
                  :not-found-content="fetching ? undefined : null"
                  @change="(value) => onChangeProjects(value)"
                  :filter-option="filterOption"
                >
                  <a-select-option
                    class="font-size-option-select"
                    v-for="item in projectList"
                    :key="item.project_name"
                    :value="
                      JSON.stringify({
                        project_id: item.project_id,
                        project_name: item.project_name,
                        project_code: item.project_code ? item.project_code : ''
                      })
                    "
                  >{{ item.project_name }}</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col v-if="size > 600" :md="5">
              <a-form-item :wrapper-col="{ span: 18, offset: 1 }"
                :label-col="{ span: 4 }">
                <a-input
                  :disabled="true"
                  :style="{width: '160px'}"
                  placeholder="Project Code"
                  v-decorator="[
                    'projectId',
                    {
                      initialValue: this.formData.projectCode,
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row v-if="size < 600">
            <a-col :md="24">
              <a-form-item :wrapper-col="{ span: 20 }"  
                label="Project Code"
                :label-col="{ span: 4 }">
                <a-input
                  :disabled="true"
                  placeholder="Project Code"
                  v-decorator="[
                    'projectId',
                    {
                      initialValue: this.formData.projectCode,
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="12">
              <a-form-item
                label="OT Date"
                :label-col="{ span: size > 600 ? 6 : 8 }"
                :wrapper-col="{ span: size > 600 ? 16 : 15, offset: size > 600 ? 2 : 0 }"
              >
                <a-date-picker
                  @change="onChangeDate"
                  :disabled-date="disabledDate"
                  v-decorator="[
                    'OT_date',
                    {
                      initialValue: !this.formData.OT_date ? null : moment(moment(this.formData.OT_date).format('YYYY-MM-DD')) ,
                      rules: [
                        { required: true, message: 'Please choose Date!' },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
            <a-col :md="12">
              <a-form-item
                label="Category"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: size > 600 ? 16 : 18, offset: size > 600 ? 2 : 0 }"
              >
                <a-input
                  disabled
                  placeholder="Weekday/Weekend/Holiday"
                  v-decorator="[
                    'category',
                    {
                      initialValue: this.formData.category,
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row >
            <a-col :md="size > 600 ? 12 : 24">
              <a-form-item
                label="OT Type"
                :label-col="{ span: size > 600 ? 6 : 4 }"
                :wrapper-col="{ span: size > 600 ? 16 : 20, offset: size > 600 ? 2 : 0 }"
              >
                <a-select
                  v-decorator="[
                    'ot_type',
                    {
                      initialValue: this.formData.ot_type,
                      rules: [
                        { required: true, message: 'Please choose OT type!' },
                      ],
                    },
                  ]"
                >
                  <a-select-option value="OT_IN_OFFICE">OT in office</a-select-option>
                  <a-select-option value="OT_FROM_HOME">OT from home</a-select-option>
                  <a-select-option value="WORK_OUTSIDE">Work Outside</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :md="size > 600 ? 8 : 14">
              <a-form-item
                label="Time"
                :label-col="{ span: size > 600 ? 7 : 4 }"
                :wrapper-col="{ span:size > 600 ? 10 : 15, offset: size > 600 ? 5 : 3 }"
              >
                <a-time-picker
                  :minute-step="15"
                  :style="{width: '106%'}"
                  format="HH:mm"
                  placeholder="Start Time"
                  @change="onChangeStartTime"
                  v-decorator="[
                    'start_time',
                    {
                      initialValue: this.formData.start_time ? moment(this.formData.start_time) : null,
                      rules: [
                        { required: true, message: 'Please choose Time!' },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
            <a-col :md="size > 600 ? 4 : 10">
              <a-form-item >
                  <a-time-picker
                    :minute-step="15"
                    :style="{width: '106%'}"
                    :hideDisabledOptions="true"
                    :default-open-value="moment(`${this.checkTime.hours + 1}:45`, 'HH:mm')"
                    format="HH:mm"
                    :disabledHours="disabledHours"
                    :disabledMinutes="disabledMinutes"
                    placeholder="End Time"
                    @change="onChangeEndTime"
                    v-decorator="[
                      'end_time',
                      {
                        initialValue: this.formData.end_time ? moment(this.formData.end_time) : null,
                        rules: [
                          { required: true, message: 'Please choose Time!' },
                        ],
                      },
                    ]"
                  />
              </a-form-item>
            </a-col>
          </a-row>
          <!-- ================================================== -->
          <a-row style="margin-bottom: 15px" v-if="durations.duration">
            <a-col :md="{ span: 20, offset: 4 }">
              <span
                style="color: #ff0000;"
              >Duration: {{durations.duration}}(h) - Start Time : {{durations.startTime}} - End Time: {{durations.endTime}}</span>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="{ span: 20, offset: 4 }" class="mb5">
              <a-checkbox
                @change="checkOTPaid"
                :checked="isCheckedOTPaid"
              >OT paid by offset day (OT thanh toán bằng ngày nghỉ bù)</a-checkbox>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="{ span: 20, offset: 4 }" class="mb5">
              <span style="color: #ff0000; font-style: italic">
                You will have the break time 1 hour after 4 hours OT.
                <br />In weekday, the Start Time have to greater than Working
                End Time + 1
              </span>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="Staff"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-select
                  :allowClear="true"
                  :showSearch="true"
                  mode="multiple"
                  placeholder="Search by staff name, ID"
                  :style="{ width: '100%' }"
                  :not-found-content="fetching ? undefined : null"
                  @search="(value) => onSearchSameDUStaff(value, 1000)"
                  @change="(value) => onChangeStaffOT(value)"
                  :filter-option="filterOption"
                  :maxTagCount="2"
                  v-decorator="[
                    'staff',
                    {
                      initialValue: this.formData.staff,
                      rules: [
                        { required: true, message: 'Please choose staff!' },
                      ],
                    },
                  ]"
                >
                  <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                  <a-select-option
                    class="font-size-option-select"
                    v-for="item in sameDUStaff"
                    :key="item.id"
                    :value="item.id"
                  >
                    {{ item.label + " (" + item.value + ' - ' + item.department + ")"}}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="Description"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-textarea
                  placeholder="Type Here"
                  :rows="4"
                  v-decorator="[
                    'description',
                    {
                      initialValue: this.formData.description,
                      rules: [
                        {
                          required: false,
                          message: 'Please input description!',
                        },
                        {
                          max: 500,
                          message:
                            'You’ve exceeded the limit by 500 characters',
                        },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="CC"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-select
                  :allowClear="true"
                  :showSearch="true"
                  mode="multiple"
                  placeholder="Search by staff name, ID"
                  :style="{ width: '100%' }"
                  :not-found-content="fetching ? undefined : null"
                  v-model="cc_mail"
                  @search="(value) => onSearchStaff(value, 1000)"
                  @change="(value) => onChangeCCValue(value)"
                  :filter-option="filterOption"
                  :maxTagCount="3"
                >
                  <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                  <a-select-option
                    class="font-size-option-select"
                    v-for="item in employeeList"
                    :key="item.id"
                    :value="item.id"
                  >{{ item.label + " (" + item.value + ' - ' + item.department + ")" }}</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="Assignee"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <!-- <a-input disabled :value="formData.assignee" /> -->
                <a-input
                  disabled 
                  v-decorator ="[
                    'assignee',
                    {
                      initialValue: this.formData.assignee
                    }
                  ]"
                />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
      </template>
      <a-divider />
       <a-row>
        <a-col >
          <a-upload
            name="file"
            :multiple="true"
            :show-upload-list="true"
            :file-list="fileList" 
            :remove="handleRemove" 
            :download="handleDownload"
            :before-upload="beforeUpload"
          >
            <a-button type="primary" icon="paper-clip">Attach File</a-button>
            <span class="ml30">{{fileList.length}} files selected.</span>
          </a-upload>
        </a-col>
      </a-row>
      <a-row>
        <p style="font-size: 13px; margin-top: 5px">
          Maximum allowed file size is 5.0 MB
        </p>
      </a-row>
      <!-- <a-row>
        <a-button v-if="countFiles === 0" type="primary" icon="download">Download Files</a-button>
      </a-row> -->

      <template slot="footer">
        <a-row class="p10">
          <a-col :md="24">
            <div class="float-right">
              <a-button key="back" @click="handleCancel" class="mr5">Cancel</a-button>
              <a-button
                :disabled="isCreated ? false : true"
                key="submit"
                type="primary"
                @click="handleSubmit"
              >{{ isEdit ? "Save" : "Create" }}</a-button>
              <a-button key="submit" type="primary" @click="handleDownload" v-if="isAvaiableToDownLoad" >Download</a-button>
            </div>
          </a-col>
        </a-row>
      </template>
    </a-modal>
    <a-drawer
      :headerStyle="{ padding: '8px 24px' }"
      placement="right"
      :closable="false"
      :visible="visibleDrawer"
      width="35%"
      v-if="recordDetail !== null"
      @close="onClose"
      class="drawerOT"
    >
      <over-time-detail
        ref="setFields"
        :data="recordDetail"
        :columns="onColumns"
        :onClose="visibleDrawer"
        :statusColor="statusColor"
        :formatDateTime="formatDateTime"
        :formatDate="formatDate"
        :formatTime="formatTime"
        :reasonReject="reasonReject"
        :userInfo="userInfo"
        :getOTRequestList="getOTRequestList"
        :onSearchSameDUStaff="onSearchSameDUStaff"
        :assignee="assignee"
        :Role="Role"
        :otType="otType"
        :disableMoreButton='disableMoreButton'
        :disableEdit='disableEdit'
        :disableRejectAll='disableRejectAll'
        :disableApproveAll='disableApproveAll'
        :disableWithDraw='disableWithDraw'
        :checkOTDateVsCurrentDate='checkOTDateVsCurrentDate'
        :checkOTDateVsLastApprovedTimeSheet='checkOTDateVsLastApprovedTimeSheet'
        :fileList="fileList"
        :isAvaiableToDownLoad ="isAvaiableToDownLoad"
      />
    </a-drawer>
  </div>
</template>

<script type="script" lang="js" src="./OverTimeManagement.js" />
