<template>
  <a-layout class="mt98 content-wrapper">
    <a-layout-content class="mt10 content-left">
      <a-row>
        <a-col :md="16">
          <FilterLayout
            :onApplyFilters="onApplyFilters"
            :currentPage="
              !roles.includes(Role.STAFF)
                ? 'request_management'
                : 'request_management_by_staff'
            "
            :onSetDataFilters="onSetDataFilters"
            :datafilterDefault="filters"
          />
        </a-col>
        <a-col class="taE" :md="8">
          <a-button class="mr10" type="primary" icon="plus" v-if="!roles.includes(Role.GUEST)" @click="showModalCreate('single')">Add New</a-button>
           <a-button class="mr10" type="primary" icon="plus" v-if="roles.includes(Role.HR) || roles.includes(Role.ADMIN) " @click="showModalCreate('multiple')">Add Multiple Staffs</a-button>
          <a-button type="primary" icon="file-excel" :disabled="disableExport" @click="exportRequest">Export to Excel</a-button>
        </a-col>
      </a-row>
      <a-divider class="mt5 mb15" />
      <a-table
        class="custom-table"
        :columns="columns"
        :data-source="dataSource"
        :pagination="false"
        size="middle"
        :customRow="customRow"
      >
        <span slot="display_name" slot-scope="text">
          <div>{{ text }}</div>
        </span>
        <span slot="request" slot-scope="text, record">
          <div>{{ record.request_type_name }}</div>
        </span>
        <span slot="statusText" slot-scope="text, record">
          <a-tag
            :class="record.status === 0 ? 'cursor-pointer' : ''"
            :color="statusColor[record.status_type]"
            class="status-request"
          >{{ record.status_type }}</a-tag>
        </span>
        <span slot="approver" slot-scope="text, record">
          <div>
            {{ record.approver.name  === null ? 'Guest-manager' : ( record.approver.name ? record.approver.name + (record.approver.department_name ? '-' +  record.approver.department_name.nameEn: '') : '')}} 
          </div>
        </span>
        <span slot="edit" slot-scope="text, record">
          <a-dropdown
            :trigger="['click']"
            v-if="(userInfo.userName === record.employee.user_name || userInfo.userName === record.approver.user_name || (roles.includes(Role.HR) && (record.reason_type_name==='Working From Home')))"
            :hidden="record.checkDate || record.status_type === 'CANCELLED' || record.status_type === 'REJECTED'"
          >
            <a-icon class="black font-lg" type="more" @click="handleOnClickEdit(record)" />
            <a-menu slot="overlay">
              <a-menu-item
                @click="onClickApprove(record)"
                v-if="userInfo.userName === record.approver.user_name"
                :hidden="!checkApprove(record)"
              >Approve</a-menu-item>
              <a-menu-item
                @click="onClickReject(record)"
                v-if="userInfo.userName === record.approver.user_name || roles.includes(Role.HR)"
                :hidden="checkReject(record) "
              >Reject</a-menu-item>
              <a-menu-item
                @click="showModalEdit"
                v-if="userInfo.userName === record.employee.user_name && record.status_type ==='PENDING'"
              >Edit</a-menu-item>
              <a-menu-item
                @click="onClickWithDraw(record)"
                v-if="userInfo.userName === record.employee.user_name && checkWithdraw(record)"
              >Withdraw</a-menu-item>
            </a-menu>
          </a-dropdown>
        </span>
        <template slot="footer">
          <div>
            <a-pagination
              v-model="currentPage"
              :total="total_items"
              :show-total="
                (total, range) => `${range[0]}-${range[1]} of ${total} items`
              "
              :page-size="pageSize"
              show-size-changer
              @change="onChangePage"
              @showSizeChange="onShowSizeChange"
            />
          </div>
        </template>
      </a-table>
      <a-modal
        title="Reasons For Rejection"
        :maskClosable="false"
        :visible="visibleModalReject"
        @ok="handleOk()"
        @cancel="handleCancelRejectModal"
      >
        <a-textarea allow-clear v-model="reasonReject" :auto-size="{ minRows: 3, maxRows: 5 }" />
      </a-modal>
    </a-layout-content>
    <a-modal :width="(size > 600) ? 850 : 520" class="formRQ" v-model="visibleModal" :maskClosable="false">
      <div class="text-center">
        <h2>{{ isEdit ? "Update Request" : "Create Request" }}</h2>
      </div>
      <a-divider />
      <template>
        <a-form :form="formRQ">
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="Request"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-select
                  placeholder="Leave / Đơn xin nghỉ"
                  @change="(value) => onChangeRequestReasons(value)"
                  :allowClear="true"
                  v-decorator="[
                    'request_type',
                    {
                      initialValue: this.formData.request_type,
                      rules: [
                        { required: true, message: 'Please choose request !' },
                      ],
                    },
                  ]"
                >
                  <a-select-option
                    v-for="(request) in request_reasons"
                    :key="request.id"
                    :value="request.request_type_code"
                  >{{ request.request_type }} / {{request.request_type_vi}}</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="Type"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-select
                  placeholder="Annual Leave / Unpaid Leave"
                  :allowClear="true"
                  :disabled="this.formRQ.getFieldValue('request_type') || this.formData.request_type ? false : true"
                  @change="(value) => onChangeReason(value)"
                  v-decorator="[
                    'reason_type',
                    {
                      initialValue: this.formData.reason_type,
                      rules: [
                        { required: true, message: 'Please choose reason !' },
                      ],
                    },
                  ]"
                >
                  <a-select-option
                    v-for="reason in reasons"
                    :key="reason.id"
                    :value="reason.reason_type_code"
                  >{{ reason.reason_type }} / {{ reason.reason_type_vi}}</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="12">
              <a-form-item
                label="Salary"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-input :value="this.salary" disabled placeholder="Yes / No / Insurance cover " style="font-weight:600"></a-input>
              </a-form-item>
            </a-col>
            <a-col :md="12">
              <a-form-item label :label-col="{ span: 6 }" :wrapper-col="{ span: 20, offset: 2 }">
                <span
                  v-if="checkVisibleBalances(this.formRQ.getFieldValue('reason_type'))"
                  style="margin-left: 100px; font-weight: 500"
                  :wrapper-col="{ span: 16, offset: 2 }"
                >Balances:  {{  Math.round(this.remain_day*100)/100 }}  days left</span>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row v-if="!isExplanation">
            <a-col :md="12">
              <a-form-item
                label="From"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-date-picker
                  :disabledDate="disableWeekends1"
                  :allowClear="false"
                  @change="handleStartDate"
                  format="YYYY-MM-DD"
                  placeholder="Choose Date"
                  style="width: 100%"
                  v-decorator="[
                    'start_date',
                    {
                      initialValue: this.formData.start_date ? moment(moment(this.formData.start_date).format('YYYY-MM-DD')) : null,
                      rules: [
                        {
                          required: true,
                          message: 'Please choose Start Time!',
                        },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
            <a-col :md="12">
              <a-form-item
                label="To"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-date-picker
                  :disabledDate="disableWeekends2"
                  :allowClear="false"
                  :disabled="birthdayLeave"
                  @change="handleEndDate"
                  format="YYYY-MM-DD"
                  placeholder="Choose Date"
                  style="width: 100%"
                  v-decorator="[
                    'end_date',
                    {
                      initialValue: this.formData.end_date ? moment(moment(this.formData.end_date).format('YYYY-MM-DD')) : null,
                      rules: [
                        { required: true, message: 'Please choose End Time!' },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row v-if="!isExplanation">
            <a-col :md="12">
              <a-form-item
                label="Shift"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-select
                  placeholder="Morning / Afternoon"
                  :disabled="birthdayLeave"
                  @change="handleStartShift"
                  v-decorator="[
                    'start_shift',
                    {
                      initialValue: this.formData.start_shift,
                      rules: [
                        {
                          required: true,
                          message: 'Please choose Start Shift!',
                        },
                      ],
                    },
                  ]"
                >
                  <a-select-option value="MORNING">Morning</a-select-option>
                  <a-select-option
                    value="AFTERNOON"
                    :disabled="this.formData.start_date === this.formData.end_date && this.formData.end_shift === 'MORNING' "
                  >Afternoon</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :md="12">
              <a-form-item
                label="Shift"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-select
                  placeholder="Morning / Afternoon"
                  @change="handleEndShift"
                  :disabled="birthdayLeave"
                  v-decorator="[
                    'end_shift',
                    {
                      initialValue: this.formData.end_shift,
                      rules: [
                        {
                          required: true,
                          message: 'Please choose Start Shift!',
                        },
                      ],
                    },
                  ]"
                >
                  <a-select-option
                    value="MORNING" :disabled="this.formData.start_date === this.formData.end_date && this.formData.start_shift ==='AFTERNOON'"
                  >Morning</a-select-option>
                  <a-select-option value="AFTERNOON">Afternoon</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
           <a-row v-if="isExplanation">
            <a-col :md="24">
              <a-form-item
                label="Abnormal"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-select
                  :allowClear="true"
                  placeholder="Choose Abnormal Case"
                  :style="{ width: '100%' }"
                  :not-found-content="fetching ? undefined : null"
                  v-model="abnormal_list"
                  @change="(value) => onChangeAbnormal(value)"
                  :filter-option="filterOption"
                  :maxTagCount="1"
                  
                >
                  <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                  <a-select-option
                    class="font-size-option-select"
                    v-for="item in abnormalList"
                    :key="item.id"
                    :value="item.id"
                  >{{ (item.reason_type ? item.reason_type : 'Abnormal') + " (" + moment(item.abnormal_date).format('DD/MM/yyyy')  + ")" }}</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row v-if="isExplanation">
            <a-col :md="12">
              <a-form-item
                label="Date"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset:2}"
                class="taE"
              >
                <a-date-picker
                  format="YYYY-MM-DD"
                  @change="onChangeDate"
                  placeholder="Choose Date"
                  style="width: 100%"
                  v-decorator="[
                    'date',
                    {
                      initialValue: this.formData.date,
                      rules: [
                        { required: true, message: 'Please choose Date!' },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row v-if="isExplanation">
            <a-col :md="12">
              <a-form-item label="Check In" :label-col="{ span: 6}" :wrapper-col="{ span: 16, offset: 2}">
                <a-time-picker :style="{width: size > 600 ? '267px' : '151px'}"
                  format="HH:mm"
                  @change="onChangeStartTime"
                  v-decorator="[
                'start_time',
                {initialValue : this.formData.start_time, rules:[  { required: true, message: 'Time is required' }]},
              
              ]"
                />
              </a-form-item>
            </a-col>
            <a-col :md="12">
              <a-form-item label="Check Out" :label-col="{ span: 6}" :wrapper-col="{ span: 16, offset: 2}">
                <a-time-picker :style="{width: size > 600 ? '267px' : '151px'}"
                  format="HH:mm"
                  @change="onChangeEndTime"
                  v-decorator="[
                'end_time',
                {initialValue : this.formData.end_time, 
                rules:[ { required: true, message: 'Time is required' }]}
              ]"
                />
              </a-form-item>
            </a-col>
          </a-row>  

          <a-row style="margin-bottom: 15px" v-if="wasCalled">
            <a-col :md="{ span: 20, offset: 4 }">
              <span
                style="color: #ff0000;"
              >Duration: {{durations.duration}} day(s) - Start Time: {{durations.startTime}} - End Time: {{durations.endTime}}</span>
            </a-col>
          </a-row>
              <a-row>
            <a-col :md="24">
              <a-form-item
                v-if="isMultipleStaffsModal"
                label="Staff List"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-textarea
                  placeholder="User name"
                  :rows="4"
                  v-decorator="[
                    'userlist',
                    {
                      rules: [
                        {
                          required: true,
                          message: 'Please input staff list!',
                        },
                        {
                          max: 500,
                          message:
                            'You’ve exceeded the limit by 500 characters',
                        },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="Description"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-textarea
                  placeholder="Descripton"
                  :rows="4"
                  v-decorator="[
                    'description',
                    {
                      initialValue: this.formData.description,
                      rules: [
                        {
                          required: false,
                          message: 'Please input description!',
                        },
                        {
                          max: 500,
                          message:
                            'You’ve exceeded the limit by 500 characters',
                        },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="CC"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-select
                  :allowClear="true"
                  :showSearch="true"
                  mode="multiple"
                  placeholder="Search by staff name, ID"
                  :style="{ width: '100%' }"
                  :not-found-content="fetching ? undefined : null"
                  v-model="cc_mail"
                  @search="(value) => onSearchStaff(value, 1000)"
                  @change="(value) => onChangeCCValue(value)"
                  :filter-option="filterOption"
                  :maxTagCount="3"
                >
                  <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                  <a-select-option
                    class="font-size-option-select"
                    v-for="item in employeeList"
                    :key="item.id"
                    :value="item.id"
                  >{{ item.label + " (" + item.value + ' - ' + item.department + ")" }}</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="Approver"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-input
                  disabled
                  :value="approver.name === null ? 'Guest-manager' :
                    (approver.name +
                    (approver.department_name
                      ? ' - ' + approver.department_name.name
                      : ''))
                  "
                />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
      </template>
      <a-divider />
      <a-row>
        <a-col >
          <a-upload
            name="file"
            :multiple="true"
            :show-upload-list="true"
            :file-list="fileList" 
            :remove="handleRemove" 
            :download="handleDownload"
            :before-upload="beforeUpload"
          >
            <a-button type="primary" icon="paper-clip">Attach File</a-button>
            <span class="ml30">{{fileList.length}} files selected.</span>
          </a-upload>
        </a-col>
      </a-row>
      <a-row>
        <p style="font-size: 13px; margin-top: 5px">
          Maximum allowed file size is 5.0 MB
        </p>
      </a-row>
      <template slot="footer">
        <a-row class="p10">
          <a-col :md="24">
            <div class="float-right">
              <a-button key="back" @click="handleCancel" class="mr5">Cancel</a-button>
              <a-button key="submit" type="primary" @click="handleSubmit">{{isEdit ? "Save" : "Create"}}</a-button>
              <a-button key="submit" type="primary" @click="handleDownload" v-if="isAvaiableToDownLoad" >Download</a-button>
            </div>
          </a-col>
        </a-row>
      </template>
    </a-modal>
    <!-- <a-modal v-else class="formRQ" v-model="visibleModal" :maskClosable="false">
      <div class="text-center">
        <h2>{{ isEdit ? "Update Request" : "Create Request" }}</h2>
        <a-divider />
      </div>
      <template>
        <a-form :form="formRQ">
          <a-row>
            <a-col>
              <a-form-item
                label="Request"
                :label-col="{ span: 4 }"
                :wrapper-col="{ span: 20 }"
              >
                <a-select
                  class="modal-row-sel"
                  placeholder="Leave / Đơn xin nghỉ"
                  @change="(value) => onChangeRequestReasons(value)"
                  :allowClear="true"
                  v-decorator="[
                    'request_type',
                    {
                      initialValue: this.formData.request_type,
                      rules: [
                        { required: true, message: 'Please choose request !' },
                      ],
                    },
                  ]"
                >
                  <a-select-option
                    class="modal-row-sel"
                    v-for="(request) in request_reasons"
                    :key="request.id"
                    :value="request.request_type_code"
                  >{{ request.request_type }} / {{request.request_type_vi}}</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col>
              <a-form-item
                label="Type"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-select
                  class="modal-row-sel"
                  placeholder="Annual Leave / Unpaid Leave"
                  :allowClear="true"
                  :disabled="this.formRQ.getFieldValue('request_type') || this.formData.request_type ? false : true"
                  @change="(value) => onChangeReason(value)"
                  v-decorator="[
                    'reason_type',
                    {
                      initialValue: this.formData.reason_type,
                      rules: [
                        { required: true, message: 'Please choose reason !' },
                      ],
                    },
                  ]"
                >
                  <a-select-option
                    class="modal-row-sel"
                    v-for="reason in reasons"
                    :key="reason.id"
                    :value="reason.reason_type_code"
                  >{{ reason.reason_type }} / {{ reason.reason_type_vi}}</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="12" :xs="12">
              <a-form-item
                label="Salary"
                :label-col="{ span: 6}"
                :wrapper-col="{ span: 18}"
              >
                <a-input :value="this.salary" disabled placeholder="Yes / No / Insurance cover " class="modal-row-sa"></a-input>
              </a-form-item>
            </a-col>
            <a-col :md="12" :xs="12">
              <a-form-item label :label-col="{ span: 6 }" :wrapper-col="{ span: 20, offset: 2 }">
                <span
                  v-if="checkVisibleBalances(this.formRQ.getFieldValue('reason_type'))"
                  class="modal-row-ba"
                  :wrapper-col="{ span: 16, offset: 2 }"
                >Balances:  {{  Math.round(this.remain_day*100)/100 }}  days left</span>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="12" :xs="12">
              <a-form-item
                label="From"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-date-picker
                  :disabledDate="disableWeekends1"
                  @change="handleStartDate"
                  format="YYYY-MM-DD"
                  placeholder="Choose Date"
                  v-decorator="[
                    'start_date',
                    {
                      initialValue: this.formData.start_date,
                      rules: [
                        {
                          required: true,
                          message: 'Please choose Start Time!',
                        },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
            <a-col :md="12" :xs="12">
              <a-form-item
                label="To"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-date-picker
                  :disabledDate="disableWeekends2"
                  :disabled="birthdayLeave"
                  @change="handleEndDate"
                  format="YYYY-MM-DD"
                  placeholder="Choose Date"
                  v-decorator="[
                    'end_date',
                    {
                      initialValue: this.formData.end_date,
                      rules: [
                        { required: true, message: 'Please choose End Time!' },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="12" :xs="12">
              <a-form-item
                class="modal-row-sel"
                label="Shift"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-select
                class="modal-row-sel"
                  placeholder="Morning / Afternoon"
                  :disabled="birthdayLeave"
                  @change="handleStartShift"
                  v-decorator="[
                    'start_shift',
                    {
                      initialValue: this.formData.start_shift,
                      rules: [
                        {
                          required: true,
                          message: 'Please choose Start Shift!',
                        },
                      ],
                    },
                  ]"
                >
                  <a-select-option value="MORNING">Morning</a-select-option>
                  <a-select-option
                    class="modal-row-sel"
                    value="AFTERNOON"
                    :disabled="this.formData.start_date === this.formData.end_date && this.formData.end_shift === 'MORNING' "
                  >Afternoon</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :md="12" :xs="12">
              <a-form-item
                label="Shift"
                :label-col="{ span: 6 }"
                :wrapper-col="{ span: 16, offset: 2 }"
              >
                <a-select
                  class="modal-row-sel"
                  placeholder="Morning / Afternoon"
                  @change="handleEndShift"
                  :disabled="birthdayLeave"
                  v-decorator="[
                    'end_shift',
                    {
                      initialValue: this.formData.end_shift,
                      rules: [
                        {
                          required: true,
                          message: 'Please choose Start Shift!',
                        },
                      ],
                    },
                  ]"
                >
                  <a-select-option
                    class="modal-row-sel"
                    value="MORNING" :disabled="this.formData.start_date === this.formData.end_date && this.formData.start_shift ==='AFTERNOON'"
                  >Morning</a-select-option>
                  <a-select-option value="AFTERNOON">Afternoon</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row class="modal-dur" v-if="wasCalled">
            <a-col :md="{ span: 20, offset: 4 }">
              <span 
              >Duration: {{durations.duration}} day(s) - Start Time: {{durations.startTime}} - End Time: {{durations.endTime}}</span>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="Description"
                :label-col="{ span: 4 }"
                :wrapper-col="{ span: 20}"
              >
                <a-textarea
                  placeholder="Descripton"
                  :rows="2"
                  v-decorator="[
                    'description',
                    {
                      initialValue: this.formData.description,
                      rules: [
                        {
                          required: false,
                          message: 'Please input description!',
                        },
                        {
                          max: 500,
                          message:
                            'You’ve exceeded the limit by 500 characters',
                        },
                      ],
                    },
                  ]"
                />
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="CC"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-select
                  :allowClear="true"
                  :showSearch="true"
                  mode="multiple"
                  class="modal-row-sel"
                  placeholder="Search by staff name, ID"
                  :not-found-content="fetching ? undefined : null"
                  v-model="cc_mail"
                  @search="(value) => onSearchStaff(value, 1000)"
                  @change="(value) => onChangeCCValue(value)"
                  :filter-option="filterOption"
                  :maxTagCount="3"
                >
                  <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                  <a-select-option
                    class="modal-row-sel"
                    v-for="item in employeeList"
                    :key="item.id"
                    :value="item.id"
                  >{{ item.label + " (" + item.value + ' - ' + item.department + ")" }}</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col :md="24">
              <a-form-item
                label="Approver"
                :label-col="{ span: 3 }"
                :wrapper-col="{ span: 20, offset: 1 }"
              >
                <a-input
                  disabled
                  :value="approver.name + (approver.department_name ? ' - ' + approver.department_name.name : '')"
                />
              </a-form-item>
            </a-col>
          </a-row>
        </a-form>
      </template>
      <a-divider />
      <a-row>
        <a-col :xs="5">
          <a-upload
            name="file"
            :multiple="true"
            action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            :show-upload-list="false"
            @change="handleChange"
          >
            <a-button class="modal-attach-file" icon="paper-clip">Attach File</a-button>
          </a-upload>
        </a-col>
        <a-col :xs="19">
          <span class="modal-atf">0 files selected.</span>
        </a-col>
      </a-row>
      <a-row>
        <p class="modal-atm">
          Maximum allowed file size is 5.0 MB
        </p>
      </a-row>
      <template slot="footer">
        <a-row>
          <a-col :md="24" >
            <div class="float-right">
              <a-col :xs="12"> 
                <a-button class="modal-btn-ca" key="back" @click="handleCancel" >Cancel</a-button>
              </a-col>
              <a-col :xs="12">
                <a-button class="modal-btn-cr" key="submit" type="primary" @click="handleSubmit">
                  {{
                  isEdit ? "Save" : "Create"
                  }}
                </a-button>
              </a-col>
            </div>
          </a-col>
        </a-row>
      </template>
    </a-modal> -->
    <a-drawer
      placement="right"
      :visible="visibleDrawer"
      width="30%"
      :closable="false"
      :after-visible-change="afterVisibleChange"
      v-if="recordDetail !== null"
      @close="onClose"
      class="request-drawer"
    >
      <request-detail
        :data="recordDetail"
        :statusColor="statusColor"
        :formatDate="formatDate"
        :formatTime="formatTime"
        :getRequestList="getRequestList"
        :userInfo="userInfo"
        :onClickWithDraw="onClickWithDraw"
        :showModalEdit="showModalEdit"
        :onClickApprove="onClickApprove"
        :onClickReject="onClickReject"
        :Role="Role"
        :fileList="fileList"
        :isAvaiableToDownLoad = "isAvaiableToDownLoad"
      />
    </a-drawer>
  </a-layout>
</template>

<script type="script" lang="js" src="./RequestManagement.js" />
