<template>
  <div class="container-block-popularJob">
    <div class="container-block-popularJob-content">
      <PopularJob
        v-for="job in listPopularJob"
        :key="job.id"
        :popularJob="job"
        @onClick="onClick(job)"
      />
    </div>
  </div>
</template>

<script type='script' lang='js' src ='./PopularJobs.js'>
</script>

<style lang="scss" scoped>
.container-block-popularJob-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 32px;
  grid-row-gap: 22px;
}
@media only screen and (max-width: 600px) {
  .container-block-popularJob-content{
    grid-template-columns: auto ;
  }
}
</style>