<template>
  <a-layout class="mt100 pt10 pl20 content-wrapper interviews" id="interviews" :key="componentKey">
    <a-layout-content>
      <FilterInterview @onSearch="handleSearch" @onClear="handleClear"/>
      <Scheduler/>
    </a-layout-content>
  </a-layout>
</template>
<script type='script' lang='js' src="./Interview.js"></script>
<style lang="scss">
#interviews{
  padding: 10px;
  margin-top: 65px;
}
</style>