<template>
  <div class="container-block">
    <div class="container-block-content">
      <MoreJobsItem v-for="job in moreJobList" :key="job.id" :moreJob="job" class="item" />
    </div>
  </div>
</template>

<script type='script' lang='js' src ='./MoreJobsDetail.js'></script>

<style lang="scss" scoped>
.container-block-title {
  text-align: center;
}
.item {
  margin: 1rem 0;
  height: auto;
}
</style>>
