<template>
  <div class="experience" id="experience">
    <div class="wrapper">
      <ConfigurationTable
        :columns="columns"
        :data="experiences"
        :pageSize="pages.pageSize"
        :total_items="pages.total_items"
        :currentPage="pages.currentPage"
        @onEdit="onEdit"
        @onDelete="onDelete"
        @onSelect="onSelect"
        @onChangePage="onChangePage"
        @onShowSizeChange="onChangePage"
      />
    </div>
  </div>
</template>
<script type='script' lang='js' src='./Experience.js'/>
<style lang="scss">
.wrapper {
  max-width: 100%;
  margin: auto;
}
</style>
