<template>
  <a-modal :width="544" class="formJobDetail" v-model="visibleModal" :maskClosable="false" :closable="false">
    <div>
      <h2 class="model-header-cv">Assign Candidate</h2>
    </div>
    <template>
      <a-form id="upload-form-cv" :label-col="{ span: 6 }" :wrapper-col="{ span: 16 }" @submit="handleSubmit">
        <a-form-item label="Assignees">
          <VueSelect :options="hrs.map((obj) => ({ ...obj, name: obj.fullName }))" v-model="assignees" label="fullName">
          </VueSelect>
        </a-form-item>

        <div v-show="validateStatus === 'error'" class="error-message-existed">
          {{ errorMsg }}
        </div>
      </a-form>
    </template>
    <template slot="footer">
      <a-row class="pb10 pr40 mr10">
        <a-col :md="24">
          <div class="float-right submit-block">
            <a-button key="back" @click="onCancelPopup" type="dashed" class="cancel-popup">Cancel </a-button>
            <a-button
              key="submit"
              @click="handleSubmit"
              :loading="submmitLoading"
              type="primary"
              :disabled="errorMsg !== '' || submmitLoading || validateStatus === 'error'"
              >Send
            </a-button>
          </div>
        </a-col>
      </a-row>
    </template>
  </a-modal>
</template>

<script>
import { mapActions, mapState } from "vuex";
import VueSelect from "../base/VueSelect";
import { API_USER_TITLE } from "../commons/commonConstant";

function hasErrors(fieldsError) {
  return Object.keys(fieldsError).some((field) => fieldsError[field]);
}

export default {
  name: "CreateAssignModal",
  props: {
    modalData: {
      type: Object,
    },
    visibleModal: {
      type: Boolean,
    },
    isApply: {
      type: Boolean,
      default: function () {
        return true;
      },
    },
  },
  components: {
    VueSelect,
  },
  data() {
    return {
      submmitLoading: false,
      iconLoading: false,
      validateStatus: "success",
      errorMsg: "",
      hasErrors,
      assignees: "",
      hrs: [],
    };
  },
  computed: {
    ...mapState({
      userRole: (state) => state.user.userRole,
      assignStatus: (state) => state.rtsJobPostingDetail.assignStatus,
      userInfo: (state) => state.user.userInfo.userName,
      messageCreateStatusError: (state) => state.rtsJobPostingDetail.messageCreateStatusError,
    }),
  },
  watch: {
    assignStatus: function (val) {
      if (val === "None") {
        this.submmitLoading = false;
        this.validateStatus = "success";
        this.errorMsg = "";
      }
      if (val === "Done") {
        this.onCancelPopup();
      }
      if (val === "Success") {
        this.onCancelPopup();
        this.$message.success(`Assign CV is successfully.`);
        this.$store.commit("rtsJobPostingDetail/CHANGE_ASSIGN_STATUS", "None");
      }
    },
    messageCreateStatusError: function (val) {
      if (val !== "") {
        this.submmitLoading = false;
        this.validateStatus = "error";
        this.errorMsg = val;
      } else {
        this.validateStatus = "success";
        this.errorMsg = "";
      }
    },

    visibleModal: function (newVal) {
      console.log("data", this.modalData);
      if (this.modalData.jobRtsId) {
        this.getAssigneeListByTA(this.modalData.jobRtsId).then((response) => {
          this.hrs = response;

          if (this.modalData.ta) {
            const obj = this.hrs.find(
              (obj) => String(obj.username).trim().toUpperCase() === String(this.modalData.ta).trim().toUpperCase(),
            );
            this.assignees = obj || "";
          } else {
            this.assignees = "";
          }
        });
      } else {
        console.log("vao day");
        if (API_USER_TITLE.EB === this.userRole.title) {
          this.getAssigneeTALeadList().then((response) => {
            this.hrs = response;

            if (this.modalData.ta) {
              const obj = this.hrs.find(
                (obj) => String(obj.username).trim().toUpperCase() === String(this.modalData.ta).trim().toUpperCase(),
              );
              this.assignees = obj || "";
            } else {
              this.assignees = "";
            }
          });
        } else {
          this.getAssigneeList().then((response) => {
            this.hrs = response;

            if (this.modalData.ta) {
              const obj = this.hrs.find(
                (obj) => String(obj.username).trim().toUpperCase() === String(this.modalData.ta).trim().toUpperCase(),
              );
              this.assignees = obj || "";
            } else {
              this.assignees = "";
            }
          });
        }
      }
    },
  },
  created() {
    this.$store.dispatch("rtsRequest/getAssigneeList");
  },
  methods: {
    ...mapActions({
      candidateAssignCv: "rtsJobPostingDetail/candidateAssignCv",
      setMessageCreateStatus: "rtsJobPostingDetail/setMessageCreateStatus",
      getAssigneeList: "rtsRequest/getAssigneeList",
      getAssigneeListByTA: "rtsRequest/getAssigneeListByTA",
      getAssigneeTALeadList: "rtsRequest/getAssigneeTALeadList",
    }),
    async handleSubmit(storeModel) {
      storeModel.preventDefault();

      const payload = {
        id: this.modalData.candidateId,
        address: this.modalData.address ? this.modalData.address : "",
        applySince: this.modalData.applySince ? this.modalData.applySince : "",
        birthDay: this.modalData.birthDay ? this.modalData.birthDay : "",
        candidateType: this.modalData.candidateType,
        channel: this.modalData.channel ? this.modalData.channel : "",
        degree: this.modalData.degree ? this.modalData.degree : "",
        email: this.modalData.email ? this.modalData.email : "",
        experience: this.modalData.experience ? this.modalData.experience : "",
        facebook: this.modalData.facebook ? this.modalData.facebook : "",
        freelancerEmail: this.modalData.freelancerEmail ? this.modalData.freelancerEmail : "",
        freelancerMobile: this.modalData.freelancerMobile ? this.modalData.freelancerMobile : "",
        freelancerName: this.modalData.freelancerName ? this.modalData.freelancerName : "",
        fullName: this.modalData.fullName ? this.modalData.fullName : "",
        headhunterName: this.modalData.headhunterName ? this.modalData.headhunterName : "",
        introducer: this.modalData.introducer ? this.modalData.introducer : "",
        job: this.modalData.job ? this.modalData.job : "",
        language: this.modalData.language ? this.modalData.language : "",
        lastCompany: this.modalData.lastCompany ? this.modalData.lastCompany : "",
        level: this.modalData.level ? this.modalData.level : "",
        linkCv: this.modalData.linkCv ? this.modalData.linkCv : "",
        location: this.modalData.location ? this.modalData.location : "",
        phone: this.modalData.phone ? this.modalData.phone : "",
        refererUser: this.modalData.refererUser ? this.modalData.refererUser : "",
        requestId: this.modalData.requestId ? this.modalData.requestId : "",
        roleName: this.modalData.roleName ? this.modalData.roleName : "",
        school: this.modalData.school ? this.modalData.school : "",
        sex: this.modalData.sex ? this.modalData.sex : "",
        skill: this.modalData.skill ? this.modalData.skill : "",
        skypeID: this.modalData.skypeID ? this.modalData.skypeID : "",
        source: this.modalData.source ? this.modalData.source : "",
        stepRts: this.modalData.stepRts ? this.modalData.stepRts : "",
        ta: API_USER_TITLE.EB === this.userRole.title ? this.modalData.ta : this.assignees.username,
        assignees: API_USER_TITLE.EB === this.userRole.title ? this.assignees.username : this.modalData.assignees,
      };

      this.$store.commit("rtsListCandidate/SET_ASSIGN_CANDIDATE_SUCCESS", true);
      this.candidateAssignCv(payload);
    },

    onCancelPopup() {
      this.setMessageCreateStatus("");
      this.submmitLoading = false;
      this.validateStatus = "success";
      this.errorMsg = "";
      this.$emit("onCancelPopup");
    },
  },
};
</script>

<style lang="scss">
.model-header-cv {
  margin-left: 25px;
  font-size: 20px;
}
#upload-form-cv {
  margin: 25px 10px 0 25px;
  .ant-form-item-label {
    text-align: left;
  }
  .ant-upload {
    margin-top: 35px;
  }
  .ant-upload-list-item-info {
    color: #0066b3;
    font-size: 14px;
  }
  .ant-upload-list-item-card-actions {
    right: -7px;
    opacity: 0.7;
    font-size: 20px;
    top: -5px;
    .anticon {
      color: black;
      font-weight: bold;
    }
  }
  .anticon-paper-clip {
    color: #0066b3;
  }
  .ant-upload-list-text {
    position: relative;
    top: -74px;
  }
  .error-message {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: 78px;
    left: 164px;
  }
  .error-message-existed {
    color: red;
    font-size: 14px;
    position: relative;
    bottom: 3px;
    left: 117px;
  }
}
.mb100 {
  margin-bottom: 100px;
}
.submit-block {
  .btn-submit {
    background: $btn-color-blue;
    color: white;
  }
  .btn-cancel {
    background: $btn-color-red;
    color: white;
  }
}
.upload-btn {
  position: absolute;
  top: -15px;
  font-weight: bold;
}
.formJobDetail {
  .ant-modal-body {
    padding-bottom: 0;
  }
  .ant-modal-footer {
    border-top: none;
    .cancel-popup {
      border: none;
    }
  }
  .ant-form-item-label > label {
    color: #9b9b9b;
    font-size: 14px;
    top: -3px;
  }
}
</style>
