<template>
  <a-modal
      :width="544"
      class="formJobDetail"
      v-model="visibleModal"
      :maskClosable="false"
      :closable="false"
  >
    <div>
      <h2 class="model-header-cv">{{isEdit ? 'Update Candidate' : 'Create Candidate'}}</h2>
    </div>
    <template>
      <a-form
          id="upload-form-cv"
          :form="form"
          :label-col="{ span: 6 }"
          :wrapper-col="{ span: 16 }"
          @submit="handleSubmit"
      >
        <a-form-item :label="isApply ? 'Your name' : 'Full name'">
          <a-input
              placeholder="Text"
              v-decorator="[
              'fullName',
              {
                initialValue: isEdit ? fullName : '' ,
                rules: [
                  {
                    required: true,
                    message: 'Please input full name!',
                  },
                  {
                    type: 'string',
                    pattern:
                      /^[a-zA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂẾưăạảấầẩẫậắằẳẵặẹẻẽềềểếỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\W|_]+$/,
                    message: 'Input full name must be string!',
                  },
                  {
                    max: 100,
                    message: 'You’ve exceeded the limit by 100 characters',
                  },
                ],
              },
            ]"
          />
        </a-form-item>
        <a-form-item :label="isApply ? 'Your email' : 'Email'">
          <a-input
              v-show="!this.isEdit ? true : (this.isAdmin ? true : false)"
              placeholder="Text"
              v-decorator="[
              'email',
              {
                initialValue: isEdit ? email : '',
                rules: [
                  {
                    required: true,
                    message: 'Please input E-mail!',
                  },
                  {
                    type: 'email',
                    message: 'The input is not valid E-mail!',
                  },
                  {
                    max: 250,
                    message: 'You’ve exceeded the limit by 250 characters',
                  },
                ],
              },
            ]"
              @change="handleChangeEmail"
          >
          </a-input>
          <div v-if="!this.isEdit ? false : (this.isAdmin ? false : true)">{{(modalData ? modalData.email : '')}}</div>
        </a-form-item>
        <a-form-item :label="'Contact'">
          <a-select
              v-show="!this.isEdit ? true : (this.isAdmin ? true : false)"
              show-search
              @change="handleChangeContact"
              v-decorator="[
                `contactType`,
                 {
                   initialValue : contactType,
                    rules: [
                         {
                          required: true,
                          message: 'Please choose contact',
                      },
                    ],
                  },
              ]"
              placeholder="Choose contact"
          >
            <a-select-option
                v-for="item in listContact"
                :key="item.id"
                :value="item.name"
            >
              {{ item.name }}
            </a-select-option>
          </a-select>

          <div v-if="!this.isEdit ? false : (this.isAdmin ? false : true)">{{handleContactType()}}</div>
        </a-form-item>
        <a-form-item :label="isApply ? 'Your phone' : 'Phone number'" v-if="contactType === 'Mobile'">
          <a-input v-show="!this.isEdit ? true : (this.isAdmin ? true : false)"
                   placeholder="Enter phone number"
                   v-decorator="[
              'phone',
              {
                initialValue: isEdit ? modalData.phone : '',
                rules: [
                  {
                    type: 'string',
                    pattern:
                      /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im,
                    message:
                      'Please input phone number and no space between of number!',
                  },
                  {
                    required: true,
                    message: 'Please input phone number!',
                  },
                ],
              },
            ]"
                   @change="handleChangePhone"
          >
          </a-input>

          <div v-if="!this.isEdit ? false : (this.isAdmin ? false : true)">{{(modalData ? modalData.phone : '')}}</div>
        </a-form-item>
        <a-form-item :label="contactType === 'SkypeID'  ? 'SkypeId' : 'Facebook'" v-if="contactType === 'SkypeID' || contactType === 'Facebook'">
          <a-input v-show="!this.isEdit ? true : (this.isAdmin ? true : false)"
                   :placeholder="contactType === 'SkypeID' ? 'Enter Skype ID' : 'Enter Facebook url'"
                   v-decorator="[
              contactType === 'SkypeID'  ? 'skypeID' : 'Facebook',
              {
                initialValue: contactType === 'SkypeID' ? (isEdit ? modalData.skypeID : '') : (isEdit ? modalData.facebook : ''),
                rules: [
                  {
                    required: true,
                    message: `Please input contact info`,
                  },
                  {
                    max: 100,
                    message: 'You’ve exceeded the limit by 100 characters',
                  },
                ],
              },
            ]"
          />

          <div v-if="!this.isEdit ? false : (this.isAdmin ? false : true)">{{contactType === 'SkypeID' ? (modalData ? modalData.skypeID : '') : (modalData ? modalData.facebook : '')}}</div>
        </a-form-item>
        <a-form-item :label="'Group Source'">
          <a-select
              v-show="!this.isEdit ? true : (this.isAdmin ? true : false)"
              show-search
              @change="handleChangeSourceName"
              v-decorator="[
                'sourceName',
                 {
                   initialValue : sourceName.name,
                    rules: [
                         {
                          required: true,
                          message: 'Please choose group source',
                      },
                    ],
                  },
              ]"
              placeholder="Choose group source"
          >
            <a-select-option
                v-for="item in sources"
                :key="item.id"
                :value="item.name"
            >
              {{ item.name }}
            </a-select-option>
          </a-select>
          <div v-if="!this.isEdit ? false : (this.isAdmin ? false : true)">{{(sourceName ? sourceName.name : '')}}</div>
        </a-form-item>
        <a-form-item :label="'Channel'">
          <a-select
              v-show="!this.isEdit ? true : (this.isAdmin ? true : false)"
              show-search
              v-decorator="[
                 'channelName',
                 {
                    initialValue: channelName.name,
                    rules: [
                         {
                          required: true,
                          message: 'Please choose channel',
                      },
                    ],
                  },
              ]"
              placeholder="Choose group channel"
              @change="handleChangeChannel"
          >
            <a-select-option
                v-for="item in listChannels"
                :key="item.id"
                :value="item.name"
            >
              {{ item.name }}
            </a-select-option>
          </a-select>
          <div v-if="!this.isEdit ? false : (this.isAdmin ? false : true)">{{(channelName ? channelName.name : '')}}</div>
        </a-form-item>
        <a-form-item :label="'Referral'" v-if="channelName.name === 'Referral'">
          <a-input
              v-show="!this.isEdit ? true : ((this.isAdmin || this.isEB) ? true : false)"
              :placeholder="'Referral Username'"
              v-decorator="[
              'refererUser',
              {
                initialValue: modalData ? modalData.refererUser : '',
                rules: [
                  {
                    required: true,
                    message: `Please input referral username`,
                  },
                  {
                    max: 100,
                    message: 'You’ve exceeded the limit by 100 characters',
                  },
                ],
              },
            ]"
          />
          <div v-if="!this.isEdit ? false : ((this.isAdmin || this.isEB) ? false : true)">{{(modalData.refererUser ? modalData.refererUser : '')}}</div>
        </a-form-item>
        <a-form-item :label="'Headhunt'" v-if="channelName.name === 'Headhunt'">
          <a-input
              v-show="!this.isEdit ? true : (this.isAdmin ? true : false)"
              :placeholder="'Headhunt name'"
              v-decorator="[
              'headhunt',
              {
                initialValue: headhunt,
                rules: [
                  {
                    required: true,
                    message: `Please input Headhunt username`,
                  },
                  {
                    max: 100,
                    message: 'You’ve exceeded the limit by 100 characters',
                  },
                ],
              },
            ]"
          />
          <div v-if="!this.isEdit ? false : (this.isAdmin ? false : true)">{{(headhunt ? headhunt : '')}}</div>
        </a-form-item>
        <a-form-item :label="'Fullname'" v-if="channelName.name === 'Freelance'">
          <a-input
              v-show="!this.isEdit ? true : (this.isAdmin ? true : false)"
              :placeholder="'Freelance fullname'"
              v-decorator="[
              'freelanceName',
              {
                initialValue: freelanceName,
                rules: [
                  {
                    required: true,
                    message: `Please input Freelance fullname`,
                  },
                  {
                    max: 100,
                    message: 'You’ve exceeded the limit by 100 characters',
                  },
                ],
              },
            ]"
          />
          <div v-if="!this.isEdit ? false : (this.isAdmin ? false : true)">{{(freelanceName ? freelanceName : '')}}</div>
        </a-form-item>
        <a-form-item :label="'Email'" v-if="channelName.name === 'Freelance'">
          <a-input
              v-show="!this.isEdit ? true : (this.isAdmin ? true : false)"
              :placeholder="'Freelance email'"
              v-decorator="[
              'freelanceEmail',
              {
                initialValue: freelanceEmail,
                rules: [
                  {
                    required: true,
                    message: 'Please input E-mail!',
                  },
                  {
                    type: 'email',
                    message: 'The input is not valid E-mail!',
                  },
                  {
                    max: 250,
                    message: 'You’ve exceeded the limit by 250 characters',
                  },
                ],
              },
            ]"
          />
          <div v-if="!this.isEdit ? false : (this.isAdmin ? false : true)">{{(freelanceEmail ? freelanceEmail : '')}}</div>
        </a-form-item>
        <a-form-item :label="'Mobile'" v-if="channelName.name === 'Freelance'">
          <a-input
              v-show="!this.isEdit ? true : (this.isAdmin ? true : false)"
              :placeholder="'Freelance mobile'"
              v-decorator="[
              'freelanceMobile',
              {
                initialValue: freelanceMobile,
                rules: [
                  {
                    type: 'string',
                    pattern:
                      /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im,
                    message:
                      'Please input phone number and no space between of number!',
                  },
                  {
                    required: true,
                    message: 'Please input phone number!',
                  },
                ],
              },
            ]"
          />
          <div v-if="!this.isEdit ? false : (this.isAdmin ? false : true)">{{(freelanceMobile ? freelanceMobile : '')}}</div>
        </a-form-item>
        <a-form-item label="Candidate type"  v-if="!isApply">
          <a-radio-group default-value="Active" v-model="candidateType" button-style="solid">
            <a-radio-button value="Active">
              Active
            </a-radio-button>
            <a-radio-button value="Passive">
              Passive
            </a-radio-button>
          </a-radio-group>
        </a-form-item>
        <a-form-item label="Last company">
          <a-input
              placeholder="Text"
              v-decorator="[
              'lastCompany',
              { initialValue: lastCompany }
            ]"
              @change="handleChangeEmail"
          >
          </a-input>

        </a-form-item>
        <a-form-item class="custom-required-class" :label="'Skill'">
          <VueSelect
              v-model="skill"
              multiple
              label="name"
              :options="skills"
              @input="handleChangeSkill"
          />
          <div class="ant-form-explain" style="color: red;" v-if="isEmptySkill">Please choice Skills!</div>
        </a-form-item>
        <a-form-item :label="'Experiences'">
          <VueSelect :options="experiences" v-model="experience" label="name" >
          </VueSelect>
        </a-form-item>

        <a-form-item :label="isApply ? 'Your CV' : 'CV'">
          <div v-show="this.isEdit && this.urlPreview && this.isFirst ? true : false" class="ant-upload-list-item ant-upload-list-item-done ant-upload-list-item-list-type-text">
            <div class="ant-upload-list-item-info">
              <span>
                <i aria-label="icon: paper-clip" class="anticon anticon-paper-clip">
                  <svg viewBox="64 64 896 896" data-icon="paper-clip" width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false" class="">
                    <path d="M779.3 196.6c-94.2-94.2-247.6-94.2-341.7 0l-261 260.8c-1.7 1.7-2.6 4-2.6 6.4s.9 4.7 2.6 6.4l36.9 36.9a9 9 0 0 0 12.7 0l261-260.8c32.4-32.4 75.5-50.2 121.3-50.2s88.9 17.8 121.2 50.2c32.4 32.4 50.2 75.5 50.2 121.2 0 45.8-17.8 88.8-50.2 121.2l-266 265.9-43.1 43.1c-40.3 40.3-105.8 40.3-146.1 0-19.5-19.5-30.2-45.4-30.2-73s10.7-53.5 30.2-73l263.9-263.8c6.7-6.6 15.5-10.3 24.9-10.3h.1c9.4 0 18.1 3.7 24.7 10.3 6.7 6.7 10.3 15.5 10.3 24.9 0 9.3-3.7 18.1-10.3 24.7L372.4 653c-1.7 1.7-2.6 4-2.6 6.4s.9 4.7 2.6 6.4l36.9 36.9a9 9 0 0 0 12.7 0l215.6-215.6c19.9-19.9 30.8-46.3 30.8-74.4s-11-54.6-30.8-74.4c-41.1-41.1-107.9-41-149 0L463 364 224.8 602.1A172.22 172.22 0 0 0 174 724.8c0 46.3 18.1 89.8 50.8 122.5 33.9 33.8 78.3 50.7 122.7 50.7 44.4 0 88.8-16.9 122.6-50.7l309.2-309C824.8 492.7 850 432 850 367.5c.1-64.6-25.1-125.3-70.7-170.9z"></path>
                  </svg>
                </i>
                <span :title="urlPreview" class="ant-upload-list-item-name">
                  <a :href="this.baseUrl + urlPreview" target="_blank">View CV</a>
                </span>
                <span class="ant-upload-list-item-card-actions ">
                  <a title="Remove file" @click="removeFile">
                    <i aria-label="icon: delete" tabindex="-1" class="anticon anticon-delete" title="Remove file">
                      <svg viewBox="64 64 896 896" data-icon="delete" width="1em" height="1em" fill="currentColor" aria-hidden="true" focusable="false" class="">
                        <path d="M360 184h-8c4.4 0 8-3.6 8-8v8h304v-8c0 4.4 3.6 8 8 8h-8v72h72v-80c0-35.3-28.7-64-64-64H352c-35.3 0-64 28.7-64 64v80h72v-72zm504 72H160c-17.7 0-32 14.3-32 32v32c0 4.4 3.6 8 8 8h60.4l24.7 523c1.6 34.1 29.8 61 63.9 61h454c34.2 0 62.3-26.8 63.9-61l24.7-523H888c4.4 0 8-3.6 8-8v-32c0-17.7-14.3-32-32-32zM731.3 840H292.7l-24.2-512h487l-24.2 512z"></path>
                      </svg>
                    </i>
                  </a>
                </span>
              </span>
            </div>
          </div>
          <a-upload
              v-decorator="[
              'linkCv',
              {
                valuePropName: 'fileList',
                getValueFromEvent: normFile,
                rules: [
                  {
                    required: this.urlPreview ? false : true,
                    message: 'Please upload file CV required information!',
                  },
                ],
              },
            ]"
              name="file"
              method="post"
              accept="application/pdf"
              @change="handleChange"
              :customRequest="uploadFiles"
              :before-upload="beforeUpload"
          >
            <a-button
                :disabled="!isRemovedFile"
                :class="isRemovedFile ? 'upload-btn' : ''"
            >
              <a-icon type="cloud-upload" />{{
                iconLoading ? "Uploading" : "Upload"
              }}
            </a-button>
          </a-upload>
        </a-form-item>
        <div v-show="uploadErrorMessage !== ''" class="error-message">
          {{ uploadErrorMessage }}
        </div>
        <div v-show="validateStatus === 'error'" class="error-message-existed">
          {{ errorMsg }}
        </div>
      </a-form>
    </template>
    <template slot="footer">
      <a-row class="pb10 pr40 mr10">
        <a-col :md="24">
          <div class="float-right submit-block">
            <a-button
                key="back"
                @click="onCancelPopup"
                type="dashed"
                class="cancel-popup"
            >Cancel
            </a-button>
            <a-button
                key="submit"
                @click="handleSubmit"
                :loading="submmitLoading"
                type="primary"
                :disabled="
                uploadErrorMessage !== '' || errorMsg !== '' ||
                hasErrors(form.getFieldsError()) ||
                submmitLoading ||
                validateStatus === 'error'
              "
            >Send </a-button>

          </div>
        </a-col>
      </a-row>
    </template>
  </a-modal>
</template>

<script>
import { mapActions, mapState } from "vuex";
import VueSelect from "../base/VueSelect";
import moment from "moment";

function hasErrors(fieldsError) {
  return Object.keys(fieldsError).some((field) => fieldsError[field]);
}

export default {
  name: "CreateCVModal",
  props: {
    modalData: {
      type: Object
    },
    visibleModal: {
      type: Boolean
    },
    isApply: {
      type: Boolean,
      default: function () {
        return true;
      },
    },
    isEdit: {
      type: Boolean,
      default: function () {
        return true;
      },
    }
  },
  components: {
    VueSelect,
  },
  data() {
    return {
      submmitLoading: false,
      form: this.$form.createForm(this, {}),
      iconLoading: false,
      isUploadSuccess: false,
      isRemovedFile: true,
      hasErrors,
      baseUrl: "https://media.cmcglobal.com.vn",
      uploadErrorMessage: "",
      validateStatus: "success",
      errorMsg: "",
      formEmail: "",
      formPhone: "",
      experience: {
        id: null,
        name: null
      },
      sourceName: {
        name: null
      },
      channelName: {
        id: null,
        name: null
      },
      candidateType: "Active",
      skill: null,
      sourceList: [],
      lastCompany: "",
      listContact: [
        {
          id: 1,
          name: "Mobile"
        },
        {
          id: 2,
          name: "SkypeID"
        },
        {
          id: 3,
          name: "Facebook"
        },

      ],
      contactType: '',
      listChannel: [],
      fullName: "",
      email: "",
      freelanceName: "",
      freelanceEmail: "",
      freelanceMobile: "",
      referral: "",
      headhunt: "",
      isAdmin: false,
      isEB: false,
      isEmptySkill: false,
      isFirst: true
    };
  },
  computed: {
    ...mapState({
      urlPreview: (state) => state.rtsJobPostingDetail.urlPreview,
      createStatus: (state) => state.rtsJobPostingDetail.createStatus,
      experiences: (state) => state.experience.experienceList,
      listChannels: (state) => state.rtsManagementCV.listChannelBySource,
      userInfo: state => state.user.userInfo,
      skills: (state) => state.rtsApplication.skillList,
      sources: (state) => state.rtsManagementCV.listSource,
      messageCreateStatusError: (state) =>
          state.rtsJobPostingDetail.messageCreateStatusError,
      selectedSkills() {
        if(this.modalData.skill) {
          return this.modalData.skill.split(',')
        }
      },
    }),
    isUploaded() {
      return true;
    },

  },
  beforeCreate() {
    this.form = this.$form.createForm(this, {
      fullName: String,
      phone: String,
      email: String,
      linkCv: String,
      applySince: String,
      channel: Number,
      job: String,
      requestId: Number,
    });
  },
  watch: {
    createStatus: function (val) {
      if (val === "None") {
        this.submmitLoading = false;
        this.validateStatus = "success";
        this.errorMsg = "";
      }
      if (val === "Error") {
        if (
            this.messageCreateStatusError === "Email and phone is existed!"
        ) {
          this.formEmail = this.form.getFieldValue("email");
          this.formPhone = this.form.getFieldValue("phone");
        } else {
          setTimeout (() => {
            this.setMessageCreateStatus("");
            this.changeCreateStatus("None");
          }, 4000);
        }
      }
      if (val === "Done") {
        this.onCancelPopup();
      }
      if (val === "Success") {
        this.form.resetFields();
        this.changeCreateStatus("Done");
        this.$message.success(`Apply CV is successfully.`);
      }
    },
    messageCreateStatusError: function (val) {
      if (val !== "") {
        this.submmitLoading = false;
        this.validateStatus = "error";
        this.errorMsg = val;
      } else {
        this.validateStatus = "success";
        this.errorMsg = "";
      }
    },

    visibleModal: function (newVal) {
      this.isEmptySkill = false;

      if (!newVal || !this.isEdit)
      {
        this.isRemovedFile = true
        this.contactType = ''
        this.sourceName = {}
        this.channelName = {}
        this.skill = []
        this.experience = []
        this.candidateType = "Active"
        this.listChannel = []
        this.lastCompany = ''
        this.handleChangeSourceName()

        return;
      }

      /*
      * B1: Check kiểu dữ liệu của một field đó là gì? =>> có loại kiểu dữ liệu (Object || String || any)
      * B2: Convert hoặc là tìm dữ liệu từ modelData sang kiểu dữ liệu (Object || String || any) mà field đó cần
      * B3: Set giá trị vừa convert hoặc tìm được đó vào state của field đó
      * */

      // Full name //
      // TODO: continute
      //  ** //

      // Contact //
      if (this.modalData.phone) {
        this.contactType = "Mobile"
      } else if (this.modalData.skypeID) {
        this.contactType = "SkypeID"
      } else if (this.modalData.facebook) {
        this.contactType = "Facebook"
      }
      //  ** //

      if (this.modalData.fullName) this.fullName = this.modalData.fullName
      if (this.modalData.email) this.email = this.modalData.email
      if (this.modalData.candidateType) this.candidateType = this.modalData.candidateType
      if (this.modalData.lastCompany) this.lastCompany = this.modalData.lastCompany

      // Group Source //
      let indexSource = -1;
      let indexChanne = -1;
      for (let i = 0; i < this.sources.length; i++) {
        const source = this.sources[i];
        for (let j = 0; j < source.channelList.length; j++) {
          const channe = source.channelList[j];
          if (Number(channe.id) === Number(this.modalData.channel)) {
            // eslint-disable-next-line no-unused-vars
            indexSource = i;
            // eslint-disable-next-line no-unused-vars
            indexChanne = j;
            break;
          }
        }
      }

      if (indexSource !== -1 && indexChanne !== -1) {
        this.sourceName = this.sources[indexSource]
        this.channelName = this.sources[indexSource].channelList[indexChanne]

        if (this.modalData.refererUser) this.referral = this.modalData.refererUser
        if (this.modalData.headhunterName) this.headhunt = this.modalData.headhunterName
        if (this.modalData.freelancerName) this.freelanceName = this.modalData.freelancerName
        if (this.modalData.freelancerEmail) this.freelanceEmail = this.modalData.freelancerEmail
        if (this.modalData.freelancerMobile) this.freelanceMobile = this.modalData.freelancerMobile
      }
      //  ** //

      // Group Source //
      const dataSkill = []
      const restSkill = this.modalData?.skill ? this.modalData.skill.split(",") : []
      restSkill.forEach((key) => {
        for (let i = 0; i < this.skills.length; i++) {
          if (String(this.skills[i].name).trim().toUpperCase() === String(key).trim().toUpperCase()) {
            dataSkill.push(this.skills[i])
            break;
          }
        }
      })
      this.skill = dataSkill
      if (dataSkill.length > 0)
      {
        this.isEmptySkill = false
      }
      else {
        this.isEmptySkill = true
      }
      //  ** //

      this.experiences.forEach(val => {
        if (String(val.id) === String(this.modalData.experience)) {
          this.experience = val
        }
      })

      if(this.modalData.linkCv) {
        this.setUrlPreview(`${this.modalData.linkCv}`)
        this.isRemovedFile = false;
        this.isFirst = true
      }
      else {
        this.isFirst = false
      }
    }
  },
  created() {
    let pageOptions = {
      offset: 1,
      limit: 1000,
      like: "0",
    };
    this.$store.dispatch("experience/getExperienceList", pageOptions);
    this.$store.dispatch("rtsManagementCV/getListSource");
    this.$store.dispatch("rtsApplication/getSkillList",'');

    if (this.userInfo.userRoles[1] === 'RTS-TA-MNG' || this.userInfo.userRoles[1] === 'RTS-Admin') {
      this.isAdmin = true
    }

    if (this.userInfo.userRoles[1] === 'RTS-EB')
    {
      this.isEB = true
    }
  },
  mounted() {
    this.$nextTick(() => {
      // To disabled submit button at the beginning.
      this.form.validateFields();
    });

    // if(this.data.skill.length) {
    //   let arraySkills = this.data.skill.split(',')
    //   this.skill = this.skills.filter(item => arraySkills.includes(item.name))
    // }

  },
  methods: {
    ...mapActions({
      uploadFileCV: "rtsJobPostingDetail/uploadFileCV",
      setUrlPreview: "rtsJobPostingDetail/setUrlPreview",
      candidateUploadCv: "rtsJobPostingDetail/candidateUploadCv",
      candidateUpdateCv: "rtsJobPostingDetail/candidateUpdateCv",
      changeCreateStatus: "rtsJobPostingDetail/changeCreateStatus",
      setMessageCreateStatus: "rtsJobPostingDetail/setMessageCreateStatus",
    }),
    handleContactType() {
      let name = ''

      if (this.modalData) {
        if (this.modalData.phone) {
          name = "Mobile"
        } else if (this.modalData.skypeID) {
          name = "SkypeID"
        } else if (this.modalData.facebook) {
          name = "Facebook"
        }
      }

      this.contactType = name

      return name
    },
    handleChangeSkill() {
      if (this.skill.length == 0)
      {
        this.isEmptySkill = true
      }
      else {
        this.isEmptySkill = false
      }
    },
    removeFile() {
      this.setUrlPreview(``)
      this.isRemovedFile = true;
      this.isFirst = false;
    },
    beforeUpload(file) {
      this.isRemovedFile = false;
      this.iconLoading = true;
      this.uploadErrorMessage = "";
      // Only allow upload file type application/pdf
      const isPdf = file.type === "application/pdf";
      if (!isPdf) {
        this.isUploadSuccess = false;
        this.$message.error("You can only upload PDF file!");
        this.uploadErrorMessage = "You can only upload PDF file!";
      }
      // Limit upload 5mb
      const isLimit5M = file.size <= 8 * 1024 * 1024;
      if (!isLimit5M) {
        this.isUploadSuccess = false;
        this.$message.error("Image size must smaller than 8MB!");
        this.uploadErrorMessage = "Image size larger than 8MB!";
      }
      return isPdf && isLimit5M;
    },

    handleChange(cvUpload) {
      this.isUploadSuccess = false;
      this.isRemovedFile = false;
      if (cvUpload.file.status === "uploading") {
        this.iconLoading = true;
        return;
      }
      if (cvUpload.file.status === "done") {
        this.isUploadSuccess = true;
        this.iconLoading = false;
        this.uploadErrorMessage = "";
        this.$message.success(`Your file uploaded successfully.`);
        this.uploadFileCV(cvUpload);
      } else if (cvUpload.file.status === "error") {
        this.iconLoading = false;
        this.setUrlPreview("");
        this.$message.error(`Your file upload failed.`);
      } else if (cvUpload.file.status === "removed") {
        this.uploadErrorMessage = "";
        this.iconLoading = false;
        this.isRemovedFile = true;
        this.setUrlPreview("");
        this.isUploadSuccess = false;
      } else {
        this.setUrlPreview("");
        this.iconLoading = false;
      }

      return cvUpload && cvUpload.fileList;
    },

    normFile(e) {
      if (Array.isArray(e)) {
        return e;
      }
      return e && e.fileList;
    },

    uploadFiles({ onSuccess, onError, file }) {
      setTimeout(() => {
        onSuccess("ok");
      }, 500);
    },

    handleChangeEmail(email) {
      if (email !== this.formEmail) {
        this.validateStatus = "success";
        this.errorMsg = "";
        this.changeCreateStatus("None");
      }
    },

    handleChangePhone(phone) {
      if (phone !== this.formPhone) {
        this.validateStatus = "success";
        this.errorMsg = "";
        this.changeCreateStatus("None");
      }
    },

    async handleSubmit(storeModel) {
      storeModel.preventDefault();
      this.setMessageCreateStatus("");
      this.formEmail = "";
      this.formPhone = "";

      this.form.validateFields((err) => {
        if (this.skill.length > 0) {
          this.isEmptySkill = false;
        }else {
          this.isEmptySkill = true;
        }

        if (!err && !this.isEmptySkill && this.urlPreview !== "") {
          this.submmitLoading = true;
          let formCV = this.form.getFieldsValue();

          let strSkill = '';
          this.skill.forEach((value) => {
            strSkill += value.name.trim() + ', ';
          });

          if (!this.isEdit) {
            const payload = {
              address: '',
              applySince: moment().format("DD-MM-YYYY"),
              birthDay: '',
              candidateType: this.candidateType,
              channel: this.channelName.id,
              degree: '',
              email: formCV.email.trim(),
              experience: this.experience.id,
              facebook: formCV.Facebook ? formCV.Facebook.trim() : '',
              freelancerEmail: formCV.freelanceEmail ? formCV.freelanceEmail.trim() : '',
              freelancerMobile: formCV.freelanceMobile ? formCV.freelanceMobile.trim() : '',
              freelancerName: formCV.freelanceName ? formCV.freelanceName.trim() : '',
              fullName: formCV.fullName.trim(),
              headhunterName: '',
              introducer: '',
              job: '',
              language: '',
              lastCompany: formCV.lastCompany,
              level: '',
              linkCv: this.urlPreview,
              location: 'Hà Nội',
              phone: formCV.phone ? formCV.phone.trim() : '',
              refererUser: formCV.refererUser ? formCV.refererUser.trim() : '',
              requestId: '',
              roleName: '',
              school: '',
              sex: '',
              skill: String(strSkill),
              skypeID: formCV.skypeID ? formCV.skypeID.trim() : '',
              source: this.sourceName.name,
              stepRts: 'none',
              ta: null,
              assignees: null
            };
            this.$store.commit("rtsListCandidate/SET_CANDIDATE_SUCCESS", true);
            this.candidateUploadCv(payload);
          }
          else {
            const payload = {
              id: this.modalData.candidateId,
              address: this.modalData.address,
              applySince: moment().format("DD-MM-YYYY"),
              birthDay: this.modalData.birthDay,
              candidateType: this.candidateType,
              channel: this.channelName.id,
              degree: this.modalData.degree,
              email: formCV.email.trim(),
              experience: this.experience.id,
              facebook: formCV.Facebook ? formCV.Facebook.trim() : '',
              freelancerEmail: formCV.freelanceEmail ? formCV.freelanceEmail.trim() : '',
              freelancerMobile: formCV.freelanceMobile ? formCV.freelanceMobile.trim() : '',
              freelancerName: formCV.freelanceName ? formCV.freelanceName.trim() : '',
              fullName: formCV.fullName.trim(),
              headhunterName: this.modalData.headhunterName,
              introducer: this.modalData.introducer,
              job: this.modalData.job,
              language: this.modalData.language,
              lastCompany: formCV.lastCompany,
              level: this.modalData.level,
              linkCv: this.urlPreview,
              location: this.modalData.location,
              phone: formCV.phone ? formCV.phone.trim() : '',
              refererUser: (this.isAdmin || this.isEB) ? (formCV.refererUser ? formCV.refererUser.trim() : '') : this.modalData.refererUser,
              requestId: this.modalData.requestId,
              roleName: this.modalData.roleName,
              school: this.modalData.school,
              sex: this.modalData.sex,
              skill: String(strSkill),
              skypeID: formCV.skypeID ? formCV.skypeID.trim() : '',
              source: this.sourceName.name,
              stepRts: 'none',
              ta: this.modalData.ta,
              assignees: this.modalData.assignees
            };

            this.$store.commit("rtsListCandidate/SET_CANDIDATE_SUCCESS", true);
            this.candidateUpdateCv(payload);
          }
        }
      });
    },
    onCancelPopup() {
      this.form.resetFields();
      this.setUrlPreview("");
      this.setMessageCreateStatus("");
      this.isRemovedFile = true;
      this.submmitLoading = false;
      this.uploadErrorMessage = "";
      this.validateStatus = "success";
      this.errorMsg = "";
      this.$emit("onCancelPopup");
    },

    handleChangeSourceName: function(newVal){
      this.sourceName.name = newVal
      this.$store.dispatch("rtsManagementCV/getListChannelbySource", newVal?.toLowerCase())
    },
    handleChangeContact: function(newVal) {
      this.contactType = newVal
    },
    handleChangeChannel: function(newVal, obj) {
      this.channelName.name= newVal;
      this.channelName.id= obj.key;
    },
  }
};
</script>

<style lang="scss">
.custom-required-class label:before  {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.model-header-cv {
  margin-left: 25px;
  font-size: 20px;
}
#upload-form-cv {
  margin: 25px 10px 0 25px;
  .ant-form-item-label {
    text-align: left;
  }
  .ant-upload {
    margin-top: 35px;
  }
  .ant-upload-list-item-info {
    color: #0066b3;
    font-size: 14px;
  }
  .ant-upload-list-item-card-actions {
    right: -7px;
    opacity: 0.7;
    font-size: 20px;
    top: -5px;
    .anticon {
      color: black;
      font-weight: bold;
    }
  }
  .anticon-paper-clip {
    color: #0066b3;
  }
  .ant-upload-list-text {
    position: relative;
    top: -74px;
  }
  .error-message {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: 78px;
    left: 164px;
  }
  .error-message-existed {
    color: red;
    font-size: 14px;
    position: relative;
    bottom: 3px;
    left: 117px;
  }
}
.mb100 {
  margin-bottom: 100px;
}
.submit-block {
  .btn-submit {
    background: $btn-color-blue;
    color: white;
  }
  .btn-cancel {
    background: $btn-color-red;
    color: white;
  }
}
.upload-btn {
  position: absolute;
  top: -15px;
  font-weight: bold;
}
.formJobDetail {
  .ant-modal-body {
    padding-bottom: 0;
  }
  .ant-modal-footer {
    border-top: none;
    .cancel-popup {
      border: none;
    }
  }
  .ant-form-item-label > label {
    color: #9b9b9b;
    font-size: 14px;
    top: -3px;
  }
}
</style>