<template>
  <div class="managementcv-table">
    <a-table
      :columns="columns"
      :data-source="listData"
      :row-key="(record) => record.candidateId"
      :pagination="false"
      bordered
      :scroll="{ x: true }"
    >
      <span slot="customEdit"><a-icon type="edit" style="color: gray" /></span>
      <template
        v-for="col in [
          'fullName',
          'email',
          'phone',
          'linkCv',
          'job',
          'jobRtsId',
          'stepRts',
          'channelName',
          'applySince',
          'assignees',
          'ta',
        ]"
        :slot="col"
        slot-scope="text, record, index"
      >
        <div :key="col">
          <template
            v-if="
              (record.editable &&
                col !== 'linkCv' &&
                col !== 'email' &&
                col !== 'applySince' &&
                col !== 'channelName' &&
                col !== 'job') ||
              (isAdd &&
                index === record.candidateId &&
                col !== 'linkCv' &&
                col !== 'applySince' &&
                col !== 'channelName' &&
                col !== 'job')
            "
          >
            <a-input
              style="margin: -5px 0"
              :value="text"
              @change="(e) => handleChangeForInput(e.target.value, record.candidateId, col)"
              :class="getErrorMessageList(col) ? 'borderErr' : ''"
            />
            <div class="warning-valid">{{ getErrorMessageList(col) }}</div>
          </template>
          <template
            v-else-if="
              (customColumnCV && col === 'linkCv' && record.editCv) ||
              (col === 'linkCv' && isAdd && index === record.candidateId)
            "
          >
            <a-upload
              name="file"
              :multiple="true"
              accept="application/pdf"
              :customRequest="uploadFiles"
              @change="handleUploadFile"
            >
              <a-button> <a-icon type="upload" /> Click to Upload </a-button>
            </a-upload>
            <div class="warning-valid">{{ getErrorMessageList(col) }}</div>
          </template>

          <template v-else-if="col === 'fullName' && record.candidateId">
            <div :style="{ color: '#1890FF', cursor: 'pointer' }" @click="handleClickCV(record)">
              {{ text }}
            </div>
          </template>

          <template v-else-if="col === 'jobRtsId' && record.jobRtsId"> R{{ record.jobRtsId }} </template>

          <template v-else-if="col === 'jobLevel' && record.jobLevel">
            {{ record.jobLevel }}
          </template>

          <template v-else-if="col === 'stepRts'">
            <label>
              {{ filterStepRts(record.stepRts) }}
            </label>
          </template>

          <template v-else-if="col === 'assignees'">
            {{ record.assignees !== "null" ? record.assignees : "" }}
          </template>
          <template v-else-if="col === 'ta'">
            {{ record.ta !== "null" ? record.ta : "" }}
          </template>
          <template
            v-else-if="
              (customColumnDateApply && col === 'applySince' && record.editDateApply) ||
              (isAdd && index === record.candidateId && col === 'applySince')
            "
          >
            <a-date-picker
              :default-value="moment(record.applySince !== '' ? record.applySince : currentDate, dateFormatList[0])"
              @change="handleDateApply(record.candidateId, col)"
              :format="dateFormatList"
              v-model="date"
              v-if="date == ''"
              :allowClear="false"
              :class="getErrorMessageList(col) ? 'borderErr' : ''"
            />
            <p class="text" v-if="date !== ''">{{ date }}</p>
            <div class="warning-valid">{{ getErrorMessageList(col) }}</div>
          </template>
          <template
            v-else-if="
              (customColumnChannels && col === 'channelName' && record.editChannel) ||
              (isAdd && index === record.candidateId && col === 'channelName')
            "
          >
            <a-select
              :default-value="record.channelName == '' ? 'Select a channel' : record.channelName"
              style="width: 120px"
              @change="(e) => handleChangeChannel(e, record.candidateId, col)"
            >
              <a-select-option v-for="value in listChannel" :key="value.id" :value="value.id">{{
                value.name
              }}</a-select-option>
            </a-select>
            <div class="warning-valid">{{ getErrorMessageList(col) }}</div>
          </template>
          <template v-else>
            <router-link
              :to="{ path: `requests/detail/${record.jobRtsId}` }"
              v-if="col === 'job' && record.job !== '' && col !== 'linkCv' && record.jobRtsId"
              >{{ text }}</router-link
            >
            <p class="text" v-else-if="col === 'job' && record.job !== '' && col !== 'linkCv' && !record.jobRtsId">
              {{ text }}
            </p>
            <p v-else class="text">{{ text }}</p>
          </template>
        </div>
      </template>
      <!--      <template slot="edit" slot-scope="text, record, index">-->
      <!--        <div class="editable-row-operations">-->
      <!--          <span-->
      <!--            v-if="record.editable || (isAdd && index === record.candidateId)"-->
      <!--          >-->
      <!--            <a @click="() => save(record.candidateId, record)"-->
      <!--              ><a-icon type="check" style="color: green"-->
      <!--            /></a>-->
      <!--            <a @click="() => cancel(record.candidateId)"-->
      <!--              ><a-icon type="close" style="color: red"-->
      <!--            /></a>-->
      <!--          </span>-->
      <!--          <span v-else>-->
      <!--            <a-->
      <!--              :disabled="editingKey !== '' || isAdd || userRole.title !=='RTS-Admin' && userRole.title !=='RTS-TA'"-->
      <!--              @click="() => edit(record.candidateId, record)"-->
      <!--              ><a-icon type="edit" style="color: gray"-->
      <!--            /></a>-->
      <!--          </span>-->
      <!--        </div>-->
      <!--      </template>-->
      <template slot="linkCv" slot-scope="text, row" v-if="row.linkCv">
        <a :href="`https://media.cmcglobal.com.vn${row.linkCv}`" target="_blank">
          <a-icon type="paper-clip" />
          View CV</a
        >
      </template>
      <template slot="footer">
        <div>
          <a-pagination
            :current="currentPage"
            :total="total_items"
            :page-size="pageSize"
            :show-total="onShowTotal"
            @change="onChangePage"
            showSizeChanger
            @showSizeChange="onShowSizeChange"
          />
        </div>
      </template>
      <template slot="action" slot-scope="text, record">
        <RequestButtonDropdown :records="[record]" :actions="actions" permissionType="single" @onClick="emitAction">
          <template v-slot:toggleButton>
            <a-icon class="black font-lg" type="more" :style="{ cursor: 'pointer' }" />
          </template>
        </RequestButtonDropdown>
      </template>
    </a-table>
  </div>
</template>
<script>
import moment from "moment";
import { mapState, mapMutations } from "vuex";
import { validation } from "../commons/commons";
import { findAndCheck } from "../../components/commons/validation";
import ConfirmDialog from "../../components/base/confirmDialog.vue";
import { API_ACTION_KEY } from "../commons/commonConstant";
import { checkUserRole } from "../../service/authorService";
import http from "../../store/modules/helpers/httpInterceptor";
import RequestButtonDropdown from "./RequestButtonDropdown";

export default {
  props: {
    columns: Array,
    data: Array,
    actions: Array,
    pageSize: Number,
    total_items: Number,
    currentPage: Number,
  },
  components: {
    ConfirmDialog,
    RequestButtonDropdown,
  },

  data() {
    return {
      editingKey: "",
      API_ACTION_KEY,
      fileName: "",
      date: "",
      channel: "",
      dateFormatList: ["DD-MM-YYYY", "DD-MM-YYYY"],
      customColumnCV: false,
      customColumnDateApply: false,
      customColumnChannels: false,
      listData: [],
      mockChannel: [
        {
          id: 1,
          name: "Vietnamwork",
        },
        {
          id: 2,
          name: "CareerBuilder",
        },
        {
          id: 3,
          name: "Careerlink",
        },
        {
          id: 4,
          name: "Itviec",
        },
        {
          id: 5,
          name: "TopCV",
        },
      ],
      check: false,
      cacheData: [],
      checkEditOrCreate: false,
      setPageOptions: null,
      isEditCV: false,
      currentCV: "",
      visibleConfirm: false,
      messageConfirm: "Do you want to cancel edit CV ?",
      currentDate: moment(new Date()).format("DD-MM-YYYY"),
      setValidation: [],
      columnData: "",
      show: "",
      id: null,
      rules: {
        fullName: [
          {
            type: validation.required,
            message: "Please input fullname",
          },
        ],
        email: [
          {
            type: validation.required,
            message: "Please input email",
          },
          {
            type: validation.validEmail,
            message: "Input must be type of Email",
          },
        ],
        phone: [
          {
            type: validation.required,
            message: "Please input phone",
          },
          {
            type: validation.validPhone,
            message: "Input must be type of phone number",
          },
        ],
        applySince: [
          {
            type: validation.required,
            message: "Please choose date apply",
          },
        ],
      },
    };
  },
  watch: {
    data: {
      immediate: true,
      handler(newVal) {
        this.listData = newVal;
        this.cacheData = newVal.map((item) => ({ ...item }));
      },
    },
    isAdd: {
      immediate: true,
      deep: true,
      handler(newVal) {
        this.checkEditOrCreate = newVal;
      },
    },
    pageOptions: {
      immediate: true,
      handler(newVal) {
        this.setPageOptions = newVal;
      },
    },
    setValidation: {
      immediate: true,
      handler(newVal) {
        this.setValidation = newVal;
      },
    },
  },
  computed: {
    ...mapState({
      isAdd: (state) => state.rtsManagementCV.isAdd,
      listCvCandidate: (state) => state.rtsManagementCV.listCv,
      setLinkPreview: (state) => state.rtsManagementCV.setLinkPreview,
      listChannel: (state) => state.rtsManagementCV.listChannel,
      pageOptions: (state) => state.rtsManagementCV.pageOptions,
      userRole: (state) => state.user.userRole,
      userInfo: (state) => state.user.userInfo.userName,
    }),
    listCvCandidate: {
      get() {
        return this.$store.state.rtsManagementCV.listCv;
      },
      set(newVal) {
        this.$store.commit("rtsManagementCV/SET_LIST_CV", newVal);
      },
    },
  },
  methods: {
    ...mapMutations({
      resetState: "rtsRequestDetailGenenalInfo/RESET_STATE",
    }),
    handleClickCV(record) {
      this.$router.push(`managementCV/detail/${record.candidateId}`);
      // this.emitAction({ type: "detail", data: record });
    },
    filterStepRts(key) {
      // if (key == "none") return "Source";
      // else
      return key;
    },
    checkUserRole,
    moment,
    handleChangeForInput(value, key, column) {
      // assign changed data to list data (tables data)
      const newData = [...this.listData];
      const target = newData.filter((item) => key === item.candidateId)[0];
      if (target) {
        target[column] = value;
        this.listData = newData;
      }

      // recheck validation
      this.setValidation = findAndCheck(this.rules, target);
    },
    getErrorMessageList(key) {
      if (!this.setValidation) return;
      let validation = this.setValidation.find((item) => {
        return item.key === key;
      })?.afterValidation;

      if (!validation) return;
      let errorMessages = validation.map((item) => item.message);
      if (!errorMessages) return;
      return "*" + " " + errorMessages[0];
    },
    edit(key, record) {
      this.currentCV = record.linkCv;
      this.check = true;
      this.channel = record.channels;
      this.customColumnCV = true;
      this.customColumnDateApply = true;
      this.customColumnChannels = true;
      this.$store.commit("rtsManagementCV/SET_STATUS_CREATING", true);

      const newData = [...this.listData];
      const target = newData.filter((item) => key === item.candidateId)[0];

      this.editingKey = key;
      if (target) {
        target.editable = true;
        target.editCv = true;
        target.editDateApply = true;
        target.editChannel = true;
        this.listData = newData;
      }
    },
    showConfirmDialog(okType, text, handleOke) {
      this.$confirm({
        title: "Please Confirm",
        content: text,
        okText: "Confirm",
        okType: okType,
        onOk: () => {
          handleOke();
        },
        cancelText: "Cancel",
      });
    },
    save(key, record) {
      // init and reset data
      if (this.isAdd) {
        this.id = key;
        this.showConfirmDialog("primary", "Do you want to create CV ?", this.handleSaveCv);
      } else if (!this.isAdd) {
        this.id = key;
        this.showConfirmDialog("primary", "Do you want to save CV ?", this.handleSaveCv);
      }
    },
    cancel(key) {
      if (!this.isAdd) {
        this.id = key;
        this.showConfirmDialog("danger", "Do you want to cancel edit CV ?", this.handleCancel);
      } else if (this.isAdd) {
        this.id = key;
        this.showConfirmDialog("danger", "Do you want to cancel create CV ?", this.handleCancel);
      }
    },
    focusInput() {
      document.getElementById("inputUpload").click();
    },
    handleUploadFile(file) {
      this.isEditCV = true;
      const payload = {
        file: file,
        fileType: "CV",
      };
      this.$store.dispatch("rtsManagementCV/uploadFile", payload);
    },
    uploadFiles({ onSuccess, onError, file }) {
      setTimeout(() => {
        onSuccess("ok");
      }, 500);
    },
    handleDateApply(key, column) {
      this.date = moment(this.date._d).format("DD-MM-YYYY");
      const newData = [...this.listData];
      const target = newData.filter((item) => key === item.candidateId)[0];
      if (target) {
        target[column] = this.date;
        this.listData = newData;
      }
      // recheck validation
      this.setValidation = findAndCheck(this.rules, target);
    },
    handleChangeChannel(e, key, column) {
      // assign changed data to list data (tables data)
      const newData = [...this.listData];
      const target = newData.filter((item) => key === item.candidateId)[0];
      if (target) {
        target[column] = e;
        this.listData = newData;
      }
      // recheck validation
      this.setValidation = findAndCheck(this.rules, target);
    },
    handleLinkCv(linkCv) {
      if (linkCv == null) return;
      const nameFile = linkCv?.split("/");
      return nameFile[nameFile.length - 1];
    },
    defaultDate() {
      const date = new Date();
      return date.getDay() / (date.getMonth() + 1) / date.getFullYear();
    },
    handleCancel() {
      if (this.isAdd) {
        this.visibleConfirm = false;
        this.messageConfirm = "Do you want cancel create CV ?";
        const { listCvCandidate } = this;
        this.listCvCandidate = listCvCandidate.filter((item) => item.candidateId !== this.id);
        this.$store.commit("rtsManagementCV/SET_IS_ADD", false);
        this.$store.commit("rtsManagementCV/SET_STATUS_CREATING", false);
      } else {
        this.visibleConfirm = false;
        this.setValidation = [];
        this.customColumnCV = false;
        this.customColumnDateApply = false;
        this.customColumnChannels = false;
        this.$store.commit("rtsManagementCV/SET_STATUS_CREATING", false);

        const newData = [...this.listData];
        const target = newData.filter((item) => this.id === item.candidateId)[0];
        this.editingKey = "";
        if (target) {
          Object.assign(target, this.cacheData.filter((item) => this.id === item.candidateId)[0]);
          delete target.editable;
          delete target.editCv;
          delete target.editDateApply;
          delete target.editChannel;
          this.listData = newData;
        }
      }
    },

    handleSaveCv() {
      this.customColumnCV = false;
      this.customColumnDateApply = false;
      this.customColumnChannels = false;
      this.fileName = "";
      this.date = "";
      this.channel = "";
      // set create status(done)

      // khi save xong call lai api get list de lay duoc candidateId
      const newData = [...this.listData];
      const newCacheData = [...this.cacheData];
      const target = newData.filter((item) => this.id === item.candidateId)[0];
      const targetCache = newCacheData.filter((item) => this.id === item.candidateId)[0];
      // check and get validation
      this.setValidation = findAndCheck(this.rules, target);
      let passValidation = this.setValidation.length <= 0;
      // if pass validation --> process action bellow
      if (target && targetCache && passValidation) {
        delete target.editable;
        delete target.editCv;
        delete target.editDateApply;
        delete target.editChannel;
        this.listData = newData;
        Object.assign(targetCache, target);
        this.cacheData = newCacheData;

        if (this.checkEditOrCreate) {
          const payload = {
            cvRequest: {
              applySince: target.applySince,
              email: target.email,
              channel: typeof target.channelName === "number" ? target.channelName : target.channel,
              fullName: target.fullName,
              job: target.job,
              linkCv:
                this.setLinkPreview !== "" ? "https://media.cmcglobal.com.vn" + this.setLinkPreview : target.linkCv,
              phone: target.phone,
              requestId: "",
              stepRts: "none",
              ta: this.userInfo,
            },
          };

          this.$store.dispatch("rtsManagementCV/createCvCandidate", payload).then((res) => {
            if (res.status === 200) {
              this.$store.commit("rtsManagementCV/SET_IS_ADD", false);
              this.$message.success("Create CV Candidate Successfully !");
              this.$store.dispatch("rtsManagementCV/getListCv", this.setPageOptions);
              // close form
              // close form
              this.$store.commit("rtsManagementCV/SET_STATUS_CREATING", false);
            } else if (res.status === 403) {
              this.$message.error("You don't have create permission");
            } else {
              this.$message.error("Create CV Failed !");
              this.$store.dispatch("rtsManagementCV/getListCv", this.setPageOptions);
              // close form
              this.$store.commit("rtsManagementCV/SET_STATUS_CREATING", false);
            }
          });
        } else {
          const payload = {
            cvRequest: {
              id: target.candidateId,
              applySince: target.applySince,
              channel: typeof target.channelName === "number" ? target.channelName : target.channel,
              fullName: target.fullName,
              job: target.job,
              linkCv:
                this.setLinkPreview !== "" ? "https://media.cmcglobal.com.vn" + this.setLinkPreview : target.linkCv,
              phone: target.phone,
              ta: this.userInfo,
            },
          };
          if (!this.isEditCV) {
            payload.cvRequest.linkCv = this.currentCV;
          }
          this.$store.dispatch("rtsManagementCV/editCvCandidate", payload).then((res) => {
            if (res.status === 200) {
              this.$message.success("Edit CV Candidate Successfully !");
              this.$store.dispatch("rtsManagementCV/getListCv", this.setPageOptions);
              // close form
              this.$store.commit("rtsManagementCV/SET_STATUS_CREATING", false);
            } else {
              this.$message.error("Edit CV Candidate Failed !");
              this.$store.dispatch("rtsManagementCV/getListCv", this.setPageOptions);
              // close form
              this.$store.commit("rtsManagementCV/SET_STATUS_CREATING", false);
            }
          });
        }
      }
      this.editingKey = "";
      this.isEditCV = false;
    },

    emitAction(payload) {
      if (payload.type === "detail") {
        http.get(`/timeline/${payload.data.candidateId}`).then((res) => {
          this.$emit("onActionTimeLine", {
            dataTimeLine: res.data,
            type: payload.type,
          });
        });
      }
      http.get(`/candidate/${payload.data.candidateId}`).then((res) => {
        this.$emit("onAction", {
          data: res.data,
          type: payload.type,
        });
      });
    },
    onChangePage(offset, limit) {
      this.$emit("onChangePage", { offset, limit });
    },
    onShowSizeChange(offset, limit) {
      this.$emit("onChangePage", { offset, limit });
    },
    onShowTotal(total, range) {
      return `${range[0]}-${range[1]} of ${total} items`;
    },
  },

  beforeDestroy() {
    this.resetState();
  },
};
</script>
<style lang="scss">
.editable-row-operations a {
  margin-right: 8px;
}
.managementcv-table {
  background: #ffffff;
  tr,
  td,
  .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }
  .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }
  .ant-table-thead > tr > th {
    background: #eaeaea;
  }
  .ant-table-bordered .ant-table-thead > tr > th,
  .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: none;
  }
  .ant-table-bordered .ant-table-header > table,
  .ant-table-bordered .ant-table-body > table,
  .ant-table-bordered .ant-table-fixed-left table,
  .ant-table-bordered .ant-table-fixed-right table {
    border: 1px solid $border-color-gray;
  }
  .ant-pagination-item-active {
    background: $pagination-color-dark-gray;
    border-color: $pagination-color-dark-gray;
  }
  .ant-pagination-item-active a {
    color: #fff;
  }
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border: none;
    background: inherit;
  }
  .ant-table-pagination.ant-pagination {
    text-align: center;
    float: none;
  }
  .ant-table-footer {
    text-align: end;
  }
  .text {
    margin-bottom: 0;
    font-size: 14px;
  }
  .ant-upload-list,
  // .ant-upload-list-text {
  //   display: none;
  // }
  .ant-input {
    margin: 0px !important;
  }
  .warning-valid {
    color: red;
  }
  .borderErr {
    border: 1px solid red !important;
  }
}
</style>
