<template>
  <a-dropdown :disabled="disabled">
    <a-menu v-if="actions && actions.length > 0 && allowedButtons().length>0" slot="overlay">
      <a-menu-item
          v-for="item in allowedButtons()"
          :key="item.id"
          @click="onClick(item.key)"
      >
        {{ item.name }}
      </a-menu-item>
    </a-menu>
    <slot name="toggleButton"></slot>
  </a-dropdown>
</template>

<script>
import {mapState} from "vuex";
import {API_ACTION_KEY} from "@/components/commons/commonConstant";
import {checkAction, checkUserRole} from "@/service/authorService";
import {checkPermission} from "../../service/permissionService";

const defaultButtonDropdown = [
  {
    id: 0,
    key: "no-action",
    name: "No action found"
  },
]
export default {
  name: "RequestButtonDropdown",
  props: {
    actions: Array,
    records: Array,
    permissionType: String,
    noNeedPermission: Boolean,
    disabled: Boolean
  },
  data() {
    return {
      buttons:
          [
            {
              id: 1,
              key: "detail",
              name: "View detail"
            },
            {
              id: 2,
              key: "edit",
              name: "Edit"
            },
            {
              id: 6,
              key: "reject",
              name: "Reject"
            },
            {
              id: 7,
              key: "assign",
              name: "Assign"
            },
          ],
    }
  },
  computed : {
    ...mapState({
      userRole: (state) => state.user.userRole,
    }),
  },
  methods: {
    checkPermission,
    allowedButtons() {
      let result = this.buttons.filter(button =>
          (this.actions.includes(button.key))
          &&
          (checkPermission('source', button.key, this.records, this.userRole) || this.noNeedPermission))
      return result.length > 0 ? result : defaultButtonDropdown
    },
    // checkPermission(actionKey, records, userRole) {
    //   if(actionKey === 'edit'){
    //     return true
    //   }
    //
    //   if(actionKey === 'assign' && (userRole.title === 'RTS-TALead' || userRole.title === 'RTS-TA-MNG' || userRole.title === 'RTS-Admin' || userRole.title === 'RTS-EB')){
    //     return true
    //   }
    //
    //   if(actionKey === 'reject' && (userRole.title === 'RTS-TALead' || userRole.title === 'RTS-TA-MNG' || userRole.title === 'RTS-Admin' || userRole.title === 'RTS-EB')){
    //     return true
    //   }
    //
    //   return false
    // },
    // checkUserRole(key, userRole) {
    //   const activities = userRole.activities;
    //   return (activities.some(e => e.key === key))
    // },
    onClick(type) {
      if (type === 'no-action') return null
      // only single action need emit data
      this.$emit("onClick", {
        data: this.records[0],
        type: type
      })
    }
  }
}

</script>

<style scoped>

</style>
