<template v-if="modalData">
  <a-modal
    class="CVDetail"
    title="Detail CV"
    v-model="visibleModal"
    :footer="null"
    @cancel="onCancelPopup"
    :width="800"
  >
    <a-row class="details">
      <a-form v-bind="layoutForm" labelAlign="left">
        <a-form-item v-for="item in formItem" :key="item.key" :label="item.label">
          <template v-if="item.key === 'linkCv'">
            <a
              :href="`https://media.cmcglobal.com.vn${modalData[item.key]}`"
              target="_blank"
              v-if="modalData[item.key]"
            >
              <a-icon type="paper-clip" />
              View CV</a
            >
          </template>
          <span v-else>{{ modalData[item.key] ? modalData[item.key] : "" }}</span>
        </a-form-item>
      </a-form>
    </a-row>
    <a-divider />
    <a-row>
      <a-table :columns="columns" :dataSource="modalDataTimeLine" :pagination="false">
        <span slot="requestId" slot-scope="text">
          <router-link :to="{ path: `requests/detail/${text}` }">{{ text }}</router-link>
        </span>
      </a-table>
    </a-row>
  </a-modal>
</template>

<script>
export default {
  name: "ViewDetailCandidateModal",
  props: {
    visibleModal: Boolean,
    modalData: Object,
    modalDataTimeLine: {
      type: Array | Object,
    },
  },
  data() {
    return {
      formItem: [
        {
          key: "candidateId",
          label: "Id",
        },
        {
          key: "fullName",
          label: "Full Name",
        },
        {
          key: "email",
          label: "Email",
        },
        {
          key: "location",
          label: "Location",
        },
        {
          key: "phone",
          label: "Phone",
        },
        {
          key: "address",
          label: "Address",
        },
        {
          key: "applySince",
          label: "Date Apply",
        },
        {
          key: "createBy",
          label: "Created By",
        },
        {
          key: "assignees",
          label: "Assign Level 1",
        },
        {
          key: "ta",
          label: "Assign Level 2",
        },
        {
          key: "birthDay",
          label: "BirthDay",
        },
        {
          key: "channelName",
          label: "Channel",
        },
        {
          key: "linkCv",
          label: "CV",
        },
      ],
      columns: [
        {
          title: "Request Id",
          dataIndex: "requestId",
          key: "requestId",
          scopedSlots: { customRender: "requestId" },
          width: 100,
        },
        {
          title: "Step Before",
          dataIndex: "candidateBefore",
          key: "candidateBefore",
          width: 100,
        },
        {
          title: "Step After",
          dataIndex: "candidateAfter",
          key: "candidateAfter",
          width: 100,
        },
        {
          title: "Creator",
          dataIndex: "createdBy",
          key: "createdBy",
          width: 100,
        },
        {
          title: "Create Date",
          dataIndex: "createdDate",
          key: "createdDate",
          width: 150,
        },
      ],
      layoutForm: {
        labelCol: { span: 6 },
        wrapperCol: { span: 18 },
      },
    };
  },
  watch: {},

  mounted() {},

  methods: {
    onCancelPopup() {
      this.$emit("onCancelPopup");
    },
  },
};
</script>

<style lang="scss">
.details {
  gap: 40px;
}
.detail-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detail-information {
  display: flex;
  gap: 10px;
  align-items: center;
}

.detail-title {
  color: #172b4d;
  font-weight: 600;
  font-size: 16px;
}

.details-value {
  color: #000000;
  font-weight: 500;
  line-height: 20px;
  font-size: 12px;
}
</style>
