<template>
  <a-layout class="mt100 pt10 pl20 content-wrapper candidate-cv" id="requests">
    <a-layout-content>
      <a-row class="managementCV-header">
        <a-col :md="16">
          <a-row>
            <a-col :md="16">
              <VueSearch
                class="search-block"
                currentPage="managementCV"
                placeholder="Search by Name, Phone, E-mail"
                namePage="managementCV"
                @onSearch="onSearchPage"
                @onClear="onClearPage"
              />
            </a-col>
            <a-col :md="7" class="ml10">
              <a-row gutter="8">
                <a-col :md="18">
                  <a-input v-model="dataSearch" placeholder="Enter" @pressEnter="onSearch" />
                </a-col>
                <a-col :md="6">
                  <a-button class="mr10" type="primary" @click="onSearch">Check</a-button>
                </a-col>
              </a-row>
            </a-col>
          </a-row>
        </a-col>
        <a-col class="taE" :md="8">
          <a-button class="mr10" type="primary" @click="onSingleAction({ type: 'create' })">Create</a-button>

          <a-button class="mr10" type="default" @click="showDialogUpload()">Bulk</a-button>
        </a-col>
      </a-row>
      <a-divider class="mt5 mb15" />
      <a-row class="managementCV-content">
        <ManagementCVTable
          :columns="userRole.title === 'RTS-TA' ? columnsTA : columnsTALead"
          :data="requests"
          :pageSize="pages.pageSize"
          :total_items="pages.total_items"
          :currentPage="pages.currentPage"
          :actions="singleActions"
          @onAction="onSingleAction"
          @onActionTimeLine="onActionTimeLine"
          @onChangePage="onChangePage"
        >
        </ManagementCVTable>
      </a-row>
      <UploadFileModal
        :visible="visibleDialog"
        :isStep="false"
        @ok="handleOke"
        @cancel="handleCancel"
        :key="componentKey + 1"
      />
      <ConfirmDialog
        :visible="visibleConfirm"
        :message="message"
        :key="componentKey"
        @ok="handleOkeConfirm"
        @cancel="handleCancelConfirm"
      />
      <!-- <div class="pagination-block-cv">
        <VuePagination
          class="pagination-block"
          :options="pageOptions"
          :totalItems="totalItems"
          @onChange="onChangePage"
        />
      </div> -->

      <CreateCVModal
        :modalData="dataModal"
        :visibleModal="isShowUpLoadCVModal"
        :isApply="false"
        :isEdit="this.isEdit"
        @onCancelPopup="handleCloseUpload"
      />

      <ViewDetailCandidateModal
        :modalDataTimeLine="dataModal"
        :modalData="dataDetailModal"
        :visibleModal="isShowDetailModal"
        @onCancelPopup="handleCloseDetailModal"
      />

      <CreateAssignModal
        :modalData="dataModal"
        :visibleModal="isShowAssignModal"
        @onCancelPopup="handleCloseAssignModal"
      />
    </a-layout-content>
  </a-layout>
</template>

<script type="script" lang="js" src="./ManagementCV.js"></script>
<style lang="scss" scoped>
.candidate-cv {
  margin: 80px 20px 0 0px;
}

.managementCV-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-block {
  text-align: center;
  margin-top: 20px;
}

.cv_column {
  width: 20px;
}
</style>
