<template>
  <div class="container-block">
    <div class="container-block-content">
      <FeaturedJob
        v-for="job in jobList"
        :key="job.id"
        :featuredJob="job"
      />
    </div>
    <div class="pagination">
      <VuePagination
        class="pagination-block"
        v-if="pageOptions.totalItems > 9"
        :options="pageOptions"
        :totalItems="pageOptions.totalItems"
        @onChange="onChangePage"
      />
    </div>
  </div>
</template>

<script type='script' lang='js' src ='./FeaturedJobs.js'>

</script>

<style lang="scss" scoped>
.container-block-title {
  text-align: center;
}
.container-block-content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
@media only screen and (max-width: 600px) {
  .container-block-content{
    grid-template-columns: auto ;
  }
}
</style>>
