<template>
  <div class="ticket-report">
    <a-layout class="mt100 pt10 pl20 content-wrapper requests" id="ticket-report">
      <a-layout-content>
        <a-row class="filter-container">
          <a-col :md="20">
            <FilterLayout
              ref="filterRef"
              :onSetDataFilters="onSetDataFilters"
              :onApplyFilters="onApplyFilters"
              @onCleanFilter="onCleanFilter"
              :datafilterDefault="dataFilters"
              currentPage="ticketReport"
            />
          </a-col>
          <a-col :md="4" class="button-export">
            <a-button type="primary" icon="download" @click="exportTicketData()"> Export </a-button>
          </a-col>
        </a-row>
        <a-row>
          <a-col class="summary-title"> SUMMARY</a-col>
          <a-col>
            <a-row class="summary-list">
              <a-col v-for="item in summary" :key="item.key">
                <div class="summary-item-wrapper">
                  <div class="summary-item__label">
                    {{ item.label }}
                  </div>
                  <div class="summary-item__value">
                    {{
                      ` ${dataSummary[item.keyCurrent] !== undefined ? `${dataSummary[item.keyCurrent]}/` : ""}${
                        dataSummary[item.key] !== undefined ? dataSummary[item.key] : ""
                      }`
                    }}
                  </div>
                </div>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
        <a-row class="table-container">
          <a-table
            :columns="columns"
            :hover="false"
            :row-key="(record, index) => (Math.random() + 1).toString(36).substring(7)"
            :data-source="tickets"
            :pagination="false"
            :expandIconAsCell="false"
            :expandIconColumnIndex="1"
          >
            <template slot="unit" slot-scope="text, record">
              <span>{{ record.children ? record.unitName : record.departmentName }}</span>
            </template>
            <template slot="deadline" slot-scope="text">
              <span>{{ convertMillisecondsToDate(text) }}</span>
            </template>
          </a-table>
          <div class="pagination-box">
            <a-pagination
              :current="currentPage"
              :total="total_items"
              :page-size="pageSize"
              :show-total="onShowTotal"
              @change="onChangePage"
              @showSizeChange="onShowSizeChange"
            />
          </div>
        </a-row>
      </a-layout-content>
    </a-layout>
  </div>
</template>
<script type="script" lang="js" src="./TicketReport.js" />
<style lang="scss">
#ticket-report {
  overflow: hidden;
}
.ticket-report {
  .filter-container {
  }
  .summary-title {
    font-weight: 700;
    font-size: 24px;
    padding: 10px 0;
  }
  .summary-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .summary-item-wrapper {
    width: 150px;
    height: 150px;
    background-color: #f4f5f7;
    border-radius: 10px;
    padding: 10px;
    .summary-item__label {
      font-weight: 600;
      text-align: center;
    }
    .summary-item__value {
      font-weight: 700;
      color: #2b48b0;
      font-size: 24px;
      text-align: center;
      margin-top: calc(150px / 2 - 30px);
    }
  }
  .table-container {
    margin-top: 2rem;
    margin-right: 1rem;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
  }
  .ant-table-row-level-0 {
    background-color: #ffe380;
  }

  .table-container .ant-table-align-center {
  }
  .table-container .ant-table-thead th {
    background-color: #ebecf0 !important;
    vertical-align: bottom;
    color: #6b778c;
  }
  .table-container td {
    font-weight: 500;
    color: #6b778c;
  }
  // .table-container .ant-table-thead tr:nth-child(1) th:nth-child(9){
  //   border-bottom: 1px solid #6B778C;

  // }
  // .table-container .ant-table-thead tr:nth-child(1) th:nth-child(11){
  //   border-bottom: 1px solid #6B778C;
  // }
  .pagination-box {
    text-align: end;
    margin: 2rem 0rem;
    padding-right: 1rem;
  }
  .button-export {
    text-align: end;
    padding-right: 1rem;
  }
}
</style>
