<template>
  <a-layout id="detail-blocks">
    <a-layout-content class="detail-container">
      <a-row class="details" type="flex">
        <a-col flex="2">
          <div class="details-left">
            <table>
              <tr>
                <td>Request ID:</td>
                <td v-if="requestDetail.requestType" class="details-value">R{{ requestDetail.id }}</td>
              </tr>
              <tr>
                <td>JD ID:</td>
                <td v-if="requestDetail.requestType" class="details-value">{{ requestDetail.codePosition }}</td>
              </tr>
              <tr>
                <td>Request Type:</td>
                <td v-if="requestDetail.requestType" class="details-value">{{ requestDetail.requestType.name }}</td>
              </tr>
              <tr>
                <td>Deadline:</td>
                <td
                  class="details-value"
                  :style="{ color: checkDeadline(requestDetail.deadline) ? '#FF0000' : '#262626' }"
                >
                  {{ requestDetail.deadline }}
                </td>
              </tr>
              <tr>
                <td>Position:</td>
                <td v-if="requestDetail.jobType" class="details-value">{{ requestDetail.jobType.name }}</td>
              </tr>

              <tr v-if="requestDetail.department">
                <td>Department:</td>
                <td class="details-value">{{ requestDetail.department.name }}</td>
              </tr>

              <tr>
                <td>Skills:</td>
                <td class="details-value">
                  <label v-for="(req, index) in requestDetail.skills" :key="index + 'b'"
                    >{{ req.name }}<span v-if="index != Object.keys(requestDetail.skills).length - 1 && req">;</span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>Major:</td>
                <td v-if="requestDetail.major" class="details-value">{{ requestDetail.major.name }}</td>
              </tr>
              <tr>
                <td>Experience:</td>
                <td v-if="requestDetail.experience" class="details-value">
                  {{ requestDetail.experience.name }} years experience
                </td>
              </tr>
              <tr v-if="requestDetail.workingTime">
                <td>Working Time:</td>
                <td class="details-value">{{ requestDetail.workingTime }}</td>
              </tr>
            </table>
          </div>
        </a-col>
        <a-col flex="2">
          <div class="details-right">
            <table>
              <tr>
                <td>Priority:</td>
                <td v-if="requestDetail.priority" class="details-value">{{ requestDetail.priority.name }}</td>
              </tr>
              <tr>
                <td>Number:</td>
                <td class="details-value">{{ requestDetail.number }}</td>
              </tr>
              <tr>
                <td>Job Code:</td>
                <td class="details-value" v-if="requestDetail.jobLevel">
                  {{ requestDetail.jobLevel.name }}
                </td>
              </tr>
              <tr>
                <td>Project:</td>
                <td class="details-value" v-if="requestDetail.project">{{ requestDetail.project.name }}</td>
              </tr>

              <tr v-if="requestDetail.group">
                <td>Division:</td>
                <td class="details-value">{{ requestDetail.group.name }}</td>
              </tr>

              <tr>
                <td>Area:</td>
                <td v-if="requestDetail.area" class="details-value">{{ requestDetail.area.name }}</td>
              </tr>
              <tr>
                <td>Language:</td>
                <td class="details-value">
                  <label v-for="(req, index) in requestDetail.language" :key="index + 'a'"
                    >{{ req.name }}<span v-if="index != Object.keys(requestDetail.language).length - 1 && req">; </span>
                  </label>
                </td>
              </tr>
              <tr>
                <td>Certificate:</td>
                <td class="details-value">{{ requestDetail.certificate }}</td>
              </tr>
              <tr>
                <td>Salary:</td>
                <td class="details-value">{{ requestDetail.salary }}</td>
              </tr>
            </table>
          </div>
        </a-col>
      </a-row>
    </a-layout-content>
  </a-layout>
</template>

<script lang="js" src="./DetailBlock.js"></script>

<style scoped></style>
