<template>
  <div class=" p15 mt80 content-wrapper">
      <a-row class="pt15">
              <a-col :md="15">
                <FilterLayout
                  :onSetDataFilters="onSetDataFilters"
                  :onApplyFilters="onApplyFilters"
                  :currentPage="'delegation_management'"
                  :currentTab="'delegation_list'"
                  :datafilterDefault="filters"
                />
              </a-col>
              <a-col :md="2">
                <div class="float-right" v-if="roles.includes(Role.GROUP_LEAD) || roles.includes(Role.DULEAD)">
                  <a-button class="mr10" ghost type="danger" @click="onDeleteDelegation">
                    <a-icon type="delete"/>
                  </a-button>
                  <a-button   type="primary" @click="()=> showModalCreateOrEditDelegator( {mode:'new'})">+ Add</a-button>
                </div>
              </a-col>
      </a-row>
      <a-divider />
      <a-row :gutter="16" >
        <a-col :md="17">
          <a-table
            class="custom-table"
            :columns="columnsList"
            :data-source="dataSource"
            :pagination="false"
            :customRow="customRow"
            :row-selection="{selectedRowKeys: selectedRowKeys, onChange: onSelectChange}"
          >    
            <span v-if="roles.includes(Role.GROUP_LEAD) || roles.includes(Role.DULEAD)" slot="action" slot-scope="text, record">
              <div class="float-right">
                <a-button type="primary" class="mr45" icon="edit" @click="()=>showModalCreateOrEditDelegator({record:record,mode:'edit'})" ghost></a-button>
              </div>
            </span>
            <span slot="department" slot-scope="text,record">{{record.delegator ? record.delegator.department_name.nameEn : ''}}</span>
                    
            <template slot="footer">
              <div>
                <a-pagination
                  v-model="currentPage"
                  :total="total_items"
                  :show-total="(total, range) => `${range[0]}-${range[1]} of ${total} items`" 
                  :page-size="pageSize"
                  show-size-changer
                  @change="onChangePage"
                  @showSizeChange="onShowSizeChange"
                />
              </div>
            </template>
          </a-table>
        </a-col>
        <a-col :md="7">
          <MemberListByDelegator
            :data-source="recordDetail"
            :doneDeleteMember="doneDeleteMember"
            :onHandleEdit="(data)=>showModalCreateOrEditDelegator(data)"
          />
        </a-col>
      </a-row>
      <div class="modal"  >
        <a-modal v-model="visible"  @cancel="onCancelModal" :width="650" :maskClosable="false">
          <template slot="footer">
            <a-row class="p10">
              <a-col :md="12">
                <div class="float-left">
                  <a-button
                    v-if="current === 0"
                    :style="{ height: '40px'}"
                    key="back"
                    type="cancel"
                    @click="onCancelModal"
                  >Cancel</a-button>
                  <a-button 
                    v-else :style="{ height: '40px' }" 
                    key="back" 
                    @click="prev"
                    :disabled="previousStepDisabled"
                  >Previous</a-button>
                </div>
              </a-col>
              <a-col :md="12">
                <div class="steps-action">
                  <a-button
                    v-if="current === 0"
                    type="primary"
                    @click="next()"
                    :disabled="nextStepDisabled"
                    :style="{ height: '40px' }"
                  >
                    Next Step
                    <a-icon type="right" />
                  </a-button>
                  <a-button
                    v-if="current === 1"
                    type="primary"
                    :disabled="disableComplete"
                    @click="onCompleteUpdateDelegator"
                    :style="{ height: '40px' }"
                  >Complete</a-button>
                </div>
              </a-col>
            </a-row>
          </template>
          <div class="flex-center text-center text-bold mb20">
            <h3 class="text-bold" v-if="current === 0">Create Delegation</h3>
          </div>
          <div>
            <div>
              <div class="steps-content">
                <div v-if="current === 0" class="bordered">
                  <a-row type="text" class="p10 bg-gray modal-search-box">
                    <a-col :md="18">
                      <a-select 
                        showSearch
                        allowClear
                        class="select-box" 
                        placeholder="Search by staff name, ID " 
                        @search="onSearchDelegator"
                        :value="searchEmployee"
                        @change="onChangeSearchModal"
                        :not-found-content="fetching ? undefined : null"
                         :default-active-first-option="false"
                          :filter-option="false"
                      >
                        <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                        <a-select-option v-for="(item, index) in dataOptionFilterDelegator" :key="index" :value="item.user_name">
                          {{item.name + ' (' + item.user_name + ' - ' + item.department + ')' }}
                        </a-select-option>
                      </a-select>
                    </a-col>
                    <a-col :md="6">
                      <span class="mr10 ml10">
                        <a-button type="primary" @click="onHandleSearchDelegator">
                          <a-icon type="search" />
                        </a-button>
                      </span>
                      <a-button class="bg-gray" @click="() => onCleanFilter('delegator')">
                        <a-icon type="reload" />
                      </a-button>
                    </a-col>
                  </a-row>
                  <a-row  class="detail-info-user" >
                    <a-table 
                    class="TableChooseDelegator"
                      :columns="column1" 
                      :data-source="dataChooseDelegator"
                      :pagination="false"
                      :scroll="{y : 400}"
                      :rowKey="record => record.key"
                      :rowSelection="{selectedRowKeys: selectedRowKeysDelegator, onChange: onHandleSelectDelegator, type: 'radio'}"
                    >
                      <span slot="name"  slot-scope="text, record">
                        <a-row >
                          <a-col :md="3">
                            <a-avatar icon="user" />
                          </a-col>
                          <a-col :md="18" >
                            <div class ='title-bold'>{{ record.name }}</div>
                            <div>{{ record.user_name + ' - ' + (record.department_name ? record.department_name.nameEn : '')}}</div>
                          </a-col> 
                        </a-row>
                      </span>     
                    </a-table>
                  </a-row>
                </div>
                <div v-if="current === 1">
                  <p class="modal-tab-title">
                    Delegator:
                    <span class="text-bold">{{delegatorAssign.name}}</span>
                  </p>
                  <a-row class="mt20 mb10">
                    <div class="flex-date">
                      <a-range-picker
                        class="date-select mr30"  
                        :format="dateFormat"
                        v-model="customRangeDate"
                        style="width: 100%" 
                      />
                      <a-button class="date-button" @click="addDateRange" type="primary">Add</a-button>
                    </div>
                    <div class="list_date_range mt10">
                      <ul class="list_date" v-if="list_date_add.length > 0">
                        <li class="list_date_item mb5" v-for="(item) in list_date_add" :key="item.key">
                          <div :class="item.key === activeItemStaff ? 'activeItemMember date_label':'date_label'" 
                            @mouseover="(e) => handleHover(e,item)"
                            @mouseleave="handleMouseLeave"
                          >
                            {{item.from_date ? item.from_date : ''}} - {{item.to_date ? item.to_date : ''}} 
                            <span class="member_quantity">{{item.staff.staff_list.length}}</span>
                          </div>
                          <div class="date_action">
                            <a-button  @click="() => onChooseDateRange(item)" class="ml10 mr10">
                              <a-icon type="edit" />
                            </a-button>
                            <a-button type="danger" @click="() => onDeleteDateRange(item.key)" ghost>
                              <a-icon type="delete" />
                            </a-button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </a-row>
                  <div class="bordered">
                    <a-row type="text" class="p10 bg-gray modal-search-box">
                      <a-col :md="18">
                        <a-select          
                          allowClear
                          mode="multiple"
                          class="select-box" 
                          placeholder="Search by staff name, ID " 
                          :value="searchEmployee"
                          @search="onSearchMember"
                          @change="onChangeSearchModal"
                          :not-found-content="fetching ? undefined : null"
                           :default-active-first-option="false"
                          :filter-option="false"
                          :maxTagCount="2"
                          :disabled="disableSearch"
                        >
                          <a-spin v-if="fetching" slot="notFoundContent" size="small" />
                          <a-select-option v-for="(item, index) in dataOptionFilterMember" :key="index" :value="item.user_name">
                            {{item.name + ' (' + item.user_name + ' - ' + item.department + ')' }}
                          </a-select-option>
                        </a-select>
                      </a-col>
                      <a-col :md="6">
                        <span class="mr10 ml10">
                          <a-button type="primary" @click="onHandleSearchMember" :disabled="disableSearch">
                            <a-icon type="search" />
                          </a-button>
                        </span>
                        <a-button class="bg-gray" @click="() => onCleanFilter('member')" :disabled="disableSearch">
                          <a-icon type="reload" />
                        </a-button>
                      </a-col>
                    </a-row>
                    <div class="table-select">
                      <a-table
                        class="TableMemberOfCreate"
                        :columns="columns"
                        :data-source="dataMemberOfCreate"
                        :row-selection="disableSelect ? undefined : rowSelection"
                        :pagination="false"
                        :scroll="{y: 400}"
                      >
                      <span slot="name"  slot-scope="text, record">
                        <a-row >
                          <a-col :md="3">
                            <a-avatar icon="user" />
                          </a-col>
                          <a-col :md="18" >
                            <div class ='title-bold'>{{ record.name }}</div>
                            <div>{{ record.user_name + ' - ' + (record.department_name ? record.department_name.nameEn: '')}}</div>
                          </a-col> 
                        </a-row>
                      </span>     
                      </a-table>
                    </div>
                  </div>
                </div>
                <div
                  v-if="tooltipDelegation.config.visible"
                  :style="{
                    top: this.tooltipDelegation.config.top,
                    left: this.tooltipDelegation.config.left,
                    position: 'absolute',
                  }"
                >
                <span class=" ptb3 plr10">
                  <div class="delegation-tooltip" style="box-shadow: 2px 2px 5px #808080;" v-for="(name,index) in tooltipDelegation.nameList" :key="index">{{name}}</div>
                </span>
              </div>
              </div>
            </div>
          </div>
          
        </a-modal>
      </div>
      
  </div>
</template>

<script type='script' lang='js' src ='./DelegationManagement.js' />

