<template>
   <div class="container-popular-job" @click="$emit('onClick')">
       <div class="content-avatarJob">
           <img src="../../assets/images/popular.png" alt="avatar-job" class="img-job">
       </div>
       <div class="content-titleJobAndOpenJob">
           <p class="titleJob">{{popularJob.name}}</p>   
           <p class="openPosition">{{popularJob.openPosition}} open positions</p> 
       </div>
   </div>
</template>

<script>
export default {
    props:{
        popularJob:Object
    }
}
</script>

<style lang="scss" scoped>
.container-popular-job {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}
.img-job {
    width: 100%;
    height: 230px;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
p {
    text-align: center;
}
.titleJob {
    padding-top: 16px;
    font-size: 18px;
    color: #000000;
    line-height: 20px;
    font-weight: 700;
}
.openPosition {
    color: #0066B3;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
</style>