<template>
  <div class="progress-block">
    <a-steps progress-dot direction="vertical" :current="progressStep">
      <a-step
          v-for="person in progress"
          :key="person.id"
          :title="person.statusRequestType"
          :description="renderEl(person.createdBy)"
      />
    </a-steps>
  </div>
</template>

<script lang="js" src="./RequestDetailGeneralS6Progress.js">

</script>

<style lang="scss">
//override ant design

.progress-block {
  .ant-steps > .ant-steps-item  > .ant-steps-item-container {
    float: none;
    flex-direction: row;
    align-items: initial;
  }
  .ant-steps > .ant-steps-item  > .ant-steps-item-container > .ant-steps-item-content {
    width: 100%;
    display: flex ;
  }

  .ant-steps > .ant-steps-item  > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    font-size: 14px;
    color: #172B4D;
  }
  .ant-steps > .ant-steps-item  > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
    font-size: 16px;
    color: #1d9ad6;
  }

  .ant-steps > .ant-steps-item  > .ant-steps-item-container > .ant-steps-item-icon {
    margin-right: 9px;
  }
}
// ant-steps-item-title
// ant-steps-item-icon
</style>
