<template>
  <div class="processing-report">
    <a-layout class="mt100 pt10 pl20 content-wrapper requests" id="processing-report">
      <a-layout-content>
        <a-row class=" filter-container">
          <a-col :md="20">
            <FilterLayout
                ref="filterRef"
                :onSetDataFilters="onSetDataFilters"
                :onApplyFilters="onApplyFilters"
                @onCleanFilter="onCleanFilter"
                :datafilterDefault="dataFilters"
                currentPage="processingReport"
            />
          </a-col>
          <a-col :md="4" class="button-export">
            <a-button  type="primary" icon="download" @click="downloadFileExcel('report/processing/export', 'ProcessingReport')" >
              Export
            </a-button>
          </a-col>
        </a-row>
        <a-row class="table-container" >
          <a-table
              :columns="columns"
              :hover="false"
              :row-key="(record, index) => record.unit + index + Math.floor(Math.random() * 2000) "
              :data-source="processings"
              :pagination="false"
              :expandIconAsCell="false"
              :expandIconColumnIndex="1"
          >
            <template slot="deadline" slot-scope="text, row">
              <span>{{convertMillisecondsToDate(text)}}</span>
            </template>
          </a-table>
          <div class="pagination-box">
            <a-pagination
                :current="currentPage"
                :total="total_items"
                :page-size="pageSize"
                :show-total="onShowTotal"
                @change="onChangePage"
                @showSizeChange="onShowSizeChange"
            />
          </div>
        </a-row>
      </a-layout-content>
    </a-layout>
  </div>
</template>
<script type='script' lang='js' src ='./ProcessingReport.js' />
<style lang="scss">
#processing-report {
  overflow: hidden;
}
.processing-report {

  .filter-container {

  }
  .table-container {
    margin-top: 2rem;
    margin-right: 1rem;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
  }
  .ant-table-row-level-0{
    background-color: #FFE380;
  }

  .table-container .ant-table-align-center{

  }
  .table-container .ant-table-thead th {
    background-color: #EBECF0 !important;
    vertical-align: bottom;
    color: #6B778C;
  }.table-container td {
     font-weight: 500;
     color: #6B778C

   }
  .table-container .ant-table-thead tr:nth-child(1) th:nth-child(9){
    border-bottom: 1px solid #6B778C;

  }
  .table-container .ant-table-thead tr:nth-child(1) th:nth-child(11){
    border-bottom: 1px solid #6B778C;
  }
  .pagination-box {
    text-align: end;
    margin: 2rem 0rem;
    padding-right: 1rem;
  }
  .button-export {
    text-align: end;
    padding-right: 1rem;
  }
}
</style>