<template>
  <div class="container">
    <div class="content-job">
        <div class="content-job-header">
            <p class="name-job" @click="clickToDetail(featuredJob.id)">{{ featuredJob.name }}</p>
            <p class="job-position">{{ featuredJob.position }}</p>
        </div>
      <div class="content-job-right" @click="clickToDetail(featuredJob.id)">
        <div class="content-job-right-detail">
          <div>
            <p class="size-Text">
              <img src="../../assets/images/location.svg" class="custom-icon-feature">{{ featuredJob.location }}
            </p>
            <p class="size-Text">
              <img src="../../assets/images/calendar.svg" class="custom-icon-feature">{{ formatDate(featuredJob.date) }}
            </p>
            <p class="size-Text">
              <img src="../../assets/images/user.svg" class="custom-icon-feature"> {{ featuredJob.totalUser }} applicants
            </p>
          </div>
          <div>
            <p class="size-Text">
              <img src="../../assets/images/bag.svg" class="custom-icon-feature"> {{ featuredJob.workingType }}
            </p>
            <p class="size-Text">
              <a-icon type="star" class="custom-icon-feature" theme="filled"/> {{ featuredJob.experience }} years experience
            </p>
            <p class="size-Text">
              <img src="../../assets/images/coins.svg" class="custom-icon-feature"> {{featuredJob.salary }}
            </p>

          </div>
        </div>
      </div>
    </div>
    <CreateCvUploadModel
      :visibleModal="isShowUpLoadCVModal"
      :data="featuredJob"
      @onCancelPopup="onCancelPopup"
    />
  </div>
</template>

<script>
import CreateCvUploadModel from "../cv/CreateCvUploadModel";
import moment from "moment";
import { mapActions } from "vuex";

export default {
  components: {
    CreateCvUploadModel,
  },
  props: {
    featuredJob: Object,
  },
  data() {
    return {
      isShowUpLoadCVModal: false,
    };
  },
  methods: {
    formatDate(date) {
      return moment(date).format("DD/MM/YYYY");
    },
    ...mapActions({
      changeCreateStatus: "rtsJobPostingDetail/changeCreateStatus",
    }),
    openUploadCV() {
      this.changeCreateStatus("None");
      this.isShowUpLoadCVModal = true;
    },
    onCancelPopup() {
      this.isShowUpLoadCVModal = false;
    },
    clickToDetail(jobId) {
      if (!jobId && jobId !== 0) return;
      this.$router.push(`/rts/job-posting/detail/${jobId}`).catch(() => {});
    },
     formatNumberToVND(data) {
      try {
        let salary = parseInt(data);
        if (!isNaN(salary) && typeof salary == 'number') {
          salary = new Intl.NumberFormat('de-DE', { minimumFractionDigits: 0, style: 'currency', currency: 'VND' }).format(salary);
          salary = String(salary).replace('₫', '') + ' VND';
          return salary
        } else {
          return data;
        }
      } catch (error) {
        return data
      }
}
  },
};
</script>

<style lang="scss" scoped>
.container {
  width: 482px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 0;
  border: 1px solid #ccc;
}
.content-job {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content-job-left {
  width: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-apply {
  color: #fff;
  background-color: #0066b3;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 11px;
  font-weight: 450;
  cursor: pointer;
}
.content-job-right {
  display: flex;
  min-height: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 25px;
}
.name-job {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 0;
}
.job-position {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 9px;
}
.content-job-right-detail {
  // display: flex;
  min-width: 300px;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  margin-bottom: 0px;
}
.size-Text {
  font-size: 13px;
  color: #555555;
  line-height: 20px;
  font-weight: 400;
}
.content-job-header {
  background-color: #1D99D6;
  min-height: 100px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px 25px 0px 25px;
}
.icon {
  margin-right: 5px;
  display: inline-block;
  fill: black;
}
.custom-icon-feature {
  width: 12px;
  margin-right: 6px;
  filter: invert(14%) sepia(47%) saturate(13%) hue-rotate(49deg) brightness(97%) contrast(85%);
}


@media only screen and (max-width: 1024px) {
  .container {
    width: 300px;
  }
}

</style>>
