<template>
  <div class="requestDetail mt100 pt10 plr20">
    <div class="request-detail__header">
      <div class="header__group-btn">
        <a-checkbox
          v-model="isCreateAnother"
          :disabled="!checkRequestPermission('create', [], userRole) || isEdit"
        >
          Create another
        </a-checkbox>
        <a-button class="mlr5" key="submit" type="primary" @click="onSubmit">
          {{ isEdit ? "Save" : "Create" }}
        </a-button>
        <a-button key="back" @click="onCancel" class="mlr5"> Discard</a-button>
      </div>
    </div>
    <div class="request-detail__body">
      <a-form-model ref="ruleForm" :model="request" :rules="rules">
        <!-- DIVIDER 1 -->
        <a-row>
          <a-col class="block-left plr10" :span="12">
<!--            <a-row :gutter="[16]">
              <a-col :md="12">
                <a-form-model-item label="Position - SF4C" prop="positionSF4C">
                  <VueSelect
                      label="codeName"
                      v-model="request.positionSF4C"
                      :options="positionSF4C"
                      @input="$refs.ruleForm.clearValidate('positionSF4C')"
                  />
                </a-form-model-item>
              </a-col>
            </a-row>-->
            <a-row>
              <a-form-model-item label="JR SF4C" prop="codePosition">
                <a-input
                    v-model="request.codePosition"
                    placeholder="Text"
                    :maxLength="256"
                />
              </a-form-model-item>
            </a-row>
            <a-row :gutter="[16]">
              <a-col :md="12">
                <a-form-model-item label="Position" prop="jobType">
<!--                  <a-input :disabled="true"-->
<!--                      v-model="request.jobType"-->
<!--                      placeholder="Position"-->
<!--                      :maxLength="256"-->
<!--                  />-->

<!--                  {{listJobTypes}}-->
                  <VueSelect
                      label="name"
                      v-model="request.jobType"
                      :options="listJobTypes"
                  />

                </a-form-model-item>
              </a-col>
              <a-col :md="12">
                <a-form-model-item label="Job Code" prop="jobLevel">
<!--                  <a-input :disabled="true"-->
<!--                      v-model="request.jobLevel"-->
<!--                      placeholder="Job Code"-->
<!--                      :maxLength="256"-->
<!--                  />-->

                  <VueSelect
                      label="name"
                      v-model="request.jobLevel"
                      :options="listJobLevels"
                  />

                </a-form-model-item>
              </a-col>
            </a-row>
            <a-row>
              <a-form-model-item label="Job Title" prop="title">
                <a-input
                  v-model="request.title"
                  placeholder="Text"
                  :maxLength="256"
                />
              </a-form-model-item>
            </a-row>
            <a-row :gutter="[16]">
              <a-col :md="12">
                <a-form-model-item label="Request Type" prop="requestType">
                  <VueSelect
                    label="name"
                    v-model="request.requestType"
                    :options="requestTypes"
                    @input="$refs.ruleForm.clearValidate('requestType')"
                  />
                </a-form-model-item>
              </a-col>
              <a-col :md="12">
                <a-form-model-item label="Target" prop="number">
                  <a-input
                      v-model="request.number"
                      style="width: 100%"
                      placeholder="Target"
                  />
                </a-form-model-item>
              </a-col>

            </a-row>
            <a-col :md="12">
              <a-form-model-item label="Priority" prop="priority">
                <VueSelect
                    label="name"
                    v-model="request.priority"
                    :options="priorities"
                    @input="$refs.ruleForm.clearValidate('priority')"
                />
              </a-form-model-item>
            </a-col>
             <a-row :gutter="[16]">
              <a-col :md="12">
                <a-form-model-item label="Deadline" prop="deadline">
                  <a-date-picker
                    v-model="request.deadline"
                    placeholder="Choose something"
                    :allowClear="true"
                    :showSearch="true"
                    :disabled-date="disabledDate"
                    style="width: 100%"
                  />
                </a-form-model-item>
              </a-col>
            </a-row>
            <a-row :gutter="[16]">
              <a-col :md="12">
                <a-form-model-item label="Division" prop="group">
                  <VueSelect
                    label="name"
                    v-model="request.group"
                    :options="groups"
                    @input="getDepartmentByGroup()"
                  />
                </a-form-model-item>
              </a-col>
              <a-col :md="12">
                <a-form-model-item label="Department" prop="department">
                  <VueSelect
                    label="name"
                    v-model="request.department"
                    :options="departments"
                    @input="$refs.ruleForm.clearValidate('department')"
                  />
                </a-form-model-item>
              </a-col>
            </a-row>
            <a-row :gutter="[16]">
              <a-col :md="12">
                <a-form-model-item label="Project" prop="project">
                  <VueSelect
                    label="name"
                    v-model="request.project"
                    :options="projects"
                    @input="$refs.ruleForm.clearValidate('project')"
                  />
                </a-form-model-item>
              </a-col>
              <a-col :md="12">
                <a-form-model-item label="Area" prop="area">
                  <VueSelect
                      label="name"
                      v-model="request.area"
                      :options="areas"
                      @input="$refs.ruleForm.clearValidate('area')"
                  />
                </a-form-model-item>
              </a-col>
            </a-row>
            <a-row>
              <a-form-model-item label="Skills/Tags" prop="skills">
                <VueSelect
                  multiple
                  label="name"
                  v-model="request.skills"
                  :options="skills"
                  @input="$refs.ruleForm.clearValidate('skills')"
                />
              </a-form-model-item>
            </a-row>
            <a-row :gutter="[16]">
              <a-col :md="12">
                <a-form-model-item label="Experience (year)" prop="experience">
                  <VueSelect
                    label="name"
                    v-model="request.experience"
                    :options="experiences"
                    @input="$refs.ruleForm.clearValidate('experience')"
                  />
                </a-form-model-item>
              </a-col>
              <a-col :md="12">
                <a-form-model-item label="Working Time" prop="working time">
                  <VueSelect
                      label="name"
                      v-model="request.workingTime"
                      :options="workingTime"
                      @input="$refs.ruleForm.clearValidate('workingTime')"
                  />
                </a-form-model-item>
              </a-col>
            </a-row>

            <a-row :gutter="[16]">
              <a-col :md="12">
                <a-form-model-item label="Major" prop="major">
                  <VueSelect
                      label="name"
                      v-model="request.major"
                      :options="majors"
                      @input="$refs.ruleForm.clearValidate('major')"
                  />
                </a-form-model-item>
              </a-col>
              <a-col :md="12">
                <a-form-model-item label="Language">
                  <VueSelect
                      multiple
                      label="name"
                      v-model="request.language"
                      :options="languages"
                      @input="$refs.ruleForm.clearValidate('project')"
                  />
                </a-form-model-item>
              </a-col>
            </a-row>
            <a-row :gutter="[16]">
              <a-col :md="12">
                <a-form-model-item label="Salary" prop="salary">
                  <a-input
                      :disabled="true"
                      v-model="request.salary"
                      placeholder="Text"
                      :maxLength="256"
                  />
                </a-form-model-item>
              </a-col>
              <a-col :md="12">
                <a-form-model-item label="Certificate" prop="certificate">
                  <a-input v-model="request.certificate" placeholder="Text" />
                </a-form-model-item>
              </a-col>

            </a-row>

          </a-col>
          <a-col class="block-right plr10" :span="12">
            <a-row :gutter="[16]">
            </a-row>
            <a-row :gutter="[16]">
              <a-col :md="24">
                <a-row>
                  <a-col :md="24">
                    <a-form-model-item label="Description" prop="description">
                      <VueTinyEditor v-model="request.description" :height="260" checkField="description" class="custom-tiny"/>
                    </a-form-model-item>
                  </a-col>
                  <a-col :md="24">
                    <a-form-model-item label="Requirement" prop="requirement">
                      <VueTinyEditor v-model="request.requirement" :height="260" />
                    </a-form-model-item>
                  </a-col>
                </a-row>
                <a-form-model-item label="Benefit" prop="benefit">
                  <VueTinyEditor v-model="request.benefit" :height="260" class="custom-tiny"/>
                </a-form-model-item>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
      </a-form-model>
    </div>
    <div class="request-detail__footer"></div>
  </div>
</template>


<style lang="scss">
.requestDetail .ant-modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

//
.requestDetail .form-textarea-requests {
  margin-top: 3px;
  height: 205px !important;
  max-height: 205px !important;
}

.requestDetail .form-textarea-benefit {
  margin-top: 3px;
}

.requestDetail {
  background: white;
  margin-top: 50px !important;

  .header__group-btn {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .mb100 {
    margin-bottom: 100px;
  }

  .submit-block {
    .btn-submit {
      background: $btn-color-blue;
      color: white;
    }

    .btn-cancel {
      background: $btn-color-red;
      color: white;
    }
  }

  .close-button {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
  }

  .close-button:hover {
    cursor: pointer;
  }

  .title-header {
    margin-top: -10px;
  }

  //override ant design
  .ant-form-item-label {
    line-height: 16px;
  }

  .ant-input {
    background: #f9fbff;
  }

}
</style>

<script type='script' lang='js' src='./RequestEdit.js'/>
