<template>
  <div id="app">
    <router-view />
  </div>
</template>
<style lang="scss">
 .test {
   background: $theme-color-blue;
 }
</style>
<script>
import "ant-design-vue/dist/antd.css";
import "./assets/styles/style.scss";
import Vue from "vue";
Vue.config.productionTip = false;
import Antd from "ant-design-vue";
Vue.use(Antd);
import { mapState } from "vuex";
export default {
  name: "App",

  computed: {
    ...mapState({
      isAuthenticated: (state) => state.user.isAuthenticated,
    }),
  },
  created() {
    window.addEventListener('beforeunload', () => {
      localStorage.removeItem("PayloadRequest")
    });
  },
  mounted() {
    if (!this.isAuthenticated) {
      // this.$router.push("/login").catch(() => {});
    } else {
      let currentPath = this.$router.history.current.path;
      if (currentPath === "/login") {
        // this.$router.push("/").catch(() => {});
      } else if (currentPath === "/rts") {
        this.$router.push("/rts/requests").catch(() => {});
      } else {
        this.$router.push(currentPath).catch(() => {});
      }
    }
  },
};
</script>
