<template>
  <a-spin :spinning="loading">
    <a-layout id="components-layout-demo-top-side-2">
      <Header />
      <a-layout-content class="container">
        <router-view></router-view>
      </a-layout-content>
    </a-layout>
  </a-spin>
</template>

<script>
import Header from "../header/Header.vue";
import { mapState } from "vuex";
export default {
  name: "layout",
  components: {
    Header,
  },
  computed: {
    ...mapState({
      loading: (state) => state.user.loading,
    }),
  },
};
</script>
