.abnormal-case {
  .tooltips {
    background-color: #ffffff;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    max-width: 300px;
    word-break: break-all;
  }
}
.modal-atf{
  font-size: 13px; 
  margin-top: 5px;
}
.abnormal-drawer {
  .ant-drawer-wrapper-body {
    height: 100%;
    overflow-y: scroll;
  }
  .ant-drawer-content-wrapper {
    min-width: 600px;
  }
  .abnormal-bnt-delegate{
    background-color: #3789f8;
    color: #fff;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
  }
  .width-delegate-search{
    width: 70%;
  }
  .title-drawer{
    font-size: 14px;
    font-weight: 500;
    margin-top: 1%;
  }
}
.reason_abnormal_case {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 1000px) {
  .ant-btn-circle.ant-btn-sm{
    min-width: 35%;
    border-radius: 50%;
  }
  .ant-btn-sm{
    height: 40%;
  }
  .modal-da{
    margin-left: 30px;
  }
  .modal-width-da{
    width: 85px;
  }
  .modal-atf{
    font-size: 13px; 
    margin-top: 5px;
    // font-size: 12px;
    // vertical-align: -webkit-baseline-middle;
  }
  .modal-atm{
    font-size: 12px;
    margin-top: 5px;
  }
  .modal-attach-file{
    padding: 0% 5%;
    background-color: #3789f8;
    color: #ffffff;
  }
  .abnormal-drawer {
    .ant-drawer-wrapper-body {
      height: 100%;
      overflow-y: scroll;
    }
    .ant-tag{
      min-width: 56px;
      text-align: inherit;
    }
    .ant-drawer-content-wrapper {
      min-width: 350px;
      .ant-drawer-title{
        font-size: 12px;
      }
    }
    .abnormal-bnt-delegate{
      width: 140%;
      height: auto;
      border-radius: 5px;
      background-color: #3789f8;
      color: #fff;
      padding-left: 0;
      padding-right: 0;
    }
    .width-delegate-search{
      width: 70%;
    }
    .req-close-delegate {
      background-color: #ff4d4f;
      color: #fff;
      margin-left: 10px;
      margin-right: 3px;
    }
    .req-check-delegate {
      background-color: #44bd32;
      color: #fff;
    }
  }
  .ant-drawer-body{
    padding-left: 0px;
    margin-left: 5px;
    .ant-form {
      .ant-form-item {
        .ant-form-text {
          margin-left: 5px;
        }
      }
    }
  }
  tr {
    border-radius: 5px;
    font-size: 9px;
    color: black;
  }
  .ant-tag {
    font-size: 9px;
  }
}
