
.check-in-out-page {
	table {
	 .ant-table-tbody > tr > td {
			padding: 0;
			.check-in-out-item {
				padding: 16px 16px;
			}
		}
		.ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td, .ant-table-tbody>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td, .ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td, .ant-table-thead>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td {
			background:none;
		}
	}
	.customCheckIO{
		background-color: #ff8f8f;
	}
	.is-active-check-in-out{
		background-color: #e6f7ff;
	}
}