.modal-tab-title {
    //font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
}
.modal-search-box {
    height: 52px;
}

.ant-steps {
    .ant-steps-item-active {
        .ant-steps-item-container {
            .ant-steps-item-title {
                color: #1d9ad6;
            }
        }
    }

    .ant-steps-item {
        .ant-steps-item-container {
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            .ant-steps-item-content {
                display: block;
                .ant-steps-item-title::after {
                    left: 80%;
                    top: -50%;
                }
            }
        }
    }
}

//class when click button choose delegator
.ant-btn-background-ghost.ant-btn-primary.blue{
    background-color: #1d9ad6 !important;
    color: white;
}

.select_date_title{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
}

.flex-date{
    display: flex;
}

.list_date_range{
    .list_date{
        padding: 0;
        margin: 0;
        width: 100%;
        .list_date_item{
            list-style: none;
            width: 100%;
            display: flex;
            .date_label{
                height: 30px;
                width: 75%;
                font-size: 14px;
                border:1px solid grey;
                line-height: 30px;
                border-radius: 4px;
                padding: 0 20px;
                position: relative;
                .member_quantity{
                    position: absolute;
                    right: 20px;
                    top: 4px;
                    display: block;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    background-color: rgb(185, 185, 185);
                }
            }
            .activeItemMember {
                background-color: lightblue;
            }
        }
    }
}

.drawer-right{
    .ant-drawer-content-wrapper{
      width: auto !important;
      min-width: 540px;
    //   max-width: 550px;
    }
}


.select-box{
    width: 100%;
}

.flex-search-box{
    display: flex;
    .btn-search-detail{
        width: 42px;
    }
}

.delegation-tooltip{
    background-color: #ffffff;
    text-align: center;
    color: black;
    padding-top: 5%;
    padding-bottom: 10%;
    position: "absolute";
    width: 150%;
    
}