.form-employee {
    .personal-info{
        padding-left: 50px;
        padding-right: 50px;
    }
    .staff-info{
        padding-left: 50px;
        padding-right: 50px;
        .staff-info-col1 {
            padding-right: 50px;
        }
        .staff-info-col2 {
            padding-left: 50px;
        }
    }
    .contract-info{
        padding-left: 50px;
        padding-right: 50px;
    }
    .benifit-info{
        padding-left: 50px;
        padding-right: 50px;
    }
    .ant-divider-horizontal {
        margin-top: 5px;
        margin-bottom: 7px;
    }
}