.onsite-management {
  th {
    background-color: #eaeaea;
    padding-left: 20px;
  }
  td {
    padding-left: 20px;
  }
  tr {
    border-radius: 5px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    th {
      position: sticky;
      top: 0;
    }
  }
  .modalOnsite .ant-form-item {
    margin-bottom: 12px;
  }
  .tooltips {
    background-color: #ffffff;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
  }
  .first-stage-tag {
    height: 20px;
    width: 45%;
    text-align: center;
    color: #ffffff;
  }
  .second-stage-tag {
    width: 45%;
    height: 20px;
    text-align: center;
    color: #ffffff;
  }
  .tag-helper1 {
    width: 0;
    height: 20px;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
  }
  .tag-helper2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent !important;
  }
  .onsite-tooltip {
    background-color: #ffffff;
    text-align: center;
    color: black;
    padding-top: 5%;
    padding-bottom: 10%;
    position: "absolute";
    width: 150%;
    box-shadow: 2px 2px 5px #808080;
  }
}

.drawerOnsite {
  .ant-input {
    height: 25px;
    width: 100%;
  }
  .ant-drawer-wrapper-body {
    height: 100%;
  }
  .ant-form-text{
    font-size: 0.725rem;
  }
  .ant-drawer-content-wrapper {
    min-width: 555px;
  }
  .ant-drawer-body {
    padding: 0% 2%;
  }
  .title-drawer{
    font-size: 14px;
    font-weight: 500;
    margin-top: 1%;
  }
  .ot-attach-file{
    padding: 0% 10%;
    background-color: #3789f8;
    color: #ffffff;
  }
  .onsite-font {
    font-weight: 400;
    font-size: 0.725rem;
  }
  .onsite-padding {
    padding-top: 15px;
    padding-right: 5px;
  }
  .onsite-padding-delegate{
    padding-right: 5%;
    padding-left: 5%;
    height: 35%;
    margin-top: 9%;
  }
  .onsite-ant-text{
    font-size: 0.725rem;
  }
  .onsite-padding-end{
    padding-top: 2px;
    padding-right: 5px;
  }
  .onsite-padding-btn {
    padding-top: 15px;
    padding-right: 5px;
    padding-left: 40%;
  }
  .onsite-padding-text {
    padding-top: 15px;
    padding-right: 5px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .onsite-padding-status {
    padding-top: 15px;
    padding-right: 5px;
    padding-left: 0px;
    margin-left: 30px;
  }
  .onsite-text {
    text-align: justify;
  }
  .onsite-color-attach {
    background-color: #3789f8;
  }
  .onsite-color-approve {
    background-color: #44bd32;
    color: #fff;
  }
  .ant-btn:hover,
  .ant-btn:focus {
    color: black;
    border-color: rgb(151, 150, 150);
  }
  .onsite-btn-delegate{
    background-color: #3789f8;
    color: #fff;
  }
  .onsite-check-delegate {
    background-color: #44bd32;
    color: #fff;
  }
  .onsite-close-delegate {
    background-color: #ff4d4f;
    color: #fff;
    margin-left: 10px;
    margin-right: 3px;
    margin-top: 18px;
  }
  .onsite-color-reject {
    background-color: #ff4d4f;
    color: #fff;
    margin-right: 3px;
  }
  .onsite-border-radius {
    border-radius: 80px;
    background-color: #e8e8e8;
  }
  .onsite-tag-dept {
    color: #c4c4c4;
  }
  .color-tag-cnb {
    color: #ff7a00;
  }
  .title-bold {
    color: #404040;
    font-weight: 500;
  }
  .first-stage-tag {
    height: 20px;
    width: 45%;
    text-align: center;
    color: #ffffff;
  }
  .second-stage-tag {
    width: 45%;
    height: 20px;
    text-align: center;
    color: #ffffff;
  }
  .tag-helper1 {
    width: 0;
    height: 20px;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
  }
  .tag-helper2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent !important;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .tooltips {
    background-color: #ffffff;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
  }
  .onsite-tooltip {
    background-color: #ffffff;
    text-align: center;
    color: black;
    padding-top: 5%;
    padding-bottom: 10%;
    position: "absolute";
    width: 150%;
    box-shadow: 2px 2px 5px #808080;
  }
}

.modalOnsite {
  .staffOnsiteList {
    max-height: 140px;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .ant-upload-list.ant-upload-list-text {
    margin: 5px 0px;
    max-height: 150px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .ant-row.ant-form-item {
    margin-bottom: 7px;
  }
  .ant-time-picker {
    width: auto;
  }
}

.ant-time-picker-panel-select ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ant-row.ant-form-item {
  margin-bottom: 7px;
}

.button-delete-uploaded-file {
  border: none !important;
  box-shadow: none;
  padding: 2px 4px;
}

.row-select-uploaded-file {
  .file-name {
    max-width: 200px;
    width: 200px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.ant-dropdown-menu-item:hover .button-delete-uploaded-file {
  background-color: #e6f7ff;
}

.ant-time-picker-panel-select:hover {
  scrollbar-width: none;
}
@media (max-width: 1000px) {
  .modalOnsite .ant-time-picker{
    width: 105%;
  }
  tr {
    border-radius: 5px;
    font-size: 9px;
    color: black;
  }
  .onsite-management{
    .first-stage-tag {
      height: 20px;
      width: 45%;
      text-align: center;
      color: #ffffff;
    }
    .second-stage-tag {
      width: 45%;
      height: 20px;
      text-align: center;
      color: #ffffff;
    }
    .first-stage-tag2 {
      height: 20px;
      width: 36%;
      text-align: center;
      color: #ffffff;
      border-radius: 50%;
      margin-right: 2%;
    }
    .second-stage-tag2 {
      width: 36%;
      height: 20px;
      text-align: center;
      color: #ffffff;
      border-radius: 50%;
    }
    .tag-helper1 {
      width: 0;
      height: 20px;
      border-top: 10px solid transparent !important;
      border-bottom: 10px solid transparent !important;
    }
    .tag-helper2 {
      width: 0;
      height: 0;
      border-left: 10px solid transparent !important;
    }
    .onsite-tooltip {
      background-color: #ffffff;
      text-align: center;
      color: black;
      padding-top: 5%;
      padding-bottom: 10%;
      position: "absolute";
      width: 150%;
    }
    .cursor-pointer {
      cursor: pointer;
    }
  }
  .drawerOnsite {
    .ant-btn-circle.ant-btn-sm{
      min-width: 15%;
      border-radius: 50%;
      margin-left: 5%;
    }
    .ant-input {
      height: 25px;
      width: 100%;
    }
    .ant-form-text{
      font-size: 10px;
    }
    .ant-drawer-wrapper-body {
      height: 100%;
    }
    .ant-drawer-content-wrapper {
      min-width: 450px;
      .ant-drawer-title{
        font-size: 13px;
      }
    }
    .ant-drawer-body {
      padding: 0px 0px;
    }
    .onsite-font {
      font-size: 10px;
      color: #000000;
    }
    .onsite-padding {
      padding-top: 10px;
      margin-left: 0px;
    }
    .onsite-padding-end{
      padding-top: 2px;
      margin-left: 0px;
    }
    .onsite-padding-btn {
      padding-top: 15px;
      padding-right: 5px;
      padding-left: 20%;
    }
    .onsite-padding-text {
      padding-top: 10px;
      padding-right: 5px;
      padding-left: 0px;
      margin-left: 0px;
    }
    .onsite-padding-status {
      padding-top: 10px;
      padding-right: 5px;
      padding-left: 0px;
      margin-left: 20px;
    }
    .onsite-text {
      text-align: justify;
    }
    .onsite-color-attach {
      background-color: #2899FF;
    }
    .onsite-color-approve {
      background-color: #44bd32;
      padding: 0% 4%;
    }
    .ant-btn:hover,
    .ant-btn:focus {
      color: black;
      border-color: rgb(151, 150, 150);
    }
    .onsite-color-reject {
      background-color: #ff4d4f;
      padding: 0% 4%;
      margin-right: 5%;
      margin-left: 33%;
    }
    .ot-attach-file{
      padding: 0% 6%;
      background-color: #3789f8;
      color: #ffffff;
      height: 25px;
    }
    .onsite-close-delegate {
      background-color: #ff4d4f;
      color: #fff;
      margin-left: 10px;
      margin-right: 3px;
      margin-top: 18px;
    }
    .onsite-border-radius {
      border-radius: 80px;
      background-color: #e8e8e8;
    }
    .onsite-tag-dept {
      color: #c4c4c4;
    }
    .color-tag-cnb {
      color: #ff7a00;
    }
    .title-bold {
      color: #404040;
      font-weight: 500;
    }
    .first-stage-tag {
      height: 20px;
      width: 45%;
      text-align: center;
      color: #ffffff;
      margin-right: 2%;
    }
    .second-stage-tag {
      width: 45%;
      height: 20px;
      text-align: center;
      color: #ffffff;
    }
    .first-stage-tag2 {
      height: 16px;
      width: 25%;
      text-align: center;
      color: #ffffff;
      border-radius: 50%;
      margin-right: 2%;
      font-size: 11px;
    }
    .second-stage-tag2 {
      height: 16px;
      width: 25%;
      text-align: center;
      color: #ffffff;
      border-radius: 50%;
      font-size: 11px;
    }
    .tag-helper1 {
      width: 0;
      height: 20px;
      border-top: 10px solid transparent !important;
      border-bottom: 10px solid transparent !important;
    }
    .tag-helper2 {
      width: 0;
      height: 0;
      border-left: 10px solid transparent !important;
    }
    .cursor-pointer {
      cursor: pointer;
    }
    .tooltips {
      background-color: #ffffff;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 3px;
    }
  }
}
