.overtime-management {
  tr {
    border-radius: 5px;
    font-size: 12px;
  }
  
  .OT-management {
    width: 100%;
  }
}

.modalOT {
  .ant-upload-list.ant-upload-list-text {
    margin: 5px 0px;
    max-height: 150px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .ant-row.ant-form-item {
    margin-bottom: 7px;
  }
  .ant-time-picker {
    width: 13.79vh;
    padding-right: 3px;
  }
  .ant-form-item {
    margin-bottom: 12px;
    display: flex;
  }
  .ant-calendar-picker {
    width: -webkit-fill-available;
  }
}

.drawerOT {
  .ant-drawer-wrapper-body {
    height: 100%;
    overflow-y: scroll;
  }
  .ant-drawer-content-wrapper {
    min-width: 670px;
  }
  .title-drawer{
    font-size: 14px;
    font-weight: 500;
    margin-top: 1%;
  }
  .ot-font {
    font-weight: 400;
    font-size: 0.725rem;
  }
  .ot-font-end {
    font-weight: 400;
    font-size: 0.725rem;
  }
  .ant-form-text {
    font-size: 0.725rem;
  }
  .ot-padding {
    padding: 9px;
  }
  .ot-padding-dm{
    padding-left: 9px;
    padding-right: 0px;
    padding-bottom: 9px;
    padding-top: 9px;
  }
  .ot-padding-l{
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 9px;
    padding-bottom: 9px;
    padding-top: 9px;
  }
  .ot-text {
    text-align: justify;
  }
  .ot-color-attach {
    background-color: #1890ff;
    color: #fff;
  }
  .ot-color-approve {
    background-color: #44bd32;
    color: #fff;
  }
  .ot-color-approve-all {
    background-color: #44bd32;
    color: #fff;
    margin-right: 5px;
  }
  .ot-color-reject {
    background-color: #ff4d4f;
    color: #fff;
    margin-right: 5px;
  }
  .ot-color-reject-all{
    background-color: #ff4d4f;
    color: #fff;
    margin-right: 5px;
  }
  .ant-drawer-body {
    padding: 0px 0px;
  }
  .ot-color-delegate {
    background-color: #3789f8;
    color: #fff;
    height: 20px;
    width: 80px;
  }
  .ot-end {
    text-align: end;
    padding-top: 30%;
  }
  .ant-input {
    height: 25px;
    width: 100%;
  }
  .ot-color-comment {
    background-color: #1890ff;
    color: #fff;
  }
  .ot-color-send {
    background-color: #1890ff;
    color: #fff;
  }
  .ot-color-cancel {
    background-color: #cbcbcb;
    color: #fff;
  }
  .ot-color-withdraw {
    background-color: #cbcbcb;
    color: black;
  }
  .ot-close-delegate {
    background-color: #ff4d4f;
    color: #fff;
    margin-right: 3px;
  }
  .ot-check-delegate {
    background-color: #44bd32;
    color: #fff;
  }
  .ot-close-reject {
    background-color: #ff4d4f;
    color: #fff;
    margin-right: 5px;
  }
  .ot-check-approve {
    background-color: #44bd32;
    color: #fff;
  }
  .ot-icon {
    background-color: #999999;
    color: #fff;
  }
  .ot-margin-end {
    margin-left: 48px;
  }
  .ot-disabled {
    background-color: #cbcbcb;
    margin-right: 5px;
  }
  .ot-disabled-all {
    background-color: #cbcbcb;
    margin-right: 5px;
  }
}

@media(max-width: 1000px){
  .ot-ant-tag {
    min-width: 50px;
    text-align: center;
  }
  .ant-modal .ant-modal-content .ant-modal-body{
    width: 500px;
  }
  .drawerOT{
    .ant-btn-circle.ant-btn-sm{
      min-width: 0%;
      border-radius: 50%;
      margin-left: 0%;
    }
    .ant-btn-sm{
      height: 40%;
    }
    .ant-drawer-wrapper-body {
      height: 100%;
      overflow-y: scroll;
    }
    .ant-drawer-content-wrapper {
      min-width: 500px;
      .ant-drawer-title{
        font-size: 13px;
      }
    }
    .ot-font {
      font-size: 9px;
      color: #000000;
    }
    .ot-font-end {
      font-size: 9px;
    }
    .ant-form-text {
      font-size: 10px;

    }
    .ot-padding {
      padding: 3px;
      padding-left: 0px;
    }
    .ot-padding-dm{
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 9px;
      padding-top: 9px;
    }
    .ot-padding-l{
      padding-left: 0px;
      padding-right: 9px;
      padding-bottom: 9px;
      padding-top: 9px;
    }
    .ot-text {
      text-align: justify;
    }
    .ot-color-attach {
      background-color: #1890ff;
      color: #fff;
    }
    .ot-color-approve {
      background-color: #44bd32;
      color: #fff;
      margin-right: 5px;
    }
    .ot-color-approve-all {
      background-color: #44bd32;
      color: #fff;
      margin-right: 5px;
      padding-right: 10%;
      padding-left: 10%;
    }
    .ot-color-reject {
      background-color: #ff4d4f;
      color: #fff;
      margin-right: 5px;
    }
    .ot-color-reject-all{
      background-color: #ff4d4f;
      color: #fff;
      margin-right: 5px;
      padding-left: 10%;
      padding-right: 10%;
    }
    .ant-drawer-body {
      padding: 0px 0px;
    }
    .ot-color-delegate {
      background-color: #3789f8;
      color: #fff;
      width: 100%;
      height: auto;
      padding-left: 3%;
      padding-right: 3%;
    }
    .ot-end {
      text-align: end;
      padding-top: 30%;
    }
    .ant-input {
      height: 25px;
      width: 100%;
    }
    .ot-color-comment {
      background-color: #1890ff;
      color: #fff;
      padding-left: 35%;
      padding-right: 35%;
    }
    .ot-color-send {
      background-color: #1890ff;
      color: #fff;
      padding-left: 10%;
      padding-right: 10%;
      margin-left: 25%;
    }
    .ot-color-cancel {
      background-color: #cbcbcb;
      color: #fff;
      padding-left: 10%;
      padding-right: 10%;
      margin-left: 30%;
    }
    .ot-color-withdraw {
      background-color: #cbcbcb;
      color: black;
     padding-left: 2%;
     padding-right: 2%;
    }
    .ot-close-delegate {
      background-color: #ff4d4f;
      color: #fff;
      margin-right: 3px;
    }
    .ot-check-delegate {
      background-color: #44bd32;
      color: #fff;
    }
    .ot-close-reject {
      background-color: #ff4d4f;
      color: #fff;
      margin-right: 5px;
    }
    .ot-check-approve {
      background-color: #44bd32;
      color: #fff;
    }
    .ot-icon {
      background-color: #999999;
      color: #fff;
    }
    .ot-margin-end {
      margin-left: 48px;
    }
    .ot-disabled {
      background-color: #cbcbcb;
      margin-right: 5px;
    }
    .ot-disabled-all {
      background-color: #cbcbcb;
      margin-right: 5px;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  .modalOT {
    .ant-time-picker {
      width: 12.79vh;
      padding-right: 3px;
    }
  }
  .modal-attach-file{
    padding: 0% 5%;
    background-color: #3789f8;
    color: #ffffff;
  }
  .modal-atf{
    font-size: 12px;
    vertical-align: -webkit-baseline-middle;
  }
  .modal-atm{
    font-size: 12px;
    margin-top: 5px;
  }
}
