.active-row-payroll-onsite {
    background-color: #d7f2ff !important;
}
.payroll-onsite-tr{
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    transition: background 0.3s ease;
    height: 52px;
}
.payroll-onsite-add-row-table{
    padding: 10px 5px !important;
    border-bottom: 1px solid #e8e8e8;
    transition: all 0.3s, border 0s;
    color: rgba(0, 0, 0, 0.85);
    background-color: #d7f2ff;
    font-size: 0.725rem;
}
.ant-table-thead tr:nth-child(2) th{
    background-color: #d7f2ff !important;
}

.payroll-period{  
    .ant-table-header {
        .ant-table-fixed{
            col{
                min-width: 60px !important; 
            }
        }
    }
}

.ant-drawer .detail-drawer {
    .staff-info {
        margin-top: 14px;
    }
    .title-no-bold {
        color: #9f9f9f;
        font-size: 0.675rem;
    }
}
.ant-drawer .payslip {
    .staff-info {
        margin-top: 14px;
    }
}
.ant-drawer .payroll-overtime-detail {
    .staff-info {
        margin-top: 14px;
    }
}
.ant-list-item-meta-title{
    font-size: 12px;
}
.detail-drawer {
    height: 100%;
    .ant-list-items {
        .ant-list-item {
            padding: 0 5px;
            font-size:0.725rem;
            //font-size: 12px;
        }
        .ant-list-item:nth-child(2n-1){
            background:   #f0f2f5; 
        }
    }
    .dmlinhhhhh {
        padding-left: 30px;
        margin-top: 27px;
    }
}
.detail-drawer .detail-payroll-period .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #1890ff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #fff
    }
    
}
.detail-drawer .detail-period-A .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
    
}
.detail-drawer .detail-period-A .ant-list-items .ant-list-item:nth-child(11) {
    color: red; 
    .ant-list-item-meta-title:nth-child(1) {
        color: red
    }
}
.detail-drawer .detail-period-B .ant-list-items .ant-list-item:nth-child(15) {
    color: red; 
    .ant-list-item-meta-title:nth-child(1) {
        color: red
    }
}
.detail-drawer .detail-period-B .ant-list-items .ant-list-item:nth-child(5) {
    background-color:  #fff;
    .ant-list-item-meta-title {
        margin-left: 20px;
    }
}
.detail-drawer .detail-period-B .ant-list-items .ant-list-item:nth-child(6) {
    background-color:  #fff;
    .ant-list-item-meta-title {
        margin-left: 20px;
    }
}
.detail-drawer .detail-period-B .ant-list-items .ant-list-item:nth-child(7) {
    background-color:  #fff;
    .ant-list-item-meta-title {
        margin-left: 20px;
    }
}
.detail-drawer .detail-period-B .ant-list-split .ant-list-item:nth-child(4) {
    border-bottom: 0px solid #e8e8e8;
}
.detail-drawer .detail-period-B .ant-list-split .ant-list-item:nth-child(5) {
    border-bottom: 0px solid #e8e8e8;
}
.detail-drawer .detail-period-B .ant-list-split .ant-list-item:nth-child(6) {
    border-bottom: 0px solid #e8e8e8;
}
.detail-drawer .detail-period-B .ant-list-split .ant-list-item:nth-child(7) {
    border-bottom: 0px solid #e8e8e8;
}
.detail-drawer .detail-period-B .ant-list-split .ant-list-item:nth-child(8) {
    border-top: 1px solid #e8e8e8;
}
.detail-drawer .detail-period-C .ant-list-items .ant-list-item:nth-child(6) {
    color: red; 
    .ant-list-item-meta-title:nth-child(1) {
        color: red
    }
}
.detail-drawer .detail-period-D .ant-list-items .ant-list-item:nth-child(6) {
    color: red; 
    .ant-list-item-meta-title:nth-child(1) {
        color: red
    }
}
.detail-drawer .detail-period-B .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
}
.detail-drawer .detail-period-C .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
}
.detail-drawer .detail-period-D .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
}
.detail-drawer .ant-list-items .ant-list-item:nth-child(1) {
    color: #fff
}

.title-bold {
    color: #404040;
    font-weight: 500;
}

.payroll-overtime-drawer{
    .payroll-overtime-detail {
        .title-no-bold {
            // color:#000;
            color: #9f9f9f;
            font-size: 0.675rem;
        }
    }
}
.payroll-total-salary {
    .input-edit{
        background-color: red;
    }
    .payroll-close-edit {
        background-color: #ff4d4f;
        color: #fff;
    }
    .payroll-check-edit {
        background-color: #44bd32;
        color: #fff;
    }
}
.payroll-period {
    .input-edit{
        background-color: red;
    }
    .payroll-close-edit {
        background-color: #ff4d4f;
        color: #fff;
    }
    .payroll-check-edit {
        background-color: #44bd32;
        color: #fff;
    }
}
.payslip {
    height: 100%;
     .ant-list-items {
        .ant-list-item {
            padding: 0 5px;
            font-size:0.725rem;
            //font-size: 12px;
        }
        .ant-list-item:nth-child(2n-1){
            background-color:   #f0f2f5; 
        }
    }
    .dmlinhhhhh {
        padding-left: 10px;
        margin-top: 50px;
        .payslip-red {
            font-size: 15px;
            font-weight: 700;
        }
    }
}
.payslip .ant-list-items .ant-list-item:nth-child(1) {
    color: #fff
}
.payslip .payslip-payroll-period .ant-list-items .ant-list-item:nth-child(1){
    background-color: #1890ff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #fff
    }
}
.payslip .payslip-period-A .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
    
}
.payslip .payslip-period-A .ant-list-items .ant-list-item:nth-child(12) {
    color: red; 
    .ant-list-item-meta-title:nth-child(1) {
        color: red
    }
}
.payslip .payslip-period-B .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
    
}
.payslip .payslip-period-B .ant-list-items .ant-list-item:nth-child(13) {
    color: red; 
    .ant-list-item-meta-title:nth-child(1) {
        color: red
    }
}
.payslip .payslip-period-B .ant-list-items .ant-list-item:nth-child(3) {
    background-color:  #fff;
    .ant-list-item-meta-title {
        margin-left: 20px;
    }
}
.payslip .payslip-period-B .ant-list-items .ant-list-item:nth-child(4) {
    background-color:  #fff;
    .ant-list-item-meta-title {
        margin-left: 20px;
    }
}
.payslip .payslip-period-B .ant-list-items .ant-list-item:nth-child(5) {
    background-color:  #fff;
    .ant-list-item-meta-title {
        margin-left: 20px;
    }
}
.payslip .payslip-period-B .ant-list-split .ant-list-item:nth-child(2) {
    border-bottom: 0px solid #e8e8e8;
}
.payslip .payslip-period-B .ant-list-split .ant-list-item:nth-child(3) {
    border-bottom: 0px solid #e8e8e8;
}
.payslip .payslip-period-B .ant-list-split .ant-list-item:nth-child(4) {
    border-bottom: 0px solid #e8e8e8;
}
.payslip .payslip-period-B .ant-list-split .ant-list-item:nth-child(5) {
    border-bottom: 0px solid #e8e8e8;
}
.payslip .payslip-period-B .ant-list-split .ant-list-item:nth-child(6) {
    border-top: 1px solid #e8e8e8;
}
.payslip .payslip-period-C .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
    
}
.payslip .payslip-period-C .ant-list-items .ant-list-item:nth-child(6) {
    color: red; 
    .ant-list-item-meta-title:nth-child(1) {
        color: red
    }
}
.payslip .payslip-period-D .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
    
}
.payslip .payslip-period-D .ant-list-items .ant-list-item:nth-child(6) {
    color: red; 
    .ant-list-item-meta-title:nth-child(1) {
        color: red
    }
}
.payroll-overtime-detail {
    height: 100%;
    .ant-list-items {
        .ant-list-item {
            padding: 0 5px;
            font-size:0.725rem;
            //font-size: 12px;
        }
        .ant-list-item:nth-child(2n-1){
            background:   #f0f2f5; 
        }
    }
    .dmlinhhhhh {
        padding-left: 30px;
    }
}
.payroll-overtime-detail .ant-list-items .ant-list-item:nth-child(1) {
    color: #fff;
    font-size:0.725rem;
}
.payroll-overtime-detail .ant-list-items .ant-list-item {
    font-size:0.725rem;
}
.payroll-overtime-detail .detail-overtime-A .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
}
.payroll-overtime-detail .detail-overtime-B .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
}
.payroll-overtime-detail .detail-overtime-C .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
}
.payroll-overtime-detail .detail-overtime-D .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
}
.payroll-overtime-detail .detail-overtime-E .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
}
.payroll-overtime-detail .detail-overtime-F .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
}
.payroll-overtime-detail .detail-overtime-G .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
}
.payroll-overtime-detail .detail-overtime-G .ant-list-items .ant-list-item:nth-child(8) {
    color: red; 
    .ant-list-item-meta-title:nth-child(1) {
        color: red
    }
}
.payroll-overtime-detail .detail-overtime-G .ant-list-split .ant-list-item:nth-child(8) {
    border-bottom: 0px solid #e8e8e8;
}
.payroll-overtime-detail .detail-overtime-G .ant-list-items .ant-list-item:nth-child(9) {
    color: red; 
    background-color: #fff;
    .ant-list-item-meta-title:nth-child(1) {
        color: red
    }
}
.payroll-overtime-detail .detail-overtime-H .ant-list-items .ant-list-item:nth-child(1) {
    background-color: #d4ebff;
    .ant-list-item-meta-title:nth-child(1) {
        color: #1890ff
    }
}
.payroll-overtime-detail .detail-overtime-H .ant-list-items .ant-list-item:nth-child(8) {
    color: red; 
    .ant-list-item-meta-title:nth-child(1) {
        color: red
    }
}
.payroll-overtime-detail .detail-overtime-H .ant-list-split .ant-list-item:nth-child(8) {
    border-bottom: 0px solid #e8e8e8;
}
.payroll-overtime-detail .detail-overtime-H .ant-list-items .ant-list-item:nth-child(9) {
    color: red; 
    background-color: #fff;
    .ant-list-item-meta-title:nth-child(1) {
        color: red
    }
}


 