.report {
	.report-items {
		.ant-col {
			padding: 10px;
		}
	}
	.report-card-item {
		border: none;
		.ant-card-cover {
			padding: 30px;
			background-color: #fff;
			border: 1px solid #f0f2f5;
		}
		.ant-card-body{
			background-color: #fff;
			
			.ant-card-meta{
				text-align: center;
				.ant-card-meta-detail{
					.ant-card-meta-title {
						font-size: 0.725rem;
					}
				}
			}
		}
	}
}