.status-request{
    width: auto;
    text-align: center;
}
.request-drawer{
    .ant-drawer-wrapper-body {
        height: 100%;
        overflow-y: scroll;
    }
    .ant-drawer-content-wrapper{
        min-width: 555px;
    }
    .title-drawer{
        font-size: 14px;
        font-weight: 500;
        margin-top: 1%;
    }
    .width-delegate-search{
        width: 200px;
    }
    .request-btn-delegate{
        width: 120%;
        height: 10%;
        border-radius: 5px;
        background-color: #3789f8;
        color: #fff;
    }
    .request-cc{
        padding-right: 2px;
        padding-bottom: 0px;
        text-align: justify;
    }
    .margin-t-drawer{
        margin-top: 20%;
    }
    .margin-l-drawer{
        margin-left: 0%;
    }
    .margin-r-drawer{
        margin-right: 0%;
    }
    .ant-form-text {
        font-size: 0.725rem;
    }
    .font-drawer{
        font-weight: 400;
        font-size: 0.725rem;
    }
    .text-align-drawer{
        text-align: end;
    }
}
.ant-tag {
    min-width: 80px;
    text-align: center;
}
@media(max-width: 1000px){
    .ant-tag {
        min-width: 66px;
        text-align: inherit;
    }
    .ant-modal .ant-modal-content{
        width: 500px;
        .ant-modal-body{
            padding-bottom: 0%;
        }
    }
    .ant-row.ant-form-item{
        margin-bottom: 0px;
    }
    .ant-modal .ant-input{
        font-size: 11px;
    }
    .ant-form label{
        font-size: 12px;
    }
    .modal-attach-file{
        padding: 0% 7%;
        background-color: #3789f8;
        color: #ffffff;
    }
    .modal-btn-ca{
        padding-left: 13%;
        padding-right: 13%;
    }
    .modal-btn-cr{
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .modal-atf{
        font-size: 12px;
        vertical-align: -webkit-baseline-middle;
    }
    .modal-atm{
        font-size: 12px;
        margin-top: 5px;
    }
    .modal-dur{
        color: #ff0000;
        margin-bottom: 15px;
        font-size: 12px;
        margin-left: 80px;
    }
    .modal-row-sel{
        font-size: 12px;
    }
    .modal-row-shi{
        font-size: 12px;
    }
    .modal-row-sa{
        margin-left: 18px;
        font-weight: 600;
    }
    .modal-row-ba{
        margin-left: 30%;
        font-weight: 500;
        font-size: 12px;
    }
    .request-drawer{
        .ant-drawer-wrapper-body {
            height: 100%;
            overflow-y: scroll;
        }
        .ant-drawer-content-wrapper{
            min-width: 400px;
            .ant-drawer-title{
                font-size: 12px;
            }
        }
        .ant-drawer-body{
            margin-left: 2%;
            margin-right: 0%;
            padding-right: 20px;
        }
        .request-btn-delegate{
            border-radius: 5px;
            background-color: #3789f8;
            color: #fff;
            padding: 5%
        }
        .width-delegate-search{
            width: 70%;
        }
        .margin-t-drawer{
            margin-top: 20%;
        }
        .margin-l-drawer{
            margin-left: 0%;
        }
        .margin-r-drawer{
            margin-right: 0%;
        }
        .ant-form-text {
            font-size: 0.725rem;
        }
        .font-drawer{
            font-size: 10px;
        }
        .text-align-drawer{
            text-align: end;
        }
    }
}
