.timesheet {
      h1, h2, h3, h4, h5 {
        margin-bottom: 0;
      }
      .ant-table  {
        .ant-table-thead  {
          tr {
            th {
              padding: 10px 5px !important;
            };  
          }  
      }
      .ant-table-tbody  {
        tr {
          td {
            padding: 10px 5px !important;
          };  
        }  
      }
    }
   
}

@media (max-width: 1400px) {
  .timesheet {
    
    padding: 0px 0px !important;
    h1, h2, h3, h4, h5 {
      margin-bottom: 0;
    }
    .ant-table  {
      .ant-table-thead  {
        tr {
          th {
            padding: 5px 5px !important;
          };  
        }  
    }
     .ant-table-tbody  {
        tr {
          td {
            padding: 5px 5px !important;
          };  
        }  
      }
  }
  }
}

.timsheet-user-role {
  .ant-list-items {
    .ant-list-item {
      padding: 5px 5px;
      
    }
    .ant-list-item:nth-child(2n-1){
      background:   #f0f2f5; 
    }
  }
}
.timesheet-detail {
  height: 100%;
    .ant-list-items {
      .ant-list-item {
        padding: 0 5px;
        font-size:0.725rem;
        //font-size: 12px;
      }
      .ant-list-item:nth-child(2n-1){
        background:   #f0f2f5; 
      }
    }
 }

.table-info {
  margin-top: 0px;
}



.request-detail {
  margin-top: -15px;;
}

$color-notes-key:(
  R:	#F41F85,
  Rx: #F41F85,
  P:	#7000FF,
  Px:	#7000FF,
  CD:	#333333,
  CDx:#333333,
  NL:#333333,
  SN:	#0033B5,
  SNx:	#0033B5,
  OT:	#00CF15,
  NB:	#6C4E00,
  NBx:	#6C4E00,
  Os:	#FF7A00,
  Osx:	#FF7A00,
  BH:	#00E3D6,
  BHx:	#00E3D6,
  W:	#333333,
  Wx:	#333333,
  other:#333333,
);

@each $color-var, $color in $color-notes-key {
  // color text
  .color-#{$color-var} {
    color: $color;
  }
};

$color-status-key:(
  Approved: #40bb4d,
  Rejected: #cf3d29,
  Cancelled: #8d8d8df3,
  Pending: #c5ce45,
  Delegated: #d8933a,
);

@each $colorStatus-var, $colorStatus in $color-status-key {
  .colorStatus-#{$colorStatus-var} {
    background-color: $colorStatus
  }
  
}

.statusTextColor {
  color: white
}

.borderRadius {
  border-radius: 6px;
}

.OT-custom{
  vertical-align: top;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding: 10px 5px;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.check-in-out-page {
    .ant-table {
      .ant-table-content{
        .ant-table-body {
          .ant-table-thead tr th{
            background-color: #e9e9e9;
            font-weight: 600;
          }
          .ant-radio-group {
            width: 100%;
            .ant-radio-button-wrapper {
              width: 48%;
            }
          }
          
        }
      }
    }

  .app-calendar {
    .fc-content-skeleton{
      height: 100%;
      table {
        height: 100%;
        tbody {
          height: 100%;
          .fc-event-container{
            .fc-event{
              border:none;
              background: none;
              position: absolute;
              bottom: 10px;
              align-items: center;
            }
          }
        }
      }
    }
  }
}



.pull-right{
  float: right;
}

.ant-list-item-meta-title{
  font-size: 12px;
}

.err{
  color: #ff4d4f; 
  font-size: 12px; 
  font-weight: bold;
}

.tooltip-timesheet{
  position: fixed;
  left: 100px;
  top: 100px;
  width: 350px;
  border: 1px solid #bae7ff;
  background-color: #fff;
  padding: 18px;
  padding-bottom: 10px;
  z-index: 1001;
}
.mb8{
  margin-bottom: 8px;
}
// .ant-table-tbody > tr > td {
//   border-radius: 10px;
// }
.context-menu {
  position: fixed;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  left: 0px;
  list-style-type: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: left;
  top: 0px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.context-menu li {
  clear: both;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 5px 12px;
  transition: all 0.3s;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
}

.context-menu li:hover {
  background-color: #e6f7ff;
}

.context-menu li > i {
  margin-right: 8px;
}

.timesheet-title,.timesheet-note{
  height: 42px;
}

.timesheet-filter{
  width: calc(100% - 390px);
}

#app .container .timesheet-filter  .flex-container{
    flex: auto;
}

.timesheet-title{
  width: 250px;
}

.timesheet-note{
  width: 140px;
}
  
.timesheet-title span{
  margin-top: 4px;
}

.drawer-right{
  .ant-drawer-content-wrapper{
    width: auto !important;
    min-width: 450px;
    max-width: 500px;
  }
}

.timesheet-total{
  width: auto !important;
  padding: 10px !important;
}

.drawer-note .ant-list-item{
  padding: 10px 0;
  font-size: 12px;
}

.ant-drawer .timesheet-detail{
  .staff-info .ant-card-body{
    padding: 14px;
    font-size: 12px;
  }
  
  .day-off {
    .ant-list-item{
      margin-bottom: 0;
    }

    .ant-card-body{
      padding: 8px;
      font-size: 12px;
    }
  }
}

.title-bold {
  color: #404040;
  font-weight: 500;
}

.comment{
  .ant-drawer-body{
      height: calc(100% - 55px);
      overflow: hidden;
      padding: 0px;
      font-size: 12px;
  }

  .comment-wrap{
      padding: 24px;
      padding-bottom: 0px;
      height: calc(100% - 180px);
      overflow: auto;
  }
  
  .total-comment{
      color: #9f9f9f;
      position: fixed;
      right: 24px;
      top: 20px;
      font-weight: 500;
      font-size: 13px;
  }

  .comment-info{
      border-bottom: 1px solid #e8e8e8;

      .full-name{
          font-weight: bold;
          color: #1890ff;
      }

      .date {
          color: #9f9f9f;
          font-size: 0.625rem;
      }

      .btn-delete{
          border-color: #ff4d4f;
          color: #ff4d4f;
      }

      .content{
          font-weight: 500;
      }
  }

  .comment-form{
      padding: 10px 24px;
      padding-bottom: 0px;
      margin-top: 20px;
      height: 160px;
      width: 100%;
      background-color: #e8e8e8;
  }

  .title-form{
      font-weight: bold;
  }
}

.active-row-abnormal-case {
  background-color: #d7f2ff !important;
}
.container{
  section{
    overflow: auto;
    padding: 0 10px;
  }
}