<template>
    <div>
        <h3>Linh xinh dang yeu</h3>
        <a-row>
            <table >
                <tr class="payroll-onsite-tr">
                    <th style="width: 300px;padding-left: 5px;">Staff</th>
                    <th style="width: 155px;text-align: center;">Account</th>
                    <th style="width: 145px;text-align: center;">Role</th>
                    <th style="width: 200px;text-align: center;">Department</th>
                    <th style="width: 263px;text-align: center;">Payroll Period</th>
                    <th style="width: 140px;text-align: center;">Kết quả đánh giá</th>
                    <th style="width: 178px;text-align: center;">Tỷ lệ tính lương</th>
                    <th style="width: 264px;text-align: center;">Mức thưởng đánh giá tháng</th>
                    <th style="width: 220px;text-align: center;">Mức thưởng đánh giá thực tế</th>
                </tr>
            </table>
        </a-row>
        <a-row class="payroll-onsite-add-row-table">
            <a-col :span="18">TOTAL</a-col>
            <a-col :span="3" style="text-align: center;">{{totalBonus.muc_thuong_danh_gia_thang}}</a-col>
            <a-col :span="3" style="text-align: center;">{{totalBonus.muc_thuong_danh_gia_thuc_te}}</a-col>
        </a-row>
        <a-table
            class="custom-table"
            size="middle"
            :columns="columns"
            :data-source="mockData"
            :pagination="false"
            :showHeader="false"
        >
            <span slot="display_name" slot-scope="text, record">
                <div>{{record.name}}</div>
                <div>{{record.code}}</div>
            </span>
            <span slot="account" slot-scope="text, record">
                {{record.user_name}}
            </span>
            <template slot="footer">
            <div>
            <a-pagination
                v-model="currentPage"
                :total="total_items"
                :show-total="
                (total, range) => `${range[0]}-${range[1]} of ${total} items`
                "
                :page-size="pageSize"
                show-size-changer
                @change="onChangePage"
                @showSizeChange="onShowSizeChange"
            />
            </div>
        </template>
        </a-table>
    </div>
</template>
<script type="script" lang="js" src="./PayrollBonusInMonth.js" />

