<template>
 <div>
     <a-tabs v-model="activityKeyTab" @change="handleChangeTab" >
      <a-tab-pane v-for="tab in tabs" :key="tab.id" :tab="tab.title">
          <template v-if="tab.title == 'All'">
            <ContentInTabAll :listComment="listComment" :listHistory="listHistory"/>
          </template>
          <template v-if="tab.title == 'Comments'">
            <ContentInTabComments :listComment="listComment"/>
          </template>
          <template v-if="tab.title == 'History'">
            <ContentsInTabHistory :listHistory="listHistory"/>
          </template>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script src="./RequestDetailGeneralS6Activity.js">

</script>

<style scoped>
.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane:nth-child(1),
.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane:nth-child(3){
  padding: 0px !important;
}

</style>
