<template>
  <div class="filter-block">

    <a-input
        :placeholder="'Search by Name, Request'"
        @pressEnter="onSearch"
        v-model="inputValue"
        class="search-box"
    />
    <!-- <div class="date-box">
    <a-week-picker placeholder="Select week" @change="onChange" class="week-picker"  v-model="date"/>
      <span class="display-date">
        {{date ? `${startDate} - ${endDate}` :''}}
        <a-icon type="calendar"></a-icon>
      </span>
    </div> -->
    <a-tooltip title="Search">
      <a-button
          @click="onSearch"
          type="primary"
      >
        <a-icon type="search"/>
      </a-button>
    </a-tooltip>
    <a-tooltip title="Reload Search">
      <a-button @click="onClear">
        <a-icon type="reload"/>
      </a-button>
    </a-tooltip>
  </div>
</template>
<script>
  import moment from "moment";
  import { mapState } from "vuex";
  export default {
    name: "FilterInterview",
    props: {
      keyword: {
        type: String,
        default: ""
      },
    },
    data() {
      return {
        inputValue: "",
        startDate: moment(this.date).format('YYYY-MM-DD'),
        endDate: moment(this.date).add(7,'d').format('YYYY-MM-DD'),
        date: moment(),
        defaultDate: moment().week()
      }
    },
    // created() {
    //    const payload = {
    //       startDate : moment(this.date).format('YYYY-MM-DD'),
    //       endDate : moment(this.date).add(7,'d').format('YYYY-MM-DD')
    //    } 
    //    console.log(this.defaultDate,98);
    //   this.$store.dispatch('rtsInterviewTab/getAllInterview', payload)  
    // },
    watch: {
      keyword: {
        immediate: true,
        handler(newVal) {
          this.inputValue = newVal
        }
      },
    },
    computed:{
      ...mapState({
        startAndEndDate: (state) => state.rtsInterviewTab.saveDatePayload
      }) 
    },
    methods: {
      onSearch() {
        let payload = {
          text_search: this.inputValue,
          startDate: this.startAndEndDate.startDate,
          endDate: this.startAndEndDate.endDate
        }
        this.$emit('onSearch', payload)
      },
      onClear() {
        this.inputValue = ""
        this.startDate = ""
        this.endDate = ""
        this.date = ""
        this.$emit('onClear', this.inputValue)
        const payload = {
          startDate: this.startAndEndDate.startDate,
          endDate: this.startAndEndDate.endDate
        }
        this.$store.dispatch('rtsInterviewTab/getAllInterview',payload)
      },
      onChange() {
        let selectDate = this.date?._d
        let monday = selectDate?.getDate() - selectDate?.getDay() + 1;
        let sunday = monday + 7;
        this.startDate = this.getFormattedString(new Date(selectDate?.setDate(monday)));
        this.endDate = this.getFormattedString(new Date(selectDate?.setDate(sunday)));
      },
      getFormattedString(d) {
        return d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear() + ' ';
      }
    }
  }
</script>
<style>
  .filter-block{
    display: flex;
    margin: 1rem 0;
    width: auto;
    flex-direction: row;
    gap: 5px;
  }
  .search-box {
    width: 400px;
  }
  .date-box{
    width: 400px;
    display: flex;
    align-items: center;
    background-color: #EBECF0;
    gap: 20px;
  }
  .week-picker {
    background-color: #EBECF0;
  }
  .display-date {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
</style>