<template>
<div class="jobLevel-table">
  <a-table
      :columns="columns"
      :data-source="data"
      :row-key="(record) => record.id"
      :pagination="false"
      bordered
    >
     <template slot="action" slot-scope="text, record" >
        <a-dropdown :disabled="userRole.title !== API_USER_TITLE['ADMIN']">
          <a-menu slot="overlay">
            <a-menu-item key="1"  @click="editItem(record)"> Edit</a-menu-item>
            <a-menu-item key="2"  @click="deleteItem(record)"
              >Delete
            </a-menu-item>
          </a-menu>
          <a-button style="margin-left: 8px"> ... </a-button>
        </a-dropdown>
      </template>
    </a-table>
</div>
</template>
<script>
 import {mapState} from "vuex";
import {API_USER_TITLE} from '../../../components/commons/commonConstant'
 export default {
 props: {
    data: Array,
    columns: Array,
    pageSize: Number,
    currentPage: Number,
    total_items: Number,
  },
  data() {
    return {
      loading: false,
      API_USER_TITLE
    };
  },
   computed: {
     ...mapState({
       userRole: (state) => state.user.userRole,
     }),
   },
  methods: {
    editItem(row) {
      this.$emit("onEdit", row);
    },
    deleteItem(row) {
      this.$emit("onDelete", row);
    },
  }
 }

</script>
<style lang="scss">
.jobLevel-table {
  background: #ffffff;
  tr, td, .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }
  .ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
  }
  .ant-table-thead > tr > th {
    background: #eaeaea;
  }
  .ant-table-bordered .ant-table-thead > tr > th,
  .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: none;
  }
  .ant-table-bordered .ant-table-header > table,
  .ant-table-bordered .ant-table-body > table,
  .ant-table-bordered .ant-table-fixed-left table,
  .ant-table-bordered .ant-table-fixed-right table {
    border: 1px solid $border-color-gray;
  }
  .ant-pagination-item-active {
    background: $pagination-color-dark-gray;
    border-color: $pagination-color-dark-gray;
  }
  .ant-pagination-item-active a {
    color: #fff;
  }
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border: none;
    background: inherit;
  }
  .ant-table-pagination.ant-pagination {
    text-align: center;
    float: none;
  }
  .ant-table-footer {
    text-align: end;
  }
}
</style>