<template>
  <div class="positions" id="positions">
    <div >
      <ConfigurationTable
        :columns="columns"
        :data="jobTypes"
        :pageSize="pages.pageSize"
        :total_items="pages.total_items"
        :currentPage="pages.currentPage"
        @onEdit="onEdit"
        @onDelete="onDelete"
        @onSelect="onSelect"
        @onJobLevel="onJobLevel"
        @onChangePage="onChangePage"
        @onShowSizeChange="onChangePage"
      />
    </div>
  </div>
</template>
<script type='script' lang='js' src='./JobType.js'/>
<style lang="scss">
.wrapper {
  max-width: 100%;
  margin: auto;
}
</style>